[2020-10-02 15:59] #628 closed

[2020-10-02 16:10] lkysow commented on #628
The flag is in the `consul-k8s` master but we haven't cut a release for that yet.

[2020-10-06 14:33] zonArt commented on #623
So why did you suggest me to use autoEncrypt to solve the issue I described?

[2020-10-06 16:29] lkysow commented on #623
Hi, sorry for the confusion. We were suggesting you use autoEncrypt and not bring your own client certificate at all. AutoEncrypt allows the client certificates to be automatically passed out by Consul servers to Consul clients which obviates the need to set any client certificate.

[2020-10-09 18:23] ltagliamonte-dd opened #640 "[Question] Run agent as deployment"
For HA reason we run the cluster coreDNS in our k8s cluster as daemonset and deployment, this setup is working really great for us especially during updates.

Current Consul installation supports only daemonset, would love to understand if is technically possible to run consul in agent mode without serf,telemetry,memeberlist basically just as "connected" DNS resolver.

In general having serf, memb

[2020-10-11 20:06] dontlaugh opened #642 "How to use deregister_critical_service_after config parameter?"
I'm experimenting with using the catalog sync to register a suite of services for environments that are short lived: a few hours at most.

I'd like to keep the transient services from hanging around forever in my catalog. My understanding is that `deregister_critical_service_after` is a configuration one can apply to a service.

Will this work? How do I apply this configuration when using the helm

[2020-10-13 00:23] ishustava commented on #642
Hey @dontlaugh, thanks so much for the issue!

Unfortunately, right now there isn't a way to apply this configuration via the sync catalog feature, but it's something that we can add in the future.

[2020-10-13 16:48] lkysow commented on #642
The services should be cleaned up by the catalog sync process. If they're not being cleaned up that sounds like a bug. Can you provide us with a way to reproduce?

[2020-10-13 16:49] lkysow commented on #640
This question is a duplicate of one in Discuss which I've answered (https://discuss.hashicorp.com/t/question-run-consul-agent-as-deployment-in-k8s/15523/2) so I'm going to close this.

[2020-10-13 16:49] #640 closed

[2020-10-13 18:10] dontlaugh commented on #642
Here is my architecture:

* 3 external Consul servers
* I provide these values to the helm chart

[code]

I create a cluster with kops, deploy my services + consul, run some tests, and **destroy** the cluster with kops.

My workaround is to disable autosync (which we probably want to do anyway) and explicitly de-sync the service with annotations.

To reproduce you might try destroying clusters out

[2020-10-14 00:44] david-yu opened #646 "Uninstall CRDs on helm uninstall"
After running an uninstall, CRDs still exist and block a new installation of Consul Helm from completing:

[code]

[2020-10-14 03:14] lkysow opened #647 "enterprise license job fails on consul versions >= 1.8.1"
Consul 1.8.1 upgraded alpine (https://github.com/hashicorp/docker-consul/pull/149) which included a newer version of `timeout` that takes the timeout as an argument instead of with the `-t` flag.

Before:
[code]

Now:
[code]

[2020-10-14 16:44] lkysow commented on #646
This is because the CRDs weren't deleted on uninstall, most likely because there were some custom resources created. We'll look into a way to handle this in Helm. For now you'll need to
1. Find the resources that are hanging around
[code]
1. Patch to remove the finalizer preventing it from being deleted
[code]

Once all the resources of a particular kind have been deleted, the CRD will be deleted

[2020-10-15 18:08] Throckmortra opened #650 "Consul outage revealed multiple issues with ACLs and snapshot restores with helm-based consul deployment"
consul chart version: 0.25
Helm version: 3.0+
K8s version:  1.15.11-eks

Hello,

Yesterday we deployed a change to our services that inadvertently spawned around 10k~ consul kv watches. This change DDoS'd our consul cluster and put it into a crash loop.

Attempts to restore service to the existing cluster by giving it increased resources with the helm chart controls were met with failure.
[code]
W

[2020-10-15 18:11] Throckmortra commented on #650
This was our initial consul.yml:
[code]

After looking at the errors and issues, we slightly updated the helm chart to the following when attempting to restore service:
[code]

[2020-10-16 11:00] sergeyshaykhullin commented on #494
@ishustava Does this issue is in someone's roadmap?

I can create PR with `ServiceMonitor`

It will monitor `service/consul-server:8500/v1/agent/metrics?format=prometheus`
I don't get how to use client metrics, does it has separate metrics, or `consul-server` returning all?
P.S. As i understand it is returning all metrics required, so we have to have one root `ServiceMonitor` just for it?

How it

[2020-10-16 19:57] Ares3266 opened #652 "Support for external Ingress controllers"
I'm not sure if this is a pattern that's already supported, which if it is then the documentation isn't very clear.

I'm running multiple GKE clusters. They all have ingress controllers. They're very good ingress controllers that are very clever at what they do when you're building in Google Cloud.

I'm also running Consul as a Service Mesh. It's a very good service mesh, and I particularly enjoy

[2020-10-19 12:57] lebrisg opened #653 "Consul configuration issue."
Consul newbie here.
I built a simple, 3-node, Kubernetes cluster with kubeadm using CentOS 7 (IP=5.x.y.5-7).
I also built a VM using CentOS 7 (IP=5.x.y.23).
I then installed Consul on the Kubernetes cluster (1 Consul server, 2 Consul agents) with the official Helm chart and on the VM (1 Consul agent) with the HashiCorp repo.
All installations went fine. There is no firewall running because it's a

[2020-10-19 21:40] kschoche commented on #653
Hi @lebrisg, thanks for filing this issue.
It is not totally clear to me what your end configuration here looks like.
Are you just trying to connect a VM to the k8s cluster, or setup a secondary dc on the VMs?
If you're looking at the later we have a great doc which covers that workflow : https://www.consul.io/docs/k8s/installation/multi-cluster/vms-and-kubernetes
If you're looking at the former a

[2020-10-20 02:17] lawliet89 commented on #474
Related to this issue, I have created two feature requests in `consul-k8s`:

- Add polling mode to `get-consul-client-ca` https://github.com/hashicorp/consul-k8s/issues/310
- Add injector to `consul-k8s` https://github.com/hashicorp/consul-k8s/issues/313

In the meantime, I have a "poor man's alternative" that creates a Consul Template Deployment that constantly watches the Connect CA roots and up

[2020-10-20 16:06] kschoche opened #656 "add support for auto-generating gossip encryption secret"
Currently it is required to BYO the gossip encryption key, and this is documented in the values.yaml file:
[code]
It would be helpful to have the option to have helm auto-generate the gossip encryption key and install the secret at install time.

[2020-10-20 17:08] lebrisg commented on #653
I'm trying to connect a VM to a K8s cluster inside the same dc.
I have already read the guide that you provide (https://www.consul.io/docs/k8s/installation/deployment-configurations/clients-outside-kubernetes) but there are few details inside.
I've got a fully connected network. However, without any additional configuration, no port used by Consul are open to the outside at the K8s cluster level.

[2020-10-20 20:04] bsc8180 opened #657 "Add support for environment variable HOST_IP"
We want to send dogstatsd metrics to a Datadog agent on the same node as our Consul pod using the telemetry stanza as follows

(configmap extra-from-values.json)

`{
  "telemetry": [
    {
      "disable_hostname": true,
      "dogstatsd_addr": "HOST_IP:8125",
      "dogstatsd_tags": ["env:weweq","service:consul","version:1.8.0"]
    }
  ]
}`

We currently do this for Vault, courtesy of the HOST_I

[2020-10-20 21:34] watsonian commented on #657
Prior art from the vault helm chart:

https://github.com/hashicorp/vault-helm/blob/fc8ebfdd4e596bf9b22f814265ddf57b4a454d69/templates/server-statefulset.yaml#L72-L75

[2020-10-21 00:20] #647 closed

[2020-10-21 09:44] carrypann opened #659 "Support expose DNS port 8600 with consul agent DaemonSet"
As official document says:

I deploy a kubenetes Service to run openrestry as gateway, and the openrestry is expected to route to backend microservice by dns, but consul client agent pod didn't expose DNS port(8600) to bound to host port.
So is there a solution to expose agent DNS port? Or any other better way to lookup dns?

[2020-10-21 15:55] kschoche commented on #659
Hi @carrypann!
We've got a few documents here that should walk you through how to setup and use DNS for your services with consul on kubernetes, I think this would be a good place to start.

https://www.consul.io/docs/k8s/dns

and also this one if you're looking for more detailed service discovery use cases: https://www.consul.io/docs/discovery/dns

Hope this helps, do let me know if you're still

[2020-10-22 02:58] carrypann commented on #659
@kschoche Thank for your reply.
I'v read the document you mentioned, what i mean is how to expose consul DNS port and bound to host post when deploy consul using helm charts, because i want to config dns resolver with address in nginx with address `HOST_IP:8600`.

[2020-10-22 10:40] lawliet89 opened #660 "Support Horizontal Pod Autoscaler for Gateway Deployments"
As the number of requests increase, the CPU usage of the Envoy proxies will increase. The chart can (optionally) support creating HPA resources so that Kubernetes can scale up the proxy replicas based on the CPU load.

(AFAIK memory should be independent of requests, from reading istio docs: https://istio.io/latest/docs/ops/deployment/performance-and-scalability/)

[2020-10-22 15:20] watsonian commented on #657
Also worth pointing out this bit from the vault helm chart:

https://github.com/hashicorp/vault-helm/blob/994797cff4dc12887acc9fc7fccb70d34f3254b9/templates/_helpers.tpl#L119-L135

[2020-10-22 20:33] lkysow commented on #650
Hi Aaron,
We're really sorry to hear about your production issues. We're in the process of documenting our disaster recovery recommendations and will update this ticket when those docs are up. I'll talk a bit about what that doc will look like but you'll need to wait for it to be fully published before we can go into full detail.

First of all, if you're a) not storing any data in Consul other tha

[2020-10-22 22:39] lkysow commented on #494
Hi Sergey,

Some metrics only need to be retrieved from the consul servers but there are other metrics that both clients and servers have, e.g. `consul.api.http`, that would likely also be useful to collect across all clients and servers.

With the upcoming Consul 1.9 release, we are adding the ability to view prometheus metrics in the Consul UI so we will be looking at deeper prometheus support i

[2020-10-22 22:58] lkysow commented on #652
Hi!
For the ingress controller to talk to the connect-injected pods it needs to have an ssl certificate generated by Consul. I don't think it supports pulling that certificate from Consul so you'd need to either:

1. Use the ambassador ingress controller (which can request the right certs from Consul)
2. Keep the gce ingress controller but have it route to consul's ingress gateway which would then

[2020-10-22 23:01] lkysow commented on #660
That's a pretty cool idea!

[2020-10-26 19:56] Ares3266 commented on #652
Yeah so using another Ingress controller isn't really an option for us; we're far deeper in the Google Cloud stack than we are Consul, and the GCE Ingress Object works really well for us.

Of those 3 options then what we're left with is to front all of our services with _another_ ingress controller, and have the GCE controller route to that; however that kinda defeats the point of the GCE ingress

[2020-10-27 00:02] lkysow commented on #652
Do you know if there's a way to tell GCE which client certificate to use for its requests (between GCE and consul sidecars)? Then maybe we could have a process that is requesting a certificate for a service called "ingress-gateway" and supplying/updating that to the GCE controller config. Then you could create an intention from `ingress-gateway => your-service`.

The reason we don't support non TL

[2020-10-27 00:30] Ares3266 commented on #652
You can't specify which client certificate to use for the HTTPS request from GCE, however thats not to say we couldn't build a strong cryptographic identity around the one we have now (especially if it's an inbound request)

The GCE annotations mean that the scheme is enforced, so it should just come down to how to define an intention _of some design_ that allows this traffic

[2020-10-28 05:55] tasansga opened #667 "Pass additional arguments to MeshGateway Envoy"
The official documentation for Consul (https://www.consul.io/commands/connect/envoy) suggests to pass optional arguments to envoy like this:

`$ consul connect envoy -sidecar-for web -- -l debug`

Apparently there's no way to pass these additional arguments with the Helm chart though? How can we pass additional arguments to specifically MeshGateway's Envoy using the Helm chart?

[2020-10-28 08:40] tasansga commented on #351
That's similar to https://github.com/hashicorp/consul-helm/issues/667
I'd like better documentation on this one too, when can we expect an update?

[2020-10-28 12:45] hussainsaify opened #668 "Consul client not getting launched on all the nodes"
Hi Team,

We have upgraded consul chart to 0.25.0 version but after the chart upgrade, some of the client pods are not getting launched and are in a pending state. This is happening because the server and clients are both using the same ports and the server is already launched on that node.

Is this a bug? Ideally, client pods should not be launched to that node.

Cluster- AWS EKS
K8s Version - 1.

[2020-10-28 18:08] lkysow commented on #667
Hi @tasansga, thanks for the issue. Note that for now you can bump log levels on envoy by port-forwarding and calling their admin api (https://www.envoyproxy.io/docs/envoy/latest/operations/admin#post--logging)

[2020-10-28 18:12] lkysow commented on #668
Hi, the servers and clients don't share the same ports unless you have something special in your config? Servers don't use any `hostPorts` so there should be no issue there. Clients use 8500 (or 8501 if tls is enabled) and 8502.

[2020-10-29 01:09] hussainsaify commented on #668
Hi,

I am seeing that server and clients have common ports configured. Also, attaching the helm values file.

Server-

   consul:
    Image:       consul:1.8.4
    Ports:       8500/TCP, 8301/TCP, 8302/TCP, 8300/TCP, 8600/TCP, 8600/UDP
    Host Ports:  0/TCP, 0/TCP, 0/TCP, 0/TCP, 0/TCP, 0/UDP

Client-

  consul:
    Image:       consul:1.8.4
    Ports:       8500/TCP, 8502/TCP, 8301/TCP, 8301/UDP,

[2020-10-29 06:17] tasansga commented on #667
Good idea, thanks a lot!

Didn't get it working though:

[code]

Did I miss something here?

[2020-10-29 08:58] CrisLi commented on #146
We have the same requirement for this as our company has very strict role/privilege control. We want to install consul only inside one namespace and we only have few privileges to in that namespace.

[2020-10-29 15:49] blake commented on #667
Hi @tasansga, Consul configures Envoy to expose the admin API on localhost port 19000 (see `consul connect envoy` [`-admin-bind`](https://www.consul.io/commands/connect/envoy#admin-bind)). Once you update the port you should be able to establish the port forward, and raise logging with `curl --request POST http://localhost:19000/logging?level=debug`.

[2020-10-29 23:18] lkysow commented on #668
The ports set to 0 mean there's not a host port for any of those ports.
[code]

I think the issue isn't ports and may be due to not enough CPU on those nodes.

[2020-10-29 23:31] lkysow commented on #146
Since this ticket was opened we have modified some of our cluster roles to be roles instead. Are you still seeing issues installing? What features are you using of the helm chart?

[2020-10-30 14:02] lebrisg opened #670 "Consul configuration issue."
I'm trying to connect a VM to a K8s cluster inside the same dc.
I have already read the guide that you provide (https://www.consul.io/docs/k8s/installation/deployment-configurations/clients-outside-kubernetes) but there are few details inside.
I've got a fully connected network. However, without any additional configuration, no port used by Consul are open to the outside at the K8s cluster level.

[2020-10-30 20:24] david-yu commented on #283
Hi @kawsark This is now supported in Helm 0.25, please try out our Openshift support for Consul on Kubernetes and provide any feedback if possible. Please reply with any feedback.

[2020-10-30 20:24] #283 closed

[2020-10-30 21:31] lkysow commented on #653
WIll followup in https://github.com/hashicorp/consul-helm/issues/670

[2020-10-30 21:31] #653 closed

[2020-10-30 21:35] lkysow commented on #670
Hi, you will need connectivity between:
* All Consul Server Pods on their advertise IPs (pod ips) and port 8300
* All Consul client pods (the daemonset) and their advertise ips (pod ips) on port 8301
* The VM on its advertise IP and port 8301

If your Kubernetes pod IPs are not routable from the VM then you will not be able to run with this topology right now.

[2020-11-02 14:53] lebrisg commented on #670
Thank for this answer.

Now, as I'm not a Kubernetes networking expert, is there any documentation on how to configure the networking part? How to configure a nodePort service or how to install an Ingress controller to deal with this?
I'm asking this question because I didn't find anything on this subject on your website when it's a mandatory task for anybody wanting to deploy Consul on Kubernetes

[2020-11-02 16:47] ishustava commented on #670
Hey @lebrisg

You don't need a NodePort service or an ingress if your pod IPs are routable from the Consul server VMs. As Luke has said, if the pod IPs are not routable, you won't be able to use this topology, unfortunately. This is because we [don't allow](https://www.consul.io/docs/k8s/installation/deployment-configurations/clients-outside-kubernetes#networking) currently to expose the Consul se

[2020-11-03 09:53] CrisLi commented on #146
Our k8s admin doesn't assign "rbac.authorization.k8s.io/v1" permssion to our deployer/developer, even inside its own namespace. So I am thinking whether we can use consul-helm without "rbac.authorization.k8s.io/v1" api permssion.

[2020-11-03 14:55] lebrisg commented on #670
As previously described, I've got the following networking architecture:
- 1 Kubernetes cluster (1 master: kube1, 2 workers: kube2 & kube3)
- kube1: VM=CentOS 7, IP=5.X.Y.5
- kube2: VM=CentOS 7, IP=5.X.Y.6
- kube3: VM=CentOS 7, IP=5.X.Y.7
- VM: VM=CentOS 7, IP=5.X.Y.23
- Consul 1.8.4 installed on the Kubernetes cluster (with your Helm chart) and on the VM (official HashiCorp repo).
- All VMs can c

[2020-11-06 08:33] ishustava commented on #670
How are you deploying your Kubernetes cluster? do you know which CNI you're using?

Whether the pod IPs are routable is largely dependent on the CNI configured on your kubernetes cluster. For example, EKS cluster uses AWS VPC CNI by default, which would make your pod IPs routable since they are allocated from a AWS subnet.

If your kubernetes cluster doesn't allow the pod IPs to be routable, we al

[2020-11-06 11:56] jomcyp commented on #88
We have deployed Consul 1.8.4 using this helm chart ,which created a service for web-ui named as "consul-primary-ui" .To expose the ui we are creating the following ingress object , Unfortunately we are  getting  "404 page not found "  .
Did any one try to make it work with ingress ?

apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: consul-primary-ui
  namespace: consul
  anno

[2020-11-06 13:08] lebrisg commented on #670
My Kubernetes cluster was deployed with kubeadm (kubeadm init --pod-network-cidr=10.244.0.0/16).
The CNI used is Flannel (kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/master/Documentation/kube-flannel.yml).

Is there any other information that could help you to better understand my configuration?
What kind of additional configuration do I need to put in place for my VM and pod

[2020-11-06 17:42] carpenike commented on #88
@jomcyp -- is the service port (443) correct? Is the consul service itself configured to do TLS?

[2020-11-06 23:58] ishustava commented on #88
Hey @jomcyp

I'm not sure that the `/*` is supported by ingress, unless this is something specific to traefik. It seems that you should either specify `/ui` as an exact path, which the path at which consul's UI is served, or expose all paths by using path of type `pathPrefix` with `/` prefix.

[2020-11-07 00:22] ishustava commented on #670
Thank you, that's all the information I needed!

Unfortunately, you can't have pods routable with Flannel. You need to wait on that feature I mentioned (#332) where we can expose server's hostPorts so that they can be reachable at the node IP from your clients running on VMs.

[2020-11-09 11:12] lebrisg commented on #670
Is there a CNI I could install to get this to work?

[2020-11-09 22:01] ishustava commented on #670
As far as I know, this would depend on your cloud provider. Some examples of CNIs that pick pod IPs from your cloud provider network are AWS VPC CNI, GKE CNI, Azure CNI etc. Basically, you'd need a CNI that can select pod IPs from a network that **could** be routable similar to your kubernetes nodes network.

[2020-11-10 13:57] jomcyp commented on #88
Thank you for the response
@carpenike  Yes, We  configured the service port as 443  for consul_primary_ui   and TLS is enabled through helm chart.
see the service manifest below
`kind: Service
apiVersion: v1
metadata:
  name: consul-primary-ui
  namespace: consul
  labels:
    app: consul
    app.kubernetes.io/managed-by: Helm
    chart: consul-helm
    component: ui
    heritage: Helm
    release

[2020-11-10 17:09] lebrisg commented on #670
My VMs run on KVM. I can deploy whatever CNI I want. What CNI do you think would work?

[2020-11-11 21:51] ishustava commented on #670
are you running KVMs on-prem or in the cloud? What do you use for your node/VM network?

I'm not an expert when it comes to kube CNIs but I think it really depends on your underlying infrastructure/cloud provider. I find this list from kubernetes.io pretty good to use as a comprehensive list of CNIs:

https://kubernetes.io/docs/concepts/cluster-administration/networking/#how-to-implement-the-kuber

[2020-11-12 22:57] #625 closed

[2020-11-13 00:25] ishustava commented on #88
@jomcyp

I've just remembered that the Kubernetes ingress doesn't support TLS on the backend, meaning TLS termination has to be done at the ingress controller, and the traffic from ingress to the backend pod (in this case consul servers) is in plaintext.  [Here](https://kubernetes.io/docs/concepts/services-networking/ingress/#tls) are the kubernetes docs that mention that.

I know that some ingres

[2020-11-13 05:59] ishustava commented on #146
One solution we could look into is allow user-provided service account for helm chart components. In that case, you would need to ask your cluster admin to create the necessary rbac permissions and then just provide those existing service accounts as values to the helm chart. Would that work for your use-case @CrisLi?

[2020-11-13 10:54] unitto1 commented on #588
I faced the same problem at AKS with the given config:

[code]

but what is interesting, it that I don't face it when I try to deploy the save config in GKE.

[2020-11-13 10:56] unitto1 commented on #76
I faced the same problem at AKS with the given config:

[code]

but what is interesting, it that I don't face it when I try to deploy the same config in GKE.

[2020-11-13 17:28] lkysow commented on #76
@unitto1 can you open up a new issue please?

[2020-11-15 11:16] yevgeniyo commented on #189
getting the same in 0.26.0

`  Warning  FailedPreStopHook       2m25s (x2 over 3m6s)   kubelet, ip-x.x.x.x.ec2.internal  Exec lifecycle hook ([/bin/sh -c consul leave]) for Container "consul" in Pod "hashicorp-consul-server-2_consul`

[2020-11-15 11:26] yevgeniyo opened #686 "Failed to delete pod from statefulset - hashicorp-consul-server-X - "EKS""
Failed to delete pod from statefulset - hashicorp-consul-server-X

helm chart - 0.26.0

Stuck on:

[code]

Thus helm upgrade is not working

[2020-11-15 11:36] yevgeniyo commented on #656
@kschoche faced with the same and found this solution:
https://github.com/hashicorp/terraform-provider-consul/issues/48

[2020-11-15 12:21] yevgeniyo commented on #686
https://github.com/hashicorp/consul-helm/blob/master/templates/server-statefulset.yaml#L214

[2020-11-15 12:44] yevgeniyo commented on #686
tls:
  verify: false

fixed it to me, closing

[2020-11-15 12:45] yevgeniyo commented on #686
tls:
verify: false

fixed it to me, closing

[2020-11-15 17:07] yevgeniyo commented on #686
once stopping container it wont deleted

[2020-11-15 23:15] david-yu commented on #686
@yevgeniyo Could you tell me how we could reproduce this? What version of the Helm chart were you on prior to upgrading to 0.26?

[2020-11-16 12:16] yevgeniyo opened #687 "Pod is ready, but readiness probe is unhealthy for both server and client"
Chart 0.26.0
Kubernetes: EKS 1.18

Pod is ready, but readiness probe is unhealthy for both server and client

[code]

[code]

Healthcheck from server itself is working:
[code]

[2020-11-16 12:19] yevgeniyo commented on #686
Hi @david-yu
I guess its related to this issue:
https://github.com/hashicorp/consul-helm/issues/687
And see here the latest comment:
https://github.com/kubernetes/kubernetes/issues/39170

My kubernetes version is 1.18 on EKS
It's new deployment so I didnt use prior versions of chart

[2020-11-16 21:23] kschoche commented on #687
Hi @yevgeniyo thanks you for submitting this issue.

The readiness probe for the server is checking that the servers have elected a leader which would imply a quorum has been attained. It is possible that the servers are unable to reach eachother and have not been able to. You could verify this by running e.g. `consul members` on the servers and verifying they are all showing the same output. It i

[2020-11-16 22:00] woz5999 opened #690 "connectInject.centralConfig.defaultProtocol doesn't work in federated datacenters"
Setting `connectInject.centralConfig.defaultProtocol` doesn't work in a non-primary datacenter.

Per https://github.com/hashicorp/consul/pull/6339, Config entries are forwarded to the primary datacenter. However, the connect-inject-init sidecar authentication only generates a locally scoped ACL token. This means that in non-primary datacenters, the inject-init container doesn't have the necessary

[2020-11-16 22:06] lkysow commented on #690
Hi Jeff,
With the newly released support of custom resources we'd actually like to move away from supporting `connectInject.centralConfig.defaultProtocol`. Instead, alongside each service's kube yaml, you would include a `ServiceDefaults` custom resource:

[code]

Would that work better for your use-case?

[2020-11-17 08:04] yevgeniyo commented on #687
Hi @kschoche, thank you for you reply

Here is my file with values:
[consul_values.yaml.txt](https://github.com/hashicorp/consul-helm/files/5551966/consul_values.yaml.txt)

Steps:
1. I tried to see "consul members" and everyone was alive
2. Now I want to remove one pod, I did manual "conusl leave" and container was stopped automatically
[code]
but pod is still is in "Running" state

3. Now I want

[2020-11-17 15:39] unitto1 commented on #76
In my case, it was fixed via moving to the new AKS cluster, so create the new issue will be not reasonable.
Seems it's some weird error linked to the misconfiguration of Kubenetes Storage Class but I'm not sure.

[2020-11-17 19:57] woz5999 commented on #690
This is much better and is working for me.

[2020-11-17 19:57] #690 closed

[2020-11-18 01:47] CrisLi commented on #146
Yes, that would be a solution for my use-case.

[2020-11-18 09:52] yevgeniyo commented on #687
@kschoche I found my issue, it was due to gossip key length, I used 16 instead of 32

[2020-11-18 09:52] #687 closed

[2020-11-18 09:53] yevgeniyo commented on #686
I found my issue, it was due to gossip key length, I used 16 instead of 32

[2020-11-18 09:53] #686 closed

[2020-11-18 14:09] yevgeniyo opened #692 "Consul TLS buildin certificate"
Hi, as I see if not providing my own TLS, some job generates all relevant certificates for me.
I'm seeing that certificate which was created automatically has expiration in 730 days.
https://github.com/hashicorp/consul-helm/blob/a793e703e4d58fa8624c693dd52928a1d5bc9d8f/templates/tls-init-job.yaml#L84
Is it possible increase it for 10 years? Or how I can renew it with help of chart?

[2020-11-18 18:13] lkysow commented on #189
@yevgeniyo does this cause any other issues in the cluster?

[2020-11-18 18:19] lkysow commented on #690
Great to hear! For your older services that already had their protocols set you unfortunately need to run a migration process to bring these into CRD management. The process is documented here: https://www.consul.io/docs/k8s/crds/upgrade-to-crds. Let us know if you need help or if we can improve those docs.

[2020-11-20 00:21] isaaccarrington commented on #147
I'm going to raise a PR. Relates to https://github.com/hashicorp/consul-k8s/issues/347

[2020-11-20 00:21] isaaccarrington commented on #147
I'm going to raise a PR. Relates to https://github.com/hashicorp/consul-k8s/issues/347

[2020-11-22 20:05] abrucker235 opened #702 "connect-injector-webhook TLS Certificate"
Wondering if there is a simple fix to seeing the following error: http: TLS handshake error from 192.168.X.X:34576: No certificate available.

Kubernetes Version: 1.19.4
Calico Version: 3.16.5
Consul Version: 1.8.6
Consul-K8S Version: 0.20.0

[2020-11-23 16:51] lebrisg commented on #670
I reinstalled my cluster Kubernetes and chose Calico as CNI plugin.
When launching the cluster creation, I used the following command: "kubeadm init --pod-network-cidr=192.168.0.0/16"

On my Kubernetes cluster, I get the following configuration:
NAME|READY|STATUS|RESTARTS|AGE|IP|NODE|NOMINATED NODE|READINESS GATES
------|------|--------|----------|---|--|----|------------------------|-------------

[2020-11-23 22:17] david-yu commented on #520
Hi @Arni777 we now have OpenShift support built into Consul Helm, and you can enable it by setting the global openshift variable "enabled" true" as described here: https://learn.hashicorp.com/tutorials/consul/kubernetes-openshift-red-hat. Thanks for your feedback!

[2020-11-23 22:17] #520 closed

[2020-11-23 22:36] david-yu commented on #211
Thanks for your work here @fbegyn, closing as it looks like it is now addressed and in master.

[2020-11-23 22:36] #211 closed

[2020-11-24 04:31] david-yu commented on #525
Thanks! Closing as we will likely work on https://github.com/hashicorp/consul-helm/issues/562 for Consul 1.9.

[2020-11-24 04:31] #525 closed

[2020-11-24 18:00] abrucker235 commented on #702
After some digging I believe the issue is with etcd throughput since I am only using SD Card, going to look at testing different data storage for API Server.

[2020-11-24 21:39] david-yu commented on #542
Hi @ducminhle thanks for the question. We currently allow you to use an intermediate CA generated by Vault CA and utilize that the create TLS certs for Consul on Kubernetes. Using Vault to create intermediate CA's would require root capabilities and is something we don't recommend as it would compromise the security model if the Consul on Kubernetes were compromised. Let me know if that helps, if

[2020-11-25 08:32] ducminhle commented on #542
Thank you @david-yu for your answer :).

[2020-11-25 08:32] #542 closed

[2020-11-25 22:21] lkysow commented on #562
Closed by https://github.com/hashicorp/consul-helm/pull/705

[2020-11-25 22:21] #562 closed

[2020-11-26 12:13] dbhat6 opened #713 "Consul ACL configuration error"
I'm trying to set up consul in my dev environment and trying to enable ACLs into it and I run into an issue where the acl-init job fails with a 403 on agent/self API and the acl-init-cleanup job, in turn, fails because it was waiting on the earlier job to finish.

- Helm command I'm running - `helm install consul-dev hashicorp/consul -f consul/values.yaml`
- Values that I've configured -
[code]
-

[2020-11-26 12:31] dbhat6 commented on #460
Hi @Smana
Did this issue occur ever again to you?
I'm seeing this as a persistent issue during my implementation.

[2020-11-27 11:01] dbhat6 commented on #713
I somehow got it working by removing extraConfig master token and adding TLS, and gossipEncryption. Closing this issue.

[2020-11-27 11:01] #713 closed

[2020-11-28 00:06] lkysow commented on #670
You need your pod ips to be routable from your VM and vice versa. If you're using an overlay network then unless your VM is part of that network (which most of the overlays don't support afaik), you won't be able to route back and forth.

[2020-11-28 00:08] lkysow commented on #702
Hi, we see this too occasionally however it should shortly resolve itself. I notice when using `kind` but never on a real cluster.

[2020-11-28 00:11] lkysow commented on #460
@dbhat6 make sure if you uninstall that you delete the `bootstrap-acl-token` secret before re-installing.

[2020-11-30 12:01] abrucker235 commented on #702
I got NVMe drives in and now have the 3 RPi 2GB master nodes booting from them over usb3. This issue is currently gone on my cluster and I will plan on documenting hardware and setup [here](https://github.com/abrucker235/pi-k8s-cluster).

[2020-11-30 12:01] #702 closed

[2020-11-30 17:20] deantchi opened #716 "make volumeClaimTemplates .metadata.name fully configurable"
Due to the deprecation the stable/consul chart, I'm trying to migrate from the stable/consul chart over to the hashicorp/consul-helm chart without having to migrate data.  is it possible to make the the volumeClaimTemplates .metadata.name fully configurable so it can just assume the original PVCs which is `datadir`? https://github.com/helm/charts/blob/master/stable/consul/templates/consul-stateful

[2020-11-30 20:25] UlaganathanNamachivayam opened #717 "Meshgateway pods are failing randomly during startup on federated kubernetes"
### Overview of the Issue
Mesh gateway pods on kubernetes failing randomly during startup on a 4node cluster. When i kill the pod or whenever it gets provisioned on a new node its starting fine.

This behaviour is not consistent and readiness probe is failing due to connection refused on 8443 port. I tried executing the consul connect envoy command manually within the container and it just hangs t

[2020-11-30 20:28] david-yu commented on #717
@UlaganathanNamachivayam Thanks for filing, could you also provide log files from the Consul servers as well? There might be something in there that may be point to the underlying issue.

[2020-12-01 03:03] lkysow commented on #351
Mesh gateway docs are up to date now: https://www.consul.io/docs/k8s/helm#v-meshgateway so I'm going to close this.

@tasansga we'll use #667 to track documenting that issue.

[2020-12-01 03:03] #351 closed

[2020-12-01 03:05] lkysow commented on #403
We've closed https://github.com/hashicorp/consul-helm/issues/354 which reduces the locations where we use `ClusterRoles`. Otherwise we'll use #146 to track this request.

[2020-12-01 03:05] #403 closed

[2020-12-01 03:05] lkysow commented on #668
Hi, we're going to close this one for now but if there are still issues please let us know and we'll be happy to re-open.

[2020-12-01 03:05] #668 closed

[2020-12-01 03:12] lkysow commented on #340
Hi @srimandarbha, sorry, it appears we missed responding to this. Did you ever get it working?

[2020-12-01 04:18] UlaganathanNamachivayam commented on #717
Thank you for your quick response.
PFB the logs. The logs are repetitive of the same errors on all running stateful sets continuously and few times got OOM killed fo consul servers and changing the resource requests and limits solved it.

@david-yu  Is the following observation is true

I have removed the node details from below logs,

2020-11-30T22:01:35.892Z [WARN]  agent.server.fsm: EnsureRegis

[2020-12-01 19:15] cerebrate commented on #610
I get this on both the connect-inject container and the consul-server container on my Pi cluster, FWIW.

[2020-12-01 20:27] #605 closed

[2020-12-02 01:24] kong62 commented on #494
+1

[2020-12-02 13:32] UlaganathanNamachivayam commented on #717
@david-yu can you update on this issue please.

[2020-12-02 16:13] kpurdon commented on #433
Hi @adilyse @lkysow just wanted to check in here and see if there was anything I can do to help land a feature like this. I see the other open issue and PR has been stuck for a while.

I'm more than happy to do the work. Thanks for all your work on this project!

[2020-12-07 05:26] cerebrate opened #729 "Configurability of readiness probes"
It would be very useful if it was possible to configure the parameters of the readiness and liveness probes implemented by the chart. At times of high load, I frequently find Consul servers and even occasionally agents being terminated due to failures of readiness probes for their pods, and so far as I can tell, there is no actual underlying problem that would justify this termination - merely a s

[2020-12-07 11:24] mariusehr1 opened #731 "Sync catalog certificate expires and aren't rotated"
### Overview of the Issue

I have a secondary datacenter hosted on kubernetes, I use Vault as a CA provider, everything is fine and registers just right.
Upstreams are functionnal on either direction.

My issue is that after some time (usually over 2/3 days) the sync catalog goes in CrashLoopBackOff, looking at the logs I got :

[code]

After a few tests I noticed that I could still reach existing

[2020-12-07 18:22] rammaram06 opened #732 "How to access consul dns when acl is enabled?"
Hi,

I'm using 0.26.0 release and installed consul on our rancher cluster. I have enabled acl's and dns during installation and I would like to access consul dns(I have opened port 8600). Could you guys guide me on how to access consul dns from outside the cluster when acl token is enabled?

Consul version: 1.8.5

Thanks

[2020-12-07 18:29] #513 closed

[2020-12-09 15:37] ashwin-venkatesh commented on #717
@UlaganathanNamachivayam do the mesh-gateway pods only fail on the secondary cluster or do they appear to fail on the primary Consul cluster as well? During startup, the mesh-gateway pods do fail while the consul servers are starting up and performing leader election. In the case of an install, the pods should eventually become "ready" once the servers are ready. Is this not the behavior you are o

[2020-12-09 15:45] ashwin-venkatesh commented on #732
Hey @rammaram06

Thanks for the question. Could you elaborate a little bit on the use-case here specifically? Is this so that a service from outside the cluster can access a service running in the cluster?

[2020-12-09 18:24] ashwin-venkatesh commented on #732
Quick follow up question @rammaram06. Do you have `dns` enabled? This can be achieved by either having `global.enabled` set to `true` or `dns.enabled` set to `true`. We automatically configure anonymous auth for DNS when ACLs are enabled if DNS is enabled. So you should be able to use it in a fashion similar to how you would have used DNS if ACLs were disabled.

[2020-12-09 20:48] #106 closed

[2020-12-09 20:48] #579 closed

[2020-12-09 20:54] ashwin-venkatesh commented on #494
Related to #262

[2020-12-09 20:56] ashwin-venkatesh commented on #510
Related to #130

[2020-12-09 21:06] ashwin-venkatesh commented on #650
Related to #197

[2020-12-09 21:12] ashwin-venkatesh commented on #659
related to #362

[2020-12-09 21:23] ashwin-venkatesh commented on #692
@yevgeniyo At this point of time, the expiration is not configurable. The job will get re-run if there is an update to the consul image. But not otherwise as the job spec would remain unchanged. But we could investigate a way to potentially run the job at periodic intervals or have them run during all helm upgrades potentially. We would have to investigate how we could do cert rotation here safely

[2020-12-09 21:53] ashwin-venkatesh commented on #312
Closed by #582

[2020-12-09 21:54] #312 closed

[2020-12-09 23:51] ndhanushkodi commented on #85
Update to @lkysow's comment above, the new docs page link for multi-cluster federation is at https://www.consul.io/docs/k8s/installation/multi-cluster

[2020-12-10 10:43] mariusehr1 opened #735 "service-defaults configuration ends up getting 403d due to lack of token permission"
### Overview of the Issue

I deploy a service and a deployments, the latter contains the following annotations :

[code]
When starting the pod, I get the following logs from the `consul-connect-inject-init`

[code]

### Reproduction Steps

Steps to reproduce this issue, eg:

1. When running helm install with the following `values.yml`:
[code]
Here is the policy for my replicationToken :

[code]
an

[2020-12-10 18:43] lkysow commented on #735
Hi Marius,
Instead of using the `consul.hashicorp.com/connect-service-protocol: tcp` annotation, would you be able to use the new `ServiceDefaults` custom resource instead?

[code]

The problem with the annotation is that you can't actually change it afterwards which is unexpected.

I know this doesn't fix the ACL issue, we'd need to look into that, but the custom resource is our recommended way t

[2020-12-10 18:45] #573 closed

[2020-12-11 13:10] adinhodovic opened #738 "Lifecycle sidecar constantly CPU throttled"
### Overview of the Issue

CPU limits set too low for the consul-connect sidecar.

### Reproduction Steps

1. When running helm install with the default values and injecting the consul connect sidecar to a pod the CPU is consistently throttled and causing Prometheus alerts to be triggered. [The CPU throttling alert is taken from the `kubernetes-mixin` project.](https://github.com/kubernetes-monito

[2020-12-11 15:32] ashwin-venkatesh commented on #738
Hey @adinhodovic. Thanks for filing the report. What CPU limits/requests did you set that saw this problem mitigated? We can certainly look into adjusting the default limits and requests on our end.

AFAIR explicitly setting the value of the limit to `0` should have the desired effect.

[2020-12-11 15:42] mariusehr1 commented on #735
Hi Ikysow,

Indeed, I forgot about those as I just went through the patch note quickly. It is indeed a better solution as it doesn't require hacking into the yaml, especially with application deployed with Helm.

Just a quick question : it states that the supported protocols are http and http2 in the cdr-service-defaults definition, does it work for all protocols supported by consul (including tcp

[2020-12-11 15:42] #735 closed

[2020-12-11 15:48] ashwin-venkatesh commented on #735
Hey @mariusehr1

It does indeed support all the protocols supported by Consul (http, http2, grpc and tcp). The supported protocols for the `ExposeConfig` section of the resource are limited to http and http2 as described (here)[https://www.consul.io/docs/agent/config-entries/service-defaults#available-fields].

We are looking into #731 and thanks for bringing that up. 👍

[2020-12-11 16:25] adinhodovic commented on #738
Hi @ashwin-venkatesh,

I tend to avoid to set limits on CPU on very spiky workloads. I pushed the limits to half a CPU before the throttling alerts went a way and that is quite high. I assume the sync that happens every 10 seconds and it is very cpu heavy for a very short time if my understanding is correct.

I think this sets the limit to 0 CPUs and Kubernetes will generate a weird error `Invalid

[2020-12-11 16:44] ashwin-venkatesh commented on #738
@adinhodovic 😅 I set both the limit and the request to `0` when I tested it which worked out. Unfortunately, I don't think it can be completely unset given our values file will default it if that block isn't set.

The sync does happen every 10 seconds. We are looking at re-evaluating our implementation of the sync so that it is less CPU intensive, but it could take a while before it gets done unfo

[2020-12-11 17:05] adinhodovic commented on #738
Fair enough, however I would like to only set requests and remove the limits. Does that work for you? If requests are not set then e.g HPA scaling won't work since all containers need requests set within a pod :shrug:.

[2020-12-15 14:44] lebrisg commented on #670
Could you provide some documentation on your website on how to do that?

[2020-12-16 23:16] lkysow opened #743 "Document how to join an external VM running a Consul client to a Kubernetes cluster"
Document how to join an external VM running a Consul client to a Kubernetes cluster where servers and clients are running.

(see https://github.com/hashicorp/consul-helm/issues/670)

[2020-12-16 23:17] lkysow commented on #670
For we should do that. I've created https://github.com/hashicorp/consul-helm/issues/743 to track.

[2020-12-17 05:19] drmp13 commented on #449
I've got similar error:
Error: YAML parse error on consul/templates/server-statefulset.yaml: error converting YAML to JSON: yaml: line 43: did not find expected '-' indicator

I think it refer to file: https://github.com/hashicorp/consul-helm/blob/master/templates/server-statefulset.yaml

[2020-12-17 19:05] lkysow commented on #449
@drmp13 can you provide us exact steps to reproduce please?

[2020-12-17 20:32] david-yu commented on #158
Hi there! It's been a while since this was filed so checking back in.

@infa-bsurber and @lawliet89 it sounds like supporting extra init containers and extra containers would mainly help with TLS initialization for Consul K8s is that a fair statement? I assume @infa-bsurber that you are also utilizing Vault as well?

[2020-12-18 00:08] lawliet89 commented on #158
Hey @david-yu. I am currently using the chart's auto TLS init for servers and auto encryption for clients, so my need for init containers to perform this has diminished. Also, Vault has a Kubernetes auto injector now too, so that use case can also be covered by another means.

[2020-12-19 10:24] himmakam opened #750 "How can I tweak the helm chart to use the certificate generated by me using kub cert-manager"
Please search the existing issues for relevant questions, and use the reaction feature (https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to add upvotes to pre-existing questions.

#### Question

Please provide as many details as you can, including but not limited to
- Helm command you're running
- Any values you've configured
- Your current understanding, and

[2020-12-21 08:58] broomyocymru opened #751 "Consul Inject Init Container resolving incorrect IP in Azure AKS version 1.19.3"
Following an upgrade of our worker nodes to Kubernetes 1.19.3 the inject init container fails to start as it resolves the IP of the node not the virtual IP of the consul service.  All other consul containers seem to start-up without issues.

The error message is:
Error registering service "<app-name>": Put "http://<node-ip>:8500/v1/agent/service/register": dial tcp <node-ip>:8500: connect: connect

[2020-12-21 09:10] korjek commented on #410
What's the status of this request?

PR is opened more than 6 months ago. Could we have it merged?

[2020-12-21 10:39] mariusehr1 commented on #731
FYI the issue still persists when using Consul 1.9.1, same exact message :
 `x509: certificate has expired or is not yet valid: current time 2020-12-21T10:29:18Z is after 2020-12-10T17:05:39Z"` on the `syncCatalog`

Here are the related configuration :

[code]

It happends after 3/4 days usually.
The upstreams are broken and I am not able to register any new services, my only solution here would b

[2020-12-21 17:42] ishustava commented on #751
Hey @broomyocymru,

The init container that the connect webhook injects has always been talking to the [host IP](https://github.com/hashicorp/consul-k8s/blob/00bbbb67a85b33559f689ecad2c029d26dbc0d02/connect-inject/container_init.go#L247) rather than a cluster IP of the consul service. It actually talks to the Consul client agent on its host, that's why it's using host IP.

It looks like in your ca

[2020-12-21 18:11] david-yu commented on #750
Hi @himmakam thanks for filing! Could you describe how you'd like to use the certificate generated by cert-manager? There are various aspects of TLS that can be configured by the Helm chart, however configuring mTLS will require a CA so that Consul can dynamically generate certificates for services.

[2020-12-22 04:49] himmakam commented on #750
Thanks for your response. You mean to say we might need intermediate CA with which we can generate the certs dynamically for the services in consul? Are the below values in helm chart referring to this intermediate cert and private key correspondinlgy ?

.Values.global.tls.caCert.secretName .Values.global.tls.caKey.secretName

[2020-12-23 19:57] david-yu commented on #750
Yes you would need to provide the intermediate cert config with both the `caCert` and `caKey` as Kubernetes secrets which the Helm chart can pick up to generate mTLS certs for Consul Service Mesh.  Here is the TLS config stanza for our Helm Chart if that helps: https://www.consul.io/docs/k8s/helm#v-global-tls

[2020-12-23 20:46] david-yu commented on #433
Hi @kpurdon that does sound like a nice feature that could help with sidecar proxy service use case. We have not prioritized this on our end. I'm curious to know if that other PR perhaps addresses what you're looking for or if additional changes are needed.

[2020-12-23 21:55] kpurdon commented on #433
The other PR looks like it should handle getting the extra container in, the only other thing needed would be the settings on the UI but that's a trivia change.

[2020-12-25 07:43] yxxhero opened #754 "why consul chart use global?"
When I use consul as a subchart, I found consul chart contain global, I think this will pollute father global values.

[2020-12-26 08:13] himmakam commented on #750
ok. thanks a lot. And one more question, once the helm is successful using cert-manager, am able to see the consul UI using below -
kubectl port-forward service/consul-server 8501:8501 -n consul

Instead of this, can I enable ingress for the same. When I tried ingress with the same certificate, I get 503 bad gateway error. Could you please help me how to resolve this.

[2020-12-28 12:49] UlaganathanNamachivayam commented on #717
@ashwin-venkatesh Its failing only on secondary clusters. Also, Its not only during startup of mesh gateway pods and the behaviour is not consistent across nodes.  if i keep terminating the pods or to restart then it works once in 2 occasions. But still couldn't get the replicas works across all the nodes. I have provided the logs in the above comment.

[2020-12-29 14:58] himmakam commented on #510
Hi, When I enable ingress for this, I get 503 service Temporarily Unavailable. Could someone please let me know how to fix this issue.

[2021-01-04 07:27] himmakam opened #755 "consul integration with oidc"
I am trying to integrate consul with keycloak for oidc authentication. I get this error - Looks like I need to pass the OIDCDiscoveryCACert in the json file. Can I know how we can pass the cert here. Is it the contents of the cert or path to the cert file.

 consul acl auth-method create -type oidc -name keycloakauth -max-token-ttl=5m -config=@auth-method-config.json
Failed to create new auth meth

[2021-01-04 14:21] ashwin-venkatesh commented on #692
This PR should ensure the server certificates get recreated after a `helm upgrade` https://github.com/hashicorp/consul-k8s/pull/410

The only caveat would be a server restart would be required to ensure the updated certificates get picked up by the servers.

[2021-01-05 09:43] broomyocymru commented on #751
Hey @ishustava ,
Our configuration uses AKS with Private Link and custom DNS. That being said this wasn't an issue previously on the lower AKS version. Do you have a test setup in this configuration?

[2021-01-05 21:26] lkysow commented on #754
Hi @yxxhero this is a known issue (https://github.com/hashicorp/consul-helm/issues/238). Unfortunately we don't think we can change this at this time because we use the `global` key so heavily.

[2021-01-05 21:28] lkysow commented on #750
Hi, we don't natively support an `Ingress` resource for the UI (see https://github.com/hashicorp/consul-helm/issues/510). If you've created your own I'm not sure why you're getting a 503 though.

[2021-01-05 21:38] lkysow commented on #717
So the mesh gateway pods are getting killed by kube because they're failing their liveness checks?
Can you provide the output of `kubectl describe pod <mesh-gateway-pod>` and `kubectl logs -c mesh-gateway -p <mesh-gateway-pd>`

[2021-01-05 21:46] lkysow commented on #751
@broomyocymru this may be an issue with the Kubernetes downward API in this configuration. Can you run this pod:

[code]

And paste the output of `kubectl logs downward-debug`?

[2021-01-06 11:22] broomyocymru commented on #751
@lkysow the output is the IP of the node (i've escaped it)
hostip: -- x.103.x.x --

But pod ip range is x.244.x.x and this is what the consul agents on each node are registered with in consul server.

I've also noticed the azure subnets route table has entries for each node (AKS created) where anything in the range x.244.y.x/24 has a next hop of x.103.x.x. I'm not sure if this has always been the

[2021-01-06 18:29] lkysow commented on #751
The consul client register themselves with their pod IPs but each service mesh app uses its local node IP to talk to its local consul client through the exposed host port. The application pods must be able to make a connection through that node IP to the local consul client on port 8500 (tls disabled) or port 8501 (tls enabled).

You can't put up a LB in front of anything because the connect app _

[2021-01-07 16:28] ryan-dyer-sp opened #758 "Support for Kubernetes Ingress for UI"
#### Feature Description

It would be nice if the helm chart supported the addition of using an Ingress for the UI.  Currently the UI only configures a service.  For us, that means its not usable as there's no access to the UI for users.  We have to manually create an ingress pointing to the service which then users can access.

#### Contributions

Would be happy to add a ui-ingress.yaml template

[2021-01-07 17:07] ashwin-venkatesh commented on #758
Hey @ryan-dyer-sp

Thanks for the feature request. This is potentially something we could consider. Out of curiosity, is there any reason why setting up the service type of the Consul UI as a `LoadBalancer` does not work for your use-case? We could potentially setup a template for ingress but could you elaborate on your use-case some more?

[2021-01-07 17:20] ryan-dyer-sp commented on #758
Using a LoadBalancer for every service that we run in our k8s gets expensive.  We have over a dozen clusters.  Adding a LoadBalancer for each of the consuls running on these clusters would be expensive versus using the Ingress functionality that we already have.  I think most people use Ingresses instead of LoadBalancer services.

The vault helm chart already supports this functionality: https://g

[2021-01-07 21:32] #512 closed

[2021-01-08 18:19] jsosulska opened #761 "AKS Upgrade to 1.19 Causing my complete environment down. Containerd is failing to load my PODS which runs on side car containers"
_This is a transfer of an issue over from [hashicorp/consul #9459](https://github.com/hashicorp/consul/issues/9459). There are images in the original post that have not been transfered over, but they seem to show failing dashboards in the AKS cluster_

### Overview of the Issue

AKS Upgrade to 1.19 Causing my complete environment down.
Containerd is failing to load my PODS which runs on side car c

[2021-01-11 03:31] yxxhero commented on #754
ok!  Thanks for your answer!

[2021-01-11 03:31] #754 closed

[2021-01-12 01:17] lkysow commented on #761
@SamaChandra can you get us the logs of the failing init container:

[code]

[2021-01-12 01:19] lkysow commented on #340
Hi, we're going to close this because we haven't heard back in a while. If you do get back to us we're happy to re-open!

[2021-01-12 01:19] #340 closed

[2021-01-12 01:20] lkysow commented on #667
We support passing envoy options to all connect containers now (https://www.consul.io/docs/k8s/helm#v-connectinject-envoyextraargs) but not to mesh gateways yet.

[2021-01-14 07:34] korjek commented on #410
is this thread dead and no plans to add custom labels support?

[2021-01-14 13:52] ufou opened #765 "Unable to add service via API call from curl using token with manageSystemACLs enabled"
### Overview of the Issue

I've deployed the latest version of consul-helm to my 1.18 k8s (bare-metal) cluster with ACLs enabled and into a namespace called `consul-system`, the install was smooth but I'm unable to PUT service data into the consul via the API and curl

I'm assuming I've missed a step somewhere or missed something that I must enable in order to run consul in production with ACLs en

[2021-01-14 15:20] kschoche commented on #765
Hi @ufou thank you for filing this issue!
I was able to follow your workflow but use the bootstrap acl token instead, can you give that a try?

[code]
Also just as a general note, since you mentioned that you were considering production use cases, we *highly* recommend using TLS (`global.tls.enabled=true`) whenever ACLs are enabled for additional security!

[2021-01-14 17:17] ufou commented on #765
Hi @kschoche ah, great, that worked - did I miss the part about using the bootstrap token in the docs somewhere? Apologies if I did, yes we will enable TLS - we're just evaluating consul atm - thanks so much for responding so quickly, much appreciated!

Presumably it's best to add a token for each kind of access, is there a preferred method for adding tokens in a helm/k8s environment or a doc abou

[2021-01-14 17:17] #765 closed

[2021-01-15 01:31] chris-makaio opened #808 "Error registering service "mesh-gateway": 403"
#### Overview of the Issue

While setting up a new WAN-federated cluster there's basically nothing working. It starts that it seems that ACL seems to not get bootstrapped automatically, so I have to do:
[code]

Then, at least, most of the pods & svc come up:
[code]

This is the setup & config:
`helm install consul hashicorp/consul --set global.name=consul -f consul-config.yaml`

[code]

btw: tlsOn

[2021-01-18 16:22] shellfu opened #767 "Upgrade Path from 0.24.x w/ existing ACLs is Broken without manual intervention"
### Overview of the Issue

Having issues upgrading to 1.9.1 in Kube
Current:

chart 0.24.1
consul 1.8.4

I have tried the chart version listed in the compatibility matrix, using my current values.yaml and modifying the image to 1.9.1 and controller: enabled: true.

At start, the controller and webhook cannot find their secrets.

consul-controller-acl-token not found
consul-connect-inject-acl-token

[2021-01-18 21:59] lkysow commented on #767
Hi, sorry for the trouble.

The reason the ACLs aren't being created is because `server.updatePartition` is > 0. This indicates that the servers are being rolled out and so we can't run `server-acl-init` because it won't complete properly while servers are being rolled out and then the job would fail which would cause the whole `helm upgrade` to fail.

So to resolve this situation, please complete

[2021-01-18 23:23] shellfu commented on #767
Thanks for the response.

Ok, that makes sense. So if I understand you and the documentation you linked correctly, the following needs to happen.

1. Using my existing values.yaml, change the image tag to my desired Consul version (1.9.1 in this case).
2. Run helm upgrade with the current chart and the values.yaml with the new Consul tag until server.updatePartition is 0
3. Proceed with the helm c

[2021-01-19 14:35] ufou opened #768 "Consul configuration should be more declarative"
#### Question

Hi, we're running into some issues with the helm chart for our use case which others may have hit too.

Our use case is to bring up an isolated k8s cluster (one of many, which we bring up/tear down depending on workload) - within the cluster we require the use of consul DNS, so we can dynamically add/remove entries via the consul API - this works - however as we move towards putting

[2021-01-19 14:49] shellfu commented on #767
In addition to the client's having their update strategy on delete, this should be the same for the mesh gateways as they try to upgrade before the servers do.

[2021-01-19 16:08] shellfu commented on #767
Ugh. The upgrade caused the servers to start panicking.

[code]

[2021-01-19 16:09] shellfu commented on #767
Anybody who stumbles upon this, I would HIGHLY advise against performing an upgrade. I have been a Unix Engineer for 15 years and a software developer for 4.

I consider myself pretty adept and this is not a straight forward process.

[2021-01-19 19:33] jimm-with-a-j opened #771 "Helm makes HTTP call at the HTTPS port when using external Consul cluster."
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue

Working with local dev consul agent and a K8s cluster in Minikube I was trying to use the helm chart and noticed it was trying to communicate with the Consul API over HTTP but tries to use the HTTPS port. I didn't see any values to change this to use H

[2021-01-19 22:17] jun-sheaf commented on #449
@lkysow Aside from the problem you mentioned, the `affinity` is not well-formed `yaml`. You may want to update the docs (https://learn.hashicorp.com/tutorials/consul/kubernetes-deployment-guide).

[2021-01-20 00:16] lkysow commented on #767
Hi,
We're really sorry to hear about the upgrade issues.

Unfortunately It looks like you ran into a bug with 1.9.1 that seems the same as https://github.com/hashicorp/consul/issues/9566. This is a top priority for the team and today we worked on a fix (https://github.com/hashicorp/consul/pull/9592). We're going to do a release as soon as possible to fix it (although it sounds like you're back up

[2021-01-20 00:22] lkysow commented on #768
Hi @ufou, thanks for the questions.

ACL roles and tokens must be created via API or Terraform. There is no CRD support currently (I think this is probably what you meant by declaratively?).

This setting is only for Consul clusters that have already had ACLs bootstrapped. It does not support usage as a way to pre-set the bootstrap token. When this is set, we assume that ACLs have already been boo

[2021-01-20 00:33] lkysow commented on #771
Hi, I think you're missing the option to enable TLS:

[code]

I believe that should work for your use-case.

[2021-01-20 00:46] jimm-with-a-j commented on #771
If that is not enabled shouldn't it then try to use the default HTTP port instead of the HTTPS one? That's the part that would be confusing without jumping into the logs.

[2021-01-20 01:24] lkysow commented on #771
I don't believe we actually support external servers with HTTP. Hence only having the `httpsPort` option. I don't think this was documented though.

[2021-01-20 01:26] jimm-with-a-j commented on #771
It would certainly make sense not to, thanks again!

[2021-01-20 02:00] shazinahmed opened #772 "Init containers failing to start."
### Overview of the Issue

On trying to set up a consul cluster with helm install, the init containers for controller and connect-injector-webhook fails to start.

### Reproduction Steps

Steps to reproduce this issue

1. Run `helm install -f consul-config.yaml hashicorp hashicorp/consul` with config below.
2. The init containers in the controller and connect-injector-webhook fails to start.

If m

[2021-01-20 02:25] shazinahmed opened #773 "Documentation update"
### Overview of the Issue

Documentation for [kubernetes deployment guide](https://learn.hashicorp.com/tutorials/consul/kubernetes-deployment-guide) needs to be updated.

### Reproduction Steps

The [values](https://learn.hashicorp.com/tutorials/consul/kubernetes-deployment-guide#complete-example) file in the example uses `global.bootstrapACLs` instead of `global.acls.manageSystemACLs`.

https://g

[2021-01-20 04:41] lkysow commented on #773
Thanks! Sorry for the trouble, we'll update the guide.

[2021-01-20 05:02] lkysow commented on #772
Hi Shazin,
So this is due to an issue with our documentation where the quotes around `aclBindingRuleSelector` are not normal quotes but actually special characters.

What was in the docs:
[code]

What it should be:
[code]

If you use that instead it will work.

I'd recommend deleting the cluster and then re-installing. To delete, make sure you run:
[code]

[2021-01-20 08:25] ufou commented on #768
`created via API`

This seems a bit chicken & egg to me? In order to create ACL roles and tokens we need to use an API token - but we can only obtain the api token from a consul cluster that has already been initialised, however, I understand this use-case might be unique or uncommon - we spin up k8s clusters ad-hoc dependant on workload for the time of day/week - everything that runs on the clust

[2021-01-20 14:31] DerekStrickland commented on #773
Being addressed in Learn repo PR #2861

[2021-01-20 14:31] #773 closed

[2021-01-20 15:18] shellfu commented on #767
Starting Consul Version: 1.8.5
Starting Helm Chart: 0.24.1

Target Consul Version: 1.9.1
Target Helm Chart: 0.25.0, 0.26.0

On start, you'd clearly see the mesh gateway attempting to start but the only bound process is the Envoy admin 19000.
On the working gateway, you'd see the process bound to 8443 in addition to the admin port 19000.

The result was the readiness probe was in a constant failing

[2021-01-20 16:20] shazinahmed commented on #772
Yes, that fixed it!
Thanks a lot. Maybe you can correct the guide if possible.

[2021-01-20 16:40] lkysow commented on #772
Yes absolutely the fix will be up shortly. I'll close this then.

[2021-01-20 16:40] #772 closed

[2021-01-20 18:06] lkysow commented on #768
I think the ideal solution would be if bootstrapToken is set *and* ACLs are not yet bootstrapped then we bootstrap them using the bootstrapToken. Let's open up a new issue to track that.

You might be able to approximate that right now by setting https://www.consul.io/docs/agent/options#acl_tokens_master in extraConfig:

[code]

[2021-01-20 18:20] lkysow commented on #768
Note to self: the [api](https://www.consul.io/api-docs/acl#bootstrap-acls) we use to bootstrap ACLs doesn't support setting the bootstrap key so we'd need to take that secret and set it as the value of the acl_tokens_master key in each server config.

[2021-01-21 02:09] lkysow commented on #761
This is probably caused by https://github.com/Azure/AKS/issues.

[2021-01-22 02:55] hamishforbes opened #778 "Specify an ACL token for the controller deployment"
Currently the [controller](https://github.com/hashicorp/consul-helm/blob/master/templates/controller-deployment.yaml#L86) only injects a token when the automagic / helm managed ACLs is enabled?

I'm trying to test out the new Consul 1.9 CRDs but just get a bunch of 403 errors because the controller has no token associated with it.

I want to be able to create a k8s secret and provide it to the hel

[2021-01-22 16:08] lkysow commented on #778
A PR to support `controller.aclToken` makes sense.

[2021-01-22 16:38] lkysow commented on #767
Can you help me reproduce the mesh gateway bug?

What I tried was upgrading from helm 0.24.0 and values:

<details>
<summary>initial values</summary>

[code]

</details>

To Helm 0.26.0:

[code]

And the gateways came up:

![upgrade](https://user-images.githubusercontent.com/1034429/105518369-122cc480-5c8d-11eb-9bf6-9cccd5f656ae.gif)

listening on 8443:

[code]

Do you remember the state of the Co

[2021-01-22 16:42] lkysow commented on #768
Created https://github.com/hashicorp/consul-helm/issues/779 to track support for pre-setting the bootstrap token.

[2021-01-22 16:43] lkysow commented on #768
I'm going to close this then but feel free to comment if I missed something.

[2021-01-22 16:43] #768 closed

[2021-01-22 16:45] shellfu commented on #767
I will try this again over the weekend and see if I can record steps for reproduction. If it was a ghost then we will find that out also, but I am fairly certain it's reproducible. Just need to get you something concrete.

[2021-01-22 16:50] lkysow opened #780 "Support using Vault for all secrets"
Would be great to support be able to retrieve all secret material: ACL tokens, TLS certs, etc. from Vault.

[2021-01-22 16:50] lkysow commented on #767
I've created https://github.com/hashicorp/consul-helm/issues/779 to track A).

Agreed B) would be great. I've created https://github.com/hashicorp/consul-helm/issues/780 to track.

[2021-01-22 16:54] shellfu commented on #780
This would make upgrades/rebuilds immensely easier. If any code contribution is needed for this I will dedicate the time if so desired.

[2021-01-22 18:28] lkysow commented on #771
I've created https://github.com/hashicorp/consul-helm/pull/776 so we can track that there.

[2021-01-22 18:28] #771 closed

[2021-01-22 20:03] thisisnotashwin commented on #758
Addressed by #774

[2021-01-22 20:03] #758 closed

[2021-01-22 20:04] thisisnotashwin commented on #88
Addressed by #774

[2021-01-22 20:04] #88 closed

[2021-01-22 20:10] thisisnotashwin commented on #510
Addressed by #774

If Ingress is used, the ingress performs the TLS termination so you have to ensure that either the Ingress controller can perform SSL-passthrough and that it is enabled, or that the http port of the UI is open (httpsOnly is false)

[2021-01-25 14:28] HofmannZ commented on #74
Is this still the prefered way for consul/vault on k8s with tls?

[2021-01-25 15:48] HofmannZ commented on #623
Would be great if we can bring our own server certs so we setup tls with vault-helm.

[2021-01-25 17:20] lkysow commented on #74
@HofmannZ this ticket is super old so perhaps opening a new one with your specific use-case would be better. Quickly, turning on TLS can be done with:
[code]

[2021-01-25 18:34] HofmannZ opened #784 "Consul and Vault with TLS on Kubernetes"
#### Question

We are setting up Consul and Vault on Kubernetes using both of the official Helm charts.
Our goals are:
- to use Consul as a HA backend for Vault.
- use gossip encryption for both Consul and Vault.
- use TLS encryption on client <> server communication.
- use TLS encryption on Vault <> Consul communication.

We have set up our Kubernetes nodes with the labels and taints. And added t

[2021-01-25 21:16] ishustava commented on #784
Hi @HofmannZ

Thanks for creating this issue. I apologize for the confusion and the lack of documentation on this. This is something we're looking to improve in the future.

When you enable auto-encrypt in Consul, the certificates that the server will generate for the Consul clients will be signed by the [Consul Connect CA](https://www.consul.io/docs/connect/ca/consul) rather than server's CA. In

[2021-01-25 23:17] woz5999 opened #785 "UI ingress doesn't work with kubernetes v1.19"
### Overview of the Issue

`ui.ingress` resource doesn't work with kubernetes v1.19
This appears to be due to issues using the wrong api version. Depending on the cluster version, this should probably be `networking.k8s.io/v1beta1` or `networking.k8s.io/v1beta1`, but not `extensions/v1`

### Reproduction Steps

Steps to reproduce this issue, eg:

1. Deploy the chart into a cluster running kubernet

[2021-01-26 11:45] r3mattia commented on #784
Thank you @ishustava  and @HofmannZ for bringing up and providing the solution to this.

[2021-01-26 16:12] tsia opened #787 "Container Injected in all namespaces?"
#### Question

Hi, i have installed consul using `helm install -n foo -f consul-helm.yaml consul hashicorp/consul --wait`.
It seems that consul is being injected into all pods in all namespaces including the OpenShift system Pods.
I'm pretty sure this is not intended and i'm holding it wrong but i can't find anything how to limit consul injection to one namespace.

[2021-01-26 16:24] thisisnotashwin commented on #787
Hey @tsia ,

The helm chart has values under the `connectInject:` stanza named `k8sDenyNamespaces` and `k8sAllowNamespaces` which should allow one to filter the namespaces that consul gets injected onto. In your usecase setting the following in `consul-helm.yaml` (the values file) should solve your problem.
[code]

[2021-01-26 18:10] ishustava commented on #784
Awesome, thanks for confirming @r3mattia.

@HofmannZ  is it OK with you if we close this issue for now as we have those other ones tracking future improvements?

[2021-01-26 18:40] #778 closed

[2021-01-26 19:45] HofmannZ commented on #784
@ishustava - Thanks for the swift response!

This really helps, you might want to mention it more prominent in the docs 😉

[2021-01-26 19:45] #784 closed

[2021-01-26 19:51] HofmannZ opened #789 "RBAC is moved to GA in Kubernetes 1.19+"
We're getting the following warnings when installing the helm chart on a Kubernetes cluster running version 1.19.

[code]

Running on:

[code]

[2021-01-26 22:44] #785 closed

[2021-01-27 00:16] #789 closed

[2021-01-27 00:54] HofmannZ opened #793 "API Extensions is moved to GA in Kubernetes 1.16+"
We're getting the following warnings when installing the helm chart on a Kubernetes cluster running version 1.19.

[code]

Running on:
[code]

Config:
[code]

[2021-01-27 01:17] lkysow commented on #793
Thanks, we do need to update these but it will take some time because we need to have both versions and update all our code gen. Until then these are just warnings and won't cause any issues.

[2021-01-27 01:20] HofmannZ commented on #793
Yeah, saw @ishustava picked up #790, so just wanted to report this one as well 😉

[2021-01-27 03:54] HofmannZ opened #794 "http: TLS handshake error from ...: No certificate available."
#### Question

We are spinning up Consul on GKE (Kubernetes 1.19) and noticed that the `consul-connect-injector-webhook-deployment` is not injecting sidecar proxies.

It's giving the following error:

[code]

Then we cleaned up the cluster and ran it again with `logLevel: debug`:

[code]

This time we did not get the error message nor did we get a confirmation message (but we're not sure if we sho

[2021-01-27 07:33] david-yu commented on #489
Closing as this is now addressed by: https://github.com/hashicorp/consul-helm/pull/774/files#diff-c95d77aacadfa8c792395c930e35cc03ad7463fff84e30877412c634d5e38614

[2021-01-27 07:33] #489 closed

[2021-01-27 18:36] ishustava commented on #794
Hey @HofmannZ

To clarify, when you restarted it the second time and did not get the error message, did connect injection work?

[2021-01-27 18:37] HofmannZ commented on #794
@ishustava - We did not get error messages, but connect inject did not work.

[2021-01-27 18:59] ishustava commented on #794
Did it just skip it? Meaning your pod started without any injected containers?

Also, I noticed in your config that you need to move extraConfig under the `server` section for it to take an effect. Also, global.replicas and global.storageClass are being ignored because these values only exist under the server section as well.

[2021-01-27 19:02] ishustava commented on #794
I've just tried on my GKE cluster with your values slightly modified (removed unused values and node affinity, tolerations and stuff since I don't have them set up), and it worked.

My values file ended up looking like this:
[code]
And the service I tried to inject looked like so:

[code]

Do you have a yaml file of the service you tried to inject that you can share, maybe there's a mistake somewh

[2021-01-27 19:06] HofmannZ commented on #794
@ishustava - We will give this a shot in an hour or so. The only big main differences with our config are the non-custom CA certificates. Will update once we have tested this.

[2021-01-27 19:08] ishustava commented on #794
That's true, although I don't expect the custom CA to impact this since the webhook generates its own certificate and CA, and then updates Kubernetes webhook configuration with that information.

Let me know how it goes!

[2021-01-28 09:26] tsia commented on #787
thanks a lot that was exactly what i was looking for

[2021-01-28 09:26] #787 closed

[2021-01-28 22:20] david-yu commented on #410
@korjek We are aware of asks around custom label support and have incrementally been adding support across various components. Here is one that recently merged: https://github.com/hashicorp/consul-helm/pull/612

Could you describe what else might be potentially missing? We are considering adding a global custom label option but that may be more work to plumb through.

[2021-01-29 00:00] ishustava commented on #750
@himmakam

I think this might be because you need to configure your ingress controller to create connections to backends with TLS. This typically depends on the specific ingress provider you're using, but here are the [docs](https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#backend-protocol) on how to do that for NGINX ingress.

[2021-01-29 00:56] ishustava commented on #692
Hey @yevgeniyo, we've [released](https://github.com/hashicorp/consul-helm/releases/tag/v0.29.0) the automatic rotation of server certificates feature @thisisnotashwin had mentioned. Do you think this issue can not be closed?

[2021-01-29 01:03] ishustava commented on #147
As of Helm chart version [`0.29.0`](https://github.com/hashicorp/consul-helm/releases/tag/v0.28.0), we now run Consul containers as non-root and support configuring security context for Consul pods. As we have other issues tracking running sidecar containers as non-root, I'm going to close this issue. Please let us know if you think we should re-open!

[2021-01-29 01:03] #147 closed

[2021-01-29 01:39] ishustava commented on #743
Closing because these [docs](https://www.consul.io/docs/k8s/installation/deployment-configurations/clients-outside-kubernetes) now exist!

[2021-01-29 01:39] #743 closed

[2021-01-29 01:45] ishustava commented on #670
Hey @lebrisg, we have [documented](https://www.consul.io/docs/k8s/installation/deployment-configurations/clients-outside-kubernetes#networking) the network requirements when joining an external Consul client to a k8s cluster.

Additionally, we now also support joining an external client VM via the host network ([docs](https://www.consul.io/docs/k8s/installation/deployment-configurations/clients-ou

[2021-01-29 10:18] kw7oe opened #796 "Fail to start Ingress Gateway container with error: standard_init_linux.go:219: exec user process caused"
### Overview of the Issue

I was trying to install a Consul cluster with Ingress Gateway on a Rasberry Pi 4 running k3s as follows:

[code]

But fail to start the `ingress-gateway` container for the `ingress-gateway` pods with the following logs:

[code]

After also trying to install Grafana and Prometheus with envoy sidecar to be injected, I have found that the root issue is at starting up the En

[2021-01-29 15:22] blake commented on #796
@kw7oe Consul's Helm chart defaults to using `envoyproxy/envoy-alpine` as its Envoy image which only support the x86_64 architecture. You'll need to use `envoyproxy/envoy` which supports ARM64.

You can configure the chart to use this alternate image using the [`global.imageEnvoy`](https://www.consul.io/docs/k8s/helm#v-global-imageenvoy) config option.

[code]

[2021-01-29 15:29] kw7oe commented on #796
Thanks! Will try this out soon. Good to close this now 👍

[2021-01-29 15:29] #796 closed

[2021-01-30 00:52] HofmannZ commented on #794
@ishustava - Sorry for the late reply, something urgent took precedence over this issue.

We think we found the issue tho. We are running in a private cluster on GKE. By default, only port 443 and 10250 are allowed by the firewall. See:
https://github.com/hashicorp/consul-k8s/issues/269#issuecomment-635491959
https://github.com/hashicorp/vault-helm/issues/214#issuecomment-592702596

Google actuall

[2021-01-30 01:33] HofmannZ commented on #794
@ishustava - We have enabled the firewall only for certain tainted nodes. We added the `tolerations` to `connectInject` config but cannot find a similar option to set `tolerations ` on the `consul-webhook-cert-manager` deployment.

If it possible to override the `tolerations` for the `consul-webhook-cert-manager` deployment?

[2021-01-30 01:44] ishustava commented on #794
Unfortunately, currently, it's not possible. It looks like we're not setting tolerations on that deployment at the moment. It should ideally inherit this from the `connectInject` tolerations.

Would you be open to contributing this as a PR?

[2021-01-30 02:03] HofmannZ commented on #794
@ishustava - Yes! But would only be able to start contributing after the 12th of Feb (when the IRS e-filing tax season has opened up)

In terms of inheriting, I think it might need its own config to provide enough flexibility. Maybe under `global.tls.tolerations` or something new like `certManager.tolerations`?

[2021-01-30 17:31] HofmannZ opened #797 "CA for terminating gateways"
#### Question

Hi 👋,

Having a quick question regarding the terminating gateways.

We have a terminating gateway called `cloudflare-gateway`. We also have an upstream deployment in the mesh listening on the port 80, let's call it `x-server`. We also have a deployment that establishes an SSL encrypted tunnel on port `7844` over TCP. Let's call the deployment `x-proxy`. Both deployments have a sidec

[2021-01-31 07:47] kw7oe commented on #796
Just want to add on further on this, just in case anyone came across a similar issue in the future.

On top of specifying the image to use `envoyproxy/envoy:v1.16.2`, if you are running on Raspberry Pi wit Raspbian OS, you might face error pulling docker image since, Raspbian OS is actually `armv7l` a 32-bit OS _(This can be checked by running `uname -m`)_, and `envoyproxy/envoy` are only build fo

[2021-02-01 12:33] defesteban opened #798 "Mesh gateway and TLS init cleanup job do not work in IPv6 environment"
### Overview of the Issue

I'm trying to install Consul to IPv6 environment, but I have problems with some services: Mesh gateway and TLS init cleanup job. Pods of Mesh gateway do not start with `Waiting: CrashLoopBackOff` in status. Then, if you try to uninstall this release, you will fail, because TLS init cleanup job will not complete correctly.

### Reproduction Steps

Steps to reproduce the p

[2021-02-01 19:48] ishustava commented on #794
Hey @HofmannZ

Thanks so much! You're right. Since it's a separate deployment, it probably makes more sense for it to have a separate section. I like your suggestion of having `certManager.tolerations` - let's go with that!

[2021-02-01 19:58] HofmannZ commented on #797
Okay, we did not seem to have read the docs properly. Turns out you need to create the Consul resources for it to work.

Here is an excellent guide: https://learn.hashicorp.com/tutorials/consul/terminating-gateways-connect-external-services (You can skip that step that sets up the Envoy proxy because connect inject does that for you.)

[2021-02-01 19:58] #797 closed

[2021-02-01 20:01] ndhanushkodi commented on #798
Hi @defesteban! Currently, there is no support for IPv6 with this helm chart. The mesh gateways run the `consul connect envoy` which will show the error you are seeing if provided with an IPv6 address. Would you want a feature request for IPv6 support?

For the TLS init cleanup job, its responsibility is to delete the secrets `<consul.fullname>-ca-cert`, `<consul.fullname>-ca-key`, and `<consul.fu

[2021-02-02 07:31] UlaganathanNamachivayam opened #809 "Consul service mesh resource limit settings for kubernetes."
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

#### Overview of the Issue

We are running consul on EKS with 1000+ other deployments. With consul default resource requests/limits settings as suggested in the documents i am receiving readiness/liveness probe failures now which was not the case when we have first deployed cons

[2021-02-02 07:48] defesteban commented on #798
Hi @ndhanushkodi! Could you please suggest when feature with IPv6 support for Mesh gateways appears? We do really need this one.

About TLS init cleanup job: before running `helm delete` I have all necessary secrets (see image).
![image](https://user-images.githubusercontent.com/1469327/106567049-38cae500-6542-11eb-80cd-9cecb82afe85.png)
But I'm afraid the problem is with the commands that are not

[2021-02-02 09:52] somethingwentwell opened #801 "consul server status keep pending"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue

Tried to create consul service using helm in Azure VM (1 Ubuntu 18.04 as master, 1 Ubuntu 18.04 as worker). But the consul server keep pending status causes consul agent unable to connect server

### Reproduction Steps

1. When running helm install wit

[2021-02-02 19:55] ndhanushkodi commented on #801
Hi @somethingwentwell! It's possible that your Pods are running into cpu limitation. Do you have at least 4vcpu and 4gb ram per node you are running on?

[2021-02-03 02:00] somethingwentwell commented on #801
Hi @ndhanushkodi thanks for your reply, I just changed my master node from D2s_v3 (2core, 8GB memory) to D4s_v3 (4core, 16GB memory) but seems still not working
![image](https://user-images.githubusercontent.com/46453511/106687131-8446c700-6606-11eb-844e-a90eaae4ef68.png)

[2021-02-03 02:06] ndhanushkodi commented on #801
@somethingwentwell can you show the output of `kubectl describe pod consul-consul-server-0`? The events section in the output may tell us why.

[2021-02-03 02:41] somethingwentwell commented on #801
Here's the output, many thanks @ndhanushkodi

[code]

[2021-02-03 02:47] ndhanushkodi commented on #801
@somethingwentwell  This line: `Warning  FailedScheduling  36m   default-scheduler  0/2 nodes are available: 2` tells me that maybe there's some issues with the nodes. If you were deploy any Pod on this cluster, does it succeed? And does `kubectl get nodes` show all the nodes as Ready?

[2021-02-03 02:50] somethingwentwell commented on #801
@ndhanushkodi yes, the nodes are ready and the deployment of nginx is successful.
[code]

[2021-02-03 06:13] iameli opened #803 "add ability to run more than one consul release per cluster"
#### Is your feature request related to a problem? Please describe.

Installing this chart multiple times on the same cluster results in the second deployment having lots and lots of hostPort conflicts.

#### Feature Description

All of the hostPorts should be customizable, so you can run more than one Consul per Kubernetes cluster if you care to.

#### Use Case(s)

I want to run a "staging Consul

[2021-02-03 17:45] ndhanushkodi commented on #803
Hey @iameli, this seems similar to #126 and #597. So in addition to the hostPort conflicts in consul-helm, there's also lots of automation that's done in consul-k8s that requires specific ports and doesn't support multiple installations on the same cluster. I am not sure if this is something we'd want to support in the long term, since most production clusters would ideally have just one consul in

[2021-02-03 17:52] ndhanushkodi commented on #801
Oh, I didn't catch this earlier, but the server events say "pod has unbound immediate PersistentVolumeClaims." Its possible the issue is with the PVCs. Can you provide the output of `kubectl get pvc`, and `kubectl describe pvc`.

[2021-02-03 18:04] whiskeysierra commented on #801
I saw this particular error when I tried to run a server deployment on a kubernetes cluster with just two nodes. The scheduler didn't succeed to meet the anti affinity constraint, but the reported error was an unbound pvc.

[2021-02-04 03:59] somethingwentwell commented on #801
Really appreciate for your help and here's the output.

[code]

[2021-02-04 04:56] somethingwentwell commented on #801
New update:
I just found I need to pre-create PVC in self hosted k8s (https://www.consul.io/docs/k8s/installation/platforms/self-hosted-kubernetes). I followed and create pv and pvc for data-default-consul-consul-server-0 and got **CrashLoopBackOff** instead of **Pending** now. Here are the outputs.

PV & PVC:
[code]

kubectl get po:
[code]
kubectl describe po:
[code]

[2021-02-04 18:41] ndhanushkodi commented on #801
Can you provide the consul server logs as well, since it's events say `Back-off restarting failed container`?

[2021-02-05 09:46] somethingwentwell commented on #801
Hi @ndhanushkodi , here it is
[code]

[2021-02-05 16:20] mariusehr1 commented on #731
It took me a while to figure out but here is the resolution linked to this issue

https://github.com/hashicorp/consul/issues/9443

Marius

[2021-02-05 16:20] #731 closed

[2021-02-05 17:41] whiskeysierra commented on #808
Are you sure about tlsOnly? I don't believe that key exists.

[2021-02-05 18:37] david-yu commented on #339
Hi @scrossan I'm going to close this in favor of https://github.com/hashicorp/consul-helm/issues/657, which would be the correct way of exposing the DogStatsD agent according to https://docs.datadoghq.com/developers/dogstatsd/?tab=kubernetes#client-instantiation-parameters

[2021-02-05 18:37] #339 closed

[2021-02-05 18:45] ndhanushkodi commented on #809
@UlaganathanNamachivayam  Are the 1000+ other deployments part of the Consul Connect service mesh?

[2021-02-05 18:51] lkysow commented on #731
Thanks for following up, sorry we missed this one.

[2021-02-05 19:15] ndhanushkodi commented on #808
Hey @chris-makaio, the mesh gateway ACL token cannot be generated using:
`kubectl create secret generic consul-mesh-gateway-acl-token --from-literal=key=$(consul keygen)`
since consul keygen is only for generating the gossip encryption key. The ACL token needs to be setup by consul-k8s and the mesh gateway token should get automatically created if you have `manageSystemACLs: true` and `meshGateway

[2021-02-05 20:12] chris-makaio commented on #808
thanks, I don't know where tlssOnly came from, in all my current files it's httpsOnly. Strange.
I'll try again this weekend and keep you updated

[2021-02-05 20:29] chris-makaio commented on #808
okay, this is on a brand new cluster with this config:
[code]

gives:
consul-connect-injector-webhook-deployment-b6f9d59d-w7p2z:injector-acl-init Error getting Kubernetes secret: secrets "consul-connect-inject-acl-token" not found

and

│ consul-mesh-gateway-596fd7df78-6lkft:service-init Error getting Kubernetes secret: secrets "consul-mesh-gateway-acl-token" not found

[2021-02-05 20:43] #510 closed

[2021-02-05 20:45] lkysow commented on #646
Closing because this is a limitation of crds.

[2021-02-05 20:45] #646 closed

[2021-02-05 20:47] #670 closed

[2021-02-05 20:47] #692 closed

[2021-02-05 20:47] david-yu commented on #750
Hi @himmakam you should now be able to use our helm chart to create an Ingress resource for the UI and provide the cert generated by cert-manager via the `hosts.secretname` parameter as of release 0.29: https://github.com/hashicorp/consul-helm/releases/tag/v0.29.0

https://github.com/hashicorp/consul-helm/blob/3fabe29427038fba4d95b16eed34874153174868/values.yaml#L962

There is also a writeup here

[2021-02-05 20:47] #750 closed

[2021-02-05 20:48] #732 closed

[2021-02-05 20:55] david-yu commented on #197
Hi there, we now have a documented way to perform DR from one region to another for WAN Federated Datacenters for Consul Kubernetes: https://learn.hashicorp.com/tutorials/consul/kubernetes-disaster-recovery?in=consul/kubernetes-production

[2021-02-05 20:55] #197 closed

[2021-02-05 20:57] david-yu commented on #324
This is now available here: https://learn.hashicorp.com/tutorials/consul/kubernetes-kind?in=consul/kubernetes

[2021-02-05 20:57] #324 closed

[2021-02-05 20:58] david-yu commented on #205
This has been resolved with: https://github.com/hashicorp/consul-helm/releases/tag/v0.28.0

[2021-02-05 20:58] #205 closed

[2021-02-05 21:31] lkysow commented on #801
I think the persistent volume's permissions are wrong. Here's what they are on GKE:
[code]

[2021-02-07 10:14] iameli commented on #803
Got it. Let me explain a a little about our use case, perhaps there's a smarter way to accomplish what I'm trying to do. Livepeer is building a global network of high-availability RTMP servers to provide video ingest into our decentralized transcoding network. Toward that end, we've bought or leased bare-metal servers all over the world, which we've tied together in to Kubernetes clusters with k3s

[2021-02-08 02:21] somethingwentwell commented on #801
@lkysow @ndhanushkodi
I try to chmod 777 to /consul/data but it still shows the same error message.
[code]

[2021-02-08 05:03] somethingwentwell commented on #801
I edit the helm variable security context to be root like below and it's working.

helm values
[code]

output
[code]

But it seems not a good solution for security. Anyone can have a better solution?

[2021-02-08 08:30] UlaganathanNamachivayam commented on #809
Yes @ndhanushkodi. Sidecars are deployed for all the application deployments too.

[2021-02-08 12:51] ram-vibhulaanandh commented on #182
@ljupchokotev , @adilyse  I'm facing the same issue of connection refused errorst for the server-acl-init job  because I had enabled TLS encryption and disabled the http port. Any Solutions to resolve this in helm configs?

[2021-02-08 17:10] lkysow commented on #801
I notice yours is owned by `root:root` but my example has `root:consul`.

Mine:
[code]

Yours:
[code]

[2021-02-08 17:12] lkysow opened #811 "Use consul login/auth method for consul-k8s component ACL tokens instead of kube secrets"
Switch to using `consul login` inside `consul-k8s` components to get ACL tokens instead of `server-acl-init` minting ACL tokens and then writing them to kube secrets.

[2021-02-08 17:15] lkysow commented on #182
@ram-vibhulaanandh can you please open up a new issue and include your helm values.

[2021-02-08 19:59] lkysow commented on #808
@chris-makaio I notice you hid the previous comment. Are things working now or are there still issues?

[2021-02-08 20:01] chris-makaio commented on #808
@lkysow I hid it because I made a mistake (the cleanup task was still running, blocking the other job)
But even after I fixed it, I can't get it running. I have no idea what's wrong and it's really hard to debug, unfortunately

[2021-02-08 21:48] lkysow commented on #808
Can you show us the output of `kubectl get pods` and `kubectl describe pod` on any pod that's `Pending` and `kubectl get logs` for any pod that's crashloopbackoff'ing and we'll try and figure it out.

[2021-02-09 09:08] ram-vibhulaanandh opened #815 "bootstrapACLs failed to initialize in https"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue

I'm using the helm deployment of consul. It seems the connection refused errors where because I had enabled TLS encryption and disabled the http port. It works when I leave the http port enabled. How to make consul-server-acl-init in helm config to try

[2021-02-09 09:10] ram-vibhulaanandh commented on #182
@lkysow opened it here [here](https://github.com/hashicorp/consul-helm/issues/815)

[2021-02-09 09:33] ram-vibhulaanandh opened #816 "Deploy Vault and consul agent in same pod with TLS using helm"
#### Question

I m planning to use Vault Service as HA with Consul Backend with TLS using helm deployment for both consul and vault.

I have already deployed consul using helm deployment in my EKS cluster. This would deploy consul client as a daemonset and consul server as a pod
When the vault is deployed using helm, my vault server has to interact with consul client instead of consul server.
The

[2021-02-09 12:36] whiskeysierra commented on #811
Ok, so let me try to summarize my learnings when doing this by hand so far.

## Goal

- no tokens in kubernetes secrets
- everything as infrastructure-as-code (in our case terraform)
  - incl. consul setup like ACL policies etc.

## What I did

1. ACL auth method for kubernetes
2. ACL policies, roles and binding rules
   - 1 set for the consul agents/clients
   - 1 set for the consul connect injec

[2021-02-09 15:09] thisisnotashwin commented on #815
Hey @ram-vibhulaanandh ,

To enable TLS on the consul cluster and also manage ACLs, you will have to populate certain other values in your helm values file. Many of the fields that have been provided to the server and client extraConfig can be provided as helm values as below:
[code]

[2021-02-09 15:28] thisisnotashwin commented on #816
Hey @ram-vibhulaanandh,

You might be able to get around this a few ways.
While create the client certificate, once could pass the following flags:
[code]

You could create a kubernetes service that can interact with the client and provide the kubeDNS name to the additional DNS name flag above. In its current configuration, I dont think you can have a vault container and consul container deployed

[2021-02-09 15:46] thisisnotashwin commented on #809
@UlaganathanNamachivayam We are trying to reproduce this on our end. We suspect it might have to do with the overhead of needing to setup internal structures for clusters with all their connection pools, buffers when the gateway pod is just starting up. We will investigate this some more on our end and get back to you!

[2021-02-09 17:00] david-yu commented on #803
Hi @iameli, thank you for the incredible detail and its good to hear you are finding Consul working well at LivePeer. Unfortunately as @ndhanushkodi had mentioned that the use case for running multiple Consul clusters on a single set of servers is incredibly hard for us to support in Consul. You can definitely continue to work on customizing your own Helm chart to support this use case, however, i

[2021-02-09 17:49] thisisnotashwin commented on #816
@ram-vibhulaanandh Could you disable auto-encrypt in this case? That would allow you to mount the consul CA cert into the vault pods then as the certificate will be available as a secret. Auto-encrypt is not the greatest fit for this particular use-case.

[2021-02-10 07:44] ram-vibhulaanandh commented on #816
@thisisnotashwin I have exposed consul client as svc named it as "consul-client-svc.vault.svc.cluster.local". Even after providing additional-ipaddress and additional-dnsname  for consul client certs, I'm getting this below error
` storage migration check error: error="Get "https://consul-client-svc.vault.svc.cluster.local:8501/v1/kv/vault/core/migration": x509: certificate is valid for client.dc1

[2021-02-10 07:48] ram-vibhulaanandh commented on #815
@thisisnotashwin Cool this actually works. Thanks a lot. Before I close this issue, I have few doubts about consul tls certificate . Will consul rotates certificates automatically? or do i need to redeploy the consul cluster after updating certs manually after the expiration date?

[2021-02-10 15:15] enibache opened #820 "hashicorp/consul-helm won't deploy on k8s 1.18.x"
Please search the existing issues for relevant questions, and use the reaction feature (https://blog.github.com/2016-03-10-add-reactions-to-pull-requests-issues-and-comments/) to add upvotes to pre-existing questions.

#### Question

Please provide as many details as you can, including but not limited to
- Helm command you're running
- Any values you've configured
- Your current understanding, and

[2021-02-10 15:22] thisisnotashwin commented on #820
Hey @enibache !! Thanks for raising this issue. The `ingress` service in the latest release of helm has an issue in it as it was tagged with the wrong API version. This bug has been fixed on the `master` branch of consul-helm. Current workaround and currently disabling ui.ingress in the helm values file and explicitly creating an Ingress resource with the supplied values. The alternative would be

[2021-02-10 15:25] thisisnotashwin commented on #815
Consul on Kubernetes currently does not support CA certificate rotation. The latest version does support server certificate rotation though. But for the to work, it also needs to create the server certificate. This can be enabled in the above config by not providing server certificates yourself and letting the helm chart manage the certificates for you. You will need to restart the server pods in

[2021-02-10 15:37] thisisnotashwin commented on #816
@ram-vibhulaanandh That seems surprising. Can you verify that the client are using the updated certificates and also that the vault pod is presenting the newly generated certificate? Some components will potentially need a restart even if the secrets have been updated.
In the above case I suspect the difference might have to do with "consul-client-svc.vault.svc.cluster.local" vs "consul-client-svc

[2021-02-10 15:55] enibache commented on #820
Hi @thisisnotashwin, thanks very much for the prompt response. Very much appreciate your suggestions as well. I thought i was deploying the chart on the master branch. Could you please give me a directive on how to refer to the chart on the master branch.
Once again many thanks and keep up the good job.

[2021-02-10 16:00] thisisnotashwin commented on #820
Hey @enibache !!
You would have to `git checkout` this repo explicitly and perform a `helm install` using the chart from your filesystem.

Appreciate the kind words a lot :)

[2021-02-10 16:37] thisisnotashwin commented on #816
In either case, I think using the `HOST_IP:8501` is the best next step, given it will avoid the un-necessary hop of kube-dns 😄
Hope that helps.

[2021-02-10 16:59] lkysow commented on #809
@UlaganathanNamachivayam can you help us with how to reproduce? What steps would we take.

[2021-02-10 17:11] lkysow commented on #809
Also do you have the graphs on memory usage where it's spiking?

[2021-02-10 18:05] thisisnotashwin commented on #816
@ram-vibhulaanandh I think this comment here addresses the same problem: https://github.com/hashicorp/consul-helm/issues/784#issuecomment-767118078

[2021-02-11 04:21] ram-vibhulaanandh commented on #815
@thisisnotashwin Thank you so much for your explanations

[2021-02-11 04:23] #815 closed

[2021-02-11 04:57] ram-vibhulaanandh commented on #816
Yes I uninstalled completely and redeployed.Not sure why the dns names are not resolved. 172.38.0.14 is the host ip. Since it is working, I'm using this workaround

[2021-02-11 14:13] thisisnotashwin commented on #816
@ram-vibhulaanandh Awesome!! I'm glad you're unblocked. Would you mind if I closed this issue?

[2021-02-11 21:56] drfooser opened #825 "Critical Error in K8s envoy sidecar log cause the container to fail init"
Can you provide a sample proxyDefaults json cfg that produces zipkin tracing for envoy sidecar in consul-helm?

I am trying to configure Zipkin tracing in envoy proxy in K8s. After deploying test pod into K8s cluster with consul connect set for automatic sidecar injection, the pod errors at init and I get this error in the envoy sidecar container log.

[2021-02-11 20:06:05.149][1][critical][main]

[2021-02-11 22:11] thisisnotashwin commented on #825
Hey @drfooser

This does not strictly answer the question. We are trying to figure out what the error in the config might be. On an aside though, we will be deprecating using the central config in favor of using CRDs from the next helm release.
We will provide docs regarding migrating from `centralConfig` to CRDs but it might be worthwhile checking out https://www.consul.io/docs/connect/config-ent

[2021-02-12 04:43] ram-vibhulaanandh commented on #816
Sure.. Closing it

[2021-02-12 04:43] #816 closed

[2021-02-12 13:50] thisisnotashwin commented on #825
Can you try this config:
[code]

[2021-02-12 14:04] tjhiggins commented on #371
Having the same issue. Finding the acl management to be extremely fragile.

[2021-02-12 14:15] korjek commented on #410
@david-yu awesome! thank you!

P.S. I'm not the author of this ticket, but it looks like this ticket can be closed now.

[2021-02-12 14:36] #410 closed

[2021-02-12 20:01] drfooser commented on #825
I deployed the proxyDefaults to a fresh K8s cluster and the same consul helm installation. I deployed test pod and validated all containers started - no errors in the envoy sidecar. I see these log entries in the envoy sidecar log:
2021-02-12 18:21:11.625][1][debug][config] [source/common/config/grpc_mux_impl.cc:110] Resuming discovery requests for type.googleapis.com/envoy.config.route.v3.RouteCo

[2021-02-12 20:11] drfooser commented on #825
I should mention that the applied proxydefaults shows as "SYNCED"=false.
DAL >k get proxydefaults
NAME     SYNCED   AGE
global   False    109m

Not sure if the below is relevant, but consul sycCatalog looks to be disabled - this below from the applied helm config values.yaml
=============================================
syncCatalog:
  # True if you want to enable the catalog sync. Set to "-" to in

[2021-02-12 21:54] lkysow commented on #825
Can you show us the output of `kubectl describe proxydefaults global`

[2021-02-15 18:20] enibache commented on #820
thanks @thisisnotashwin, not quite an ideal solution but works for now. Many thanks !

[2021-02-15 18:20] #820 closed

[2021-02-16 22:30] maxmadell opened #831 "Consul (tls) + Vault (tls + ha + raft) on Kubernetes via helm"
Hello,

I've been attempting to setup a cluster with Consul + Vault + all the tls/ha trimmings via your helm charts.

#784 helped with retrieving the Consul Connect ca, however where can I get the corresponding crt + key (replacing the erroneous `consul-ca-cert` `consul-ca-key` in the stanzas below `vault-vaules.yaml`)?

Thanks in advance :)

[code]

[code]

[code]

[2021-02-18 08:27] pedrohdz commented on #820
@enibache
This appears to have been fixed in `0.30.0`, which was release yesterday.

[2021-02-18 20:03] lkysow commented on #717
Hi we're going to close this because we haven't heard back.

[2021-02-18 20:03] #717 closed

[2021-02-18 20:05] lkysow commented on #751
This might actually have been an AKS bug (https://github.com/Azure/AKS/issues/2070). This is now fixed so I'm going to close this.

[2021-02-18 20:05] #751 closed

[2021-02-18 20:05] lkysow commented on #761
Closing because AKS fixed this.

[2021-02-18 20:05] #761 closed

[2021-02-18 20:05] lkysow commented on #767
@shellfu did you manage to repro this?

[2021-02-18 20:06] lkysow commented on #801
I'm going to close this for now since we haven't heard back but if you get back to us we can re-open.

[2021-02-18 20:06] #801 closed

[2021-02-18 20:36] kschoche commented on #831
Hi @maxmadell, thank you for filing this issue.

It's a bit unclear to me what your final goal here is with running Vault and Consul together.
A couple common use cases are
* [Consul as a storage backend for Vault](https://www.vaultproject.io/docs/configuration/storage/consul).
* [Vault as a secrets engine for Consul](https://www.vaultproject.io/docs/secrets/consul)
But it does not appear to me th

[2021-02-18 21:36] lkysow commented on #831
I think what's a bit confusing is that in https://github.com/hashicorp/consul-helm/issues/784 you're using Consul as the backend but here you're configuring Vault to use its own raft storage as the backend (https://www.vaultproject.io/docs/platform/k8s/helm/examples/ha-with-raft). In this case you don't need Consul at all.

[2021-02-18 22:29] maxmadell commented on #831
That is indeed confusing; I am using consul as a backend. I was using #784 as a guide, so not sure how raft got in there! Good spot @lkysow

I see the issue I was having now.

I mistakenly assumed `global.tlsDisable=true` being similar to the consul chart `global.tls.enabled/enabledAutoEncrypt`, in that is generated everything needed for TLS.

Apologies, raising this as an issue was premature.

Th

[2021-02-18 22:45] drfooser commented on #825
Thank you for helping.

$ kubectl describe proxyDefaults global
Name:         global
Namespace:    default
Labels:       <none>
Annotations:  API Version:  consul.hashicorp.com/v1alpha1
Kind:         ProxyDefaults
Metadata:
  Creation Timestamp:  2021-02-18T22:37:58Z
  Finalizers:
    finalizers.consul.hashicorp.com
  Generation:  2
  Managed Fields:
    API Version:  consul.hashicorp.com/v1alpha1

[2021-02-19 15:05] kschoche commented on #825
hi @drfooser !
Based on this error :
[code]
It looks like you'll need to migrate your config entries from Consul to Kubernetes CRDs in order to manage it from Kubernetes.
Here is a guide which should walk you through doing so: https://www.consul.io/docs/k8s/crds/upgrade-to-crds#migrating-config-entries

Can you give that a try and let us know how it goes for you?

[2021-02-19 15:48] mrad-bilel opened #835 "Upgrade "consul" failed: post-upgrade hooks failed: timed out waiting for the condition"
### Overview of the Issue

consul upgrade failed

### Reproduction Steps

1.Upgrade has been done automaticly as i installed consul with Fluxcd helm Operator and referencing master branch:
[code]
### Environment details

If not already included, please provide the following:
- `consul-k8s` version: EKS v1.16.8
- `consul-helm` version :consul-0.25.0
- `values.yaml` used to deploy the helm chart:
[c

[2021-02-19 17:49] kschoche commented on #835
Hi @mrad-bilel thank you for filing this issue!

It would be really helpful if you could provide a bit more information here so we can try to track down the problem.
You mentioned that you were upgrading consul but I'm not sure what versions of consul you are upgrading from and to.
Could you provide the logs from consul servers that have failed to upgrade?
One other thing that would be helpful is

[2021-02-19 17:59] drfooser commented on #825
Based on the procedure you pointed me to, I applied a single change to the global proxyDefaults in the K8s cluster. I added the annotation to migrate the entry.

This is what I applied with kubectl.
apiVersion: consul.hashicorp.com/v1alpha1
kind: ProxyDefaults
metadata:
  name: global
  annotations:
    'consul.hashicorp.com/migrate-entry': 'true'
spec:
  config:
    envoy_tracing_json: "{ \"http\

[2021-02-19 18:55] kschoche commented on #825
hi @drfooser, this is strange indeed.
Can you confirm which version of consul and consul-k8s you're running? it's possible that we have a mismatch and may need to do things manually to start.

thanks!

[2021-02-19 20:31] mrad-bilel commented on #835
Hello @kschoche Thanks for the update .

[code]
We deployed consul with HelmRelease CRD using Fluxcd

[2021-02-22 09:22] soonoo opened #838 "keyring api is not working with server.exposeGossipAndRPCPorts and client.exposeGossipAndPorts"
### Reproduction Steps

I installed consul chart with the following `values.yml`.
[code]

keyring api faile then.
[code]

It works with `local-only=true` parameter.
[code]
### Logs
There is nothing special in error log, it simply says that error occured.

### Environment details

- `consul-k8s` version: latest
- `consul-helm` version: latest

[2021-02-22 14:39] drfooser commented on #825
I'm guessing as to how to confirm the answer to your question.

the consul binary on my workstation (used to create TLS keys and such):
$ consul -version
Consul v1.9.0
Revision a417fe510
Protocol 2 spoken by default, understands 2 to 3 (agent will automatically use protocol >2 when speaking to compatible agents)

the version of consul-k8s demanded from the values.yaml file of helm chart consul-0.2

[2021-02-22 14:42] drfooser commented on #825
I forgot to add the consul binary version present in the server pods:
$ kubectl exec consul-server-0 -- consul -version
Consul v1.9.2
Revision 6530cf370
Protocol 2 spoken by default, understands 2 to 3 (agent will automatically use protocol >2 when speaking to compatible agents)
________________________________
From: Paul Dillon <Paul.Dillon@interoptechnologies.com>
Sent: Monday, February 22, 2021

[2021-02-22 17:11] lkysow commented on #825
Hi, yes you'll need to upgrade to the latest Helm chart version (0.30.0) which includes consul-k8s 0.24.0. See https://www.consul.io/docs/k8s/upgrade#helm-chart-version-upgrade for upgrade instructions. After upgrade, run `kubectl describe proxydefaults global` again.

[2021-02-22 21:52] drfooser commented on #825
OK maybe I screwed up by not following your directions explicitly. After upgrade I deleted the global proxyDefaults and re-applied before checking the describe.

  1.  I upgraded the helm chart to version to consul-0.30.0 with this command:
$ helm upgrade consul-override-0.29.v1.0.debug hashicorp/consul --version 0.30.0 --set 'client.extraConfig="{"log_level": "DEBUG"}"' --set 'global.datacenter=f

[2021-02-22 22:40] lkysow commented on #825
So we're getting close. The migration to CRD failed:

[code]

Because the CRD's data is different than what's currently in Consul. So what you'll need to do is first, change the CRD to match what's in Consul and then second, once the sync works, then you're free the change it to your desired configuration.

The CRD that would match (step 1) is:
[code]

The other option would be for you to delete t

[2021-02-23 15:39] drfooser commented on #825
OK I took the later approach and deleted the existing proxyDefaults from consul-server-0 and (viola!) it synced. Thank you very much!
Though this is still not producing any tracing. I can see the tracing block and the in the sidecar config. I can also see the tracing cluster definition too. I thought maybe it I needed to add a listener, so I added envoy_extra_static_listeners_json that resulted in

[2021-02-23 17:04] #838 closed

[2021-02-23 17:04] lkysow commented on #838
Hi, this will be fixed in the next release. Until the release you could use the helm chart from `master`.

[2021-02-23 19:35] mrad-bilel commented on #835
Any update please

[2021-02-23 20:37] lkysow commented on #835
Hi @mrad-bilel, we're unfamiliar with this deployment mechanism. Can you please give us step-by-step instructions for how to reproduce?

One thing that I can say is that usually `Upgrade "consul" failed: post-upgrade hooks failed: timed out waiting for the condition` is due to one of the Helm hooks not finishing. I'd look for any pods/jobs that are failing or pending.

[2021-02-24 01:54] Rwing opened #842 "Export -ui-content-path option in value.xaml?"
https://www.consul.io/docs/agent/options#_ui_content_path

It looks like the option ui-content-path cannot be change when using helm now

[2021-02-24 02:24] lkysow commented on #842
Hi, I think this was fixed in https://github.com/hashicorp/consul/pull/9569. Are you running a Consul version >= 1.9.2?

[2021-02-24 02:41] Rwing commented on #842
Sorry, I probably didn't make myself clear, I meant there is not ui-content-path option in value.xaml, I want to control it to add -ui-content-path option in command line, like this
https://github.com/hashicorp/consul-helm/blob/ae54c22aa2f5e5df057d7f1fff7f4df72fdd7af5/templates/server-statefulset.yaml#L203

[2021-02-24 08:47] soonoo commented on #838
Thank you @lkysow
Can you tell me when the next release date is?

[2021-02-24 14:10] devilmind81 commented on #518
Hi all,
supposing that I have 2 datacenters (DC1 and DC2) federated by a mesh gateway.
Then  I have an ingress gateway only in the DC1, is it possible to use this ingress gateway to reach a service registered in the DC2 ?
I cannot find a way to specify the destination datacenter to ingress gateway upstream.
Can you help me?

Thanks a lot

[2021-02-24 14:38] devilmind81 opened #843 "Ingress Gateway Upstream Configuration"
Hi all,
I'm using consul 1.9.1 and I have 2 datacenters (DC1 and DC2) wan federated by a mesh gateway.
Then I have an ingress gateway only in the DC1, is it possible to use this ingress gateway to reach a service registered in the DC2 ?
I cannot find a way to specify the destination datacenter to ingress gateway upstream.
Can you help me?

Thanks a lot

[2021-02-24 16:03] #843 closed

[2021-02-24 17:25] lkysow commented on #842
You can use the following to set it:

[code]

[2021-02-24 17:26] lkysow commented on #838
Sorry we don't yet have clarity on that. Typically we release once every ~6 weeks but that depends on other factors as well.

[2021-02-24 21:12] mrad-bilel commented on #835
@lkysow The recommaned way to install cosul is via a helm chart so insted of doing it manualy i used Fluxcd , values are descrided below

[code]

[2021-02-24 22:01] aackerman opened #845 "Please improve docs for enabling tls auto encrypt"
#### Is your feature request related to a problem? Please describe.

I attempted to enable tls auto encrypt using the consul helm chart, following standard processes like setting the server partition to the server count and applying the helm chart. However the helm chart isn't setup in a way that really makes it possible to flip `enableAutoEncrypt` from `false` to `true`.

It seems like the expect

[2021-02-25 02:51] Rwing commented on #842
Okay, Thank you very much!

[2021-02-25 02:51] #842 closed

[2021-02-26 17:46] lkysow commented on #835
Hi, can you give more explicit instructions for a cluster starting from scratch?

e.g. do I follow this first? https://toolkit.fluxcd.io/get-started/

[2021-03-01 10:24] weitzjdevk opened #848 "Does not work with single-node Kubernetes Cluster using kind"
### Overview of the Issue

The consul-helm chart fails to be used on single-node Kubernetes Clusters, which are bootstrapped with `kind` (Kubernetes in Docker), when you want to install the consul-agent (in clientmode) and consul-agent (in servermode) on the same node-instance.

Reason being is:

`kind`  uses the same host-node to install multiple pods, and the consul-helm chart uses the host-node

[2021-03-01 17:08] lkysow commented on #848
Hi, I'm unable to reproduce this:

[code]

[code]

[code]

[code]

Here you can see the two node IDs are: `84215ab9-0f23-04b6-1718-8732bf5b7482`, `b5c07ce0-be48-8bea-66ce-796f9d3db46f`. And I see no errors in the logs.

In regards to `-disable-host-node-id`, this flag is only set on the client pod so the server pod will use a different ID.

[2021-03-02 21:42] #831 closed

[2021-03-03 11:12] ram-vibhulaanandh commented on #815
@thisisnotashwin , With this configuration, when the cluster is up,  I can see that verify_incoming is set to false. only verify_outgoing is set to true.
If i provide "verify_incoming": true in extraConfig. Cluster is not coming up successfully. How can i make TLS verification to be enabled on client and server?

[2021-03-03 15:46] thisisnotashwin commented on #815
@ram-vibhulaanandh I think in this situation, you should be able to `verify_incoming_rpc` but I think it fails because AFAIR the client making the request does not have the client certificate in this situation. Can you try enabling the above and verifying if that works?

[2021-03-03 21:01] lkysow commented on #825
Hi, I think your static cluster is the issue. I think it should be:
[code]

[code]

[2021-03-03 21:17] lkysow commented on #825
I should also add that your app must be forwarding the zipkin headers. If you're using a jaeger-only app it may not be doing that.

Example app:
[code]

[2021-03-04 07:36] ram-vibhulaanandh commented on #815
@thisisnotashwin Since I set these in helm values,
[code]
verify (boolean: true) - If true, verify_outgoing, verify_server_hostname, and verify_incoming_rpc will be set to true for Consul servers and clients.
So therefore it is true by default.

Now any workaround to make verify_incoming: true? Also I have provided server certificates and provided additional dns names . When Acl init job bootstrap

[2021-03-04 11:04] lemonit-eric-mao opened #850 "Error: YAML parse error on consul/templates/server-statefulset.yaml: error converting YAML to JSON: yaml: line 43: did not find expected '-' indicator"
#### Overview of the Issue

K8s helm installation failed

https://learn.hashicorp.com/tutorials/consul/kubernetes-deployment-guide#deploy-consul

#### Reproduction Steps

[code]

[2021-03-04 17:26] david-yu commented on #850
Hi @lemonit-eric-mao could you provide your Helm values file? I suspect some kind of parse/syntax error around the cpu limit and memory configuration, perhaps a whitespace issue?

[2021-03-04 17:31] enuoCM opened #851 "[injector] consul-connect-injector-webhook fails the injection after restarted"
Pod consul-connect-injector-webhook and a sample Pod A(with connect-inject true, has there containers: Service A, envoy-sidecar and consul-sidecar) both ran well on node A at beginning. For some reason, node A was down and never came back(all status of pod changed to Terminating), then consul-connect-injector-webhook and A were redeployed on node B.  But the new Pod A had no connect injected, it h

[2021-03-04 17:37] whiskeysierra commented on #851
Most likely a race condition of the injector is not yet running.

[2021-03-04 17:49] kschoche commented on #851
Hi @enuoCM ! Thanks for filling this issue!
Without additional logs/info my initial guess is that when your node went down which also was running the webhook, kubernetes redeployed your pod's deployment before redeploying the webhook deployment. Unfortunately this is a race condition which could happen.

We are currently working on a new feature for the next major release which will also bring HA

[2021-03-04 18:30] ishustava commented on #815
Hey @ram-vibhulaanandh

From a security perspective, if you are using ACLs + TLS, you don't need to verify_incoming for HTTPS calls because ACLs should provide that authentication instead. That's why we're setting only the verify_incoming_rpc value for client->server calls. For the client-to-server calls, we also rely on ACLs but we're using this setting because that makes servers enforce only TLS

[2021-03-04 18:44] whiskeysierra commented on #851
That's going to be tricky with the webhook issuing self signed certificates, right?

[2021-03-04 19:00] kschoche commented on #851
Yup, good pointl! Without going into too much detail in this thread, we will use the webhook-cert-manager for this.

[2021-03-04 21:29] drfooser commented on #825
Luke,
Thank you for helping me! This last email seems to address my trouble. I'm still not 100% certain but I should tell you that I applied the data from both your emails from yesterday and the result is the service-a test pod sends traces, my existing test pods do not. This indicates that the most likely problem is the test pods I have been using are not instrumented properly.

I apologize for s

[2021-03-04 21:51] lkysow commented on #850
Hi, it looks like those values in that tutorial are out of date. These should work:
[code]

We'll update the tutorial.

[2021-03-04 22:01] lkysow commented on #825
Hi Paul no worries!

This 100% needs better documentation from our side so again we apologize for the difficulties. I also ran into the same issue using the jaeger tracing library. I haven't had time to dig into it but I think that maybe that library uses different headers than the envoy zipkin integration is expecting.

[2021-03-05 03:46] enuoCM commented on #851
@kschoche Thanks. Race condition should be the reason. Is it true that we can only deploy one consul-connect-injector-webhook with latest "0.30.0" version?

[2021-03-05 04:12] ram-vibhulaanandh commented on #815
@ishustava The reason why i need is for security perspective . Make sense now! Thanks for clarification

[2021-03-05 08:46] Sanoj-kumar-DevOps opened #852 "Readiness probe errored: rpc error: code = Unknown desc = command error: EOF, stdout: , stderr: , exit code -1"
I'm unable to run consul on our cluster .It was not working on version 0.29.0 later upgraded to 0.30.0 still I got the same Issue .Please refer the  data given below and let me know.

Values:
global:
  name: consul
  image: hashicorp/consul:1.9.3
  datacenter: hcl-stage-dc

  gossipEncryption:
    secretName: consul-gossip-encryption-key
    secretKey: key

x-extraConfig: &extra
  extraConfig: |

[2021-03-05 10:21] Sanoj-kumar-DevOps commented on #852
Name:         consul-server-0
Namespace:    consul
Priority:     0
Node:         k8s-worker02/10.20.128.102
Start Time:   Fri, 05 Mar 2021 09:55:58 +0100
Labels:       app=consul
              chart=consul-helm
              component=server
              controller-revision-hash=consul-server-6bcd7c89b7
              hasDNS=true
              release=consul
              statefulset.kubernetes.io

[2021-03-05 10:24] Sanoj-kumar-DevOps commented on #852
NAME    NAMESPACE       REVISION        UPDATED                                 STATUS          CHART           APP VERSION
consul  consul          2               2021-03-05 11:06:25.2699097 +0100 CET   deployed        consul-0.30.0   1.9.3

[2021-03-05 17:17] ishustava commented on #851
Hey @enuoCM, yes currently you can have only a single instance of the webhook.

[2021-03-05 17:31] ishustava commented on #852
Hey @Sanoj-kumar-DevOps

Could you provide us with a bit more info?

1. The logs of the failing consul servers
2. The Kubernetes distribution and version you are using

[2021-03-05 19:31] lkysow commented on #852
@Sanoj-kumar-DevOps can you please follow our issue template when submitting bugs. This is what it needs to look like so we can effectively respond:

---

When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue

A paragraph or two about the issue you're experiencing.

### Reproduction Steps

Steps to reprodu

[2021-03-05 20:07] Sanoj-kumar-DevOps commented on #852
@ishustava  Thank you for the quick response .Our applications are running on vmware Ubuntu 20.04.

Please find the attached for logs .

Client Version: version.Info{Major:"1", Minor:"20", GitVersion:"v1.20.2", GitCommit:"faecb196815e248d3ecfb03c680a4507229c2a56", GitTreeState:"clean", BuildDate:"2021-01-14T18:56:46Z", GoVersion:"go1.15.6", Compiler:"gc", Platform:"linux/amd64"}

[server-1.txt](ht

[2021-03-05 20:46] ishustava commented on #852
It looks like your servers aren't configured with gossip even though you're setting the gossip encryption key.

Could you include a values file that is properly formatted as YAML? I can't tell from yours if some values are ignored because of the indentation or something like that.

[2021-03-06 07:32] enuoCM commented on #851
Hi @ishustava, is there any way to deploy more webhooks currently?

[2021-03-08 18:01] ishustava commented on #851
Not at the moment, unfortunately, but we are working on fixing that right now, so hopefully you will be able to soon!

[2021-03-08 18:42] whiskeysierra commented on #851
Shouldn't that be possible if one would use its own certificate, rather than letting the webhook generate its own?

[2021-03-08 18:46] kschoche commented on #851
In addition to the cert issues, the health check controller and the cleanup controller would also need work to enable more than one copy of the webhook to run. These are also being addressed by the work I mentioned above.

[2021-03-09 07:36] Sanoj-kumar-DevOps commented on #852
Acttached is a copy of our consul  and vault config .Please let me know if you require anything else.

[Consul.yml.txt](https://github.com/hashicorp/consul-helm/files/6106669/Consul.yml.txt)
[Vault.yml.txt](https://github.com/hashicorp/consul-helm/files/6106671/Vault.yml.txt)

[2021-03-09 13:48] enuoCM commented on #851
Hi, do you mean by following configuration in values.yaml?
`  # The certs section configures how the webhook TLS certs are configured.
  # These are the TLS certs for the Kube apiserver communicating to the
  # webhook. By default, the injector will generate and manage its own certs,
  # but this requires the ability for the injector to update its own
  # MutatingWebhookConfiguration. In a product

[2021-03-09 20:05] ndhanushkodi commented on #852
Hey @Sanoj-kumar-DevOps I tried to helm install the chart 0.30.0 with your Consul values, after creating the gossip secret using `kubectl create secret generic consul-gossip-encryption-key --from-literal=key=$(consul keygen)` and it installed successfully on GKE 1.16.15.

So maybe it has to do with the environment you're installing in, or the networking setup between the nodes. Can you confirm tha

[2021-03-10 05:52] lemonit-eric-mao commented on #850
@lkysow Hello, thank you for your answer. I tried this one config.yaml After that, the following problems still exist. Please help us confirm the reason for the problem
[code]

[2021-03-10 06:11] ndhanushkodi commented on #850
It looks like `disk` is not configurable via the helm values. (If you want to set storage size for the server see [this](https://www.consul.io/docs/k8s/helm#v-server-storage) helm value). Here's the values @lkysow provided without the disk settings:

[code]

[2021-03-10 08:33] Sanoj-kumar-DevOps commented on #852
Hey @ndhanushkodi , Thank you for the quick response. Let me check the connection and let you know the outcome ASAP

[2021-03-10 21:53] #850 closed

[2021-03-15 09:06] Sanoj-kumar-DevOps commented on #852
Hello @ndhanushkodi , The problem was with  CRI-O sockets. We have upgraded from 1.17.4 to the latest version and it worked :)

[2021-03-15 09:06] #852 closed

[2021-03-16 12:25] ElSamhaa commented on #758
does this work work with Nginx controllers?

[2021-03-16 12:31] mbu147 commented on #758
we use consul-ui with nginx ingress on Rancher RKE with out problems
in our consul helm deployment we add a custom yaml with ingress definition

[2021-03-16 14:36] thisisnotashwin commented on #851
Hey @enuoCM ,

As @kschoche and @ishustava have mentioned, at the moment, even setting those values for now will not strictly help with the above solution as certain components of the connect-injector webhook are not designed for HA. We are working on updating that behavior so that in the future, you will be able to run multiple instances of the same.
The values that you have highlighted will be d

[2021-03-16 14:39] thisisnotashwin commented on #758
@ElSamhaa Could you share the error you are seeing? We did test this with an Nginx controller on GKE and that did work in our testing. Did the Ingress controller not reconcile the Ingress resource that was created?

[2021-03-17 06:40] ElSamhaa commented on #758
@mbu147 @thisisnotashwin I've been able to make some progress.

However, the paths I've been passing to the helm chart don't work.

[code]
The ingress always registers the root path `/` and not `/consul`, so it gives me `404` when I try something like `localhost/consul`.

[2021-03-17 11:23] GuusDeGraeve opened #865 "consul resource requests default to very low values"
### Overview of the Issue

The consul helm chart specifies very low values by default as Kubernetes resource requests.

[code]

These values seem way below the consul hardware requirement specs for production usage. Wouldn't it be better to either get rid of these default values and just do `resources: {}` like the vault helm chart does or change these values to be more in line with the hardware r

[2021-03-17 14:03] thisisnotashwin commented on #865
Hey @GuusDeGraeve !! Thanks for bringing up this issue. We specified lower request limits explicitly because many of our users were deploying Consul in resource constrained requirements and requested defaults that allowed for Consul to get deployed in said environments.

We have had conversations about potentially increasing these defaults but have landed on allowing them to be their existing valu

[2021-03-17 14:09] thisisnotashwin commented on #758
Hey @ElSamhaa ! Can you try the following command

[code]

The ingress config supports having a []paths per host and I suspect this was a configuration issue

[2021-03-17 14:22] ElSamhaa commented on #758
@thisisnotashwin thanks, I think this is it.

[2021-03-17 21:00] nflaig opened #866 "Envoy sidecar shutting down to early causes requests to fail"
Hey guys,

during a rolling update (pod termination) we are getting 502 errors in nginx for upstream requests. This happens because the load balancer in k8s still sends requests to the terminating pod due to the fact that the endpoint deregistration happens asynchronously, see https://github.com/kubernetes/kubernetes/issues/43576.

For nginx itself I was able to resolve this race condition issue b

[2021-03-17 21:26] thisisnotashwin commented on #866
hey @nflaig !! Thanks so much for bringing this to our attention. Also, the attention to detail as well as the suggestions in the issue are really appreciated!!

The team is stretched a little thin at the moment and we might not be in a position to solve this in the next release but will try and prioritize this for the one after.

Will keep this issue updated with the status of the fix! Thanks aga

[2021-03-18 13:14] petrukngantuk opened #869 "Consul Helm Sync Catalog Crashloopback because ReadinessProbe"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue

`consul-sync-catalog` crashloopback because kubernetes detect readiness probe have 500 response

### Reproduction Steps

Steps to reproduce this issue, eg:

1. When running helm install with the following `values.yml`:
[code]
1. View error

### Logs

I

[2021-03-18 17:33] drfooser commented on #825
I have pods generating traces now and they are getting delivered to the jaeger collector.
Thank you for your helm @lkysow !
I think this issue can be closed.

[2021-03-18 17:33] #825 closed

[2021-03-18 17:33] drfooser commented on #825
Thanks again @lkysow !
You helped a ton.

[2021-03-19 01:21] mogggggg opened #872 "New kubeVersion requirement blocks deployments on EKS"
Hey there,
There was a [recent PR](https://github.com/hashicorp/consul-helm/pull/870) adding a `kubeVersion` requirement to the Helm chart - unfortunately this stops deployment on EKS.

I'm using the latest version of the chart (`1.31.0`) and the latest version of EKS (`1.19`) but when I try to deploy I get the following error:
[code]

[2021-03-19 02:05] david-yu commented on #872
@mogggggg Thanks for the heads up. We'll look into this tomorrow, its interesting that it fails on EKS K8s 1.19 when that is greater than 1.13. You should be able to just remove that line from Chart.yaml for now.

[2021-03-19 02:36] mogggggg commented on #872
Thanks @david-yu! Yup, it's not a big deal for us, we're using `0.30.0` instead.

I haven't done any testing but I assume it's because AWS suffix the version number with their own info - let me know if you want me to check anything.

[2021-03-19 02:45] david-yu commented on #872
No problem, we definitely want you to try out the latest and greatest without having to manually modify the chart. We should have a release that reverts this tomorrow! Sorry for the inconvenience.

[2021-03-19 06:51] tbuchier commented on #872
Hello, same error here, we were waiting for the v0.31.0 for the metrics support, so I guess i'll override the Chart.yaml until it's fixed.

[2021-03-19 08:50] enuoCM opened #874 "consul-connect-injector-webhook can not be restarted"
### Overview of the Issue

After the node  which running consul-connect-injector-webhook pod down, then consul-connect-injector-webhook can not restarted with followings error:

### Reproduction Steps

Steps to reproduce this issue, eg:

1. When running helm install with the following `values.yml`:
[code]
1. View error

### Logs
<details>
  <summary>Logs</summary>

[code]

</details>

### Expected

[2021-03-19 17:07] #872 closed

[2021-03-19 18:56] david-yu commented on #262
Hi @faheem-nadeem I'm going to close this as we have an identical issue #494. Thank you for filing, this is on our radar but not something we have planned on doing in the short term.

[2021-03-19 18:56] #262 closed

[2021-03-19 19:17] ishustava commented on #872
Hey all! Sorry about that!

We've just released a patch release [v0.31.1](https://github.com/hashicorp/consul-helm/releases/tag/v0.31.1) that should fix this issue.

Let us know if you still see problems!

[2021-03-21 04:22] tbuchier commented on #872
Working well now, thanks for the quick fix :)

[2021-03-22 16:59] kschoche commented on #874
Hi @enuoCM thanks for filing this issue!
Could you provide a bit more information here about your setup?
What type of k8s provider are you using and what type of nodes? Are these nodes under heavy utilization?
Are  other pods having issues?
It looks like the k8s cluster is unhealthy in general based on the client-go messages.

[2021-03-22 17:50] kschoche commented on #869
Hi @petrukngantuk  thanks for filing this issue!
It looks like the readiness probe is failing because catalog-sync is unable to reach a healthy server in the cluster where quorum has been established already.
Could you also provide a bit more information about your cluster as well as the output of `kubectl get pods` showing that the other server nodes are online and healthy?

[2021-03-22 19:14] Tzvonimir opened #879 "CORS and GRPC web issue"
Hey everybody,

I have deployed consul on Kubernetes cluster via helm chart, and that part is working exactly as it is supposed to. On top of that, I have enabled Ingress Gateway with connect inject option and deployed my gRPC gateway behind that proxy. When I try to connect to that proxy, It works for everything except gRPC-web(https://github.com/grpc/grpc-web). I am facing a CORS issue now that

[2021-03-23 00:42] petrukngantuk commented on #869
Added @kschoche

[2021-03-24 16:24] sanminaben commented on #865
I found this github open issue because our recent helm deployed Consul 0.30.0 setup on a four node hardware cluster (installed via RKE) had its consul-consul-server-0 pod that kept crashing soon after startup, because it was exceeding its 100MiB allocation (killed by cgroups). We increased the allocation to 2000MiB (just to ensure there was not going to be another crash) and the pod is now stable.

[2021-03-25 10:09] soonoo commented on #838
Hi @lkysow. Thank you for fixing issue.
After installing the latest release of consul-helm, I'm still getting error.
[code]

Consul servers print out below warning messages. If you have any idea about what I missed, would you let me know?
[code]

[2021-03-25 19:24] david-yu commented on #793
Hi @HofmannZ we have addressed this in https://github.com/hashicorp/consul-helm/pull/883 and this should be resolved with our next Helm release!

[2021-03-25 19:24] #793 closed

[2021-03-25 22:56] kschoche commented on #869
Hi @petrukngantuk - thanks for updating the issue!
The health endpoint for sync-catalog issues a consul client API call to check on the state of the consul cluster, and I noticed that you have clients disabled. When the sync catalog pod gets scheduled on a node which doesn't have a consul agent running it won't be able to complete the API call through the client and it will never become healthy.
I

[2021-03-26 06:41] krishnasingh3 commented on #243
I am facing the same issue. Could you please mention the solution?

[2021-03-27 04:04] enuoCM commented on #874
Hi @kschoche
I used k8s v1.18 and several virtual machine with Ubuntu 16.04.3 LTS as the nodes.
When this issue happened, nodes except the died node were not under heavy utilization and other consul pods worked well.
I deleted the injector-webhook pod, it was redeployed to other node but still failed.
I have to uninstall and reinstall consul completely to recover this issue. Now this issue is not

[2021-03-29 09:53] deepak16795 commented on #808
@lkysow Please find the below logs and let me know in case of any queries

consult-consul-mesh-gateway-79fbb49f78-kqjj2                      0/2     Init:CrashLoopBackOff   7          15m
consult-consul-mesh-gateway-79fbb49f78-mxhgx                      0/2     Init:CrashLoopBackOff   7          15m

cieadmin@master-dev-1:~$ klog consult-consul-mesh-gateway-79fbb49f78-mxhgx
error: a container name

[2021-03-29 17:32] lkysow commented on #865
@sanminaben couple questions:
1. what is RKE?
2. How much memory do you see them using now?
3. Is there anything special about what you're running in your cluster?

Just to note: we run acceptance tests nightly on 4 platforms: AKS, EKS, GKE and kind, and we don't see these issues. However perhaps this is because those clusters aren't overloaded.

We'll watch this issue for 👍 reactions and if a lot

[2021-03-29 18:11] lkysow commented on #838
Hi, this is likely because UDP packets aren't allowed in your network.

[2021-03-29 20:32] lkysow commented on #243
@krishnasingh3 can you please open a new issue and include all the information asked for in the issue template.

[2021-03-29 20:35] lkysow commented on #808
@deepak16795 can you please open up a new issue for your specific problem. Be sure to include all the necessary fields in the issue template.

I'm going to close this issue for now since we haven't heard back from the original issue creator.

[2021-03-29 20:35] #808 closed

[2021-03-30 02:49] petrukngantuk commented on #869
@kschoche I didn't want to enabled the client, btw 😁

[2021-03-30 18:25] #610 closed

[2021-03-30 18:26] lkysow commented on #610
The consul-server statefulset doesn't have any liveness probes so that would have to be another issue.

[2021-03-30 20:22] debjitk opened #888 "Consul agent on Kubernetes"
We are running `Consul` outside `K8s`. Our agents running on `K8s` has the following log output. Totally confused why is this happening. Although agents running outside `K8s` is working fine.

[code]

[2021-03-30 20:34] lkysow commented on #610
Right but that won't result in a crash loop. I think it's okay that it marks the servers as unready until they're ready unless I'm missing something. What effect would increasing period/initial delay have?

[2021-03-30 20:36] lkysow commented on #888
@debjitk can you please open a new issue including all the required fields. That will enable us to help you much quicker.

---

When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue

A paragraph or two about the issue you're experiencing.

### Reproduction Steps

Steps to reproduce this issue, eg:

1. When

[2021-03-30 21:48] debjitk commented on #888
1. We are using EKS (K8s 1.19)
2. Our Consul servers are running outside the Kubernetes (EKS) Cluster
3. The following is our server configuration

[code]

4. The following is our helm chart values for agents running inside eps cluster

[code]

[2021-03-31 03:41] lkysow commented on #879
Hi @Tzvonimir, sorry to hear you're having this issue.

I just tried to get things set up but I think I'm missing things like your helm values file and the Docker image for the gateway (`image: my.image:latest`) and also the search and reservation services.

Can you supply us with simple step by step instructions on how to reproduce this ourselves? In addition can you supply the CORS error you're

[2021-03-31 04:16] lkysow commented on #888
Thanks for that data. I think `but other probes failed, network may be misconfigured` might be because TCP is routing but not UDP. Can you check that the serf lan port 8301 allows UDP ingress from the k8s cluster?

[2021-03-31 14:14] debjitk commented on #888
@lkysow Yes `nc` output shows that `8301/udp` is a accessible on host node.

[2021-03-31 14:27] debjitk commented on #888
@lkysow The error code was `exposeGossipPorts: true`. Upon changing it to `exposeGossipPorts: false` everything works fine. The consul documentation mentions `exposeGossipPorts: true` when connecting with consul servers outside k8s. Please update the documentation and/or be elaborate on `exposeGossipPorts`

[2021-03-31 14:27] #888 closed

[2021-04-01 10:17] soonoo opened #890 "consul-server statefulsets do not start properly when using consul:1.7.2"
Hi
It seems specific version of consul image(`1.7.2` in my case) is not compatible with the latest release of consul-helm(`0.31.1`).
`consul:1.9.4` works well with `consul-helm 0.31.1` however.

`values.yml`:
[code]
### Logs

[code]

If not already included, please provide the following:
- `consul-k8s` version: 0.25.0
- `consul-helm` version: 0.31.1
- `consul` version: 1.7.2

Additionally, please

[2021-04-01 10:30] soonoo commented on #890
I'm sorry. I found [this article](https://www.consul.io/docs/k8s/upgrade/compatibility) after filing this issue.

[2021-04-01 10:30] #890 closed

[2021-04-01 19:49] kschoche commented on #869
Hi @petrukngantuk I've created a fix which addresses this issue and should let you use sync+autoencrypt with clients disabled, it is in master now.
For reference here is the PR that did the changes https://github.com/hashicorp/consul-helm/pull/891

I'll go ahead and close this one out as fixed, if you run into any problems feel free to let me know!
cheers.

[2021-04-01 19:49] #869 closed

[2021-04-02 11:57] Tzvonimir commented on #879
@lkysow thank you for replying.

here is my consul helm chart values file:

[code]

More high level look into architecture:

- AWS cluster on EKS running consul and vault (+prometheus and grafana)

- After deploying the cluster I am deploying multiple Kubernetes microservices in private subnet (Most of them are written in go and only one is in java), but only one is important, and that one is a "g

[2021-04-02 18:08] david-yu commented on #623
@zonArt Could you describe your use case for being able to set client and/or server certs through the Helm chart? Are you also looking to provision your own certs via Vault as well?

[2021-04-02 18:45] david-yu commented on #780
@shellfu Could you give us more details on how that would upgrades/rebuilds easier? Do you currently also use Vault today?

[2021-04-02 21:55] cerebrate commented on #610
...of course it won't. Sorry. Not sure what I was thinking of, then.

[2021-04-05 16:28] lkysow commented on #610
No worries! 😄 It's good to have a conversation regardless.

[2021-04-05 16:50] ishustava commented on #890
It's all good! Glad, you've found the answer!

[2021-04-06 06:15] leanst-daniel opened #894 "Helm upgrade overwrites custom anonymous policy"
We've successfully deployed multiple Consul environments with the Helm chart but in some cases we unfortunately have to modify the default anonymous policy and add certain permissions.
If we change a configuration variable and redeploy the Helm chart these changes are overwritten and the default anonymous policy is "restored"

Is this expected behavior?

Thanks!

[2021-04-06 13:49] Dentrax opened #895 "Port-Forwarding does not work (stucks) with `kind` but works with `minikube`"
#### Overview of the Issue

I have just followed the ["Installing Consul on Kubernetes"](https://www.consul.io/docs/k8s/installation/install#installing-consul-on-kubernetes) doc.

[code]
// stuck, nothing happens

#### Reproduction Steps

Steps to reproduce this issue, eg:

1. Follow the _Installing Consul on Kubernetes_ doc
2. Deploy Consul to your `kind` cluster using _Helm_
3. `$ kubectl port-f

[2021-04-06 14:52] ishustava commented on #894
Hey @leanst-daniel

I'm not sure I fully understand your question. Are you referring to the Consul ACL policy? Could you include more information in your issue and reproduction steps? Which configuration variable are you changing?

Also, as a side note, it'd be helpful if you had used one of the templates to create the issue. It would really help us answer your question better 🙏

[2021-04-06 15:58] ishustava commented on #895
Hey @Dentrax

If you are using kind you need to set server replicas to `1`. I recommend following platform-specific guides which are linked from consul.io. Here is [the one for kind](https://learn.hashicorp.com/tutorials/consul/kubernetes-kind?utm_source=consul.io&utm_medium=docs&utm_content=k8s&utm_term=kind).

[2021-04-07 15:25] soonoo opened #898 "/v1/operator/keyring api doesn't work after `helm upgrade`"
### Reproduction Steps
1. There is no problem with freshly installed consul cluster.
2. Following [Upgrading Consul Server](https://www.consul.io/docs/k8s/upgrade#upgrading-consul-servers) guide, I upgraded one conser-server of three.
3. After upgrade, `/v1/operator/keyring` endpoint returns below message. It seems something token/key related is wrong with upgraded consul-server
[code]

There are

[2021-04-07 21:37] tdgeery opened #900 "GKE Ingress Failing Health Checks"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue

Setup basic consul deployment via helm with ingress and service enabled.

### Reproduction Steps

Steps to reproduce this issue, eg:

1. When running helm install with the following `values.yml`:
[code]
1. View error

### Logs

Include any relevant log

[2021-04-07 23:43] ilhaan commented on #848
I have a PR submitted [here](https://github.com/hashicorp/consul-helm/pull/901) to enable setting `-disable-host-node-id` via values.yaml

[2021-04-08 00:36] lkysow commented on #848
Thanks @ilhaan however I was unable to reproduce this issue so I'm not yet confident that disable host node id is needed. This flag was added on purpose to stop errors that would occur if a consul client pod was force killed.

@weitzjdevk were able to reproduce this issue? @ilhaan if you can provide a reproduction then that would help us understand the usefulness of the PR.

[2021-04-08 00:52] lkysow commented on #898
Hi, unfortunately I'm not able to reproduce this on GKE. It may due to the Kubernetes version or cilium. Can you verify that when you run `kubectl get pod -o yaml` for each upgraded server pod that all the ports are defined with udp and tcp as expected:

[code]

My instinct is that this is due to a) some issues where Kubernetes isn't supporting both UDP and TCP on the same port or b) cilium isn't

[2021-04-08 01:22] ilhaan commented on #848
@lkysow I am able to consistently reproduce this when `-disable-host-node-id` is set to `false`. I see errors similar to the following on consul clients:
[code]
I tested with client versions 1.6, 1.7, 1.8 and 1.9 (with up-to-date point releases).

My consul server runs outside of k8s and is on Consul v1.6.2.

[2021-04-08 12:11] Shige99011 opened #902 "Error at consul-connect-inject-init container"
Hi, I'm now trying the tutorial at https://learn.hashicorp.com/collections/consul/gs-consul-service-mesh with using microk8s.

Issue:
Errors happen when the services were deployed at the step https://learn.hashicorp.com/tutorials/consul/service-mesh-application-secure-networking?in=consul/gs-consul-service-mesh
Each pod for the services seems to be failed at init container (consul-connect-inject-i

[2021-04-08 15:04] lkysow commented on #902
Hi, you must use the Helm values yaml from the learn guide. You're using a difference Helm yaml because your consul version is 1.9.4 but it needs to use 1.10.0-alpha1:

[code]

[2021-04-08 15:35] soonoo commented on #898
@lkysow Thank you so much for checking.
The same settings are applied to all consul servers.

The nodes themselves seem to support both TCP and UDP, by the way:

### hostport-sample.yaml:
[code]
After applying above yaml file,

1. TCP test
[code]

2. UDP test
[code]

Can you tell me if there's a command like `consul agent ping consul-server-2.k8s -p 8302`?
Thank you again for the answer.

[2021-04-08 17:46] shellfu commented on #780
Yes, we currently use Vault to manage the majority of our secrets. Having Vault manage the certificates in the context of K8s would be ideal as rotations could be managed in Vault vs on Kube.

[2021-04-08 21:02] lkysow commented on #848
@ilhaan where are you running k8s? The node IDs come from https://github.com/shirou/gopsutil/blob/master/v3/host/host_linux.go#L36 which on k8s seems to grab from:

[code]

Could you check if on your cluster this file is the same on your VMs? I'd just like to make sure we know the underlying cause of this issue.

[2021-04-08 21:13] lkysow commented on #898
Can you try the same test but with the ports on the same container and both the hostPort and containerPort the same?

[code]

No, but you could use `nc`, e.g.
[code]

[2021-04-08 21:26] lkysow commented on #67
This is now supported through `server.exposeGossipAndRPCPorts`. See https://www.consul.io/docs/k8s/installation/deployment-configurations/clients-outside-kubernetes#auto-join-via-host-ports for more details.

[2021-04-08 21:26] #67 closed

[2021-04-08 21:28] lkysow commented on #412
This is now supported, see https://www.consul.io/docs/k8s/helm#v-server-securitycontext and https://www.consul.io/docs/k8s/helm#v-client-securitycontext

[2021-04-08 21:28] #412 closed

[2021-04-08 21:36] lkysow commented on #738
Closed by #457 that removes need for lifecycle sidecar re-registration. Will be in next release.

[2021-04-08 21:36] #738 closed

[2021-04-08 21:43] lkysow commented on #835
I'm going to close this because we haven't heard back but if you do get back to us we'll re-open!

[2021-04-08 21:43] #835 closed

[2021-04-09 00:26] Shige99011 commented on #902
Thanks for your quick response, @lkysow .
I tried your helm values.yaml and confirmed the errors have gone!! I can make the learning go ahead, anyway.
By the way, when will the new version of consul(v1.10.0) be released?

Thank you.

[2021-04-09 16:09] lkysow commented on #902
We're planning to release a beta in the next week or two. The GA release does not have a date yet.

[2021-04-09 16:09] #902 closed

[2021-04-09 16:10] lkysow commented on #767
I'm going to close this specific ticket because we were unable to reproduce but I can re-open if we hear back.

[2021-04-09 16:10] #767 closed

[2021-04-10 01:05] ilhaan commented on #848
@lkysow Worker nodes in my cluster are [LXD Containers](https://linuxcontainers.org/) launched by [OpenNebula](https://opennebula.io/).

I have two clusters `dev` and `prod`. Workers for these clusters run on the same set of hardware.

`dev` with 4 consul client pods:
[code]

`prod` with 5 consul client pods:
[code]

Seeing the same node IDs for two separate Consul client pod on two different clus

[2021-04-12 11:57] rmgpinto opened #906 "consul-connect-injector-webhook CrashLoopBackOff"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue

I'm trying to deploy the `consul-helm` chart on a kind cluster. But `consul-connect-injector-webhooks` is stuck on `CrashLoopBackOff`

### Reproduction Steps

Steps to reproduce this issue, eg:

1. When running helm install with the following `values.y

[2021-04-12 13:08] Shige99011 opened #907 "Pods for consul-ingress-gateway don't run"
Hi, I'm trying to make Ingress gateways by following to https://www.consul.io/docs/k8s/connect/ingress-gateways .
But the pod for consul-ingress-gateway doesn't run.
Do you have any idea to solve this issue?

**My environment is below:**
OS: wsl2 (ubuntu 20.04)
microk8s: v1.20.5
kubernetes: v1.20.5
consul: v1.9.4
Consul helm chart: v0.31.1
(Consul helm chart was installed by command "microk8s helm

[2021-04-12 13:43] enuoCM commented on #874
I have to reopen this issue.

new log:
[code]

pod status:
[code]

[2021-04-12 15:55] rmgpinto commented on #906
Had an error in `namespaceSelector`

[code]

[2021-04-12 15:55] #906 closed

[2021-04-13 00:28] Shige99011 commented on #907
One of pods for consul-ingress-gateway has started to run after I changed the values.yaml a bit as below:
But I'm not sure if this configuration is appropriate.

[code]

[2021-04-13 00:48] kschoche commented on #907
Hi @Shige99011! thanks for filing this issue.
Based on your logs
[code]
And having only a single node this configuration will not work as k8s will not be able to schedule both replicas of the ingress gateway.
What you'll need to do is set your replicas to `1` and use `ingressGateway.defaults.replicas: 1`   instead of `ingressGateway.replicas: 1` and that should be picked up by helm and deploy with

[2021-04-13 01:09] Shige99011 commented on #907
Thanks for your reply, @kschoche .
It works with your suggestion.
However, the External IP is not available for consul-ingress-gateway(it shows as "pending"). Is it needed to configure as well?

[code]

[2021-04-13 02:38] enuoCM commented on #874
current pod status:
[code]

BTW, new service pod can be auto injected during ready status 1/1 of consul-connect-injector-webhook. The 1/1 Running status may last 1 minute or even less.

[2021-04-13 02:41] Shige99011 commented on #907
Sorry, I could get External IP for consul-ingress-gateway as I missed to enable metallb for microk8s.

Thank you.

[2021-04-14 08:08] grishy commented on #902
It would be cool to make a note at:
https://learn.hashicorp.com/tutorials/consul/service-mesh-application-secure-networking?in=consul/gs-consul-service-mesh

[2021-04-14 09:21] HofmannZ commented on #874
We are facing the same issue.

We have been running consul in our cluster on production for a while. But as soon as the `consul-connect-injector-webhook-deployment` restarts it fails to come back up. (We first saw this when our node auto scaler had to reschedule it. But with a can be replicated with a simple `kubectl rollout restart`.)

Reinstalling Consul did solve the issue, for now... but can g

[2021-04-14 09:22] HofmannZ commented on #874
CC @kschoche

[2021-04-14 15:18] HofmannZ commented on #874
Found out what's happening to us:

Source: https://cloud.google.com/kubernetes-engine/docs/release-notes#119_ga

[2021-04-14 16:16] lkysow commented on #907
Nice! I'll close this then since things seem good.

[2021-04-14 16:16] #907 closed

[2021-04-14 16:17] lkysow commented on #902
@grishy sorry, what should the note say?

[2021-04-14 16:33] lkysow commented on #874
@HofmannZ that's weird because we do set the SAN in our webhook certs AFAICT. Could you open up another issue about this so we can investigate?

[2021-04-14 16:34] lkysow commented on #874
@enuoCM can you run a `kubectl describe` on those pods. I'm particularly interested in the events. I wonder if they're being restarted due to failing liveness probes which may actually be fixed by https://github.com/hashicorp/consul-helm/pull/885

[2021-04-14 18:37] ndhanushkodi commented on #848
So we will want to support this for the use case: if two VMs are on the same underlying machine then they'll get clashing node ids. I've reviewed the PR, and once the changes are complete, we can merge it after the next release is cut.

[2021-04-14 19:18] HofmannZ commented on #874
@lkysow I think you are right, will open a new issue on it.

[2021-04-14 20:50] HofmannZ opened #911 "upstream connect error or disconnect/reset before headers. reset reason: connection failure"
Yesterday overnight some of our services started throwing the flowing error:

[code]

The odd thing is that the behaviour persists on a fresh cluster.

**Allow me to describe the current setup:**

We have one deployment (A) that proxies traffic from the internet through a gateway (G). The deployment (A) calls another deployment (B) over HTTP. Both deployments have the `protocol` in the respective

[2021-04-14 20:52] HofmannZ commented on #874
@lkysow opened issue #911.

[2021-04-15 22:41] HofmannZ commented on #879
Might be related #911

[2021-04-16 07:34] enuoCM commented on #874
@lkysow I manually edited to remove the livenessProbe and readinessProbe of the injector deployment to have a test the day before yesterday.  The modified injector pod still kept to restart, but with lower frequency. I deleted the pod this today before I saw your post. It's strange that the new injector pod without livenessProbe and readinessProbe doesn't restart until now.
[code]

However we have

[2021-04-16 19:30] grishy commented on #902
Hmmm.
This was apparently changed recently. (page with tutorial)
I had the same error although I walked the steps. This is how I found this issue
@lkysow

[2021-04-17 00:28] lkysow commented on #902
Oh gotcha, yeah we must have updated it. Sorry for the trouble.

[2021-04-17 16:04] HofmannZ opened #918 "[0.32.0-beta1] container's runAsUser breaks non-root policy"
### Overview of the Issue

The `consul-connect-inject-init` container does not follow non-root policy.

### Reproduction Steps

Steps to reproduce this issue:

1. When running helm install with the following `values.yml`:
[code]
1. The `consul-connect-inject-init` container's fails with:

[code]

### Logs

<details>
  <summary>Logs</summary>

[code]

</details>

### Expected behavior

What was the

[2021-04-18 17:51] DominikBB opened #919 "consul-connect-inject-init gets pods stuck in podInitialisation loop because of the -prometheus-scrape-path flag"
### Overview of the Issue

I am trying to set up the Vault HA with Consul on a DigitalOcean k8s cluster, doing so with Terraform. Vault pods are stuck in PodInitianising state and I managed to trace the problem down to the `flag provided but not defined: -prometheus-scrape-path` log in the `consul-connect-inject-init`.

### Reproduction Steps

1. Setup the consul-helm chart in the terraform
1. Try

[2021-04-18 19:49] ndhanushkodi commented on #919
hi @DominikBB, in order to enable metrics merging of sidecar and application metrics (`connectInject.metrics.defaultEnableMerging` : `true`) you need to be using Consul 1.10.0-alpha1 or above. You can remove that value until you've upgraded Consul. You can still get just envoy metrics while using an older Consul version with `connectInject.metrics.defaultEnabled`: `true`.

Going to go ahead and cl

[2021-04-18 19:49] #919 closed

[2021-04-18 20:50] DominikBB commented on #919
@ndhanushkodi Thank you for the information, it is much appreciated, I am sticking to the envoy metrics for now.

[2021-04-18 21:48] ndhanushkodi commented on #911
Hi @HofmannZ I tried to reproduce this by deploying a grpc-client(B) ---grpc--> grpc-server(C), and I saw the requests go through sucessfully using a very similar setup. I omitted just the Kubernetes Services and used my own image for the grpc-client and grpc-server. See the details for the exact configuration.

<details>
First I deployed using the following `consul-values.yaml` with Consul-helm 0

[2021-04-19 02:07] enuoCM commented on #874
@lkysow  the injector pod (consul-connect-injector-webhook-deployment-779d668f65-nnrc9 ) without livenessProbe and readinessProbe was killed by OOM after ran 6h5m, and the new restart pod kept to restart:

[code]

`kubectl describe` result:

[code]

BTW, does the fix of #885 revert by later commit?

[2021-04-19 09:08] HofmannZ commented on #911
Hi @ndhanushkodi! Thanks for having a look.

The client code seems to miss one import part from our case. It takes the server address as an environment variable:

[code]

With hardcoded addresses, we were already able to get it to work 😅.

Regarding the `containerPort`; that is set in Docker when the container is built. In K8s, as far as I'm aware, `containerPort` simply is a way to override that

[2021-04-19 14:19] thisisnotashwin commented on #911
Hey @HofmannZ ! Im glad that you were able to get it to work! Which address is it that you had to hardcode in this case in order to get things to work?

[2021-04-19 14:56] thisisnotashwin commented on #918
Hey @HofmannZ! This is related to a feature we added with the beta release to support `transparent proxy`-ing. Here are the related changelogs on`consul-k8s`

[code]

[2021-04-20 00:45] lkysow commented on #874
Can you use `kubectl logs` with the `-p` (previous) flag so we can see what's causing it to crash loop?

If it's OOM then you can increase the memory in the helm values file:

[code]

I'm curious if you have a high load in your cluster with lots of services?

Yes sorry about that. We're going to add back the probes but we had to remove them just for beta.

[2021-04-20 10:55] enuoCM commented on #874
Sorry, `consul-connect-injector-webhook-deployment-779d668f65-jbh69` (without livenessProbe and readinessProbe ) has been deleted yesterday. New `consul-connect-injector-webhook-deployment-7c7b8798d5-m89pw` pod (without livenessProbe and readinessProbe)  and with following settings has been running 32h without restarting.
[code]

Here is the previous log of `consul-connect-injector-webhook-deploym

[2021-04-20 16:27] lkysow commented on #874
This is kube killing it. We've typically seen this due to the liveness probes. OOM would be a hard-kill, it wouldn't send it a signal I don't think.

Yes absolutely it's okay, however the resources look to need tweaking. We haven't yet done testing on recommended settings for larger number of services.

How many pods are you running in those 60+ services?

[2021-04-21 06:15] enuoCM commented on #874
Yes, I agree. This is not the OOM log.

One pod each service.

[2021-04-21 15:54] lkysow commented on #874
Do you happen to have CPU/Memory graphs of the inject pod now that you've raised its limits?

[2021-04-21 21:49] HofmannZ commented on #911
@thisisnotashwin - What I mean to say is that we already got it working with hard coded ports before opening the issue. The problem occurs when we use Consul for service discovery for `localhost:3001` (which used to work fine and stopped working overnight 🤷.)

We're happy to move back to K8s service discovery once we get our hands on the new transparent proxy 🎉.

Nevertheless, I thought it was a g

[2021-04-22 17:06] rmgpinto opened #923 "Can't connect to terminating gateway"
### Overview of the Issue

I'm trying to connect to the `consul-ui` kubernetes service via `ingress-gateway` + `terminating gateway`.
I've setup the `ingress-gateway` and the `static-server` from the examples for testing and it's working correctly.
[code]

Now I'm trying to expose the `consul-ui` service and I'm getting this error:
`upstream connect error or disconnect/reset before headers. reset

[2021-04-22 17:50] david-yu commented on #923
Hi @rmgpinto thanks for filing this issue. Could you tell us more about why you are trying to expose the consul-ui kubernetes service via both ingress-gateway + terminating gateway? It sounds like you are trying to expose the Consul UI via HTTPS using the AWS ELB is that correct?

[2021-04-22 17:54] rmgpinto commented on #923
Hi @david-yu, thanks for the quick reply.
Yes, I am using AWS ELB to expose the consul UI via https.

The flow is this:
[client] ---> [AWS ELB] ---> [ingress-gateway] ---> [terminating gateway] ---> [consul-ui (on k8s)]

The AWS ELB only has https port open and an SSL certificate with *.<my_dns_domain>.
Both DNS CNAME records (static-server.<my_dns_domain> and consul.<my_dns_domain> point to the A

[2021-04-22 18:15] ndhanushkodi commented on #879
Hi @Tzvonimir the ingress gateway does not currently support CORS configurations, which is why you're seeing the web-grpc clients unable to connect but other clients are able to. We are tracking CORS configuration as a feature request and I can add this as a +1 to that feature request. Sorry for the trouble!!!

[2021-04-23 05:41] enuoCM commented on #874
No, I don't have graphs statistics.  We consider to install 3rd tools in feature.  I'll share here if I get some metrics.

[2021-04-23 06:38] prasanjit-enginprogam opened #927 "Add support for consul-esm"
#### Is your feature request related to a problem? Please describe.

we are using external services registered using /catalog/register endpoint. we need to have [consul-esm](https://github.com/hashicorp/consul-esm) to monitor those external endpoints but we are using helm chart installation in k8s environment. please help bake in consul-esm into the helm chart.

Here is the [github issue](https://

[2021-04-23 14:53] thisisnotashwin commented on #927
Hey @prasanjit-enginprogam !! Thanks for bring up this feature request. We will prioritize this within the team and get around to this when possible 👍

[2021-04-23 16:16] david-yu commented on #927
Related to https://github.com/hashicorp/consul-k8s/issues/411

[2021-04-25 17:20] soonoo commented on #898
I did simple test in each consul-server container and it seems all necessary ports/protocol are open between servers.
[code]

I'm still checking, but I don't know what to do. Thank you for letting me know and I'll leave a comment if something is found.

[2021-04-26 08:16] eoinburke67 commented on #809
Hi @lkysow, did you have any luck? I too am having this issue.

AWS
EKS

Kubernetes: v1.18.17

envoy-alpine:v1.14.4
consul-k8s:0.19.0

The mesh gateway pod on startup hangs until it gets killed by k8s. The lifecycle-sidecar starts fine, but mesh-gateway seems to never start. It generates no logging to give a clue what could be wrong.

[code]

The consul agents and server have nothing in the logs.

[2021-04-26 14:42] thisisnotashwin commented on #923
hey @rmgpinto, from the looks of it, that does sound right. You could potentially also toggle `httpsOnly` to false, in which case the terminating gateway could try and reach the Consul UI over the http endpoint? That could potentially work in this usecase.

OTOH, the CA cert is mounted on the terminating gateway as a volumeMount (so that it can communicate with the consul server) so you could poin

[2021-04-26 16:23] kschoche commented on #809
Hi @eoinburke67! Based on what you described it's not totally clear that this is the same issue as OP is seeing. Do you mind opening a new issue and attaching the requisite logs and helm values file, so that we can try to give you a hand? If we find they are related we can come back and mark them dupes!
Thanks!

[2021-04-26 19:40] ncouse commented on #848
I was just about to raise an issue on this, as I have the same issue.

We use KinD for both automated testing and developer testing clusters. Normally these would be at least 3 node clusters to facilitate testing Consul. This setup has been working successfully for some time.

As of v0.30.0, this is broken due to the new Node ID mechanism. All our agents end up getting the same NodeID, as we see e

[2021-04-26 19:48] ncouse commented on #848
As mentioned above the NodeID is based on `/proc/sys/kernel/random/boot_id`.
For KinD clusters, each "node" is a container on the same host node. Therefore this ID will be the same for all.

I ran a quick check with:
[code]

The same ID was returned for all agent pods.

I would imagine that this will be the same issue with other k8s clusters designed to run a single actual host.

When is this fix

[2021-04-27 08:36] SamDecrock commented on #110
Are you sure it was namespaced? We have multiple instances of our software, all using the same pvc names in different namespaces. It works perfectly.

[2021-04-27 09:29] rmgpinto commented on #923
Hi @thisisnotashwin.

I tried adding `caFile: /consul/tls/ca` to the `TerminatingGateway`, now I get:

```upstream connect error or disconnect/reset before headers. reset reason: connection failure```

Is there a way to debug this situtation?

[2021-04-27 09:44] ncouse commented on #848
I've created a quick repo to demonstrate installing Consul on a KinD cluster: https://github.com/ncouse/kind-consul
Just run the script, and it will demonstrate the issue.

I ran this on a Ubuntu 20.04 host, but should be the same on any Linux host. Our RHEL CI VMs demonstrated the same issue.

[2021-04-27 18:45] thisisnotashwin commented on #923
hmm. the weird thing is it is even lesser information than the last time if failed with the TLS error. im not quite certain what could be going on. id possibly verify that it is trying to hit the correct endpoint, and that the TLS certificate is the correct certificate to use (maybe exec into the terminating gateway pod and curl the consul UI service?)

also, i just read my previous comment and i

[2021-04-27 18:50] rmgpinto commented on #923
I have everything working now, thanks for the help 😄
I was missing permissions in the terminating gateway and also I had to re-apply the terminating gateway configs on kubernetes (I thought the configs were synced on every change).

[2021-04-27 18:52] rmgpinto commented on #923
As a request, couldn't consul automatically add the following to the terminating gateway policy?

[code]

[2021-04-27 18:53] thisisnotashwin commented on #923
🤔 the configs should get resynced after every change. that is very surprising. any chance you have the logs around when they werent resynced?

just to recap things in that case, setting up the terminating gateway with the TLS certificate worked right?
I think it does make sense to add that policy for every service we attach to the terminating gateway.

[2021-04-27 18:58] rmgpinto commented on #923
I had to re-apply them after I added the ACL. Now they sync normally. I was expecting that once the ACL was updated, the whole flow would work.

Yes, it's working with the TLS cert.

[2021-04-27 19:24] thisisnotashwin commented on #923
awesome!1 im glad it worked out. ill look into the adding an ACL automagically feature. thanks @rmgpinto

[2021-04-27 19:26] rmgpinto commented on #923
thanks @thisisnotashwin !

[2021-04-28 05:37] lkysow commented on #110
Hi Sam, it does look like Kube supports the same PVC names across namespaces so this may not have been necessary. Were you looking for us to change this back to not have the namespace? Unfortunately that would result in all the PVCs for existing users being deleted so I think we need to keep the name as is.

[2021-04-28 08:16] rbsrafa commented on #865
Hi Consul team, I've faced the same issue described here, in my case I was using the wan federation mode and noticed the `server agents` were being OOMKilled and as a result the `client agents` were not able to initialize. After increasing the server resources to these values, the cluster was able to properly initialize:

[code]

[2021-04-28 11:49] sanminaben commented on #865
@lkysow
1. Sorry for the late reply. RKE is "Rancher Kubernetes Engine", essentially a Kubernetes cluster deployed inside containers, see https://rancher.com/docs/rke/latest/en/

2. I did not check how much memory they were using at the time.

3. There was actually some unusual activity in the log, I unfortunately can't find them anymore, but from memory there was a connection issue between some o

[2021-04-28 13:44] JarleB opened #932 "server.exposeGossipAndRPCPorts: true doesnt work on openshift (okd v4)"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue
Consul server pods  are unable to start because the consul server is not allowed (SCC-violation) to open the necessary hostPorts

### Reproduction Steps

Turn on  exposeGossipAndRPCPorts in server-values. It will try to open host ports on server pods, h

[2021-04-28 21:39] eoinburke67 opened #934 "Mesh Gateway unable to start"
When filing a bug, please include the following headings if possible. Any example text in this template can be deleted.

### Overview of the Issue

After increasing the resources allocated to the lifecycle sidecar, the restart of the deployment rendered the mesh-gateway unable to start.

### Reproduction Steps

unable to reproduce out side of the environment it is happening

1. The deployment has

[2021-04-28 21:41] eoinburke67 commented on #809
Hi @kschoche, I created https://github.com/hashicorp/consul-helm/issues/934

[2021-04-29 12:54] #923 closed

[2021-04-29 13:56] mariusehr1 opened #935 "Enabling metrics and TLS results in strange behaviour"
Hello,

I am experiencing an issue while trying to expose prometheus metrics of my agents in a Consul instance deployed on EKS.

I had to delete some checks related checks in order to make it work  in `templates/server-statefulset.yaml` and in `templates/client-daemonset.yaml`  :

[code]

The message here is misleading as it makes you think that it will work if you remove `httpsOnly` but it won't

[2021-04-29 15:28] kschoche commented on #932
Hi @JarleB! Thanks for filing this issue!
I'm trying to understand how you're running into this problem but it's not clear to me yet. Could you attach your whole custom val.yaml file so I could take a look? It looks like if we need to add this SCC rule it could be done but I'd like to see it scoped down so that it's only added in the cases where it's required, such as for example when exposeGossip

[2021-04-29 16:05] kschoche commented on #935
Hi @mariusehr1 !  Thanks for filing this issue, I can confirm that with the values you mentioned in the ticket that we do run into this check failing. This check is in place because prometheus does not support pull stats over TLS by default when configured using annotations.

As for the core problem that you reported on the checks, I'm not able reproduce it failing when including `tls.httpsOnly: f

[2021-04-29 17:15] JarleB commented on #932
Agreed the extra SCC should be scoped down to `server.exposeGossipAndRPCPorts: true` AND `global.openshift.enabled: true`

Here is the complete values file a jinja2 tamplate the just renders in the correct datacenter name:

[code]

[2021-04-29 18:10] kschoche commented on #932
Thanks!
If you want to take a stab at it, I think one way forward here would be to create a new SCC that specifically adds hostPort, and then use that in the client and server templates where necessary?
Thoughts?

[2021-04-29 20:30] JarleB commented on #932
Sounds reasonable. I'll give it a try.

[2021-04-30 11:40] mariusehr1 commented on #935
Hello @kschoche , it seems that it is indeed working , I am thinking it was not properly indented.

for reference here is my values.yaml file, I am using the latest release of the Helm chart : 0.31.1

[code]

[2021-04-30 11:40] #935 closed

[2021-04-30 16:09] davidphayanouvong opened #938 "Failed to resolve consul-consul-server-0.consul-consul-server.consul.svc: lookup consul-consul-server-0.consul-consul-server.consul.svc on 10.96.0.10:53: no such host"
Hello,

I tried to deploy a consul server on a Kubernetes cluster, after some problem with PVC my consul-server pods are in error:
![image](https://user-images.githubusercontent.com/17404140/116720602-b46eed80-a9dc-11eb-9b96-8f45f615d8b2.png)

I running the configuration on my private server 1 master (untaint) and 1 worker, i configured a NSF storage class for the PVC.

I deploy consul with Helm,

[2021-04-30 17:50] davidphayanouvong commented on #938
Hi thnaks for the quick answer, but unfortunatly i have the same issue:

[code]

[2021-04-30 18:09] kschoche commented on #938
Hi! Could you show the logs for each of the 3 server pods? Also can you confirm that you have at least 3 physical nodes? If you've only got two the 3rd will not be able to scheduled.

[2021-04-30 18:42] davidphayanouvong commented on #938
Hi,

No it's an environment dev for now i have only 1 master (untaint) and 1 worker.
In the last configuration i have only 1 server (because i set the replicacount to 1)

[2021-05-04 20:09] SamDecrock commented on #110
Yes, I was looking into removing the namespace from pvc names so it looks cleaner.
But good point about the pvc's. Upgrading would indeed break previous setups.

[2021-05-04 20:36] lkysow commented on #110
Agreed that this would look nicer. Maybe this is something we can change in a 1.0 release but I think we're stuck with it as it is now until then.

[2021-05-06 20:53] lkysow commented on #934
Hi, this is very peculiar. The cause of the CrashLoop is:
[code]

Can you do the following:
* show us the logs of the consul client on the same node as the mesh gateway
* show us the logs of the consul servers
* make an API call to the consul client on the same node as the mesh gateway:
  * `curl -k https://localhost:8501/v1/agent/services`

[2021-05-10 07:55] Shige99011 opened #946 "How should it be configured to enable Access-Control-Allow-Origin?"
Hi, I'm using Ingress gateway to make it access from an external service that is simple javascript application. When an API that is in consul service mesh is called via Ingress gateway, an error like below happens:

`Access to fetch at 'http://192.168.202.199:31000/hello-service/hello' from origin 'http://localhost:9020' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is p

[2021-05-10 16:33] lkysow commented on #932
Fixed by #937

[2021-05-10 17:22] david-yu commented on #946
Closing since this is a duplicate.

[2021-05-10 17:22] #946 closed

[2021-05-11 07:22] Shige99011 opened #950 "How should the ingress gateway be called from javascript?"
Hi, I'm using Ingress gateway to make it access from an external service that is simple javascript application. When an API that is in consul service mesh is called via Ingress gateway, an error like below happens (Actually I got the error as I mentioned in [#946](https://github.com/hashicorp/consul-helm/issues/946). So I temporarily disabled the CORS policy of my browser).

`hello.js:11 GET http:

[2021-05-13 13:28] eoinburke67 commented on #934
Updating for anyone else who may come across this

@lkysow we think we narrowed down the problem. At startup we hang here

https://github.com/hashicorp/consul/blob/bbf599353492d97867bf62d3c2f7449cdc14ec8f/command/connect/envoy/exec_unix.go#L78

It seems the host OS wont let us create new pipefiles. At startup the process hangs waiting for input from a file it cannot create.

To get around it we ca

[2021-05-13 18:23] lkysow commented on #934
Oh wow, good find. This should at least be an issue in Consul that it should error out after a timeout if that hangs.

[2021-05-13 20:00] ishustava commented on #950
Hey @Shige99011

Could you tell us how you've configured your ingress gateway and the api-service?

[2021-05-13 22:57] Shige99011 commented on #950
Thanks @ishustava for your reply.

My configuration for ingress gateway is

[code]

And api-service:
[code]

Also, routing configuration  has been applied as below:
[code]

 And service default is here:

[code]

btw, terminating gateway is also used:

[code]

The register information for terminating gateway is:

[code]

My environment is below:
OS: ubuntu 18.04 on hyper-v
microk8s: v1.20.5
kuberne

[2021-05-13 23:27] ishustava commented on #950
Thanks so much for this info!

I'm sorry, I have not noticed in your original message that when you curl directly, it works. I'm not an expert on javascript to be honest, and don't know if I can help beyond what's required on the consul side. There's nothing specific to how ingress gateway works with javascript or plain curl, and so I think it's just the matter of figuring out the right code.

Loo

[2021-05-13 23:54] Shige99011 commented on #950
Thanks for the reply.
yes, my concern is the 'Host' header that is in forbidden list. But 'Host' header is required to call the API via ingress gateway, right?

Anyway, I will have a look more from javascript perspective.

Thank you.

[2021-05-14 13:24] ishustava commented on #950
Correct, the `Host` header is required. That is how ingress gateway know which service to route to.

[2021-05-14 13:55] banks commented on #934
@eoinburke67 thanks for digging into this. Can you share a little more about how you determined where the process was hanging?

The line you linked is just creating an internal Go `Command` object as far as I know (I could be wrong) and with neither start writing to a pipe nor creating the actual named pipe on that line.

So I'm wondering was it actually the line below that blocked: https://github

[2021-05-14 18:04] david-yu commented on #918
Going to close this issue as was addressed by https://github.com/hashicorp/consul-k8s/pull/493

[2021-05-14 18:04] #918 closed

[2021-05-14 18:14] lkysow commented on #900
Is there a way to modify the GKE health check via an annotation on the ingress object?

[2021-05-17 08:18] ncouse commented on #934
Hi @banks, the issue seems to be related to resources related to pipes.
By adding some extra logging to the executable we determined that the process was hanging at that line.

If we look at the [man(7)](https://man7.org/linux/man-pages/man7/pipe.7.html) page for `pipe`, you will see the section  on `/proc/sys/fs/pipe-user-pages-soft`.

This describes the current behaviour. The user will have pipe

[2021-05-17 08:26] ncouse commented on #934
You can easily demonstrate this by writing a simple Go program that open a pipe and push in data until it blocks. It should block at 64k. Call this in multiple go routines, and you will see that eventually you can only push in 4k.

You can modify the soft limit and it will change when this occurs. However it will still occur at some stage, and we won't have the ability usual to modify this, especi

[2021-05-17 08:28] ncouse commented on #934
Should this issue be moved to the main consul project? There is also the chart issue of the limits on the mesh gateway pod being to low, which prompt the restart which cause this issue for us.

[2021-05-17 13:02] banks commented on #934
@ncouse thanks. That detail is really useful!

We've observed similar effects before - we've not always been able to determine specifically which pipe limits were being hit or affecting the situation. Your info is really useful and just want I was hoping to learn - thanks.

Yes this is really an issue in Core Consul, I'll move the issue over.

Your suggestion of re-working the ordering of writing

[2021-05-18 08:31] Shige99011 opened #954 "How ingress into service mesh from web server that is out of service mesh?"
Hi, I'm now trying to access from web UI to APIs in a service mesh. Is there any way to do it?
My application's configuration is:

![image](https://user-images.githubusercontent.com/58674643/118609376-a18a5480-b7f5-11eb-9bde-009e76cd8b24.png)

Do I need to inject sidecar into the pod of web server as well?(in this case, web server is also in service mesh, though) I tried it but it doesn't work. Th

[2021-05-18 08:46] ncouse commented on #848
Will there be a release soon with this change? This is blocking us upgrading past 0.29.

[2021-05-18 09:19] Lysholm opened #955 "Consul connect ProxyDefaults fails to sync with ExternallyManagedConfigError"
### Overview of the Issue
global ProxyDefault fails to sync

### Reproduction Steps
1. Install consul in a cluster
2. Apply a "ProxyDefaults" manifest

### Logs

[code]

### Expected behavior
proxy defaults sync correctly.

### Environment details

- `consul-k8s` version: same as chart default
- `consul-helm` version: v0.31.1 and v0.32.0-beta2
- `values.yaml` used to deploy the helm chart:

[code]

[2021-05-18 17:17] davidphayanouvong commented on #938
Ok seems it was a dnscore issue...
I close!

[2021-05-18 17:17] #938 closed

[2021-05-18 17:48] blake commented on #954
Nginx defaults to using HTTP/1.0 when proxying to backend services, however Envoy does not enable support for HTTP/1.0 by default (see Envoy's [accept_http_10](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/protocol.proto#envoy-v3-api-field-config-core-v3-http1protocoloptions-accept-http-10) config) which is the reason you are seeing Envoy respond with "426 upgrade required."

Y

[2021-05-18 18:51] ndhanushkodi commented on #955
hey @Lysholm can you try your reproduction steps again and before applying the proxydefaults CRD, run `consul config list -kind proxy-defaults` against the consul server? Just to make sure a config entry isn't being applied outside of the CRDs, since the error message says: `config entry already exists in Consul`. Are there any pipelines/automation that might be adding config entries outside of th

[2021-05-18 18:56] ndhanushkodi commented on #848
It is in the beta release https://github.com/hashicorp/consul-helm/tree/v0.32.0-beta2 and the GA release is slated for approximately the end of June. Sorry for the inconvenience in the meantime!!

[2021-05-18 19:52] ilhaan commented on #848
@ndhanushkodi I don't see `disableHostNodeID` in the beta release you linked above. I do see that this was removed in #936.

I had successfully merged #901 a few weeks to introduce this flag, not sure why this was removed.

[2021-05-18 23:50] Shige99011 commented on #954
Thanks @blake  for your help.
It has worked for both cases sidecar and Ingress gateway with the proxy_http_version!!

Thanks a lot.

[2021-05-18 23:50] #954 closed

[2021-05-19 00:26] Shige99011 commented on #950
This issue has been solved in #954 .

[2021-05-19 00:26] #950 closed

[2021-05-19 15:20] choppedpork opened #956 "Consul agents not leaving the cluster gracefully on node termination"
Hello,

I'm quite happily using `consul-helm` (currently on chart version 0.22.0, Consul version 1.9.3) in order to deploy an agent daemonset into k8s which is connecting to a non-k8s stable server cluster (3 nodes). As part of recent work on autoscaling workloads within k8s I've noticed that sometimes (I don't think this happens always) following a k8s node scale-in event the nodes Consul agent f

[2021-05-20 05:47] Shige99011 opened #959 "How configure Ingress gateway with the type of ClusterIP?"
Hi, I would like to configure ingress gateway with ClusterIP to allow only access from inside of the node.
When I tried with NodePort, it worked fine. However it returns 404 not found with ClusterIP.

The values.yaml is:

[code]
The manifest for Ingress gateway is:

[code]
The manifest for ServiceDefault is:

[code]

The api-service is:

[code]

The services are:
[code]

Then, I tried curl command

[2021-05-20 17:03] lkysow commented on #956
Hi @choppedpork,
This is because until Kubernetes 1.21, Kubernetes does not support sending a SIGTERM to daemonset pods so the Consul agents don't get the time to leave gracefully for spot instances.

What we recommend users do is set https://www.consul.io/docs/agent/options#advertise_reconnect_timeout to a small timeout like 15m. Then the nodes will get cleaned up quickly. By default it's 72h.

[

[2021-05-20 21:17] lkysow commented on #955
You may also find https://www.consul.io/docs/k8s/crds/upgrade-to-crds#migrating-config-entries useful for migrating to a CRD once you've confirmed there are no outside pipelines/automation setting these config entries.

[2021-05-20 21:18] lkysow commented on #848
@ilhaan sorry for not communicating this better. We decided to default it back to having `-disable-host-node-id=true`. So there's now no need to set `disableHostNodeID: true` for your use-case. The chart will just work as is.

[2021-05-20 22:00] ndhanushkodi commented on #848
I had forgotten about that, sorry for the miscommunication @ilhaan, what @lkysow said was right.

[2021-05-20 22:22] lkysow opened #962 "Modify failurePolicy for MutatingWebhookConfiguration to fail pods when injector not running"
### Overview of the Issue

When the injector isn't running pods with the connect annotation should fail to schedule rather than be scheduled without the annotation.

Look at using https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-objectselector to scope the webhook so that the Consul component pods aren't blocked.

[2021-05-21 10:55] ncouse commented on #848
I ran my quick Kind test script (as referenced above) against the 0.32.0-beta2 and it seems to work as expected. Running `consul` commands on any agent do see the other agents exist also.

[2021-05-21 13:53] Shige99011 opened #963 "Agent error to join to server cluster"
Hi, I'm trying to make a consul client node(the node name "microk8s-vm-2") join to a server's cluster(the node name "microk8s-vm"). But the agent pod in client side cannot be launched. The joining node is listed in consul members. But some errors are logged in the agent.
What else should be configured?

[code]
The description of agent pod in client side:
[code]

values.yaml for client side:
[code]

[2021-05-21 19:56] ilhaan commented on #848
@lkysow & @ndhanushkodi thanks for the clarification!

[2021-05-23 20:05] debjitk opened #965 "Consul Ingress Gateway: CrashLoopBackOff"
Consul Ingress Gateway CrashLoopBackOff

Helm Chart Values

[code]

The Pod Description:

[code]

[2021-05-24 01:05] Shige99011 commented on #959
It has worked finally after the change of ingressgateway configuration on values.yaml like below:

[code]
Ingress gateway returns expected response for the below request from outside of the service mesh in the node:
`curl -H "Host: api-servicve.ingress.consul" "http://consul-ingress-gateway:8080/hello"`

[2021-05-24 01:05] #959 closed

[2021-05-24 16:39] alsyia opened #966 "Why is so important to contact the local node? How do you ensure startup order?"
#### Question

Hello,

Doc says that a pod should always contact its local Consul agent:

Even after reading this I still don't totally understand why this is so important. I understand the caching argument, I guess the cache would end up distributed across all agents and since there is no guarantee different requests from the same pod would be routed to the same agent, hit rate could be low.

Our

[2021-05-24 19:46] BrontesGiga opened #967 "Failover feature ACL not found, even if we have all the tokens and ACL enabled with global management policy"
We are trying to implement the failover feature of consul with two federated consul datacenters using a Helm chart in AWS-EKS. In the Helm chart we have basic configuration as the consul documentation suggest. The following is our helm chart file for the primary datacenter.
[code]
This is for the secondary datacenter
[code]
To deploy helm chart we are using `helm install consul hashicorp/consul -f

[2021-05-24 20:30] david-yu commented on #848
Hi @weitzjdevk I will go ahead and close this issue as it looks like @ncouse and @ilhaan have confirmed that the 0.32.0-beta2 release resolves this issue for them. Please stay tuned for the GA release in late June.

[2021-05-24 20:30] #848 closed

[2021-05-24 21:03] thisisnotashwin commented on #963
hey @Shige99011 !! i suspect this might be because the gossip ports `client.exposeGossipPorts` needs to be set to true on the values.yaml on the server side as well. every consul agent needs to be able to communicate with eachother over client gossip. exposing the client gossip ports on the server cluster as well should potentially resolve this issue.
can you try that and update this thread with t

[2021-05-24 21:16] thisisnotashwin commented on #967
@BrontesGiga thanks for reaching out. this might be a trivial question, but i just wanted to verify that you did copy the federation secret from the primary cluster to the secondary cluster right?
It would be super useful if we could see the server and client logs from the secondary cluster to understand a little better what might be going wrong here.

[2021-05-24 22:33] oguzhanaygn opened #968 "Attaching AWS ACM Certificate to Consule UI Service"
Hi, I'm a newbie on Consul. I'm following (https://learn.hashicorp.com/tutorials/consul/kubernetes-eks-aws) this guideline to deploy Consul to my AWS EKS Cluster with Helm. I want to use my own ACM certificate for this process. My values.yml ;

[code]
With this configuration, when I try to reach Consul UI via browser, I'm getting **Client sent an HTTP request to an HTTPS server.** error. Is making

[2021-05-25 00:20] Shige99011 commented on #963
Hi @thisisnotashwin , thanks for your comment.
I tried the `client.exposeGossipPorts ` for server side but it doesn't work yet.

The agent log in client side says:
[code]

But the agent log in server side has been changed:
`2021-05-25T00:05:49.747Z [INFO]  agent.client.serf.lan: serf: EventMemberJoin: microk8s-vm-2 172.17.124.125`

 Do you have any advice else?

[2021-05-25 04:17] OpenetCK opened #969 "Federation failed in IPv6-only Kubernetes cluster"
### Overview of the Issue

In the IPv6-only cluster, the HOST_IP is resolved to for example `fc00:f853:ccd:e793::2`.

Components such as mesh-gateway, connect-injector-webhook are not working because the environment variable of the containers mapped to the following:
[code]

This leads to the error during the Consul startup:
[code]

### Reproduction Steps

Install via Consul Helm chart in a IPv6 o

[2021-05-25 06:58] Shige99011 commented on #963
Hi, @thisisnotashwin. I changed the values.yaml as below, then the consul agent pod in client side has been launched. The point is `server.exposeGossipAndRPCPorts`  for server side.

values.yaml in server side:
[code]

values.yaml in client side:

[code]
I'm not sure if this is the expected configuration.
But on Consul UI, I can see the service which was created on client side node.

![image](http

[2021-05-25 07:54] Shige99011 opened #970 "How route traffic to another consul node?"
There are two consul clusters and each cluster is on a kubernetes node. Only one cluster (Node A) has consul server and another one(Node B) is just joining to the server's cluster.
Node A has ingress gateway and a service to route the traffic to other services. Then I would like to route the traffic to a service which is running on Node B beyond Node A. All services for each node have been configu

[2021-05-25 13:38] thisisnotashwin commented on #963
Aha!! yes this looks right! This is what you would expect to see in case all the clients were successfully able to connect to each other!! Nicely done @Shige99011

[2021-05-25 13:44] thisisnotashwin commented on #968
Hey @oguzhanaygn, thanks for raising this issue. This can be resolved by setting the value of  `tls.httpsOnly` to `false`. This issue is because the ELB performs TLS termination as you guessed and send the request to Consul over `http` while the consul server expects traffic to be `https` only and perform TLS termination themselves.

[2021-05-25 14:00] thisisnotashwin commented on #970
hey @Shige99011

In the above case, the IP that the service is registered with Consul has to be the NodeIP (using node ports) and not the cluster IP. That is because there is no way currently for Consul to route traffic to the service. Mesh Gateways currently only work on a Consul federation (in which case you have multiple Consul Servers in different datacenters that are federated together).
I th

[2021-05-25 14:41] thisisnotashwin commented on #965
hey @debjitk,

would you happen to have the logs from the failing container? does it fail before starting up? it is a little difficult to identify what could be the potential problem here without the logs unfortunately

[2021-05-25 15:10] rrondeau opened #971 "Consul ingress gateways not starting after chart upgrade"
### Overview of the Issue

Consul ingress gateways not starting after helm upgrade with values

### Reproduction Steps

Steps to reproduce this issue, eg:

1. When running helm install with the following `values.yml`:
[code]
1. View error
[code]
### Logs

No logs from the container :/

### Environment details

If not already included, please provide the following:
- `consul-k8s` version: 0.25.0
-

[2021-05-25 16:36] david-yu commented on #971
Hi @rrondeau would it be possible to a `kubectl describe pod` on the the two failing ingress gateway pods? Wondering if there are any hints there.

[code]

[2021-05-25 17:14] choppedpork commented on #956
Many thanks @lkysow - that does indeed explain everything. Will use the reconnect timeout setting until an upgrade to 1.21 is possible. Glad I've asked!

[2021-05-25 17:14] #956 closed

[2021-05-25 20:17] oguzhanaygn commented on #968
Hey @thisisnotashwin , I applied your other solution right now, https://discuss.hashicorp.com/t/consul-helm-issue-terminating-tls-at-aws-load-balancer/9749/5, setting UI service to false and creating LoadBalancer Service seperately. It seems okay for now, is it suitable for production use? Thanks you from now, regards.