[2019-12-20 10:24] thetruechar commented on #222
@lkysow hi, same issue here. alibaba cloud ACK engineer said that the ack does not support hostport, only support service nodeport, so are there any workarounds for this?

[2019-12-20 12:57] subashd opened #319 "service check is failing and catalog pod is not coming up"
I have installed consul using helm chart enabling syncCatalog.

Issue: syncCatalog pod is not coming up

[code]

[2019-12-20 17:25] lkysow commented on #319
Hi, looks like there's two issues here. One with the sync-catalog and one with the init container for the static-server pod not being able to reach the Consul client. They might both be caused by the same problem though: `hostPort`'s not working.

1. Can you get me the logs of the `sync-catalog` Pod
1. What version of Kubernetes are you using (`kubectl version`)
1. Where are you running Kubernetes

[2019-12-20 17:30] lkysow commented on #222
Hi @thetruechar if you're just using the `syncCatalog`, you can manually change the `-http-addr` in the Helm Chart for the `sync-catalog` deployment to use one of your Consul Server addresses however this is a hacky workaround.

[code]

Where `CONSUL_FULLNAME` is `<helm release name>-consul`

[2019-12-20 17:31] lkysow commented on #222
It's weird they say they don't support that though. I can see in these docs that they're using hostPort: https://www.alibabacloud.com/help/doc-detail/94800.htm

[2019-12-20 17:49] subashd commented on #319
1. Logs of sync-catalog Pod:

[code]

[2019-12-20 17:55] lkysow commented on #319
Thanks! So yeah it's both caused by the same problem: the hostPort not working. There's not much we can do to help you unfortunately. This is a Kubernetes problem now, not a Consul problem. You need to figure out why the host IP and port aren't working.

[2019-12-20 18:06] thetruechar commented on #318
@lkysow hi, i used anubhavmishra/tiny-tools you mentioned in[ issue-319](https://github.com/hashicorp/consul-helm/issues/319 ) to deploy in alibaba ack, it successfully deployed, and no log output, so it's weird why pod encounter connection refused when connect to consul agent

[2019-12-20 18:40] subashd commented on #319
@lkysow ... I recreated the cluster setup with old calico...I did not observe the issue

[2019-12-20 18:40] #319 closed

[2019-12-21 00:18] lkysow commented on #300
Hi @bsakweson, we're working on full TLS support as we speak and will have a release in January. Please follow this ticket: https://github.com/hashicorp/consul-helm/issues/136 for updates.

I'm going to close this because our focus is on getting that release out and that should close this issue.

[2019-12-21 00:18] #300 closed

[2019-12-21 00:20] lkysow commented on #23
External servers are now supported thanks to https://github.com/hashicorp/consul-helm/pull/289

[2019-12-21 00:20] #23 closed

[2019-12-21 00:51] bsakweson commented on #300
Do you mind sharing an alternate way if there is any? Closing this issue without any resolution is not helpful for anyone who may run into the same issue. Wouldn't you agree?

[2019-12-21 07:17] thetruechar commented on #318
@lkysow
Have  a question, i don't find hostport definition in [client-daemonset.yaml ](https://github.com/hashicorp/consul-helm/blob/master/templates/client-daemonset.yaml), why the result will produce hostPort?

[2019-12-21 07:53] thetruechar commented on #318
@lkysow
I found a way to workaround hostport limitations in Alibaba ack,
I commented out all hostport in client-daemonset.yaml, and add the following in template.spec
[code]
I run static-server/static-client, it works.
Can you verify this modification? Maybe we can put this option in helm?

[2019-12-21 21:43] lkysow commented on #300
You're trying to get TLS working yourself right? There isn't an alternative
way that I know of except to wait for us to finish the feature. Someone
else running into the same issue is advised to wait on the main feature
ticket tracking TLS support.

Sorry for closing the ticket without resolution but I was treating it as a
duplicate of the TLS support ticket. We don't want to have duplicate
issues

[2019-12-21 21:44] lkysow commented on #318
Yeah we need to find the time to try it out on ACK and then we can update
accordingly.

On Fri, Dec 20, 2019, 11:53 PM charlie <notifications@github.com> wrote:

[2019-12-22 06:10] avishaiNB commented on #316
Hi, thanks for the reply, currently as a workaround i created an ingress for easy access to the UI port, but it would be nice to have all other ports exposes on consul as well, if you would add that feature in the near future it will be awesome!

10x!
Avishai.

[2019-12-23 16:50] lkysow commented on #316
For sure. This is related to https://github.com/hashicorp/consul-k8s/issues/68 which is waiting on https://github.com/hashicorp/consul/issues/5388 so I'll close this and if you want to get notified when it's built subscribe to that consul issue.

[2019-12-23 16:50] #316 closed

[2019-12-26 06:19] yueru-mylove commented on #76
I also got this problem. Though the consul agent join each member correctly, it still display some errors in the log below, almost the same with the error above.
[code]
And the kube version is 1.16.2. bootstrapped by kubeadm , stand-alone. Need help.

[2019-12-31 13:10] lkysow commented on #76
@yueru-mylove it looks like in the end of your logs the consul cluster comes up correctly. Sometimes KubeDNS takes a while to start working so the initial errors are expectes. Are you noticing some functionality not working? Please open up a new issue if so because I don't see the encryption errors in your logs which was the reason for this issue.

[2020-01-02 04:52] yueru-mylove commented on #76
@Ikysow Thankyou so much, sir. It working normaly. And I just have a question if a consul dns is must when deploying consul-cluster with k8s as Ｉ ever got a failed deploying without consul dns using customized sts, svc, sa, cm yaml file while each part is working normally.
And the error log is as belows:

    2020/01/02 04:48:18 [ERR] agent: Coordinate update error: No cluster leader
    2020/01/0

[2020-01-02 16:02] lkysow commented on #76
Consul DNS is not required. Those errors happen when the servers can't elect a leader. I'd look at the logs on each server to try and figure out what's going on.

What exactly do you mean you got failed deployment without Consul DNS? How are you turning it on/off? With:
[code]
? This won't affect leader election.

[2020-01-02 21:56] eelcoh opened #322 "consul-helm not functioning on Kind"
I can't get the consul-helm to result in a working consul install on [kind](https://kind.sigs.k8s.io/)

Using
* kind v0.6.1 go1.13.4 darwin/amd64
* Helm v3.0.1

[code]

[code]

[code]

[code]

[2020-01-02 22:55] lkysow commented on #322
Can you share the logs from each of the consul server pods?

[2020-01-03 05:58] yueru-mylove commented on #76
The consul-0 starting logs is as belows:

    2020/01/03 01:57:14 [INFO]  raft: Initial configuration (index=0): []
    2020/01/03 01:57:14 [INFO] serf: EventMemberJoin: consul-0.dc1 10.244.0.102
    2020/01/03 01:57:14 [INFO]  raft: Node at 10.244.0.102:8300 [Follower] entering Follower state (Leader: "")
    2020/01/03 01:57:14 [INFO] serf: EventMemberJoin: consul-0 10.244.0.102
    2020/01/03 0

[2020-01-03 15:55] lkysow opened #323 "failed to sync remote state: No cluster leader"
_Originally posted by @yueru-mylove in https://github.com/hashicorp/consul-helm/issues/76#issuecomment-570472110_

The consul-0 starting logs is as belows:

    2020/01/03 01:57:14 [INFO]  raft: Initial configuration (index=0): []
    2020/01/03 01:57:14 [INFO] serf: EventMemberJoin: consul-0.dc1 10.244.0.102
    2020/01/03 01:57:14 [INFO]  raft: Node at 10.244.0.102:8300 [Follower] entering Follo

[2020-01-03 15:56] lkysow commented on #76
@yueru-mylove I'm moving this to https://github.com/hashicorp/consul-helm/issues/323. Please follow up there.

[2020-01-03 15:58] lkysow commented on #323
@yueru-mylove it looks like you are not using the helm chart from this repository but using the one from `helm/charts`: https://github.com/helm/charts/tree/master/stable/consul.

We can't help you with that chart because it's not ours. You can either open an issue up in that repo or you can install our chart by following https://www.consul.io/docs/platform/k8s/run.html

[2020-01-03 20:16] eelcoh commented on #322
created a clean install:

[code]

The `kubectl logs hashicorp-consul-server-*` are all empty. The other output is attached.

`→ helm get all hashicorp`
[helm-get-all-hashicorp.txt](https://github.com/hashicorp/consul-helm/files/4020742/helm-get-all-hashicorp.txt)

`→ helm status hashicorp`
[helm-status-hashicorp.txt](https://github.com/hashicorp/consul-helm/files/4020743/helm-status-hashicorp.txt)

[2020-01-03 21:02] codyde commented on #322
I can say for sure that I have the Consul Helm chart working with kind in my environment, using the same kind node image as you. Just out of curiosity, if you have kind deploy additional worker nodes - do you have a different experience? I typically end up using [this](https://gist.github.com/codyde/b83966dd87d338eb80ad0d6f923b868d) config for clusters (1 master/3 workers)

I've linked my values.y

[2020-01-03 21:28] lkysow commented on #322
Thanks for those logs and your excellent formatting!! So the problem right now is that consul-server's 1 and 2 are stuck in Pending. Consul won't start until it has quorum which means it needs all 3 servers. To figure out what's going on there I'll need you to show the output of `kubectl describe` for those pods.

If you don't need 3 servers (unlikely on Kind) you can also set:
[code]
To only brin

[2020-01-03 21:50] eelcoh commented on #322
Tried this setup. With much more succes. I will have to look into that crash loop back off later.

[code]

[2020-01-03 22:04] eelcoh commented on #322
Yes. That works.

I had tried the `replicas: 1`, but was not aware of the `bootstrapExpect: 1`. That did the trick. Thanks!

[2020-01-04 08:57] eelcoh commented on #322
One more thing on this one, as i had a crash loop back off on the `consul-connect-injector-webhook-deployment`.
[code]

Turned out i had to remove this line from `consul-helm/templates/connect-inject-deployment.yaml` to resolve that:
`-consul-k8s-image="{{ default .Values.global.imageK8S .Values.connectInject.image }}" \
`

[2020-01-04 09:06] eelcoh commented on #322
I think running on Kind is a great way to explore the possibilities of Consul, so you may want to support it, perhaps through [documentation](https://www.consul.io/docs/platform/k8s/index.html).

As far as i am concerned, this issue can be closed.

[2020-01-04 09:21] yueru-mylove commented on #76
Thank you so much. sir.

[2020-01-06 17:08] lkysow opened #324 "Document how to run on Kind"
Kind: https://kind.sigs.k8s.io

The only problem is the servers requiring 3 nodes due to their anti-affinity config. Can either run with
[code]

or
[code]

Request from https://github.com/hashicorp/consul-helm/issues/322

[2020-01-06 17:09] lkysow commented on #322
I think because the values.yaml isn't using the latest consul-k8s version.

I got it working with either:
[code]

or
[code]

I've created https://github.com/hashicorp/consul-helm/issues/324 to track documenting this. Good idea.

[2020-01-06 17:09] #322 closed

[2020-01-09 21:41] tpetrychyn opened #327 "Sync-Catalog i/o timeout"
Using latest master on a fresh Digital Ocean cluster and only changing syncCatalog to enabled: true results in the following error:

[code]

Cluster version is `TOR1 - 1.16.2-do.1` all default settings, I created a fresh cluster to test this.

I do know that sync catalog works in v0.8.1 of this chart but is now broken in master. Any help is appreciated!

[2020-01-09 21:46] lkysow commented on #327
Hi, what is the output of `kubectl get pods`? Are all the consul clients running ?

[2020-01-09 21:46] tpetrychyn commented on #327
[code]

Thanks!

[2020-01-10 22:47] #136 closed

[2020-01-10 23:49] ishustava commented on #129
Hey @reidab, we've just shipped full TLS support in the [latest Helm chart version](https://github.com/hashicorp/consul-helm/releases/tag/v0.16.0) that should address your concerns.

I'm going to close this for now, but please don't hesitate to comment here to re-open or open a new issue. Thanks!

[2020-01-10 23:49] #129 closed

[2020-01-11 00:04] ishustava commented on #284
Hey @subashd, we haven't heard from you in a while, but I hope you were able to resolve this issue. I'm going to close this, but please feel free to comment here to re-open if you're still having problems.

Thanks!

[2020-01-11 00:04] #284 closed

[2020-01-11 00:17] ishustava commented on #285
Hey @ado120, sorry for the delay.

To add to what Luke said above, if you don't want to use Consul DNS, you could disable it in the chart by setting `dns.enabled` to `false`. This will tell the ACL bootstrapping job not to create a policy for the anonymous token. If you want to use Consul DNS, however, you need this policy.

You could take a look at the [Bootstrapping ACLs guide](https://learn.has

[2020-01-11 00:19] ishustava commented on #299
Hey @itsecforu, we haven't heard from you in a while. I hope you were able to resolve this.

I'm closing this, but please feel free to comment here to re-open if you're still seeing issues.

[2020-01-11 00:19] #299 closed

[2020-01-11 00:25] ishustava commented on #157
Hey @infa-bsurber, we've shipped TLS support in version [0.16.0](https://github.com/hashicorp/consul-helm/issues/157).

I'm going to close this issue, but if the latest release doesn't work for you, please let us know and we'll re-open this issue. Thanks!

[2020-01-11 00:25] #157 closed

[2020-01-12 08:57] francis826 commented on #237
I'm running into this as well. I've created 3 PV's (the documentation doesn't mention this as a requirement) like so:

[code]

**Shows they are available:**

[code]

**Describe PV:**

[code]

**Create Consul cluster:**

[code]

**Get pods:**

[code]

**View the PVC's:**

[code]

**Describe PVC's:**

[code]

All three servers are failing with `pod has unbound immediate PersistentVolumeClaims (repea

[2020-01-12 22:23] blhagadorn commented on #237
@francis826 This seems to be an issue that comes up a lot as a generic error message ( the `pod has unbound immediate PersistentVolumeClaims` part, that is).

Would you mind getting the YAML of your default storage class (or the one you are specifying in your Helm chart).  I was on IBM Cloud, but adding a custom storage class fixed this error for me.  Particularly, I changed the `volumeBindingMode

[2020-01-12 22:25] blhagadorn commented on #237
Or try, `kubectl get storageclass default -o yaml`

[2020-01-13 02:04] francis826 commented on #237
@blhagadorn to be completely honest, I didn't created a default storage class. I went ahead and created one, but it still isn't working:

**Storage Class:**

[code]

**Kubectl get storageclass:**

[code]

**New PV Created:**

[code]

**PVC:**

[code]

[2020-01-13 08:05] lawliet89 opened #328 "Support external TLS Ceritifcates from Vault"
We can use [`vault-helm`](https://github.com/hashicorp/vault-helm) with its Agent Injector to provide the secrets for Consul.

I would be happy to give a stab at this, if the maintainers think this is one of the good ways to support external certificates.

[2020-01-13 16:59] lkysow commented on #237
@francis826 if you're doing everything manually you need to start with creating the PVCs and then creating the PVs that satisfy the PVCs. From your first post, it looks like you only created the PVs.

The PVCs need to follow a specific naming convention:
https://www.consul.io/docs/platform/k8s/run.html#using-existing-persistent-volume-claims-pvcs-

Here's what my PVCs and PVs look like on GKE for

[2020-01-13 16:59] tpetrychyn commented on #327
Any idea? I pulled master this morning and did another fresh run, again only sync set true. The server and clients no longer log any network issues, they are quiet and running healthy for 100 minutes.

Sync catalog full output looks like
[code]

pod list looks like:
[code]

[2020-01-13 17:01] lkysow commented on #327
We'll have to try it on DO ourselves. My guess is that the node IP and hostPort aren't working somehow and so the sync-catalog pod can't talk to the local agent on the nodeIP/hostport.

[2020-01-13 20:01] tehmoon opened #330 "tls-init-cleanup-job deletes newly created certificates"
Hi!

I was looking at the new TLS feature merged couple days ago as it seems to be the only all included TLS option.
I'm running an alternative workflow using helm templates and kustomize, and it's possible that it is not supported.
My issue is that tls-init-cleanup-job runs right after tls-init-job which deletes the newly created certificates. If I delete and run the job again, everything works a

[2020-01-13 20:09] tehmoon commented on #330
I think my issue is that it is a `pre-delete` hook but my workflow does not support this.

[2020-01-14 00:51] tehmoon commented on #330
I'm closing the issue because I understood how to fix it myself in my workflow.
In order to do it, I have to deactivate generating the hooks and then enable them per use case myself.
If you are curious, this is my kustomize plugin: https://github.com/tehmoon/helm3-chart-inflator

[2020-01-14 00:51] #330 closed

[2020-01-14 05:33] francis826 commented on #237
@lkysow Thank you for your response, I'm new to Kubernetes and appreciate your time! I'm even more confused now as I'm just trying follow the simple guide found on https://www.consul.io/docs/platform/k8s/run.html to tinker with Consul. My confusion comes from the helm install command creating PVC's for me which is why I originally only created the PV's, but you're telling me I need to create them

[2020-01-14 16:31] tpetrychyn commented on #327
I have more information that may prove useful:

Let's call my three nodes A, B, and C. I spun up an ubuntu pod shell on each of them. My leader consul-server is on node A.

The 2 shells that do not share a node with the consul leader can hit it just fine.. i.e.:
[code]

However, the ubuntu living on node A times out on the above curl.
Node A can however ping that IP:
[code]

Checking out `kube-sys

[2020-01-14 19:10] tpetrychyn commented on #327
Okay finally fixed it.. turns out I actually made this change back in May when my organization first setup consul in DO lol..

The workaround is add
[code]
to client-daemonset.yaml

[2020-01-14 19:15] tpetrychyn commented on #327
This does feel like a workaround however, I think it would be valuable to investigate why it cannot work in DO normally.

[2020-01-14 20:08] bradfordwagner commented on #294
Thanks for the clarification on Pod Communication.

I noticed that Consul requires fully wan connected datacenters. Does this mean that a consul-0.dc1, must be accessible by consul-0.dc2? We do not want to expose pod ip's externally. Is there a workaround?

[2020-01-15 00:39] stk0vrfl0w opened #333 "Chart version is out of sync with the last couple of releases"
Similar to #95 and #50, https://github.com/hashicorp/consul-helm/blob/85093b663326b54b06eb2b3e9571cac153949b63/Chart.yaml#L3 references 0.15.0 instead of 0.16.1.

[2020-01-15 15:21] lkysow commented on #294
Yes exactly. Each Consul server needs to be directly accessible on it's WAN address to every other Consul server in the other DC. To accomplish this, you can either expose the node IPs and use hostPort mapping (this PR I'm working on does that: https://github.com/hashicorp/consul-helm/pull/332) or expose the servers via Kubernetes LB's (this PR: https://github.com/hashicorp/consul-helm/pull/27).

[2020-01-15 15:21] #294 closed

[2020-01-15 15:22] lkysow commented on #333
Good catch! We're going to do a new release and update the version this time.

[2020-01-15 15:23] lkysow commented on #333
Fixed by https://github.com/hashicorp/consul-helm/pull/334

[2020-01-15 15:23] #333 closed

[2020-01-16 16:26] lkysow commented on #153
We've done some testing on this and seen a couple of milliseconds of latency. What were you seeing?

[2020-01-16 16:30] lkysow commented on #167
We've added support for setting `global.name` or `fullnameOverride` in https://github.com/hashicorp/consul-helm/pull/307. In order to upgrade you'll need to set either of these keys to `consul`:
[code]

I've updated the CHANGELOG for 0.7.0 to indicate this.

[2020-01-16 16:30] #167 closed

[2020-01-16 16:32] lkysow commented on #232
Now that Helm 3 is released tiller is not required. This chart supports Helm 3.
The chart relies on Helm hooks for some of its features like TLS, ACL Init. These features won't work if using `helm template` so it no longer makes sense to document this.

[2020-01-16 16:32] #232 closed

[2020-01-16 16:36] lkysow commented on #238
Hi Lukas, unfortunately I don't think we're ever going to be able to change the `global` variable. It would break backwards compatibility too much.

Since vault has made the change to `server.image` I think this does solve the particular problem you're encountering.

[2020-01-16 16:36] #238 closed

[2020-01-16 16:47] lkysow commented on #272
I can't reproduce this issue. With both hostPort mapping and then using node IP or service type LoadBalancer I can always connect.

[2020-01-16 16:47] lkysow commented on #297
This is documented here now: https://www.consul.io/docs/platform/k8s/run.html#using-existing-persistent-volume-claims-pvcs-

[2020-01-16 16:47] #297 closed

[2020-01-16 21:52] lkysow commented on #327
I've managed to reproduce this. I think it's due to this issue in cilium: https://github.com/cilium/cilium/issues/9784.

I think support hostNetwork via a helm value might be a good solution as this seems to also occur in alibaba (although I don't know if hostNetwork works there as a fix).

[2020-01-17 03:02] pkelleratwork commented on #237
i had similar issues - same errors. I deleted the default pvc created by the helm install and edited the values.yaml and got it working. The default values.yaml created pvc without a storage class and seems to break it.

`$ kubectl get pvc`
[code]
`$ kubectl delete pvc data-default-consul-consul-server-0 data-default-consul-consul-server-1 data-default-consul-consul-server-2`

then edit values.yam

[2020-01-17 15:09] blhagadorn commented on #237
@pkelleratwork @francis826 Are you both using GKE? My experience was for IBM Cloud

[2020-01-17 15:31] pkelleratwork commented on #237
@blhagadorn - sorry, no, i was on aws eks. thanks for pointing that out - i edited my comment above with that info.

[2020-01-17 20:26] scrossan opened #339 "Support for Telemetry/DogStatsD"
Hi,

Similar to https://github.com/hashicorp/consul-helm/issues/262 it would be great if the chart could support configuring telemetry options. We're using Datadog for monitoring/alerting and it seems that only a subset of metrics are ingested by the datadog-agent via Consul's API (down to `consul.peers` [in this list](https://docs.datadoghq.com/integrations/consul/#metrics)), which I configured b

[2020-01-17 21:15] bakhtyarkf commented on #153
the latency was about 100ms, it was my last company so I can't test it again.

[2020-01-17 23:51] lkysow commented on #153
Hmm okay. Sorry we can't help further then. We're planning to publish some benchmarks in the future so hopefully that will help.

[2020-01-17 23:51] #153 closed

[2020-01-18 00:40] ishustava commented on #330
Thanks for posting the solution @tehmoon!

[2020-01-18 05:59] srimandarbha opened #340 "consul UI not listing all the nodes"
Hello

I have setup 3 server consul pods on a three node kubernetes setup and i am able to list all the servers & clients from "consul members" output, but i am not able to see all the nodes info from consul UI (using port-forward on consul svc to check the consul UI). Is this expected or am i missing anything

Thanks
Sriman

[2020-01-18 17:24] lkysow commented on #340
Hi, does the UI load? Can you show a screenshot of what you're seeing?

[2020-01-18 18:34] srimandarbha commented on #340
Hello @ikysow

I am seeing the below errors in the pod logs

    2020/01/18 18:28:16 [WARN] agent/proxy: running as root, will not start managed proxies
    2020/01/18 18:28:16 [WARN] memberlist: Failed to resolve hashicorp-consul-server-0.hashicorp-consul-server.default.svc: lookup hashicorp-consul-server-0.hashicorp-consul-server.default.svc on 169.254.25.10:53: no such host
    2020/01/18 18:28

[2020-01-18 18:40] srimandarbha commented on #340
# consul members
Node                       Address             Status  Type    Build  Protocol  DC     Segment
hashicorp-consul-server-0  10.233.92.104:8301  alive   server  1.5.3  2         bndev  <all>
hashicorp-consul-server-1  10.233.90.58:8301   alive   server  1.5.3  2         bndev  <all>
hashicorp-consul-server-2  10.233.96.57:8301   alive   server  1.5.3  2         bndev  <all>
node1

[2020-01-18 18:41] srimandarbha commented on #340
above is the consul members output

[2020-01-18 18:43] srimandarbha commented on #340
* Connected to localhost (127.0.0.1) port 8500 (#0)

< HTTP/1.1 200 OK
< Content-Type: application/json
< Vary: Accept-Encoding
< X-Consul-Effective-Consistency: leader
< X-Consul-Index: 7
< X-Consul-Knownleader: true
< X-Consul-Lastcontact: 0
< Date: Sat, 18 Jan 2020 18:43:02 GMT
< Content-Length: 259
<
* Connection #0 to host localhost left intact
[{"ID":"582991d7-8a11-cd53-b6a6-2096e2508673","N

[2020-01-18 18:44] srimandarbha commented on #340
I have coredns configured on kubernetes, but i see in the logs errors related to dns resolution pasted above. I am able to resolve the dns names manually

[2020-01-19 01:17] lkysow commented on #340
Is there a change that you have old pvcs from a previous installation? Are you able to do a `helm delete` and also a `kubectl delete pvc`? See https://www.consul.io/docs/platform/k8s/uninstalling.html.

[2020-01-19 02:25] srimandarbha commented on #340
Hi @lkysow, i am manually deleting pvc & pv along with removing the contents under local-storage after the helm uninstall . I have tried the helm install using helm 3 & helm 2 as well but still have the same issue.

[2020-01-20 01:38] srimandarbha commented on #340
After a reinstall for 3rd time, i am not able to list any nodes using the list api. "Consul members" lists the servers & clients, but "consul info" command get hung

[2020-01-20 15:56] lkysow commented on #340
Do you still see the:
[code]
Errors?

That's using the server pod ips on port 8300. Can you make TCP connections to them? (`nc -v 10.233.90.56 8300`)?

[2020-01-20 17:58] srimandarbha commented on #340
I don't see the ips , even in the list-peers i dont see these ips and i. Seeing different ips. Looks like this might be one reason and also when the look up fails on one of the server pod during the after the pod creation , it is not be listed in v1/catalog/nodes. When i am reinstalling the helm deployment (cleaning up the pvcs , pv and files under local-storage) i am still seeing this issue.

[2020-01-20 18:37] srimandarbha commented on #340
We are using kubernetes 1.17 ,3node setup deployed through kubespray . We are using calico as network . Consul version 1.5.3

[2020-01-20 18:41] lkysow commented on #340
Let's try and simplify things by running with one server:
[code]

Also, why do you have this client config:
[code]

The clients should automatically join with the servers without that. Is there a specific reason you have that?

[2020-01-20 18:43] lkysow commented on #340
When running with 1 server please send me:
1. output of `kubectl get pod`
1. output of server log
1. output of a consul client log
1. output of consul members run on the server
1. output of consul members run on a client

[2020-01-20 20:00] lkysow commented on #327
The fix just got added to Cilium's roadmap for their 1.8 release. They don't have 1.7 out yet so it sounds like this will take a while.

[2020-01-21 06:25] srimandarbha commented on #340
Hi @lkysow

Removing the extra_configs worked for me

root@node1:~# k exec -it hashicorp-consul-server-0 consul members
Node                       Address             Status  Type    Build  Protocol  DC  Segment
hashicorp-consul-server-0  10.233.92.171:8301  alive   server  1.5.3  2         bn  <all>
hashicorp-consul-server-1  10.233.96.90:8301   alive   server  1.5.3  2         bn  <all>
hashicor

[2020-01-21 13:58] srimandarbha commented on #340
We are seeing more of these errors on consul servers and also unable to hit the consul ui very often. UI is taking lot of time to fetch details of nodes & services

logs:
    2020/01/21 13:51:20 [ERR] yamux: keepalive failed: i/o deadline reached
    2020/01/21 13:51:20 [ERR] yamux: Failed to read stream data: read tcp 10.233.90.114:58284->10.233.92.210:8300: use of closed network connection
    2

[2020-01-21 14:09] srimandarbha commented on #340
Below is the output:
=============

1. output of kubectl get pods
NAME                                                              READY   STATUS    RESTARTS   AGE
counting-service-deployment                                       2/2     Running   0          101m
dashboard-service                                                 2/2     Running   0          100m
hashicorp-consul-72h47

[2020-01-22 18:41] wiltonfelix commented on #323
Hello @lkysow  i had this problem:

my values.yaml:
[code]

LOGS:
[code]

[2020-01-22 20:52] lkysow commented on #323
Hi @wiltonfelix please open a new issue. This ticket is for "no cluster leader" which doesn't occur in your logs. Also please only include the values you're overriding, not the whole values.yaml, there's so much in there it's too hard to figure out what your specific config is.

I'm closing this issue as @yueru-mylove  never responded.

[2020-01-22 20:52] #323 closed

[2020-01-24 00:21] jtcressy commented on #235
👋 Adding support for service account annotations will also enable workload identity in AWS. IAM Roles for Service Accounts uses annotations to control injection of credentials.

[2020-01-24 08:06] francis826 commented on #237
I'm running bare metal and figured out my issue with the help from everyone here.

[code]

I needed to create 3 volumes for these claims as @lkysow mentioned above:

[code]

[code]

[code]

After applying those, the servers came up and the claims were successful:

[code]

[2020-01-30 22:15] tomwganem opened #344 "Support for snapshot cronjob"
It would be great if this chart could also install a cronjob that ran `consul snapshot` and uploaded it to s3 storage.

[2020-01-30 22:21] lkysow commented on #344
Hi Tom,
FYI, we do support the consul snapshot agent (https://www.consul.io/docs/commands/snapshot/agent.html) but this is only available for consul enterprise.

[2020-01-31 05:22] tomwganem commented on #344
Yes, I did notice that. It's a great solution for those with an enterprise license. Alas, I am a unlicensed plebeian.

[2020-01-31 12:42] srimandarbha commented on #340
any update

[2020-02-11 05:46] blake opened #351 "Document meshGateway values in Helm Chart Reference"
Mesh Gateway support was added to the Helm chart in #203. However, the config values are not documented on the [Helm Chart Reference](https://www.consul.io/docs/platform/k8s/helm.html).

It would be great if these config values were documented so that the availability of this feature is more apparent to those browsing the documentation.

[2020-02-11 10:00] jonandernovella commented on #328
We are also interested in this feature.

[2020-02-13 11:05] junaid18183 opened #352 "After destroying the helm chart the secrets for token /Service Account/PSP are not getting deleted"
If you deploy the helm chart with `bootstrapACLs: true`  and `enablePodSecurityPolicies: true` the helm chart creates the following secrets
[code]

Those are not getting deleted if we delete the helm chart.
Similarly the psp, service account etc are not getting deleted as well

[2020-02-13 14:44] lkysow commented on #352
Hi Juned, for now you'll need to manually delete the secrets and the persistent volume claims:
[code]

[2020-02-14 02:44] srimandarbha opened #353 "Unable to load consul UI"
Hello

We are using consul-helm with 3 replicas, we are able to see the catalog nodes but we are unable to access UI on svc. It is giving 500 error with a below message

Below is the custom values
[code]

Error message:
=========

Consul returned an error. You may have visited a URL that is loading an unknown resource. So you can try going back to the root or try re-submitting your ACL token/Secre

[2020-02-14 02:50] srimandarbha commented on #353
Consul returned an error. You may have visited a URL that is loading an unknown resource. So you can try going back to the root or try re-submitting your ACL token/SecretID by going back to ACL's.

[2020-02-14 12:08] grozan opened #354 "more strict RBAC rules wherever possible"
Hi,

I'm looking at the resources generated by the chart when TLS is enabled.
I *think* it's possible to be a bit more strict, with regards to RBAC rules.
For example, for the _tls-init_ and _tls-init-cleanup_ stuff, couldn't _Role_ and _RoleBinding_ be used instead of _ClusterRole_ and _ClusterRoleBinding_? Everything happens in one namespace, right, so the _tls-init_ service account does not nee

[2020-02-14 12:18] johncowen commented on #353
HI @srimandarbha ,

Thanks for reporting this, is there any chance you can look in the Network Panel of the Web Inspector in your browser and see which request is giving you the 500 error?

Let me know if you are unsure how to do this and I can help you find it.

Thanks,

[2020-02-21 04:03] jiangyongbing24 commented on #353
Try to enable bootstrapACLs option

[2020-02-21 11:46] larssb opened #358 "Support external-to-k8s Consul clients"
**THE ISSUE**

Connecting `Consul` clients external to a K8S cluster, when `Pod` IP's are not route-able.

**SETUP**

* K8S v1.14.6
* Docker v18.3.1
* Using the Official Consul Helm chart found [here](https://hub.helm.sh/charts/stable/consul). v0.16.2
* Consul agent running on a Windows node outside the cluster
  * Agent commandline: `.\consul.exe agent -retry-join 'provider=k8s kubeconfig="./cons

[2020-02-24 11:08] larssb commented on #358
Update. So I got it my Consul agent to join the Consul servers inside the K8S cluster. By manually adding the `hostNetwork: true` to the `template:spec` part of the `server-statefulset.yaml` file. What are your thoughts on this. In regards to this solution becoming a part of a future Helm release of this chart.

Thank you

[2020-02-24 15:54] lkysow commented on #358
Hi, we actually have an in-progress PR on that already that I think accomplishes the same thing? https://github.com/hashicorp/consul-helm/pull/332/files

[2020-02-25 03:15] jiangyongbing24 opened #359 "Acl-token Permission denied"
I use the token in acl-tokens.json to access consul-ui normally, but I use this token in spring cloud consul to register my service, and the prompt message: Permission Denied. Isn't this token a bootstrap acl token? How do I get a token with sufficient permissions?

[2020-02-25 06:30] jiangyongbing24 opened #360 "Permission denied when registration service entered consul"
I use the token in the acl-tokens.json file in the mount directory for permission verification.When using this token in spring cloud consul, I found that the permission was denied.Another confusion is why after entering the token in the consul ui, there will only be a message reminding the token to be correct or wrong, and it will not jump to the policy management page. After I tried to install co

[2020-02-25 10:07] larssb commented on #358
Hi @lkysow,

I'm not sure that the PR you are referring to solves this challenge. Isn't the K8S auto cloid-join provider fetching the POD IP's from the K8S API, relative to the `kubeconfig` with wich the Consul agent, to be joining the cluster, is started with?

Furthermore. The `hostNetwork` setting is not available to be configured via the `values.yaml` file ... for the server statefulset. And,

[2020-02-25 19:41] lkysow commented on #360
Hi, I think you're using the agent token. The bootstrap token is stored in a Kube secret: <release-name>-consul-bootstrap-acl-token. If you want a token for registering a service you should create your own policy and acl token or use consul login which uses the Kubernetes service account to log in and get an acl token. See https://learn.hashicorp.com/consul/security-networking/production-acls#appl

[2020-02-25 19:43] lkysow commented on #359
Hi, I think this is a duplicate of https://github.com/hashicorp/consul-helm/issues/360?

[2020-02-25 19:45] lkysow commented on #358
Ahh sorry I missed this piece. This week is our company off-site

[2020-02-26 06:56] jiangyongbing24 commented on #360
I tried -consul-bootstrap-acl-token but it failed, so I used the wrong agent token, and today I suddenly realized that Opaque Secret is base64 encrypted, I forgot to decrypt!

[2020-02-26 13:00] larssb commented on #358
Looking forward to that. Thank you.

[2020-02-26 14:44] lkysow commented on #360
Oh no! So are things working now?

[2020-02-26 15:17] jiangyongbing24 commented on #360
yeah, it's works fine,thank you.

[2020-02-26 15:18] #360 closed

[2020-02-26 16:35] lkysow commented on #359
Closing as duplicate

[2020-02-26 16:35] #359 closed

[2020-02-27 01:03] iridian-ks opened #362 "Expose Consul DNS outside of Kubernetes cluster"
Hello,

I did some searches to try and figure if someone else is trying to do the same thing as me. I'm somewhat new to Consul so I apologize if this is a bad question.

I had the idea to expose NodePorts to the network by leveraging Consul's kubernetes sync. I got Services to sync, but now I need some DNS, which defaults to `name.service.consul`. What I was thinking we could do would be to levera

[2020-02-27 14:29] lkysow commented on #362
Hi, port 8600 is open: https://github.com/hashicorp/consul-helm/blob/master/templates/server-statefulset.yaml#L194

Can you make sure you're using this chart and not the one in helm/stable?

We have docs on Consul DNS here: https://www.consul.io/docs/platform/k8s/dns.html. Does than help?

[2020-02-28 23:16] iridian-ks commented on #362
Hi @lkysow thanks for the response.

So, I'm looking here: https://github.com/hashicorp/consul-helm/blob/master/templates/client-daemonset.yaml#L210

The Consul port is using hostPort, which exposes it outside the cluster. I meant to say that I'd like to access Consul's DNS from services outside the Cluster.

[2020-02-29 18:50] cwebbtw opened #363 "Template error following documentation"
Following documentation:

https://www.consul.io/docs/platform/k8s/servers-outside-kubernetes.html

The error is produced:

Error: template: consul/templates/tests/test-runner.yaml:1:14: executing "consul/templates/tests/test-runner.yaml" at <.Values.tests.enabled>: nil pointer evaluating interface {}.enabled

Is the documentation out of date?

[2020-02-29 18:51] cwebbtw commented on #363
I understand that I may need to go and add:

[code]

and then look at the other errors that happen, but it seems as if either the documentation is out, or I'm doing something wrong.

[2020-03-02 07:09] like-inspur opened #364 "advertise_addr use envrionment variable failed"
use server-statfulset to install consul server, and config advertise with POD_IP which is an environment variable defined in statefulset like this:
[code]
But pod start failed and output error like this:
log is DEPRECATED and will be removed in a future version. Use logs instead.
[code]

[2020-03-02 07:43] larssb commented on #358
@lkysow next week have arrived. Looking forward to a chirp from your team.

Have a great day 👍

[2020-03-02 14:58] lkysow commented on #363
Hi Christopher,
This error occurs when the `values.yaml` file inside the chart directory doesn't have the keys:
[code]

I'm guessing that you've been editing the values.yaml file directly inside the chart? When the chart was updated to use the new `tests.enabled` key, the `values.yaml` included with the chart was also updated. If you had a `config.yaml` file outside of the chart that you were usin

[2020-03-02 15:03] lkysow commented on #364
Hi, if using an environment variable in `args` you can't use `${ENV_VAR}` you need to use `$(ENV_VAR)`. See https://kubernetes.io/docs/tasks/inject-data-application/define-command-argument-container/#use-environment-variables-to-define-arguments

[2020-03-02 15:09] lkysow commented on #362
Ahh okay I understand. Have you tried creating a Kubernetes LoadBalancer service that points at the servers or clients on port 8600 and uses UDP protocol. I think that would be the "kubernetes way" for solving this.

[2020-03-02 15:12] lkysow commented on #354
Hey I think you're very much correct! It looks like we don't need to be at the cluster level for a lot of these permissions.

[2020-03-02 15:24] lkysow commented on #353
Hi @srimandarbha in addition to finding the request that's giving you the 500 error, can you show us the URL that you're using? Do you get the same error if you `kubectl port-forward` to one of the `consul-server` pods on port 8500?

Also, if you're setting
[code]
You don't need:
[code]

[2020-03-02 15:30] fusionx86 commented on #358
@lkysow This has been a blocker for me as well. I’m trying to connect consul clients running in VMs to a consul cluster running in k8s. Our enterprise apps run on VMs in private clouds, but we’re shifting to k8s in the same clouds and would like to run the consul servers in k8s with external consul clients running in VMs.

I could work around it using `nodePort` for the consul server and new route

[2020-03-02 15:50] lkysow commented on #358
We could use https://github.com/hashicorp/consul-helm/pull/332/files and have you folks set `host_network=true` in the go-discover string, e.g.
[code]

This causes go-discover to return the underlying host ips instead of the pod ips. This would sidestep the issue with colliding ports when using hostNetwork=true.

How does that sound? You'd still need to set `client.exposeWANPorts` to true if runni

[2020-03-02 15:52] cwebbtw commented on #363
I started with an empty values.yaml and copied the yaml in the documentation:

https://www.consul.io/docs/platform/k8s/servers-outside-kubernetes.html

[code]

The documentation doesn't quite make this clear.

This is not a request for help, but rather feedback around the documentation on the website.

[2020-03-02 16:30] lkysow commented on #363
Ah okay I understand. Yes we could link to https://www.consul.io/docs/platform/k8s/run.html#customizing-your-installation in the places where we show a `config.yaml` file taht tells users that the way to use that config is to create a `config.yaml` file outside of your chart directory and then run `helm install consul ./consul-helm -f config.yaml`.

[2020-03-02 18:52] larssb commented on #358
Hmm that is a good solution @lkysow ... when is that #332 being merged? And help me understand why the client `exposeWANPorts` setting is needed, is that because setting the K8S provider to configure `host_network=true` causes this? I'm trying to understand the behind the scenes stuff.
Because, wouldn't the clients be able to communicate with each other, or is Consul server in this case a type of

[2020-03-02 20:08] lkysow commented on #358
All clients need to be able to gossip with one-another on their advertise ips. This is how Consul agrees which nodes are healthy.

You said that your pod ips were not routable by clients outside the cluster. This means that the clients outside the cluster would not be able to gossip with the clients inside the cluster unless their advertise ips were routable. It sounds like in your setup, the only

[2020-03-02 23:12] brian-byungsookim opened #366 "Consul client not finding server"
For some reason, my Consul client doesn't seem to be able register with the server.

My `values.yaml`:
[code]

Running `kubectl get pods` gets me:
[code]

And running `kubectl logs consul-mw2n8` gets me:
[code]

From what I can tell, my server is running fine and has correctly attained cluster leadership with `kubectl logs consul-server-0`:
[code]

Any ideas why my Consul client can't find the ser

[2020-03-02 23:14] brian-byungsookim commented on #366
FWIW, `kubectl describe pods consul-mw2n8` prints out:
[code]

[2020-03-03 05:34] larssb commented on #358
Thank you very much @lkysow ...

Is there a timeline on #332 ? Looking forward to get this solution tried out.

[2020-03-03 06:58] like-inspur commented on #364
hello, I have checked this bug in the whole project and find two place need to be modifed

[2020-03-03 17:47] lkysow commented on #364
Hi, so in our case this isn't necessary because we're executing via `sh -c "<command>"`. In this case, all the environment variables are correctly substituted because it's run in a shell.

[code]

In the example you showed above, you weren't running in a shell, just using the `args` array so then you need to do this.

[2020-03-04 16:49] danielehc opened #370 "Consul Connect compatibility with envoy 1.10.0"
## Issue

While trying to deploy applications in a k8s cluster with Consul Connect deployed using the following values:

[code]

The pods are unable to start:

[code]

[code]

Checking the logs for the containers I see the following:

[code]

## Workaround

I noticed that using a different version of Envoy the same works properly.

Here my working configuration file:

[code]
I tested the workaroun

[2020-03-04 17:02] lkysow commented on #370
We will document this requirement in https://github.com/hashicorp/consul-helm/pull/365

[2020-03-04 17:45] lkysow opened #371 "Increasing number of servers with ACLs enabled fails"
If the number of server replicas is increased, the new servers don't get ACL tokens applied to them and so they can't function properly.

The way the initial set of servers get their ACL tokens is via the `server-acl-init` Job that makes an agent token update API call. This is then stored on persistent disk for each of those servers. When a new server comes up as a result of increasing the number

[2020-03-04 18:14] lkysow opened #372 "Mesh gateways need to be re-registered (same as lifecycle-sidecar)"
If a consul client pod is restarted (e.g. during an upgrade) it loses all its registrations. We solved this in the case of Connect by running a lifecycle sidecar that re-registers the service. We need to do the same thing for mesh gateways since currently they're only registered when the gateway starts.

The result of the current behaviour is that when the client pod is restarted, the mesh gateway

[2020-03-04 21:19] lkysow opened #373 "Support auto-encrypt"
Support Consul's auto_encrypt functionality for client certificates

[2020-03-05 00:23] fusionx86 commented on #358
Thanks for the help @lkysow. #332 doesn't work for me, but maybe I misunderstood the goal.

My setup is three consul servers and clients deployed to three k8s workers (192.168.1.13,14,15) using your `expose-servers` branch. External clients are on the same 192 network. Value overrides:

[code]

A port scan of the k8s workers from the VMs shows ports 8300, 8301, 8302, 8500, 8502 are open. Consul co

[2020-03-06 11:56] bkannadassan opened #377 "When I disable affinity and use local storage cluster not coming up."
Hi All,

  I see below logs

[code]
I don't see any ip "10.244.2.11" or "10.244.2.10"

[code]
Please let me know if I am missing something on the same..

rgds
Balaji Kamal Kannadassan

[2020-03-06 12:23] bkannadassan commented on #377
latest_configuration = [{Suffrage:Voter ID:0baa4c27-b4f6-055c-004d-ea23da5b35c1 Address:10.244.1.18:8300} {Suffrage:Voter ID:64fb303b-e4f5-5883-f339-101054271436 Address:10.244.2.10:8300}]

above stale ip seen in consul info

[2020-03-06 16:37] lkysow commented on #377
Hi @bkannadassan did you previously bring up Consul? There's a bug with Helm where it doesn't delete previous PVCs when you do a helm delete. It looks like your servers might have old IPs. You can tell if this is happening by looking at the age of your `pvc`'s vs your consul pods.

I'd try tearing everything down and deleting the PVCS, then bringing it all back up.

[2020-03-06 17:39] lkysow commented on #370
Closed by #365

[2020-03-06 17:39] #370 closed

[2020-03-08 04:36] bkannadassan commented on #377
Thanks Luke, I did the same and still saw it having same issue. But after
multiple attempts of clearing pvc and pv at last it started working again.

rgds
Balaji Kamal Kannadassan

On Fri, Mar 6, 2020 at 10:07 PM Luke Kysow <notifications@github.com> wrote:

--
Balaji Kamal Kannadassan

[2020-03-09 06:03] bkannadassan commented on #377
At last got it working Luke and following is the issue..

As per https://kubernetes.io/docs/concepts/storage/persistent-volumes/

   1. Delete the PersistentVolume. The associated storage asset in external
   infrastructure (such as an AWS EBS, GCE PD, Azure Disk, or Cinder volume)
   still exists after the PV is deleted.
   2. Manually clean up the data on the associated storage asset
   accordin

[2020-03-09 12:50] larssb commented on #358
I can join outside Consul clients to Consul servers running in a K8S cluster. By configuring this `Helm chart` with the following values:

1. `client.enabled: false` in the values.yaml file
1. `spec.template.spec.hostNetwork: true` && `spec.template.spec.dnsPolicy: ClusterFirstWIthHostNet`

and then I use the K8S Consul provider on agent boot. E.g. `.\consul.exe agent -retry-join 'provider=k8s kub

[2020-03-09 16:17] lkysow commented on #377
Ahh, yes if you're using hostPath volumes then you'll need to actually fully clear out the files on disk. If things are working now I'll close this issue. Thanks!

[2020-03-09 16:17] #377 closed

[2020-03-09 17:27] kawsark commented on #283
I wanted to provide an update on this issue. By setting `enablePodSecurityPolicies: true` in `values.yaml`, it will generate a set of Pod Security Policy object definitions. These generated objects  should suffice on a default OpenShift install. If `SecurityContextConstraints` objects are being used, then you may need to convert the generated Pod Security Policies to SecurityContextConstraints.

[2020-03-10 13:39] sdeoras opened #379 "how to disable HOST_IP addressing during sidecar proxy injection"
Hi,

This is a question I need some help with and not a bug. I am trying to use the envoy based sidecar proxy injection, however, I see that the updated pod spec makes reference to convoy services running at $(HOST_IP). This is working fine on GKE, however, I was wondering if there is a way to specify this value statically. We need this to work on a system where HOST_IP based addressing is not wor

[2020-03-10 18:58] lkysow commented on #358
@fusionx86

Good catch. The servers are only advertising the podIP for their WAN address, not their LAN address. That PR needs updating.

@larssb did you try using the solution from https://github.com/hashicorp/consul-helm/issues/358#issuecomment-593469766 as well? In terms of status this on our backlog but unfortunately I don't have other updates.

[2020-03-11 10:00] larssb commented on #358
So @lkysow,

I pulled the `expose-servers` branch and set `exposeWANports` to `true` in the values file. However, I then got the following error when the Consul server cluster starts up:

[code]

I then tried adding `dnsPolicy: ClusterFirstWithHostNet` to the `server-statefulset.yaml` file. The settings goes through on deployment but the above error prevails.

So for some reason the DNS records ar

[2020-03-13 00:15] guptaarvindk commented on #379
any update on this?

[2020-03-13 02:36] carpenike commented on #88
@adilyse -- looks like those changes enable annotations on a service, not the creation of an ingress object.

Suggest referencing a solution such as the one used by Minio:

https://github.com/helm/charts/blob/master/stable/minio/templates/ingress.yaml

This would allow for an ingress object to be created if the value is set. The actual ingress object is farily simple, mine is here:

[code]

I can

[2020-03-13 18:12] iridian-ks commented on #362
Sure, I could do that. Ideally, it's part of the chart, even if it's optional.

[2020-03-16 16:32] pvlltvk opened #385 "Add optional service resource for client"
Hi!

I think it would be reasonable to add an optional service resource for the Сlient. It could be use when a Consul Server Cluster is running outside a Kubernetes cluster and your apps need to do requests to this Server Cluster through Consul Agents.

[2020-03-17 00:37] ishustava commented on #385
Hey @pvlltvk,

Thanks so much for this issue. I'm curious about your use-case. Currently, you could reach the clients via the `HOST_IP`. For example, in the Helm chart that's how the sync catalog process talks to the client that's running on its host:
https://github.com/hashicorp/consul-helm/blob/74177c29f24903a53ae82eaac7e07f2198e113c4/templates/sync-catalog-deployment.yaml#L49-L79

Will this wor

[2020-03-17 11:45] NorthFuture opened #386 "consul generated certificates doesn't include the issuing CA"
As per best practies, PKI are organized with one root CA, and an intermediate CA that's used to sign server certificates.

The root CA is distributed, while the intermediated CA should be included in the server certficate chain

We fixed the problem amending consul/templates/tls-init-job.yaml  when creating the secret in kubernetes joining the just created certificate and the tls.crt

[code]

[2020-03-17 20:13] stvdilln opened #387 "On Agent Restart w/ ACLs agent health Check Fails"
Installed Consul helm about 2 weeks ago with v 17.0, on Azure AKS 9 node farm.
[code]
I am starting to get nodes restarting and ending up in an error state.
![image](https://user-images.githubusercontent.com/4500982/76895296-19fa2c00-6866-11ea-83ba-e7d784b3e81a.png)
The Agent appears to have started life as 10.254.1.26 and on restart was assigned 10.254.1.29.  On boot the new agent gets errors abo

[2020-03-17 23:30] ishustava commented on #387
Hey @stvdilln, thanks for this issue!

On the first look, it appears that the agent didn't gracefully leave the cluster, which could leave the old node hanging around. Consul won't remove agents in the failed state because they could be failing due to a network partition. You could check that by running `consul members` from any consul agent container.

To clean up this old node you need to run `c

[2020-03-17 23:43] dschaaff opened #389 "UDP port 8301 does not work with `client.exposeGossipPort` set to true"
My consul servers run on ec2 outside of my kubernetes cluster. I am using the helm chart to deploy only the consul client daemonset.

In my values file
[code]

This sets the following in the ports for the daemonset
[code]

However, only tcp traffic is allowed (confirmed via netcat). If edit the spec to set `hostNetwork: true` then udp works as expected.

I'm not sure if this is a consul issue or a

[2020-03-18 14:45] stvdilln commented on #387
I was about to do the force-leave after collecting the info for this post, but then just tried a 'kubectl delete pod" and the pod restarted and the registration went ok.
I'm using consul-connect and this issue causes all services running on the node to go offline.  They are registered and ready but they don't get used with the health check in a failed state.
In a k8s environment we should be able

[2020-03-18 15:47] debjitk opened #390 "Error in consul/templates/client-daemonset.yaml"
Error: template: consul/templates/client-daemonset.yaml:176:23: executing "consul/templates/client-daemonset.yaml" at <(.Values.client.join) and (gt (len .Values.client.join) 0)>: can't
give argument to non-function .Values.client.join

[2020-03-18 16:25] #390 closed

[2020-03-18 16:26] lkysow commented on #390
Fixed by https://github.com/hashicorp/consul-helm/pull/383

[2020-03-18 18:47] ishustava commented on #389
Hey @dschaaff, thanks for creating this issue!

Is this something you're seeing on a new installation or on an upgrade?

My initial thought is that it most likely depends on the specific CNI implementation. Although, the AWS VPC CNI just uses the portmap plugin aws/amazon-vpc-cni-k8s#153.

There is a known issue around upgrading aws/amazon-vpc-cni-k8s#373, that's why I'm curious if this is somethi

[2020-03-18 19:36] debjitk commented on #390
@lkysow Thanks

[2020-03-18 20:24] dschaaff commented on #389
The issue occurs with both a clean install and an upgrade. I have also seen issues with upgrading that look like the vpc cni issue you linked, but that is unrelated to what is happening here.

[2020-03-18 20:25] dschaaff commented on #389
I may switch to running with `hostNetwork: true` for now as a workaround, but it'd be nice to avoid forking the chart to make the change.

[2020-03-18 21:57] lkysow commented on #387
@stvdilln were you upgrading from a Consul version <1.7.0? An issue was fixed (https://github.com/hashicorp/consul/issues/6897) in 1.7.0 that sounds like what you ran into.

[2020-03-18 22:41] stvdilln commented on #387
It was a fresh install, consul version is 1.7.1

Today no issues with consul and I had no evictions of my other pods.

Yesterday I had 3 node failures, but was also got a few evictions of other pods (I was standing up a 2nd development environment, doubling the number of services running on the cluster).

This may not be a graceful exit scenario, I'll try stressing the cluster tomorrow and see if

[2020-03-18 23:18] lkysow commented on #358
Are you still running your servers in hostNetwork mode? I'm not sure why they can't resolve their KubeDNS entries otherwise.

[2020-03-19 16:11] larssb commented on #358
I'm not. I pulled the `expose-servers` branch to its own folder and did not fiddle around with setting the stateful-server set. Only for debugging as described above, when it didn't work initially.

So?

[2020-03-19 17:10] lkysow commented on #358
* Does kube dns work in other pods?
* Can you get me all of the logs please

[2020-03-19 21:43] ishustava commented on #300
Hey @bsakweson, sorry for this delayed response. I just wanted to let you know that we have released TLS support in Helm release `v0.16.x`. You shouldn't need to use `extraConfig` anymore and all consul-k8s components, like sync catalog and Connect properly support it. I hope you could give it a try and it will work around the issues you've experienced previously.

[2020-03-19 21:47] bsakweson commented on #300
Awesome! Thanks for the heads-up, I will check it out this weekend.

On Thu, Mar 19, 2020, 17:43 Iryna Shustava <notifications@github.com> wrote:

[2020-03-19 22:28] stvdilln commented on #387
I overloaded the cluster and got the issue again:
In the event log:
[code]
Describing an agent pod shows an empty resources request.  values.yaml defaults to {}.

So a the daemonset pods are the first to get killed, as they don't have a resource request and they get scheduled with a different scheduler.  They also don't show dead pods in evicted state.

So values.yaml could use some sensible defau

[2020-03-20 05:19] ishustava commented on #389
Hey @dschaaff, sorry for the delay.

I'm having trouble reproducing this issue. Here is the list of things I've done:
1. Created an EKS cluster:
[code]
2. Created an EC2 instance with a security group that allows all TCP and UDP traffic from EKS nodes. Started running consul server on it with the following command `consul agent -server -bootstrap-expect=1 -bootstrap -data-dir=./consul-data`
3. Upd

[2020-03-20 14:23] larssb commented on #358
Kube DNS works fine in other POD's. At least we have no DNS issues in other POD's. I don't know when I can give you the logs. ASAP.

[2020-03-20 17:26] dschaaff commented on #389
Let pull in some more info on the cluster and the setup. I have 3 separate eks clusters that all exhibit this behavior with `hostNetwork: true`. I'll drill in on one for troubleshooting.

## Server Setup
I have 3 consul servers running directly on ec2 outside of the kubernetes cluster.

Here is the config file

[code]

[code]

## Client Setup

Here is the content of my values file for the helm cha

[2020-03-20 17:38] ishustava commented on #389
Thanks for all this detailed info @dschaaff! That's super helpful.

To confirm, are you experiencing any errors? Does your sync process syncs services from Kube? In other words, other than those warning messages, is the Consul cluster operational?

I can dig into the warning error messages. It looks like I'm seeing them after a while on my cluster too.

[2020-03-20 17:46] dschaaff commented on #389
As far as I have been able to tell the cluster functions while in that state. The sync service is successfully registering services with consul and I have a number of containers pulling config items from the consul k/v store through the local agent without issue. If use `consul monitor -log-ldev=trace` I get an additional log line

[code]

[2020-03-20 19:07] ishustava opened #393 "Consul clients and servers should have sensible resources defaults set"
Currently, we don't have defaults for resource limits for the Consul client daemonset or the server statefulset. Not setting resource limits could cause agents to not leave the cluster gracefully if Kube evicts them due to resource constraints (see #387).

We should have sensible defaults for resource limits instead to avoid this.

[2020-03-20 19:08] ishustava commented on #387
Hey @stvdilln, that's a great point. Clients should have sensible resource limits. I've created #393 to address this.

Consul clients should by default gracefully leave if they receive a TERM or an interrupt signal (see [`leave_on_terminate`](https://www.consul.io/docs/agent/options.html#leave_on_terminate) and [`skip_leave_on_interrupt`](https://www.consul.io/docs/agent/options.html#skip_leave_on

[2020-03-23 15:25] stvdilln commented on #387
I spent a couple of hours but couldn't get a repro to see what the agent gets when it's evicted.  I had created resource definitions for my agent pods last week.  I removed them this morning and drove the cluster out of memory, I got lots of evictions but not on the agent pods.   I have to get to some other items and get the cluster working for our west coast people.  I will try again tomorrow to

[2020-03-23 17:16] lkysow commented on #387
Thanks so much for your time spent trying to get us this info!

[2020-03-24 13:46] stvdilln commented on #387
Probably as a bit suspected kubernetes gives you no notice on an eviction:
[code]
I was tailing the log, and it just abruptly stopped after the last line:
[code]
There is no "gracefully shutting down" message when kubernetes evicts the agent pod to reclaim memory.

I think I no why I couldn't reproduce yesterday.  I had restarted all the agents to remove resource reservations and they were only us

[2020-03-25 00:27] blake commented on #351
Closed via hashicorp/consul#7492.

[2020-03-27 19:00] lkysow commented on #387
Gotcha. Looks like https://github.com/hashicorp/consul-helm/issues/393 is going to be the best way to fix this. If you do run into this situation before that is fixed then `force-leave` should work or wait for the timeout before it's assumed the node is dead.

[2020-03-27 20:23] stvdilln commented on #387
I put resources settings in my values.yaml which is keeping them them from being evicted and works around the problem.  So, I'm good.

[2020-03-28 16:13] stvdilln commented on #387
Closing Comments:
There is a problem in Consul where if one of the agents is evicted, another container quickly starts with the same name and consul ends up in a weird state. This state is probably caused by this error:
[code]
A daemonset pod should not be evicted for resources, as it will just start again on the same node.  Seems a flaw in k8s scheduler also.
This issue has easy ways to prevent:

[2020-03-28 16:13] #387 closed

[2020-03-28 16:42] debjitk commented on #94
I am facing the same issue.

[2020-03-29 00:17] klw0539 opened #398 "Persistent mount failed for 2/3 pods in the statefulset."
Dear,

I have created consul according to this helm chart, only one difference: the PV has been created manually by me in perviously, rather than by PVC. and I modify the template of statefulset to make sure the pod can mount to the PV, like below:
**Statefulset Yaml**
[code]
**PVC yaml file** as below:
[code]
According to the log, PVC can bound to PV successfully:
[code]
The statefulset have 3 po

[2020-03-29 17:33] nikfot opened #399 "syncCatalog falls in CrashLoopBackOff consul-k8s v0.11.0"
I am deploying hashicorp/consul-k8s:0.11.0 for syncCatalog on k8s version 1.9:

[code]

**SyncCatalog Deployment description:**
[code]
The only difference between the trial helms is that it is running with ClusterIP over F5 ingress.

[2020-03-29 20:24] nikfot commented on #399
When using Cluster IPs with ingresses the consul host should be set to the ingress host without the port:
` CONSUL_HTTP_ADDR:  http://consul-presentation.test`

[2020-03-29 20:24] #399 closed

[2020-03-30 00:53] antonyaugustus opened #400 "Consul-Kubernetes Auth Method"
Any one able to give me some suggestions.

I'm trying to use my external consul server agent for my services running inside kubernetes. Here are my helm chart values.
[code]

I have Kubernetes AuthMethod Type with the JWT for Kubernetes Service Account - hashicorp-consul-connect-injector-authmethod-svc-account. This SA is in consul-system namespace and so are the consul agent daemonsets and connec

[2020-03-30 23:16] dschaaff commented on #389
I just wanted to drop in and see if there any updates on this or the corresponding PR? Thanks so much!

[2020-03-31 00:20] ishustava commented on #387
Thanks for such detailed comments @stvdilln!

[2020-03-31 05:10] antonyaugustus commented on #400
I believe I got it working for future reference

My acl.default_policy=deny which was causing the service to deny by default. Please correct me if I’m wrong.

" The default intention behavior is defined by the default ACL policy. If the default ACL policy is “allow all”, then all Connect connections are allowed by default. If the default ACL policy is “deny all”, then all Connect connections are d

[2020-03-31 05:10] #400 closed

[2020-03-31 11:10] rakshitcgupta opened #403 "Not enough permissions to create clusterroles"
I am getting RBAC errors when trying to install consul via helm charts on Openshift because of the restrictions. I have to edit individual files for the consul to deploy.
The error I am getting is as follows-

$ helm install --name hashicorp ./consul-helm -f config.yaml
Error: release hashicorp failed: clusterroles.rbac.authorization.k8s.io is forbidden: User "system:serviceaccount:dk1280-a:sa-edi

[2020-03-31 12:32] like-inspur opened #404 "server statefulset readiness cause pod start failed"
I use readiness config in server statefulset with consul image version 1.7.1 like this:
[code]
But server statefulset pod start failed, and always outputs error like this:
[code]

[2020-04-01 21:09] adilyse commented on #364
Hi @like-inspur ,

Thank you for submitting a PR! Given how we're using these variables in the Helm chart installation, we won't be updating these variables just now, but this information may be useful to folks in the future if they use an `args` array directly. I'm going to close this now, but please feel free to open another issue if you are still having issues.

[2020-04-01 21:09] #364 closed

[2020-04-01 21:28] adilyse commented on #403
Hi @rakshitcgupta,

It looks like the account you're using doesn't have the permissions needed to created the associated RBAC clusterrroles. We've generally assumed that folks installing Consul are doing so with operator permissions. If that isn't true for you, could you tell us a bit more about your use case? Additionally, it would be helpful to know what sort of solution you would like to see th

[2020-04-01 22:19] adilyse commented on #404
Hi @like-inspur,

I'm also seeing these errors in my logs on startup. However, when the agent tries to join the second time, things succeed. Do you see your server pods become ready in Kubernetes eventually?

I'll try to track down where these error logs are coming from, but from what I'm seeing, the servers should eventually work even with these log warning messages.

[2020-04-01 22:36] adilyse commented on #398
Hi @klw0539,

For Consul servers running in Kubernetes, _each server_ will need its own persistent volume for storage. From the [Kubernetes documentation](https://kubernetes.io/docs/concepts/storage/persistent-volumes/#binding), "Once bound, PersistentVolumeClaim binds are exclusive, regardless of how they were bound. A PVC to PV binding is a one-to-one mapping". So in your case, the two other ser

[2020-04-01 23:41] adilyse commented on #285
Since it looks like all of the questions have been answered, I'm going to go ahead and close this for now. Please feel free to respond or open another issue if you have any further questions!

[2020-04-01 23:41] #285 closed

[2020-04-02 06:16] rakshitcgupta commented on #403
Hi @adilyse

For now, we are doing poc in a single namespace and not the cluster. Therefore cannot have admin privileges to create RBAC clusterroles. I am looking for solution to disable the RBAC clusterroles or maybe strip some code which will deploy consul on a namespace and not cluster wide.

Thanks & Regards

[2020-04-02 06:24] klw0539 commented on #398
Thanks, clearly and issue be fixed with your recommendation.

[2020-04-02 18:11] adilyse commented on #398
Great, glad to hear the issue is fixed!

[2020-04-02 18:11] #398 closed

[2020-04-02 19:54] adilyse commented on #344
Hey @tomwganem, I wanted to link to some prior discussion about another HashiCorp project from @mitchellh to try and set some context here.

https://github.com/hashicorp/vault/issues/132#issuecomment-320880698

We try to be very careful in selecting features for the proprietary version of our product that best align with what we believe larger scale organizations need, in an effort to ensure we ca

[2020-04-02 19:54] #344 closed

[2020-04-02 22:26] ishustava commented on #373
Fixed by #375.

[2020-04-02 22:26] #373 closed

[2020-04-02 23:06] ltagliamonte-dd commented on #373
@lkysow @ishustava can you please give more context on the issue here?
what the fix fixes?

[2020-04-02 23:32] ishustava commented on #373
Hey @ltagliamonte-dd, yes sorry for being so vague. The PR I linked there provides support for auto-encrypt. There will more details in the release notes, but you could take a look at the changelog PR #408. FYI though there is a bug on `master` that will be fixed before we release, so don't try it out yet.

[2020-04-03 00:03] adilyse commented on #403
Hi @rakshitcgupta,

Disabling RBAC for certain features used to be an option in the project, but it wasn't implemented cleanly so we decided to remove it. The fact that the managed Kubernetes available from the major cloud providers all had RBAC enabled by default also played a role in the decision.

To your point, however, it would be helpful to have the option to install Consul in a less privile

[2020-04-03 09:45] like-inspur commented on #404
Hi @adilyse
When I use above config in server statefulset,  found that pod can't start forever. Because when pod status is not ready, there are no value in service endpoints and no record in dns. But when I delete this readinessProbe config, statefulset pod will start quickly and consul cluster work normally

[2020-04-03 15:54] lkysow commented on #400
Yes that's correct.

[2020-04-03 20:23] adilyse commented on #404
Hmm, okay. The readiness probe for the server statefulset in the Helm chart is as follows:

[code]
Have you tried it with this check?

Are you deploying the servers with the Helm chart? If not, have you made other changes to the settings? There might be something else that could be contributing to this behavior.

[2020-04-03 20:27] adilyse commented on #362
Hi @iridian-ks,

Can you clarify what you mean by "exposing [dns] outside the cluster"? Would you like it to be available on the public internet? Or available outside of the Kubernetes cluster but still within a trusted, internal datacenter?

Thanks!

[2020-04-03 20:29] adilyse commented on #353
Hi @srimandarbha,

Have you had a chance to find which endpoint was returning the 500 error? And to try out the `kubectl port-forward` path?

Thanks!

[2020-04-03 20:40] adilyse commented on #243
Hi @msidd111,

Were you able to pull the information about the taints on your EKS nodes?

[2020-04-03 20:43] adilyse commented on #243
Per @tongpu 's link above, it seems like this is likely a Kubernetes issue with persistent volumes when the attach/detach is slow. [This comment](https://github.com/kubernetes/kubernetes/issues/53059#issuecomment-591980594) includes a workaround that may be helpful for folks when end up in this state.

[2020-04-03 23:54] lkysow commented on #403
Also related: https://github.com/hashicorp/consul-helm/issues/354 (we don't need cluster level perms for a lot of our stuff) and https://github.com/hashicorp/consul-helm/issues/146 (make disabling rbac possible)

[2020-04-04 10:12] like-inspur commented on #404
@adilyse yes, I have config this and don't make other changes to this setting, but found consul server pod start failed. I think if we can config other readinessProbe and add this to livenessProbe

[2020-04-05 17:32] iridian-ks commented on #362
Hi @adilyse , definitely not on the public internet. Just external to the cluster for other internal services where we don't want to or can't install consul agents.

[2020-04-05 20:39] pvlltvk commented on #385
@ishustava Thank you for your response!

Yes, your solution will work. I just think that service can be useful too as it provides some features.
I could make a PR, but if you think that service is unnecessary - it's ok.

[2020-04-06 17:12] ltagliamonte-dd opened #410 "add support for custom_labels"
Would be nice if could be possible to specify additional labels in values.yaml for all components (I'm just interested in the client atm).
We use a set of internal labels for monitoring and alerting.

[2020-04-06 17:15] ltagliamonte-dd opened #412 "Add support for securityContext"
Would ne nice to add support for securityContext both for servers and client.
We use it for tune sysctl parameters like: net.core.wmem_max or net.core.rmem_default, etc...

[2020-04-06 17:17] ltagliamonte-dd opened #413 "bootstrapACL works only with clusters inside the same k8s cluster."
Would be nice to be make bootstrapACL work with servers running outside the same k8s cluster.
Token could be passed via k8s secret as done per CA cert.

[2020-04-06 17:28] ishustava commented on #413
Hey @ltagliamonte-dd, thanks for the issue! This is actually something we're currently working on and it's great to hear that there are more use-cases for this out there.

Just to clarify, are you suggesting that the bootstrap token should be passed in? That is in your case you are bootstrapping servers yourself via the `/acl/bootstrap` API and just want to pass in the bootstrap token so that the

[2020-04-06 18:01] ltagliamonte-dd commented on #413
@ishustava yes exactly.
my consul servers runs in a separate environment and i'd love to be able just to pass the client acl token to use.

[2020-04-06 18:08] ltagliamonte-dd opened #414 "Use Role instead of ClusterRole for consul agents"
Agents can use Role instead of ClusterRole.
PodSecurityPolicy can be "used" also in Roles.
https://kubernetes.io/docs/concepts/policy/pod-security-policy/#via-rbac

[2020-04-06 18:42] ishustava commented on #414
Hey @ltagliamonte-dd, thanks for the issue. I'm going to close this one because it's a duplicate of #354.

[2020-04-06 18:42] #414 closed

[2020-04-06 18:49] ltagliamonte-dd commented on #414
didn't see that thanks!

[2020-04-06 19:04] ishustava commented on #413
Great, thanks for this info!

[2020-04-06 23:59] ltagliamonte-dd commented on #373
@ishustava i'm looking at the new code from the PR #375 and i've a question about:
turning off SSL validation in:
https://github.com/hashicorp/consul-helm/blob/master/templates/client-daemonset.yaml#L148
and here:
https://github.com/hashicorp/consul-helm/blob/master/templates/client-daemonset.yaml#L172

why can't i have the clients validate the servers endpoint?
if the server cert has been created

[2020-04-07 02:56] lkysow commented on #373
@ltagliamonte-dd so those environment variables only apply when you're running `consul` commands inside the pod when you `kubectl exec` in. When autoencrypt is enabled, there is no CA cert that we can pass to the CONSUL_CA_CERT environment variable so there's no way to run `consul` commands without disabling verification *or* getting the CA cert.

So to be clear, there is full verification going o

[2020-04-07 17:01] dschaaff commented on #389
Quick update. I feel like a bit of a ding dong for not thinking about this prior, but pod IPs are directly routable when using the vpc cni in EKS. This means I don't need to use `exposeGossipPorts` or `hostNetwork` mode. I've updated the client daemonset with those settings and am not seeing ping errors that I was those settings enabled. I think all that is really needed is a note in the docs if a

[2020-04-07 20:55] lkysow opened #418 "Helm delete hangs if tls-init-cleanup-serviceaccount was never created"
If `helm install` fails during its `pre-install` hooks then it will never create the `tls-init-cleanup` service account because it hasn't reached the `install` step.

If a user then tries to run `helm delete` that command will hang forever because it's waiting for the `pre-delete` job `tls-init-cleanup` to run. The `tls-init-cleanup` job will never complete because it requires the `tls-init-cleanu

[2020-04-07 20:55] #270 closed

[2020-04-07 23:17] dschaaff commented on #413
It'd be great to have native support for this in the chart. My current workaround is to precreate a kubernetes secret with my acl config and mount it as an extra config.

[2020-04-08 06:48] rakshitcgupta commented on #403
Hi @adilyse @lkysow

Temporarily, how can I convert cluster roles to roles. What files can I change to achieve that and make it work in a restricted environment.

[2020-04-08 07:10] jakesyl commented on #32
Any update on this?

[2020-04-09 13:30] rakshitcgupta opened #422 "PVCs are not getting deleted"
After removing the release, PVCs are not being deleted with the release. Is there a parameter in helm command that I am missing?

[2020-04-09 16:03] lkysow commented on #422
Hi Rakshit,
This is a known bug with Helm itself unfortunately: https://github.com/helm/helm/issues/5156. You'll need to run `kubectl delete pvc -l app=consul` after running `helm delete`.

[2020-04-09 17:46] #418 closed

[2020-04-09 17:52] ishustava commented on #389
Hey @dschaaff, thanks for the update!

Yes, if allowing traffic between the pod Network and the consul server network is an option, it's definitely a better solution. The `exposeGossipPorts` is more of an option for folks that can't or don't want to use the VPC CNI.

I'll take a look at this behavior again today. It's definitely strange, and I'm curious if this is something specific to AWS or gene

[2020-04-09 18:42] ishustava commented on #403
Hey @rakshitcgupta,

You could start by replacing all `ClusterRole`s with `Role`s and `ClusterRoleBinding`s with `RoleBinding`s and see if that works. Note that in the RoleBinding you would need to change the  `kind` to `Role` in the `roleRef` too. Off the top of my head, I don't think we have any permissions that need to be cluster-level or cross-namespace, but it's hard to tell without trying it

[2020-04-10 03:37] ishustava commented on #389
@dschaaff,

After looking a bit more into this, I'm fairly certain this problem is related to the portmap CNI plugin, which is the plugin that various CNIs, including the VPC CNI, use for port mapping when you're using `hostPort`. There are a few issues that are reporting problems with UDP connections and hostPort. For example, containernetworking/plugins#123. HostNetwork doesn't use CNI, and that

[2020-04-10 04:49] dschaaff commented on #389
It’s not necessary for my particular use, no. I’m not sure if it’s been requested before or not, but I’m good if you’d like to close it.

Thanks for all the help!

[2020-04-10 08:06] rakshitcgupta commented on #403
Thank you @ishustava. I will try that.
Also what impact different service accounts which are created by the helm chart have? How can I avoid creating them?

[2020-04-10 19:21] ishustava commented on #410
Hey @ltagliamonte-dd @DevAndrewGeorge

I just noticed that Helm 3.1 now supports [post-rendering](https://helm.sh/docs/topics/advanced/#post-rendering). I think it's a pretty cool feature that allows you to essentially modify the Helm chart that fits your use-case and inject all kinds of information. I like it because it provides you with an escape hatch while still keeping all helm features we're

[2020-04-10 19:36] ishustava commented on #385
Hey @pvlltvk,

Yeah, having a service doesn't fit the way clients are intended to be used. With a service, Kubernetes will load balance between client instances, but it's better if each pod talks to the client instance on its host. This is important from both security (limiting the network boundary) and performance standpoint. That's why we recommend using the Host IP.

In the future, when Kuberne

[2020-04-10 19:44] ishustava commented on #389
Ok, I'll close both this issue and the PR for now, but definitely let us know if this comes up again.

Thanks for staying engaged on this issue 😀 💯

[2020-04-10 19:44] #389 closed

[2020-04-10 22:58] ishustava commented on #404
Hey @like-inspur,

The error messages about `server misbehaving` typically mean some sort of DNS misconfiguration. I would suggest searching for this error combined with your Kubernetes provider/setup and try to debug it from there.

You could confirm by trying to resolve other services from pods on your Kubernetes cluster, like the `kubernetes.default` service. If you're seeing errors resolving i

[2020-04-10 23:03] ishustava commented on #372
Fixed by #380.

[2020-04-10 23:03] #372 closed

[2020-04-13 07:16] like-inspur commented on #404
But on my kubernetes environment, if pod readiness check failed, then there is no record of consul pod in kubernetes dns and no endpoint in consul service, so pod will start failed forever @ishustava

[2020-04-13 10:43] rakshitcgupta commented on #403
Hey @ishustava,
I thought this could work but it seems we don't have access to this api  - rbac.authorization.k8s.io/v1 in my understanding.
And I am getting "cannot create roles.rbac.authorization.k8s.io in the namespace" error.
What will be the workaround this?

[2020-04-13 14:42] jsosulska commented on #422
This helped me out debugging too. Thanks @lkysow

[2020-04-13 18:02] lkysow commented on #404
@like-inspur are you running normal kubedns or a special dns provider? In my testing kubedns still returns the address even if the readiness check is failing. Are you running Kubernetes in a specific cloud provider?

[code]

[code]

[2020-04-13 18:50] lkysow commented on #403
I think you'll need to talk to your cluster administrator in order to get permissions to create roles and rolebindings.

[2020-04-13 18:50] #422 closed

[2020-04-13 21:23] ltagliamonte-dd commented on #410
Unfortunately my flux gitops pipeline doesn't support post rendering:
https://github.com/fluxcd/helm-operator/issues/365
Would be a big deal to ass native support?

[2020-04-14 05:16] rakshitcgupta commented on #403
Hi @lkysow,
Wouldn't it be possible without roles and rolebindings? I had stripped the cluster roles and rolebinding part and installed the release. Can you tell me what impact it may have if any?

[2020-04-14 05:52] lkysow commented on #403
If RBAC is enabled in your cluster then nothing will get installed properly. If you managed to get it installed then it sounds like rbac is not enabled in your cluster and there should be no impact.

[2020-04-14 06:20] like-inspur commented on #404
@lkysow I use coredns on my native kubernetes, and coredns version is 1.6.5

[2020-04-14 07:28] DevAndrewGeorge commented on #410
It's certainly a cool feature, @ishustava, and I got it to work in my hobby environment with a bit of hacking. However, it required an entirely new step in my deployment pipeline as I'm using Helmfile and `--post-renderer` is only called if changes are detected, creating a chicken and egg problem.

At a high level, I can see the advantage of using kustomize + post-render, but I personally see thei

[2020-04-14 07:57] rakshitcgupta commented on #403
RBAC is enabled in my cluster as mentioned in the first comment but I managed to get it installed on namespace by deleting the Cluster role and rolebinding yaml files. But facing the issues like "**Failed Create — Daemon Set**", but stateful sets are successfully created and are working fine.

[2020-04-14 16:19] lkysow commented on #403
Okay, it sounds like you'll need to wait for https://github.com/hashicorp/consul-helm/issues/146 to be fixed then.

[2020-04-14 16:22] lkysow commented on #410
For sure. Thanks for your feedback on post-renderer. It's always a balance of what options we expose to users and what options we ask users to go their own way on because there are so many possible configurations that can be exposed.

In the case of labels, exposing this via its own value makes sense.

[2020-04-14 16:32] lkysow commented on #404
I've just tested on coredns and I can't replicate. Maybe something is borked with your DNS? Does every other DNS lookup succeed for other servers/statefulsets? Can you try to replicate the readiness probe issue with something other than consul and paste the exact steps?

[code]

[2020-04-14 21:44] lkysow commented on #272
Closing because in my testing this has been working.

[2020-04-14 21:44] #272 closed

[2020-04-15 21:54] ishustava opened #425 "Feature request: Clients should be given a unique ACL token with a more restrictive policy"
Currently, we create one ACL token for all clients with the following policy (ignoring namespaces):

[code]
This policy allows write on any node.

Ideally, we should follow the principle of least privilege and restrict the policy only to the node that will be using it. This implies creating a unique client token for each pod in the client daemonset.

[2020-04-16 04:22] debjitk opened #426 "Client affinity warning"
Here is my client affinity configuration

[code]

While installing the chart i get the following warning,

[code]

[2020-04-16 05:15] lkysow commented on #426
Hey, you need to set it using a string, e.g.
[code]

[2020-04-16 05:22] lkysow commented on #189
Hi @infa-bsurber, I think I recognize you from the Atlantis repo?

Sorry this one fell through the cracks. We removed the prestop hook in [0.16.0](https://github.com/hashicorp/consul-helm/blob/master/CHANGELOG.md#0160-jan-10-2020) so I hope this has been resolved?

[2020-04-16 05:24] lkysow commented on #243
I'm going to close this for now since we haven't heard back. If this still an issue please open a new ticket since this one has gotten a bit long.

[2020-04-16 05:24] #243 closed

[2020-04-16 06:32] mogggggg commented on #32
Agree this would be great to have!

We've just cloned this whole repository into our infra repo, but that will make upgrading quite fiddly. This seems to be the only helm chart that support sync catalog which is something we're relying on

[2020-04-16 09:10] debjitk commented on #426
@lkysow The affinity is set as a child of client only.

[2020-04-16 10:56] evgmoskalenko commented on #211
I have the same problem. In my case I use annotation settings for service with type LoadBalancer

[code]

And I have the same error in "services/consul-consul-sync-catalog-76cbbb78f9-9v5n"

[code]

[2020-04-16 12:30] abhinav-nath commented on #284
Hey @ishustava, I have landed into this same issue. I have a bare metal Kubernetes machine where I don't have any default storageclass defined. How do I create it ? Or more exactly which type of storageclass should I create ?

I tried creating a simple local-storage but it turned out that StatefulSets need dynamic storageclasses and local-storage doesn't support dynamic.

apiVersion: storage.k8s.i

[2020-04-16 14:14] abhinav-nath commented on #245
Hi @lkysow, I am using Service Sync to sync my Kubernetes services to consul. So far so good. I am able to sync my NodePort type services and I can see them in the Consul UI. However I see that Consul is not doing the health checks. The health check section is grayed out in the UI. So I am wondering if I could somehow tell Consul to use /actuator/health endpoint on the synced Kubernetes services f

[2020-04-16 16:38] lkysow commented on #426
I'm not sure what you mean. If you try the snippet above do you still get the error?

[2020-04-16 16:45] lkysow commented on #245
Hey Abhinav, health checks aren't supported right now.

[2020-04-16 22:44] lkysow commented on #284
Hey Abhinav,
I've tested this out myself, let me know if it works.

Create a storage class:
[code]

For each consul server, create a persistent volume. Set the nodeAffinity for each node you'll run a Consul server on:

[code]

Repeat ☝️ for each server, i.e. `consul-server-1`, `consul-server-2`.

`ssh` into each node and create the directory, e.g. `/mnt/data`.

Create a persistent volume claim fol

[2020-04-20 16:28] Blorby commented on #243
@msidd111 - did you left the cluster without affinity rules?

[2020-04-20 16:29] abhinav-nath commented on #284
Hey Luke,

Sorry for a late reply and thanks for responding back.

I actually resolved it by going through other similar issues and comments by your team.

I did exactly what you are suggesting. Here are my configs :

I created a local-storage

local-storage.yaml
------------------
[code]

Then created a persistent volume
[code]

Changed below :

values.yaml
`server.storageclass: local-storage`

s

[2020-04-20 16:30] abhinav-nath commented on #284
Hey Luke,

Sorry for a late reply and thanks for responding back.

I actually resolved it by going through other similar issues and comments by your team.

I did exactly what you are suggesting. Here are my configs :

I created a local-storage

[code]

Then created a persistent volume
[code]

Changed below :

values.yaml
`server.storageclass: local-storage`

server-statefulset.yaml
`readinessProbe

[2020-04-22 10:03] rakshitcgupta opened #429 "Promoting the consul environment to production"
Hi,
As I couldn't find this process in any documentations - how promotion workflow is followed for consul. For example, when a user tests intentions/other configurations in SIT/UAT environments and wants to promote that in production where there will be no access, how is the process done in this case?
Thanks & Regards.

[2020-04-24 13:35] mlvlup opened #432 "helm install failing with last version of helm charts"
Hi guys,

I'm having the following error with the last version 0.19.0 of the charts

`Error: template: consul/templates/tests/test-runner.yaml:1:14: executing "consul/templates/tests/test-runner.yaml" at <.Values.tests.enabled>: nil pointer evaluating interface {}.enabled
`

My values yaml file is as easy as :

[code]

It work like charm with my git clone of 2020-04-07 which was 0.18.0

[2020-04-24 16:29] lkysow commented on #432
Hi @mlvlup,
I'm guessing you've edited the `values.yaml` file that is **inside** the chart directory. Instead, you should leave that as-is and create a **new** `config.yaml` file that lives outside the chart directory. Then you'll run `helm install consul ./consul-helm -f config.yaml` and your settings will override the defaults.

[2020-04-24 20:41] kpurdon opened #433 "Proxied UI Authentication (via Additional Containers "sidcars" in the Server Pod/s)"
I'd like to propose supporting additional containers as "sidecars" in the Pod serving the Consul UI in order to allow for sidecar-based authentication proxies. This is something I'd be happy to add and test, if it's acceptable.

I generally use [Google Cloud IAP](https://cloud.google.com/iap) to protect services (like the Consul UI) exposed to the public internet. In order to validate the IAP requ

[2020-04-27 14:41] mlvlup commented on #432
Thx for reply !
not modified the file, but I unfortunatly rename values.yaml to values.yml ... that was the issue
Damn, sorry

[2020-04-27 14:41] #432 closed

[2020-04-28 09:17] rhzs opened #440 "Error No known Consul servers in sidecar proxy when creating new pod"
Hi, since the last update (v0.20.1) I have experienced error that caused my pod can't be started.

Here is my helm chart `values.yaml`:
[code]

This is error from the sidecar - consul envoy proxy:
[code]

Any help would be highly appreciated

[2020-04-28 16:30] ishustava commented on #440
Hey @rhzs,

This error typically means that the Consul servers are not healthy and that clients aren't able to join any servers.

Could you share the output of your `kubectl get pods`? Did you follow the update procedure for the consul servers on Kubernetes we have in our [docs](https://www.consul.io/docs/platform/k8s/upgrading.html)? Also, any logs from unhealthy instances would be helpful too.

[2020-04-30 16:56] Epiclemonaid opened #441 "Consul TLS configuration With terraform Genrated Certs Error"
Generating Certificates with Terraform and then adding the cakey and cacrt into helm chart leaves this error

`==> WARNING: Server Certificates grants authority to become a
    server and access all state in the cluster including root keys
    and all ACL tokens. Do not distribute them to production hosts
    that are not server nodes. Store them as securely as CA keys.
==> Using /consul/tls/ca/ce

[2020-04-30 17:13] lkysow commented on #441
Hi @Epiclemonaid it looks like RSA keys aren't supported: https://github.com/hashicorp/consul/issues/7622. The code you found is for Consul Connect which is a different subsytem from the server certificates. You'll need to follow that issue for updates and until it's supported use EC keys.

[2020-05-01 16:38] den-is commented on #386
I've encountered similar issue.
But my case was a little bit more complicated.
Consul CA for that setup is intermediate - i.e. generate by another internal root CA.
Readiness probes were failing because `/consul/tls/ca/cert/tls.crt` was missing full CA chain.

For anyone hitting that issue in the future:
Fixed issue by supplying complete CA chain in `global.tls.caCert` prior cluster installation.

[2020-05-01 16:57] debjitk opened #442 "Consul client within kubernetes failed to start"
Consul client within kubernetes failed to start. Consul server is running outside k8s.

[code]

[2020-05-01 19:21] ishustava commented on #441
Hey @Epiclemonaid,

To add to what Luke said unless you have a specific requirement to only use RSA keys, I'd recommend just changing your terraform code to use ECDSA keys:

[code]

There's a number of benefits to using ECDSA keys, for example, that the key sizes and the associated certificates are smaller.

Also, a side note, you don't need to generate Consul server certificates through terraform

[2020-05-01 19:46] ishustava commented on #442
Hey @debjitk,

Thanks for creating an issue.

Could you tell a bit more about how you're deploying clients? This isn't enough info for us to help you debug the issue. A few pieces of information that would be helpful:
1. Your Helm chart version
1. Your Helm config values

Based on the region name, it looks like you're using AWS possibly with EKS. That would also be helpful to confirm.

[2020-05-02 10:56] den-is opened #443 "Kubernetes CA is missing complete CA chain makes curl requests to fail"
Today when I've tried to install consul-helm for the first time.
I've encountered an issue and cluster were not able to proceed past initial `tls-init-job`
All tls-init-jobs jobs were failing with:
[code]
After "hacking" tls-init-job and adding verbose output to the *curl* command `-vvv` I've finally got little bit more descriptive error messages:
[code]

My kops based kubernetes cluster primary C

[2020-05-04 13:45] mrafieee commented on #283
when we get this feature?

[2020-05-04 15:09] robfras opened #445 "manageSystemACLs: the ACL token was not written to a Kubernetes secret"
Hello,

Using consul-helm v0.20.1, with helm v3.2.0,  for a deployment on google GKE, I have an error when adding the values:
[code]

The job **hashicorp-consul-server-acl-init** fails with the following logged error:

`2020-05-04T14:45:47.721Z [ERROR] ACLs already bootstrapped but the ACL token was not written to a Kubernetes secret. We can't proceed because the bootstrap token is lost. You must

[2020-05-04 16:39] ishustava commented on #443
Hey @den-is, thanks for creating this issue.

It looks like your k8s cluster is misconfigured. Is your `/var/run/secrets/kubernetes.io/serviceaccount/ca.crt` the corporate root CA or the intermediate CA? If it's the root, then your Kube API server needs to serve leaf + intermediate so that the root will work for TLS verification.

We assume that the `ca.crt` included in the service account token w

[2020-05-04 18:43] den-is commented on #443
@ishustava I was extremely surprised by myself when I've encountered that issue of missing complete-CA-chain in the ca.crt since that is already a quite old production cluster.
The issue was invisible until I've encountered it.
Cluster is constantly updated, but nobody is going to replace it to "fix" that CA issue :)

` /var/run/secrets/kubernetes.io/serviceaccount/ca.crt` - contains intermediate

[2020-05-05 03:10] ishustava commented on #445
Hey @robfras,

This error typically means that your consul servers have already been bootstrapped with ACLs and so we can't call the ACL bootstrap API anymore.

Is this a new Helm install or a Helm upgrade?

If it's an upgrade and you're upgrading from the server with ACLs already enabled, then you need to provide the [bootstrap token](https://www.consul.io/docs/platform/k8s/helm.html#v-global-acl

[2020-05-05 05:19] rammaram06 opened #446 "Consul services not syncing on nodes"
Hi,

I'm using lastest helm release v0.20.1, I have enabled gossip encryption and disabled https in values.yaml.  I'm using same images but images are internally hosted, these are the only changes I made in values.yaml file. I have created persistent volumes and installed the consul on Rancher managed 4 node (Node1, Node2, Node3, Node4) kubernetes cluster.

Cluster was up and running, with 3 serve

[2020-05-05 09:15] robfras commented on #445
Hello @ishustava , thank you for your answer that helped me understand the issue.
This was due to successive helm install / helm uninstall , as the helm uninstall did not delete the persistent volume claim , I had to remove them manually for a clean reinstall.

[2020-05-05 10:33] larssb commented on #358
We've went in another direction. Fetching Consul server IP's via a Shell Script, used when Consul is deployed via Terraform. In this way we can avoid storing kube-config files on different infrastructure servers - where such - high-risk files should really not be.

[2020-05-05 10:33] #358 closed

[2020-05-05 23:39] lkysow commented on #446
Hi Ram,
The `/agent/service` endpoint you're using registers a service to a specific node, i.e. the one that receives the API call. You can't deregister the service by making an API call to another node because that node doesn't "own" the service.

You could make an API call to the [catalog endpoint](https://www.consul.io/api/catalog.html#deregister-entity) to deregister the service but it would b

[2020-05-05 23:40] lkysow commented on #445
Yeah that sounded like you had a previous install hanging around. Are things working now?

[2020-05-08 01:01] ishustava commented on #413
We've released ACL support for external Consul servers in the 0.20.x release. Here are some useful links:

[Release notes](https://github.com/hashicorp/consul-helm/releases/tag/v0.20.0)
[Docs](https://www.consul.io/docs/platform/k8s/servers-outside-kubernetes.html#configuring-acls)

I'm going to close this issue for now, but let us know if you experience any problems with these new features. Thank

[2020-05-08 01:01] #413 closed

[2020-05-09 02:20] fsckzy opened #449 "error converting YAML to JSON: yaml: line 42: did not find expected '-' indicator"
k8s 1.17.5
helm 3.2.1
Customizing  Installation error

[code]
config.yaml
[code]
please help me

[2020-05-11 14:53] docent-net opened #450 "Test issue"

[2020-05-11 14:54] #450 closed

[2020-05-11 16:25] lkysow commented on #449
tl;dr, replace the quotes on that line with `"`, e.g. `"serviceaccount.name!=default"`

Hey, so first of all it says the error is on line 42 which is:
[code]

If you look at the quotes there, notice how the quotes are slanted to the left: `”`. Now look at the quotes above it, e.g. in the disk setting: `"`. See how they're different? Your editor has inserted a different type of quote character for

[2020-05-11 16:25] #449 closed

[2020-05-13 14:20] rammaram06 commented on #446
Hi Luke,

Thanks for your reply! You are right I was using wrong endpoint, it's working now. I'm new to working with Consul, sorry if it was a bad question.  I have one more question, could you help me with it. Right now I have installed consul and created a load balancer to access UI dashboard. I would like to expose dns outside the kubernetes cluster, I tried exposing port 8600 on hostport but i

[2020-05-13 14:48] rammaram06 commented on #446
Before I opened TCP port, after exposing the 8600 UDP port it's working.

[2020-05-13 16:39] lkysow commented on #446
Not at all, this is a confusing section of Consul!

Nice! So things are good now? Should we close this issue?

[2020-05-13 20:06] rammaram06 commented on #446
Yes, issue can be closed. Thank you!

[2020-05-13 20:06] #446 closed

[2020-05-14 21:47] adilyse commented on #433
Hi @kpurdon,

Thank you for thoroughly explaining your use case, it helps us make better decisions about our features and implementations!

We have a couple of tasks on our upcoming roadmap that will potentially interact with adding extra containers to various components, so it's helpful to be aware of how folks want to use it. We will endeavor make any solution as generally applicable as possible

[2020-05-19 07:50] Smana opened #460 "Init acl job fails "Unexpected response code: 403 (ACL not found)""
I just tried to install a brand new cluster and I just changed two parameters:

[code]

But the job that is supposed to initiate the tokens fails with the following error:
[code]

[2020-05-19 08:04] Smana commented on #460
Forget about that, when I deployed again that worked.

[2020-05-19 08:04] #460 closed

[2020-05-19 20:41] kpurdon commented on #433
@adilyse thanks for the response.

Given the most generally applicable solution is simple allowing an extra containers key on at least the server resource would a PR to add that be considered?

I'd love the functionality and am more than happy to do the work.

[2020-05-21 21:25] lkysow opened #467 "Support custom CA certs for consul snapshot agent"
https://www.consul.io/docs/commands/snapshot/agent.html

We need to support a way to set a custom CA cert if users are using an S3-compatible storage for their snapshots that's using a custom cert.

[2020-05-26 16:06] hhjie opened #468 "UI dashborad show nothing"
![image](https://user-images.githubusercontent.com/22421087/82923421-83589280-9fad-11ea-8b13-12478b77191c.png)
my values.yaml

[code]

then
**kubectl port-forward services/hashicorp-consul-ui 8080:80**

Ui show nothing .why?

[2020-05-26 17:35] lkysow commented on #468
Hi @hhjie do you have ACLs enabled? If so then you might need an ACL token to view anything in the UI. You can get the bootstrap acl token from a kubernetes secret:

[code]

And paste that into the ACLs tab.

[2020-05-27 08:04] hhjie commented on #468
@lkysow when I enabled ACLs, many pod was not running.
![image](https://user-images.githubusercontent.com/22421087/82993785-bb0a1d80-a033-11ea-91fd-b6f80c92be0c.png)

[2020-05-27 08:05] hhjie commented on #468
![image](https://user-images.githubusercontent.com/22421087/82993909-e987f880-a033-11ea-9b1b-13cd37736f79.png)

[2020-05-27 08:58] hhjie commented on #468
![image](https://user-images.githubusercontent.com/22421087/82999185-3fac6a00-a03b-11ea-9a8c-a0ce7ff98577.png)

![image](https://user-images.githubusercontent.com/22421087/82999152-34593e80-a03b-11ea-9b56-d1f48c369c37.png)

[2020-05-27 09:20] hhjie commented on #468
consul server logs:

![image](https://user-images.githubusercontent.com/22421087/83001486-65873e00-a03e-11ea-9ae3-bba3d2bbe1b3.png)

[2020-05-27 22:35] lkysow commented on #468
Hey so first of all do you need ACLs enabled? If not then you don't need to enable them, I was just saying that might be why the UI is empty.

Second of all, to enable ACLs you just need to set:
[code]

Do not set
[code]

That's only if you have a *pre-existing* bootstrap ACL token as a Kubernetes secret. And regardless in that case you wouldn't set the bootstrap token itself as the `secretKey`. T

[2020-05-28 06:16] hhjie commented on #468
@lkysow I has trying many times . The problem is existing.
[code]

and  get pods display

[code]
**Is this related to the k8s version?**

my k8s version: `v1.17.5`

[2020-05-28 17:41] lkysow commented on #468
So I see this error:
[code]

This means you still have this config:
[code]

I mentioned above that you should not set this.

Please try the following to get a basic installation up:

[code]

Then run `helm install hashicorp hashicorp/consul --wait --timeout=10m`

Then run `kubectl port-forward svc/consul-server 8500` and go to `http://localhost:8500`

[2020-05-28 18:59] hhjie commented on #468
@lkysow  I have done exactly as you suggested,  Ui still show nothing. no nodes msg ;
and pod server-0  still get an error
[code]

This error how to reslove.. I have met many times

[2020-05-28 19:01] lkysow commented on #468
Can you show us the output of `kubectl get pod -o wide` please.

[2020-05-28 19:03] hhjie commented on #468
![image](https://user-images.githubusercontent.com/22421087/83182492-02d69500-a159-11ea-9b3e-6e362271a631.png)

[2020-05-28 19:24] lkysow commented on #468
Can you
[code]
Then run
[code]
and
[code]
and
[code]

[2020-05-28 19:32] hhjie commented on #468
@lkysow
![image](https://user-images.githubusercontent.com/22421087/83185085-0409c100-a15d-11ea-864a-5e21c41693d7.png)

[2020-05-28 21:06] lkysow commented on #468
Can you DM me on twitter and we can set up a call to debug? https://twitter.com/lkysow

[2020-05-29 04:49] hhjie commented on #468
Thank U
I will register an account

[2020-05-29 05:27] lkysow commented on #468
Or you can DM me in our gitter channel: https://gitter.im/hashicorp-consul/Lobby

[2020-05-29 05:34] hhjie commented on #468
tks I will try

[2020-05-29 16:09] lkysow opened #474 "Document how to make calls to Consul API when TLS is enabled"
See https://discuss.hashicorp.com/t/consul-verified-tls-from-pods-in-kubernetes-cluster/9208/11 for instructions. We should document this in our docs.

[2020-05-29 17:36] lkysow commented on #468
We tried with one server and it did work vs 3 which didn't. We think it's a network issue but unclear exactly what is going on. The key issue is the i/o timeout with the appendentries rpc.

[2020-05-29 17:36] #468 closed

[2020-06-01 20:46] joshk132 opened #477 "Consul network issues"
I have a consul cluster of 3 server nodes and 2 agents running on a K8 cluster created using KOPS Version 1.16.1 (git-d1b07f7fd6)

I had the same helm chart and config files working on an older cluster that had the exact same setup except different version of K8.

The cluster setup is the same config as I've done before except I am now using single master and only two worker nodes. I am using flan

[2020-06-01 23:38] lkysow commented on #477
Hi Josh,

Are you seeing pods restart, e.g. consul clients or servers? If so then that might explain the io timeouts since pods are actually restarting. Assuming pods are restarting, if you run `kubectl get events` are there any relevant events that give a hint as to why the pods are restarting? What about `kubectl describe` on the pod? Also are there any logs prior to the restart other than the o

[2020-06-05 19:55] chancez commented on #330
It would be useful to be able to configure in your values an option that lets to disable certain helm hooks, like the cleanup hooks. Setting `--no-hooks` is too broad, and not all tools support passing this flag to helm. Right now I'm not sure how I can use this option with argocd since argocd does something like `helm template .. | kubectl apply -f` to create resources and this issue is popping u

[2020-06-05 20:06] lkysow opened #482 "Add component label to missing charts"
e.g.
[code]

[code]

[2020-06-05 20:42] tehmoon commented on #330
@chancez If argoCD supports kustomize alpha plugins and inflators, you can use your own custom inflator to filter out things you don't want. As an example, I wrote https://github.com/tehmoon/helm3-chart-inflator which does `helm template` internally. But you can use `yq` in yours.
It's kind of a hack but it does fit my workflow pretty nicely.

[2020-06-05 21:12] chancez commented on #330
@tehmoon Yeah, I'd rather avoid using custom plugins with kustomize, but I may end up just using a custom config management plugin to deal with this.

[2020-06-05 21:48] #393 closed

[2020-06-07 22:59] christian1607 commented on #440
Same problem, no proxy sidecar is created after create  a deployment even though I set the "consul.hashicorp.com/connect-inject": "true" annotation.

[2020-06-08 01:28] christian1607 opened #484 "sidecar container is not injecting when pod is created"
consul-helm does not inject any sidecard container on any pod

**consul-helm version**:
![image](https://user-images.githubusercontent.com/16766274/83984984-1e7e3000-a8fd-11ea-9c68-de54d83cd58d.png)

My config is:
![image](https://user-images.githubusercontent.com/16766274/83985155-ad8b4800-a8fd-11ea-86b3-61d278840b01.png)

And my deployment file is:
![image](https://user-images.githubusercontent.

[2020-06-08 01:31] christian1607 commented on #484
All pods is runnig ok
![image](https://user-images.githubusercontent.com/16766274/83985193-d4497e80-a8fd-11ea-8374-a5c2aeb7e656.png)

[2020-06-08 11:39] thecosmicfrog opened #485 "Kubernetes Service object not deleted with `helm uninstall`"
I've noticed the Kubernetes **Service** object for `consul` is not deleted with a `helm uninstall`, meaning we need to go in afterwards and issue `kubectl delete service consul`. Is this an intentional decision or a bug?

Steps to reproduce:

1. Create an override values.yaml file containing the following:
[code]

2. Install **consul-helm** using the above values.yaml file:
`$> helm upgrade --inst

[2020-06-08 12:12] Niharika20 opened #486 "Error while helm install"
With the latest clone, I am facing the below mentioned error while doing helm install using new values.yaml file.

Error:

[code]

[2020-06-08 17:15] lkysow commented on #440
@christian1607 this sounds like a different issue because the original issue has the sidecar injected, that's where the log is coming from. I see you've created https://github.com/hashicorp/consul-helm/issues/484 to track that issue.

[2020-06-08 17:16] lkysow commented on #440
I'm going to close this one because we haven't heard back. If you get back to us @rhzs we can definitely re-open this issue.

[2020-06-08 17:16] #440 closed

[2020-06-08 17:19] lkysow commented on #484
Hi @christian1607 can you follow the logs from the connect-injector pod and re-create the static-server pod? Do you see a log like
[code]

Or any other logs.

[2020-06-08 17:22] lkysow commented on #485
Hi @thecosmicfrog this is a known issue. We can't implement this in the sync-catalog process because we couldn't differentiate between a pod restart and a helm delete so we'd need to put this in a cleanup job of some sort. I'd say it's something we would like to do.

FYI if you're not using the consul to k8s synced externalname services you can set
[code]

[2020-06-08 17:30] lkysow commented on #486
So I can reproduce this if I edit the `values.yaml` to set
[code]

And then I run with a config.yaml
[code]

i.e. `helm install consul hashicorp/consul -f config.yaml`

What I don't understand is how your `values.yaml` is different from the one in master.

Can you explain how you're installing and what your config files look like please?

[2020-06-08 17:45] christian1607 commented on #484
Hi @lkysow, it's a little weird because I just installed again consul  to get the logs you requested and now I can see my consul ui is showing the services
![image](https://user-images.githubusercontent.com/16766274/84062750-752f4c80-a985-11ea-98b1-95c3a8c792c3.png)

Really  don't know what happened.

[2020-06-08 17:45] christian1607 commented on #484
The logs in the injector shows

`sidecar-injector
Updated certificate bundle received. Updating certs...
sidecar-injector
2020-06-08T17:35:14.682Z [INFO] handler: Request received: Method=POST URL=/mutate?timeout=30s
sidecar-injector
2020-06-08T17:36:10.437Z [INFO] handler: Request received: Method=POST URL=/mutate?timeout=30s
sidecar-injector
2020-06-08T17:36:36.884Z [INFO] handler: Request recei

[2020-06-08 17:50] kpurdon opened #487 "Consul Client Memory Leak"
#### Overview of the Issue

Created in https://github.com/hashicorp/consul/issues/8051 and was asked to request the issue here.

I'm seeing patterns of memory usage on the client that indicate a memory leak.

<img width="619" alt="Screen Shot 2020-06-08 at 10 41 07 AM" src="https://user-images.githubusercontent.com/5130441/84061427-2086d400-a97b-11ea-8dae-4dbd9cf37658.png">

#### Reproduction Step

[2020-06-08 17:50] christian1607 commented on #484
I going to close this issue.

[2020-06-08 17:50] #484 closed

[2020-06-08 19:07] lkysow commented on #484
Hmm okay thanks for the update. If there are any other issues let us know!

[2020-06-09 07:26] Niharika20 commented on #486
Hello @lkysow, thanks for the reply,

So I did not change any server resources in values.yaml.
I just enabled ACLs and made server replicas count to be 1 as I was deploying it using minikube.

Changes in values.yaml file:
[code]
[code]
And then I ran this command:
`helm install consul hashicorp/consul --set global.name=consul -f values.yaml`

To reproduce:
[code]

When I do checkout to some previo

[2020-06-09 07:39] Niharika20 commented on #486
Even if I don't do any changes in values.yaml, but just run `helm install consul hashicorp/consul --set global.name=test -f values.yaml` after cloning, it gives the same error.

[2020-06-09 15:25] opihana commented on #328
Thanks for your input! The Consul team is looking for more feedback on the Consul Helm Chart. If any of you have 3 minutes, consider filling out [our survey](https://hashicorp.sjc1.qualtrics.com/jfe/form/SV_4MANbw1BUku7YhL).

[2020-06-09 15:26] opihana commented on #67
Thanks for your input! The Consul team is looking for more feedback on the Consul Helm Chart. If any of you have 3 minutes, consider filling out [our survey](https://hashicorp.sjc1.qualtrics.com/jfe/form/SV_4MANbw1BUku7YhL).

[2020-06-09 15:28] opihana commented on #181
@infa-bsurber The Consul team is looking for more feedback on the Consul Helm Chart. If any of you have 3 minutes, consider filling out [our survey](https://hashicorp.sjc1.qualtrics.com/jfe/form/SV_4MANbw1BUku7YhL).

[2020-06-09 15:28] opihana commented on #88
The Consul team is looking for more feedback on the Consul Helm Chart. If any of you have 3 minutes, consider filling out [our survey](https://hashicorp.sjc1.qualtrics.com/jfe/form/SV_4MANbw1BUku7YhL).

[2020-06-09 15:29] opihana commented on #146
Hey there! The Consul team is looking for more feedback on the Consul Helm Chart. If any of you have 3 minutes, consider filling out [our survey](https://hashicorp.sjc1.qualtrics.com/jfe/form/SV_4MANbw1BUku7YhL).

[2020-06-09 16:32] lkysow commented on #486
What's the output of `helm version` for you?

[2020-06-09 16:54] lkysow opened #489 "Cannot terminate TLS for UI at Load Balancer when tls enabled"
If a user wants to front the UI with a load balancer and terminate the TLS there, they can't use the `ui-service` because that uses port 8501. See https://discuss.hashicorp.com/t/consul-helm-issue-terminating-tls-at-aws-load-balancer/9749/2

Example values:
[code]

[2020-06-09 18:04] ishustava commented on #330
Hey all, this chart makes somewhat heavy use of hooks, and many features, including ACLs and TLS, [won't work correctly](https://www.consul.io/docs/k8s/helm#customizing-the-helm-chart) if you disable hooks. We are trying to do our best to balance configurability with ease of use and trying to be very deliberate about adding options that support most use cases. Since Helm hooks are pretty standard

[2020-06-09 18:07] chancez commented on #330
The install hooks are fine, the delete hooks are the real problem. In many cases running the cleanup hooks aren't completely necessary, or can be handled out of band.

[2020-06-09 18:18] #467 closed

[2020-06-10 05:21] Niharika20 commented on #486
Output of helm version:
[code]

[2020-06-11 08:57] rrondeau commented on #487
Hi

I'm facing the same issue.

![image](https://user-images.githubusercontent.com/1677718/84365576-ed8a4d80-abd1-11ea-9513-75553be16ab6.png)
I'm using consul-helm with consul-k8s injector and i'm starting to think this is comming from the lifecycle mecanism which re-register the same service every 10s by default

[2020-06-11 13:16] koshdim opened #493 "After installation 'node(s) didn't satisfy existing pods anti-affinity rules.'"
I followed the guide in https://www.consul.io/docs/k8s/installation/overview
and after helm installation I have
kubectl get pods
NAME                                            READY   STATUS    RESTARTS   AGE
consul-p46hz                                    0/1     Running   0          74m
consul-server-0                                 0/1     Pending   0          78m
consul-server-1

[2020-06-11 15:18] #493 closed

[2020-06-11 16:02] sergeyshaykhullin opened #494 "Add metrics support"
[code]

[2020-06-11 16:06] rrondeau commented on #487
I rebuilt consul-k8s without lifecyle sidecar injection.
Same graph 6 hours later :
![image](https://user-images.githubusercontent.com/1677718/84409712-0b75a380-ac0e-11ea-88fa-f01b2131e0dc.png)
Something is going on here :-)

[2020-06-11 16:25] lkysow commented on #487
Thanks folks, we'll take a look ASAP.

[2020-06-11 22:03] lkysow commented on #487
So we've found the issue: https://github.com/hashicorp/consul/pull/8092. It's a goroutine leak.

Unfortunately it's in consul which means we need a consul release to fix it properly. The fix will be backported but we don't have a release date yet.

We're going to look into modifying the lifecycle-sidecar so it doesn't exacerbate the memory leak.

For a current workaround you can:
1. Increase the r

[2020-06-11 22:13] ashwin-venkatesh commented on #258
After a conversation with @lkysow and @ishustava , updating the test to use `consul members` as a solution will provide a useful smoke test for the time being. The status of the `consul-server` will be used to determine if the installation was successful.

Additionally, it made sense to expand the responsibility of the `helm test`  to provide better debugging information. The specifics of what tha

[2020-06-13 00:55] ishustava commented on #189
Hey @infa-bsurber,

I'm going to close this issue because we haven't heard back from you in a while, but I hope you have resolved your issue. If you still experience problems, please don't hesitate to comment here or open a new issue.

[2020-06-13 00:55] #189 closed

[2020-06-13 01:02] ishustava commented on #353
Hi @srimandarbha,

I'm going to close this because we haven't heard from you in a while. I hope you have resolved this issue!

If you are still seeing problems with Consul UI not loading, please comment here and we will re-open this issue.

[2020-06-13 01:02] #353 closed

[2020-06-13 01:04] ishustava commented on #385
Hey @pvlltvk,

I'm going to close this issue for now. I hope the solution I mentioned worked for you.

If not, let us know by either commenting here or creating a new issue. Cheers!

[2020-06-13 01:04] #385 closed

[2020-06-13 01:09] ishustava commented on #404
Hey @like-inspur,

I'm going to close this issue because we weren't able to reproduce. I hope you have resolved the underlying DNS issue.

If you're still seeing problems, please let us know! You could comment here and we will re-open the issue, or create a new issue.

[2020-06-13 01:09] #404 closed

[2020-06-13 01:13] ishustava commented on #426
Hey @debjitk,

I hope you were able to set `affinity` as Luke suggested. I'm going to close this for now, but if you're still experiencing problems, please let us know!

[2020-06-13 01:13] #426 closed

[2020-06-13 03:19] ishustava commented on #445
Hey @robfras

I hope things are working now after cleaning up the volumes and the secrets. I'm going to proactively close this issue because it looks like you have resolved it. If that is not the case, please let us know and we can re-open this issue.

[2020-06-13 03:19] #445 closed

[2020-06-13 03:22] ishustava commented on #442
Hey @debjitk

I'm going to close this issue because we haven't heard from you for a while. If you are still seeing problems with your installation, please let us know and we can re-open.

[2020-06-13 03:22] #442 closed

[2020-06-13 03:30] ishustava commented on #441
Hi @Epiclemonaid

I'm going to close this issue because it's out of scope for this repo. I'd recommend either using the ECDSA keys or following the Consul issue Luke has mentioned for updates if you require RSA keys. If you feel that this issue is unresolved, please let us know!

[2020-06-13 03:30] #441 closed

[2020-06-15 15:20] kpurdon commented on #487
@lkysow thanks for the update and workarounds. I'm trying to decide if I can live w/ the issue for a bit or if I need to implement the workaround. Even though you don't have a release data do you have a sense for how long that will be from now? A week, month, ...?

[2020-06-15 22:49] ishustava commented on #32
Hey all,

We now have our own Helm repository! [Here](https://www.consul.io/docs/k8s/installation/overview#installing-consul) are the instructions on how to use it.

I'm going to close this issue, but please let us know if you're seeing any problems with using our Helm repo. Thanks!

[2020-06-15 22:49] #32 closed

[2020-06-15 23:51] issacg commented on #474
Is there any particular reason why the auto-encrypt ca certificate can't just be added to a secret, the same way that is done for `consul-ca-cert`?

This took me several days of ripping my hair out figuring out that there were 2 legitimate and parallel CAs to begin with, and then even once I accepted that this was by intention and not a bug, hours more to find this issue...

It seems to me that ne

[2020-06-16 00:00] ishustava commented on #474
Hey @issacg,

Yes, I totally understand the confusion and sorry you had to go through that! Thanks so much for this feedback.

The reason we don't create a secret is that when the CA gets rotated or if the provider is changed, that secret will be out-of-date. This would then imply that we would need to run an additional process that checks for CA updates in Consul and then updates the secret in ca

[2020-06-16 00:32] issacg commented on #474
@ishustava maybe I'm missing something, but how does that make it simpler?  If the auto-encrypt CA changes/rotates/otherwise-invalidates, then the certificate that I've fetched in the initcontainer will no longer be valid for whatever process (int the "main" container) is talking to the consul agent, and things will stop working anyway.

If such a scenario is reasonable to expect, then either some

[2020-06-16 23:41] #258 closed

[2020-06-17 05:05] lkysow commented on #487
Consul 1.8.0 should be released within a week.

[2020-06-18 01:17] ToruMakabe opened #504 "Sample on official blog does not work (Ingress Gateway)"
I tried sample helm values for Ingress Gateway on official blog, but does not work.
https://www.hashicorp.com/blog/ingress-gateways-in-hashicorp-consul-1-8/

It seems some parameters on consul-helm chart and docker image have not caught up with the blog article yet.  When would the version supports Ingress Gateway be released?

[2020-06-18 01:35] david-yu commented on #504
Hi @ToruMakabe thanks for the feedback. You are correct in that we have not released the official helm chart updates. Please stay tuned!

[2020-06-18 04:04] lkysow commented on #504
If you're super eager you can use this branch: https://github.com/hashicorp/consul-helm/tree/release/0.22.0

With

[code]

and the rest of the values.

[2020-06-18 04:21] ToruMakabe commented on #504
@david-yu @lkysow Thanks! I will wait for the next release and close it after that.

[2020-06-19 00:47] ToruMakabe commented on #504
I have tested the new chrat version 0.22.0 with ingress gateway settings. Worked well.

# Looking forward to further integration with helm!

[2020-06-19 00:47] #504 closed

[2020-06-19 01:17] david-yu commented on #504
Thanks @ToruMakabe !

[2020-06-21 02:11] kpurdon opened #509 "Upgrade Issues (Downtime w/ Connect Enabled Services) 1.7.3 to 1.8.0"
I'm not totally sure what information is useful for this, so I'll be happy to reply with any information requested.

My current setup:
- 1.7.3 installed via Helm w/ connect inject enabled (w/o automatic injection)
- 2 services registered w/ the injector via annotations

Everything is working as expected, to upgrade to 1.8.0 I follow https://www.consul.io/docs/k8s/operations/upgrading to the tee. I

[2020-06-21 18:51] iamaverrick opened #510 "Consul Ingress"
we are using this consul helm chart for our consul deployment on our production environment. i know that the UI is enabled but i see no ingress associated with this chart.

my question is how can i set an ingress for this the UI service using this chart. we use nginx ingress and would like to specify the host to use for the UI service.

[2020-06-22 10:56] hilalhmuhammed commented on #510
@iamaverrick Add an ingress resource pointing to port 80 of the UI service and allowing path '/' under templates directory and run helm upgrade. The ingress resource is not packed with current official chart.

[2020-06-23 05:14] ishustava commented on #474
Hey @issacg

Let me elaborate a bit on my answer. Bear with me as I'm going to go into some implementation details to explain this decision better.

The first question is if we were to create a secret containing the CA certificate, when in the lifecycle of the Helm release should it be created. It can't be part of any existing job. The TLS init job runs as a pre-install hook, and at that time the

[2020-06-23 18:19] lkysow opened #512 "Print tls-init errors"
Currently if any `curl` command fails during `tls-init`, the job will exit without logging anything. Instead we'd like to log the curl error. We need to be careful we're not logging any secrets.

[2020-06-24 00:00] lkysow commented on #28
This has been solved in Consul 1.8.0 with WAN Federation via mesh gateways. See https://www.consul.io/docs/k8s/installation/multi-cluster/overview for more details.

[2020-06-24 00:00] #28 closed

[2020-06-24 00:03] lkysow commented on #67
In order for the servers to be accessed from another cluster https://github.com/hashicorp/consul-helm/pull/332 could also be used.

[2020-06-24 11:36] issacg commented on #474
@ishustava Sorry for the delayed response, as I've been catching up on Hashiconf Digital. :D

These were _excellent_ and very informative answers, thank you so much 🙏

The crux of it for me was the API for rotating the CA certificates for auto-encrypt, I was unaware that it was tied to the connect CA, so that explains so much of the hesitation on your side.

However, it also means that even my set

[2020-06-24 20:27] ishustava commented on #271
@lkysow I think we [do](https://github.com/hashicorp/consul-helm/blob/327ce4f484769f0a7948a0e65462e18d1ec1e1bd/templates/connect-inject-deployment.yaml#L88-L92) via the [`connectInject.overrideAuthMethodName`](https://github.com/hashicorp/consul-helm/blob/327ce4f484769f0a7948a0e65462e18d1ec1e1bd/values.yaml#L892-L894). Should we close this?

[2020-06-24 20:50] adilyse opened #513 "Add bats tests for tls volumes"
From [this comment](https://github.com/hashicorp/consul-helm/pull/503#discussion_r442411103), terminating gateways need to have a test added for tls volumes. This likely extends to mesh and ingress gateways as well, and all other components should also be checked and updated if needed.

[2020-06-24 20:59] lkysow commented on #513
I think this is the type of test missing?

https://github.com/hashicorp/consul-helm/blob/327ce4f484769f0a7948a0e65462e18d1ec1e1bd/test/unit/client-daemonset.bats#L476-L494

[2020-06-24 23:39] lkysow commented on #271
Yep, looks like it!

[2020-06-24 23:39] #271 closed

[2020-06-25 15:22] #354 closed

[2020-06-25 15:31] kschoche commented on #354
Hi there! We've merged several PR's over the past 24h into master which progressively back out unnecessary ClusterRole usage, including tls-init (#498). Thank you for raising this issue!

With the specific change that this issue references (#498) you will still have a tls-init clusterrole+binding that hangs around after a `helm upgrade` which should be safe to manually remove once you've upgraded.

[2020-06-25 17:32] lkysow commented on #487
Consul 1.8.0 has been released. Please upgrade to this version to fix the memory leak.

[2020-06-25 17:32] #487 closed

[2020-06-25 17:36] lkysow commented on #126
Hi, yes unfortunately because we use a daemonset and hostPorts it's not possible to install Consul into multiple Kubernetes namespaces when clients are enabled.

[2020-06-25 17:36] #126 closed

[2020-06-25 17:44] lkysow commented on #146
Hi @jheiss are you on OpenShift by chance?

[2020-06-25 17:46] lkysow commented on #196
This was closed in https://github.com/hashicorp/consul-helm/pull/480!

[2020-06-25 17:46] #196 closed

[2020-06-25 17:50] lkysow commented on #257
Hi, this functionality is supported in Consul Enterprise. There was a PR you may look at to add this in open source via a cronjob (https://github.com/hashicorp/consul-helm/pull/345). We didn't merge that PR due to https://github.com/hashicorp/consul-helm/issues/344#issuecomment-608070702 and for the same reasons I don't think we're going to document how to do this unfortunately.

[2020-06-25 17:50] #257 closed

[2020-06-25 17:52] lkysow commented on #318
hostNetwork support was merged in https://github.com/hashicorp/consul-helm/pull/496!

[2020-06-25 17:52] #318 closed

[2020-06-25 17:58] lkysow commented on #363
Now that we support installation via a helm repository it's no longer possible to edit the `values.yaml` file accidentally. See https://www.consul.io/docs/k8s/installation/overview for more details.

[2020-06-25 17:58] #363 closed

[2020-06-25 18:00] lkysow commented on #366
Hi @brian-byungsookim did this issue get resolved?

[2020-06-25 18:03] lkysow commented on #379
Hi, this isn't something that we're going to be able to support because the sidecar proxy **must** talk to the local consul client on that node. It can't talk to a Kubernetes service IP because that will route to a random consul client in the cluster and that service will be registered there but then will be re-registered on the next random consul client.

If hostPort is not working could you try

[2020-06-25 18:03] #379 closed

[2020-06-25 18:07] lkysow commented on #429
Hi @rakshitcgupta, in this scenario we would expect that you use configuration as code for all your consul config, e.g. the helm chart config and using terraform for other Consul configuration like Configuration Entries.

A privileged user like a trusted ci/cd platform or an operator will still need permissions to install and configure the production evironment.

Does that help? Is there a specifi

[2020-06-25 18:09] lkysow commented on #443
Related to https://github.com/hashicorp/consul-helm/issues/512

[2020-06-25 18:10] lkysow commented on #477
Hi, we're going to close this for now since we haven't heard back. If you would like us to reopen this issue please comment here and we'll be happy to do so.

[2020-06-25 18:10] #477 closed

[2020-06-25 18:11] lkysow commented on #486
I believe ☝️ should fix the issue so I'm going to close this.

[2020-06-25 18:11] #486 closed

[2020-06-25 18:12] sdeoras commented on #379
Thanks for the feedback. I will give it a try using client host networking.

[2020-06-25 18:15] lkysow commented on #489
This would also be fixed by ingress which is probably a better way to allow maximum configuration on how the UI is exposed.

[2020-06-25 18:18] lkysow commented on #509
Hey @kpurdon, we're really sorry you're having issues upgrading. I'm wondering what version of consul-k8s you're running? In consul-k8s 0.10.0 we added a lifecycle-sidecar to all connect injected pods that ensures the service is re-registered when the consul clients are upgraded.

If you're not on that version you'll need to upgrade to that version and re-roll all your consul connect injected pods

[2020-06-25 18:22] lkysow commented on #379
Okay let us know if there's any issues and we can re-open.

[2020-06-25 18:28] kpurdon commented on #509
I do see the lifecycle sidecar in my connect enabled services. I'm using `hashicorp/consul-k8s:0.15.0` (just using the helm chart defaults).

[2020-06-25 18:50] jheiss commented on #146
No, standard Kubernetes. We use RBAC and PSP to limit users to specific namespaces, and do not give them permission to set their own RBAC or PSP rules.

Responding to @adilyse's question from long ago that I somehow missed: Even if we wanted some team to run Consul for the whole company that team likely would not be the same team as our Kubernetes admin team and thus wouldn't have administrative p

[2020-06-25 19:06] lkysow commented on #509
Hmm, you should be seeing the services re-register thanks to the lifecycle sidecar. It may take up to 20s depending on how fast the client restarts. Can you share the logs from the lifecycle-sidecar container?

You shouldn't need to pin the consul-k8s version if you're already on something >= 0.10

[2020-06-25 19:10] lkysow commented on #85
For others reading this, multi-cluster federation is supported in Consul 1.8.0. See https://www.consul.io/docs/k8s/installation/multi-cluster/overview for more details.

[2020-06-25 19:17] kpurdon commented on #509
The current logs are just repeats of something like:

[code]

I'll try an upgrade again soon, and pay more attention to these logs during. A quick review of the logs from the last upgrade appear to be the same though.

[2020-06-25 20:02] lkysow commented on #509
Okay, the safest way to upgrade for you would probably be to set the client daemonset updateStrategy to `OnDelete`, then run `helm upgrade`, the clients won't be restarted yet, then drain each node, delete the consul client so it upgrades, then uncordon the node, and repeat.

That way there will be no downtime due to any lag between the connect services on that node re-registering with the new cli

[2020-06-26 00:06] lkysow commented on #509
Hi, I think there might be another issue actually (see https://discuss.hashicorp.com/t/consul-1-8-0-proxy-health-fails-at-destination-alias/10632/2). Before consul-k8s 0.16.0 we were setting an alias check incorrectly but it was passing without issue. Now in Consul 1.8.0 that incorrectly set check will fail. To fix this you'll need to upgrade to consul-k8s 0.16.0 and then re-roll your connect pods

[2020-06-26 01:11] kpurdon commented on #509
@lkysow interesting! I'll give that a shot ASAP and report back here. Thank you.

[2020-06-26 01:51] kpurdon commented on #509
Just rolled through the upgrade without issue after upgrading to `consul-k8s 0.16.0` first. Thanks!

[2020-06-26 01:51] #509 closed

[2020-06-26 02:28] kpurdon opened #515 "lifecycle-sidecar at 100% of CPU limit"
I'm seeing right at 100% of the requested limit CPU usage for the lifecycle sidecar. Would it be possible to increase, or allow configuration of the resource requests for this.

I _think_ https://github.com/hashicorp/consul-helm/blob/e2fb73ca3fa00074ceec26f6b4b15dd860a094ad/templates/mesh-gateway-deployment.yaml#L359-L365 is the spot that would need to allow for configuration.

[2020-06-26 03:05] lkysow commented on #515
Hey Kyle, are you seeing this on your connect pods or on the mesh gateway?

We can definitely make this configurable but because it should be the same
for everyone we might instead just want to bump it up. Our testing showed
it had lots of room but maybe that does depend on workload.

Can you show us your graphs or kubectl top output as well please?

On Thu, Jun 25, 2020, 7:28 PM Kyle Purdon <noti

[2020-06-26 03:20] kpurdon commented on #515
This is on the connect enabled pods, no mesh gateway.

Here is a chart showing the CPU limit utilization for all lifecycle containers for the last hour:

<img width="1413" alt="Screen Shot 2020-06-25 at 9 15 02 PM" src="https://user-images.githubusercontent.com/5130441/85816563-f24e1600-b728-11ea-9495-cc63253aaf92.png">

Here is a single top for one of the pods:

[code]

Happy to provide any addit

[2020-06-26 21:36] kpurdon commented on #515
Here is the same graph for the last day. There is no real difference in the pods in the top or bottom group, and both groups include pods from each of the services I have connect enabled.

<img width="1406" alt="Screen Shot 2020-06-26 at 3 36 18 PM" src="https://user-images.githubusercontent.com/5130441/85903113-caab8c00-b7c2-11ea-98b6-35c8887feedc.png">

[2020-06-26 21:44] lkysow commented on #515
Okay thank you for this information. We're going to look to bump this up and we're also looking at another issue related to resource settings and OOM. If you need a workaround right now you'd need to bump these up yourself:

https://github.com/hashicorp/consul-k8s/blob/9a3a22edbabd4f935e8831f32afd55e816ebdd0b/connect-inject/lifecycle_sidecar.go#L10-L15

and build a custom consul-k8s image. To be c

[2020-06-28 04:03] ishustava commented on #327
Hey @tpetrychyn,

We now support setting `hostNetwork` for the Consul clients (as of release [0.22.0](https://github.com/hashicorp/consul-helm/releases/tag/v0.22.0)). It also sounds like a more long-term fix will come Cilium eventually. I'm going to close this, but please let us know if you are still seeing problems.

[2020-06-28 04:03] #327 closed

[2020-06-29 17:02] #290 closed

[2020-06-29 20:34] viswanath7 opened #517 "Enabling ACLs for Consul with Helm"
Hello,

I'm trying to follow the installation guide of consul over kubernetes (on my Mac with docker-desktop context) and struggling to successfully enable ACLs for the dashboard / UI by referring to https://www.consul.io/docs/k8s/helm#v-global-acls-managesystemacls and https://www.consul.io/docs/k8s/installation/overview#acls-enabled. Specifically, the secret consul-bootstrap-acl-token does NOT e

[2020-06-29 21:20] ishustava commented on #517
Hey @viswanath7,

Thanks for creating an issue! I have a couple of notes on your config.

First, you don't need to set `acls.bootstrapToken`; just setting `acls.manageSystemACLs` to `true` should be enough. This will trigger a Kubernetes job called `server-acl-init` that will create the bootstrap token, along with other ACL things for you. Once the job completes, you should be able to retrieve the

[2020-06-30 07:06] viswanath7 commented on #517
Dear Iryna,

Thank you very much for your prompt reply. Following your suggestions indeed resolved my problem. Also, Thanks for pointing out the documentation section for consul connection. I'm evaluating the usage service mesh for a potential migration.

[2020-06-30 07:06] #517 closed

[2020-06-30 09:04] berkaybayraktar opened #518 "Ingress Gateway Listeners Configuration"
Is there any way to provide listeners configuration to ingress gateway via helm chart ?

For example, I want to use following listener configuration for the ingress gateway. But, I couldn't find a way to set this configuration.

[code]

I know that I can set this configuration by using `consul config write` command.

[2020-06-30 15:33] blake commented on #518
Hi @berkaybayraktar,

You may use [`ingressGateways.defaults.service.ports`](https://www.consul.io/docs/k8s/helm#v-ingressgateways-defaults-service-ports) to specify the list of ports which should be exposed from the ingress gateway container. Here's an example.

[code]

The ports defined here are not automatically synced to the `ingress-gateway` config entry. You will need to also set the configu

[2020-06-30 15:45] ishustava commented on #518
Hey @berkaybayraktar

Thanks for the issue! To add to what Blake said, currently, the Helm chart helps you with the installation of the Ingress Gateway, but not with the configuration. The configuration has to be done via the CLI command that you have mentioned.

We are working on developing Custom Resource Definitions for Consul's config entries, and so hopefully that will improve the configurati

[2020-06-30 16:03] RomainPhil opened #519 "[EKS] Cant deploy new pods after enable connectInject"
Hi,
for an upgrade of the existent infrastructure i need to deploy a consul cluster on EKS
the actual cni configured is calico.

my repo is
`NAME            URL
hashicorp       https://helm.releases.hashicorp.com`

and my config file came from the doc:

[code]

the deployement for the consul pods works fine

[code]

when a tried to deploy the following yaml :

[code]

[2020-06-30 16:18] berkaybayraktar commented on #518
Thank you for the info. Also, I know this is not the right place but, I couldn't manage to set this configuration via config maps. I tried to add this config in bootstrap / config_entries section of `consul-server-config` as the default proxy config. Right after the consul server starts, I can list the ingress-gateway configuration with `consul config list - kind ingress-gateway` but, somehow, it

[2020-06-30 17:12] ishustava commented on #519
Hey @RomainPhil

Thanks for creating this issue!

This error looks like it's coming from `kubectl`, and the request timeout is referring to `kubectl` trying to talk to the kube API server. Maybe this is just a temporary network hiccup and you could try re-applying again.

[2020-06-30 17:19] ishustava commented on #518
That's interesting @berkaybayraktar, thanks for letting us know. I haven't tried configuring it via the bootstrap property. Let me try it and let you know.

[2020-06-30 17:35] RomainPhil commented on #519
Hey @ishustava,

thanks for your answer, i've tried with different deployement and it's seem like it only when the injector is deploy than i have this issue.

i tried to deploy some ressource from a deployment for exclude the kubectl part,

[code]
and when i describe the replicatset
[code]
maybe the consul inject component attach himself to a kubernetes component and block the communication from o

[2020-06-30 17:49] ishustava commented on #519
Thanks for providing more details. That does look like there is some issue with the injector.

Could you include the logs from the connect injector and from the consul client from the host where the injector is running?

You've mentioned that you only see this problem when the injector is deployed. Could you try to deploy a pod with injection disabled, for example:

[code]

[2020-06-30 18:01] RomainPhil commented on #519
thanks for your propositions,

i launch your deployment with the annotation at false, the result is the same.

the log from the injector :
[code]

[2020-06-30 19:33] ishustava commented on #518
I've tried it out, and it worked! Here is the Helm config I used:

[code]

Note that my service name is called `static-server`, and you would just need to replace it with whatever is the name of your service.

Another note is that this will work only on-create, so if you need to update the gateway config, you could no longer do it through the bootstrap property and would have to use the CLI.

For

[2020-06-30 19:37] ishustava commented on #518
I'm going to close this issue for now but please let us know if you're still seeing problems!

[2020-06-30 19:37] #518 closed

[2020-07-01 01:18] ishustava commented on #519
I was able to reproduce this issue. After digging into this for a bit and looking at the logs for kubeapiserver, I think I know what's going on. Kube API server is trying to talk to the connect-injector webhook via the cluster IP service, but it's getting a timeout error. These are the log lines I'm seeing in the kubeapiserver:

[code]

The `consul-consul-connect-injector-svc.default.svc` host wil

[2020-07-01 07:37] RomainPhil commented on #519
Thanks for your help,

I will go for the first ways with Calico with AWS VPC CNI,
 the final deployment will need to have lesser change possible for different cloud provider (calico is not supported at the same level by each provider) and avoid to open more security concern when a workaround with the policy exist.

this issue can be closed

[2020-07-01 09:37] Arni777 opened #520 "consul agent on openshift"
Hello,

I am trying to install a consul agent using this helm, on openshift.
My consul cluster(virtual macines) is used as a k/v store, for my Vault application(containers on openshift).
I have used this guide [https://www.consul.io/docs/k8s/installation/deployment-configurations/servers-outside-kubernetes](url).

Is it supported?
(Vault helm has openshift variable, but none here).

btw the versio

[2020-07-01 16:28] zzguang520 opened #521 "After helm installs Consul, the state is no ready: error="No cluster leader""
Hi team,
    I have used helm to install consul: `helm install consul hashicorp/consul --set global.name=iocc-x-consul -n consul`
Before helm install I created PV and PVC:

[code]
[code]
Detailed log:
[code]

[2020-07-01 18:27] ishustava commented on #521
Hey @zzguang520

Is it still unhealthy? in the log lines you've inlcuded it's cut off right after the other servers have LAN joined:

[code]

The leader election should restart after some time, and I'm curious if it still fails now with all 3 servers joined.

[2020-07-01 19:34] ishustava commented on #519
Sounds good! I've also left feedback on the official Calico docs so that they can clarify this networking mismatch between using AWS VPC CNI and the Calico CNI.

[2020-07-01 19:34] #519 closed

[2020-07-01 20:13] viswanath7 opened #523 "Service mesh set-up using Helm"
Hello,

I'm following the [documentation on service mesh](https://www.consul.io/docs/k8s/connect#consul-hashicorp-com-connect-service-port) using helm and trying to consume an exposed service (namely [greeter](https://registry.hub.docker.com/r/bloque/greeter)) from another (namely [consumer](https://registry.hub.docker.com/r/bloque/http-client)).

I'm using the following kubernetes specifications

[2020-07-01 20:42] ishustava commented on #523
Hey @viswanath7

Your configuration looks correct to me.

I think the underlying issue you're seeing here is a race condition. It looks like the consumer app tries to talk to the greeter app at startup, but since it and the envoy sidecar both start at the same time, it's likely that Envoy hasn't started the listener on localhost yet.

It would be interesting to compare the timestamp of where you'r

[2020-07-01 21:17] kschoche commented on #520
Hello and thank you for raising this issue!
Currently do not have any official support for Openshift installation via consul-helm, but we consider this a high priority feature that we are working on.
Other users have had some success before and there is a good write-up that I'd encourage you to take a look at for testing purposes here: https://github.com/kawsark/consul-helm-openshift#consul-helm-o

[2020-07-01 22:47] viswanath7 commented on #523
Hi @ishustava,

Thank you for your prompt reply. Please find below the relevant logs
[code]

---
Also, just in case if it's useful, the helm configuration used is as shown below

**consul-connect-configuration.yml**

[code]

[2020-07-01 23:00] viswanath7 commented on #523
**Update**:

Not starting **greeter** and **consumer** simultaneously doesn't resolve the problem either. As shown below, I started **greeter** first and after a significant delay, I started **consumer**.

[code]

[2020-07-01 23:59] ishustava commented on #523
Hey @viswanath7

Thanks so much for providing this info. Looking at your Helm config file helped me figure out what the problem is!

When you have ACLs enabled, by default Consul will not allow any network traffic until you create [intentions](https://www.consul.io/docs/connect/intentions).

To create an intention follow these steps:

First, set env variables so you can talk to Consul via CLI:

[c

[2020-07-02 01:26] zzguang520 commented on #521
@ishustava yes,still error,
[root@master ~]# kubectl get all -n consul
NAME                         READY   STATUS    RESTARTS   AGE
pod/iocc-x-consul-dnrlw      0/1     Running   0          9h
pod/iocc-x-consul-kd4hx      0/1     Running   0          9h
pod/iocc-x-consul-mngxc      0/1     Running   0          9h
pod/iocc-x-consul-server-0   0/1     Running   0          9h
pod/iocc-x-consul-serve

[2020-07-02 07:26] viswanath7 commented on #523
Thank you very much indeed. Creating an intention to allow traffic solved my problem.

[2020-07-02 07:26] #523 closed

[2020-07-02 16:13] zzguang520 opened #524 "[ERROR] agent: Coordinate update error: error="No cluster leader""
hi team，
   I have consul issues from installed consul by helm, installed command：helm install consul hashicorp/consul --set global.name=iocc-x-consul --set server.storageClass=consul-storage -n consul
 Before install consul, I created SC and PV, PVC in k8s cluster(1 master，3 nodes)：

[code]
[code]

[2020-07-02 16:40] ishustava commented on #524
Hey @zzguang520, this looks like a duplicate of #521. I'm going to close this in favor of #521.

[2020-07-02 16:40] #524 closed

[2020-07-02 19:52] ishustava commented on #521
Thanks for confirming @zzguang520. Do you see any logs from the servers showing why the leader election is failing? Unfortunately, I can't diagnose too much from the logs you've posted.

Another question I have, is this a fresh install? One thing you can try is deleting the PVs completely and re-creating before each Helm install to make sure there's no state left between installs. Otherwise, Consu

[2020-07-03 09:29] zzguang520 commented on #521
Hi @ishustava , yes, it is a fresh installation, I have tried includes removal of PV, PVC, helm delete

[2020-07-03 09:30] zzguang520 commented on #521
I really can't see what the issues is from the information, this issues has been bothering me for a week

[2020-07-03 12:04] i0rek opened #525 "Envoy 1.14.4"
Letting you know that Consul 1.8.1 will support Envoy 1.14.4.

[2020-07-05 03:31] brian-byungsookim commented on #366
Yeah, I wasn't able to fix anything with KubeDNS, so I just took a chance restarting the cluster and it resolved the issue.

Thanks for following up!

[2020-07-05 19:00] shubhammicrosoft1 opened #527 "Consul Integration with Azure Application gateway Ingress controller or NGINX Ingress controller"
We are trying to use Pod-Pod mTLS using CA . However we are using Azure Application gateway ingress controller for the same to route traffic inside the kubernetes cluster using Consul
Is there a documentation available for the same to integrate Consul Service mesh with Azure Application gateway ingress controller or with NGINX controller

[2020-07-06 11:03] behnaz-surf opened #529 "consul-connect-inject-init terminates"
Hi,

we were working with Consul 1.6 without any problem.
But just after upgrading to Consul 1.8 on k8s, we are facing these problems:

consul-connect-inject-init pod randomly throws error. I tried to see what is wrong and I found this log once:
[code]
I think it happens here:
[code]
On that time there was not any problem with my k8s cluster but there is a resource section that seems to be new in

[2020-07-06 11:04] behnaz-surf opened #530 "consul client 1.8 does not remove service in deleting pod and does not mark a service unhealthy if pod does not exist."
Sometime consul client can not remove a service from its `/consul/data` and reload a service when a pod dies. So service remains there although there is no running pod for that. Then consul service sends request to the dead pod and it fails. For example we have 1 running pod and 2 consul services that one refers to the dead pod and the other one to the healthy pod and consul does not make that ser

[2020-07-06 13:58] kschoche commented on #529
Hi @behnaz-surf, thank you for reporting this issue, I'm sorry that you're running into this. This is an issue that we're actively working on in the consul-k8s project and consider a high priority to fix.

As the issue has been very difficult to reproduce in-house, would it be possible for you to describe a little bit more about your environment:
e.g. was the cluster under significant load?
 also

[2020-07-06 19:54] lkysow commented on #366
Okay thanks, we'll close this one then. Glad to hear it worked out.

[2020-07-06 19:54] #366 closed

[2020-07-06 19:57] lkysow commented on #527
Hi Shubham,
There is no documentation right now unfortunately. You would need to deploy a Consul ingress gateway and then point your Azure application gateway at the Consul ingress gateway. We are working on docs for the Consul ingress gateway right now.

[2020-07-06 20:00] lkysow commented on #530
Hi Behnaz, are you using Consul connect? We add a preStop hook that should be deregistering the pod.

[2020-07-09 17:28] lkysow commented on #515
Will be addressed by https://github.com/hashicorp/consul-helm/pull/533

[2020-07-09 22:18] lkysow commented on #515
This bugfix is available in 0.23.0.

[2020-07-09 22:18] #515 closed

[2020-07-10 02:51] kpurdon commented on #515
Awesome @lkysow ... quick question. Is the same multi-step upgrade process required for using a newer helm chart version if the underlying consul version has not changed?

[2020-07-10 10:09] sergeyshaykhullin opened #537 "Metrics in prometheus format"
When i tried to get metrics in prometheus format `/v1/agent/metrics?format=prometheus` i got `Prometheus is not enabled since its retention time is not positive`.

I found that consul has https://www.consul.io/docs/agent/options.html#telemetry-prometheus_retention_time
How i can set it using helm chart?

[2020-07-10 18:16] lkysow commented on #515
Hey Kyle, it depends on whether the consul client daemonset pods will end up being restarted by the helm upgrade. The release (you should actually use 0.23.1, there was a TLS bug we just patched) changes the default version of consul-k8s to 0.17.0 in order to get this bugfix.

That shouldn't affect the client daemonset unless you have ACLs enabled. If you do, then consul-k8s is actually used as an

[2020-07-10 18:17] lkysow opened #540 "Update our upgrade docs to detail no-downtime deployment"
Crib from my comment here: https://github.com/hashicorp/consul-helm/issues/515#issuecomment-656814849

[2020-07-10 19:00] #529 closed

[2020-07-10 19:04] lkysow commented on #429
Closing because we haven't heard back. If you need more help please comment and we can reopen!

[2020-07-10 19:04] #429 closed

[2020-07-10 19:12] lkysow commented on #521
Can you send us the full logs from all consul servers please.

[2020-07-10 19:52] lkysow commented on #537
Hi, you can set this in the `extraConfig` section of the helm chart for servers and clients:
[code]

[2020-07-11 11:21] sergeyshaykhullin commented on #537
@lkysow Thanks, that works!
Any plans to add prometheus operator ServiceMonitor support? https://github.com/hashicorp/consul-helm/issues/494

[2020-07-13 08:13] behnaz-surf commented on #529
It was fixed by the update. Thank you very much for your fast support.

[2020-07-13 16:41] wenerme opened #541 "How to access consul from pod ?"
Installed by

[code]

Will install a service `consul-server.service`, should the pod directly access the server's api ? or interact with per-node agent (no such service like consul-agent)? or somehow to use 127.0.0.1:8500 ?

Is there any guide on how to access consul from pod ?

[2020-07-15 07:17] ducminhle opened #542 "Can we using Vault PKI to create CA?"
Hi,
I have a question about vault and consul.
With old datacenters we deployed on VMs, we use Vault PKI to create CA and TLS for Consul servers. How can we continue using Vault PKI for Consul on EKS with helm?
Thank you.

[2020-07-15 11:54] alexdulin opened #543 "feature request: Configure annotations on acl-init jobs"
Currently there is no way to configure annotations on the [acl-init job](https://github.com/hashicorp/consul-helm/blob/master/templates/server-acl-init-job.yaml#L34). This is problematic when using AWS [cloud auto join](https://www.consul.io/docs/agent/cloud-auto-join) to discover external servers on a cluster with applications that block access to the EC2 metadata endpoints, like [Kiam](https://g

[2020-07-16 18:13] adilyse commented on #541
Hi @wenerme,

Can you tell me a little more about why the pod needs to talk to Consul?

It looks like you've turned on Connect sidecar injection (complete documentation on the feature is available [here](https://www.consul.io/docs/k8s/connect/overview)). A Connect sidecar pod will be automatically injected for any deployed pods that include the [annotation](https://www.consul.io/docs/k8s/connect/o

[2020-07-17 01:22] LogicNinja opened #544 "Enabling "verify_outgoing" breaks readiness probes"
When enabling "verify_outgoing" on servers/clients, the readiness probes fail as they do not pass in the client cert and key when trying to get the leader status.

Being able to define a custom probe, like the ability in the Vault helm chart, would allow users greater flexibility in their configuration and address the above issue with enabling "verfiy_outgoing" connections.

If not, then at least

[2020-07-17 05:36] wenerme commented on #541
@adilyse Thank you for you reply.

I don't want to register pod, instead, I want to register RPC service like

[code]

This service point to the k8s service, port 3000 ,with health check, other endpoint need to access consul to get the address, port and some custom metadata like rpc schema.But I don't know which consul I should talk to.

[2020-07-17 10:15] slauger opened #545 "Expose Consul DNS as internal LoadBalancer"
I'm running consul on GKE in GCP and would like to expose the DNS service via an internal LoadBalancer (`cloud.google.com/load-balancer-type: "Internal"`).

Currently the the service type is harcoded to ClusterIP.

https://github.com/hashicorp/consul-helm/blob/63037756ce11d8824f81af9149e7b0691b3e66c1/templates/dns-service.yaml#L20

Would you accept a PR for that?

[2020-07-17 19:50] adilyse commented on #545
Hi @slauger,

It looks like we do default to ClusterIP by leaving out the `type` field entirely on the dns service (see the [ClusterIP](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types) definition). The `clusterIP` value in the template will only be populated if the setting was defined in the values file:
[code]

It would definitely be reasonable t

[2020-07-18 03:14] iamaverrick commented on #510
@hilalhmuhammed thank you for reply but i have tried and still no luck this is my ingress config

[code]

i have verified that consul is working properly i have deployed using the following

helm upgrade --install consul hashicorp/consul --set global.datacenter=company --version 0.23.1 -n company

[2020-07-18 04:00] ishustava opened #546 "tls-init and server-acl-init should create secrets with appropriate labels"
Currently, neither `tls-init` nor `server-acl-init` jobs add labels to the secrets they create. They should instead follow the helm chart's convention and provide labels so that all resources created by this helm chart can be tracked by a certain set of labels.

[2020-07-20 23:57] lkysow commented on #544
Thanks for opening this issue. I just wanted to note that if you have ACLs enabled then verify_incoming isn't strictly required for security since an ACL token is required for any incoming request.

[2020-07-21 00:00] lkysow commented on #537
Hey Sergey, we do have it on our roadmap to look at documenting how to expose metrics better and so I think we'd want to look at servicemonitor as well during that time.

I'm going to close this specific issue because it looks like your problem was solved and we've already got that other ticket tracking ServiceMonitor support.

[2020-07-21 00:00] #537 closed

[2020-07-23 04:52] DevAndrewGeorge opened #548 "ACL init job fails if using brying-your-own injector TLS certificate"
Consider the following configuration:
[code]

The logs of the pod created by the `consul-consul-server-acl-init` job are spammed with the following:
[code]

It seems this service account is note created because of https://github.com/hashicorp/consul-helm/blob/master/templates/connect-inject-authmethod-serviceaccount.yaml#L1. Is this expected behavior? If not, where does the issue lie, in this char

[2020-07-23 10:27] peterklijn opened #549 "Can I make the service suffix overridable for consul server"
Hi all,

While upgrading consul from 1.5.1 (using stable/consul) to 1.8.0 (using hashicorp/consul) I noticed the introduction of client and server.
As a result of this, the server has a name suffix `-server` which causes all our microservices that depend on consul's dns name to not being able to reach consul anymore (as the name has changed).

As far as I can tell, you can't override this suffix.

[2020-07-24 13:29] peterklijn commented on #549
After trying to remove the `-server` suffix by copying the helm charts it seems that the suffix is quite deeply woven into all templates and making it optional would be rather complex.

If worked around it by deploying a second Kubernetes Service that points to the same pods.

[2020-07-24 13:29] #549 closed

[2020-07-24 16:14] lkysow commented on #549
Yeah it is pretty endemic. Should we add something to the stable/consul readme about this though? Do you have a sample of the service you needed to add?

[2020-07-27 19:06] peterklijn commented on #549
I ended up adding a service which is pretty much a stripped down version of the `server-service` as a separate deployment.
Changed the following:
- Removed the `-server` suffix
- Removed configurability that we don't use
- Not a headless service (removed the `spec.clusterIP`), although that might change

[code]

[2020-07-31 16:28] slauger commented on #545
Could someone have a look at #555?

[2020-07-31 20:49] rboyer opened #562 "Consul will support envoy 1.16.0 with Consul 1.9"
See https://github.com/hashicorp/consul/pull/8944

[2020-08-03 00:52] robece opened #563 "Readiness Probe error in helm chart"
Hi everyone, I'm having the same issue, I'm doing something pretty simple as this:

[code]

I'm getting a Rediness Probe error, I would like to know if there is a way to disable it or modify the values since there is no option to do it as a parameter in helm chart and I could not start the services.

I think there is a lock between services not ready by readiness probe and servers not finding cand

[2020-08-03 08:57] DamaoShao opened #564 "can not install consul using the helm chart"
I installed with `helm install consul hashicorp/consul --set global.name=consul`
then i got
[code]
I used command `kubectl logs consul-server-0`, get
[code]

Where can I troubleshoot problems or how should I do can fix it?
Thank you！

[2020-08-03 11:50] behnaz-surf commented on #530
Hi, the Prehook fails. This is the log for deleting pod:

[code]

[2020-08-03 11:59] behnaz-surf commented on #530
And this is the log for the consul client:
[code]

[2020-08-03 12:14] #564 closed

[2020-08-03 12:19] DamaoShao commented on #564
This error is no matter with this charts.
In my k8s environment, storage class was used NFS, and there is some problems with the configuration of NFS.

[2020-08-05 03:05] andyyaldoo opened #567 "Zero downtime upgrade for consul client daemonsets"
Hi,

I was trying to upgrade the consul clients from `1.8.0` to `1.8.1` using the helm chart yesterday and it upgraded successfully. However, during the upgrade, when a service called its upstream, it returned error below:
[code]

Is there a way to avoid this?

[2020-08-05 12:39] rakshitcgupta commented on #429
Hi @lkysow, yes as also suggested by one of the advocates,  Consul Terraform provider seems to be a good solution to this,  however including another tool Terraform can be out of the scope of projects (because of timelines and cost).
Hopefully, in future we can have other solutions like maybe exporting and importing the configs.

[2020-08-05 18:59] ishustava commented on #563
Hey @robece

Thanks for creating an issue!

I've tried running the command you mentioned against my GKE cluster, and I'm seeing all pods come up and `ready`.

[code]

There could be something else going on. Which readiness probe is failining? Could post output of `kubectl get pods` and logs from the failing pod(s)?

[2020-08-05 19:00] ishustava commented on #564
Glad you found the problem @DamaoShao!

[2020-08-05 23:31] ishustava commented on #429
Hey @rakshitcgupta, that's true. We're currently adding support for managing intentions and some config entries via CRDs, so you would be able to use kubernetes YAML for that in the future instead of terraform. Will that help your use case?

[2020-08-05 23:35] manisha-tanwar commented on #563
Hi @ishustava

I tried helm install(with default values) & getting same error, here are the logs and errors I'm getting:

[code]

Any help would be appreciated!

[2020-08-05 23:49] manisha-tanwar commented on #563
Nevermind, https://github.com/hashicorp/consul-helm/issues/13 helped me to fix the issue.

[2020-08-05 23:58] ishustava commented on #563
Hey @manisha-tanwar, yeah if you're running on minikube you need to make sure to scale down your servers. Since there's only one node, the anti-affinity settings will not let Kubernetes schedule the remaining consul server pods, and Consul will never be able to elect a leader.

We also have [this](https://learn.hashicorp.com/tutorials/consul/kubernetes-minikube) guide that describes the values you

[2020-08-06 22:38] woz5999 commented on #339
I'm running into this same issue. I took a brief look at the code and I *think* `dogstatsd_addr` will accept a unix socket because that value is ultimately getting passed directly to the datadog statsd sink. Which is fortunate, because I think the unix socket is the correct approach as it will work for both consul and envoy proxies for those of us using consul connect. the sed approach from the va

[2020-08-07 02:27] ishustava commented on #567
Hi @andyyaldoo,

Unfortunately, the Consul clients cannot be upgraded in a rolling fashion because they take up a host port. The best way to avoid this is to update clients one-by-one by cordoning or tainting nodes, draining connect services from there and then restarting clients.

I think we need to add more documentation on how to properly do that, but here are rough steps:

1. Change the client

[2020-08-07 13:32] robece commented on #563
Thanks @ishustava, sorry for the delay, I'm running the deployment on AKS.

After execute:

[code]

I got:

[code]

Log for consul-4bhft:

[code]

Log for consul-mrmsn:

[code]

Log for consul-server-0:

[code]

Log for consul-server-1:

[code]

Log for consul-server-2:

[code]

Thank you,
RC

[2020-08-07 14:38] taemon1337 commented on #443
I have also seen this issue with certain libraries which require the full chain for validation, fluentd being one of them.

[2020-08-07 16:36] ishustava commented on #563
Thanks for this info @robece ! Could you also include the output of `kubectl describe po/consul-server-2`? The pending state looks like kubernetes couldn't schedule the third consul server pod, so I'm wondering if there is a resource constraint issue.

[2020-08-07 16:41] robece commented on #563
Hope this help, please, let me know if there is anything else to share:

[code]

Thank you,
RC

[2020-08-07 17:35] ishustava commented on #563
I see what's going on! Looks like you have only two nodes in your AKS cluster, but consul servers are deployed with 3 replicas by default and have anti-affinity set to make sure servers aren't running on the same kubernetes node.

There are a few ways to fix it. You need to either:
1. Remove `affinity` setting from the consul servers in your helm values by passing `--set server.affinity=""` to you

[2020-08-07 18:25] seguidor777 commented on #218
Hi,

I am working with version 1.8.1
Is there an easier way to get the ACL bootstrap token? Maybe a programmatic approach or an initial installation with a custom token

[2020-08-07 18:47] robece commented on #563
Thank you so much, I'm executing this and it seems to be working:

``
helm upgrade --install consul hashicorp/consul --set global.name=consul --set global.domain=consul --set ui.service.type=LoadBalancer --set server.replicas=1 --set server.bootstrapExpect=1 --set server.affinity="" --namespace consul
``

Last question, just by curiosity, do you have any reference or example to deploy a production

[2020-08-07 18:48] ishustava commented on #218
Hey @seguidor777

Did you see the one-liner Luke posted above: `kubectl get secrets/virulent-bobcat-consul-bootstrap-acl-token --template={{.data.token}} | base64 -D`? Maybe you could explain a bit what you mean by a programmatic approach. Maybe something within the consul CLI that helps you get the token or uses the kube secret?

You could provide your own token by setting [`global.acls.bootstrap

[2020-08-07 19:00] ishustava commented on #563
In your scenario, the reason it was failing is that the helm chart deploys 3 Consul servers, but it looks like you only have two Kubernetes nodes. We also set anti-affinity rules in such a way that no two consul servers can run on the same Kubernetes node, so when you have only two Kubernetes nodes, there's no place for the third consul server.

In your case, to use the default helm chart installa

[2020-08-07 19:03] seguidor777 commented on #218
Hi @ishustava, thanks for your quick reply

I already saw that command and actually is the approach that I am following.
In that case I think that I have to use the K8s API to get the token from a Golang program.
As far as I understand the global.acls.bootstrapToken is for providing a token from a previous installation when an ACL initialization is not longer required for the servers.
I would like

[2020-08-07 19:04] robece commented on #563
Thank you, this will help!! 🥇

[2020-08-07 20:04] ishustava commented on #563
Great! I'll close this issue, for now, but let us know if you have more feedback or experience more issues with it!

[2020-08-07 20:04] #563 closed

[2020-08-10 19:01] ishustava commented on #530
Hey @behnaz-surf, I think exit code 137 could indicate that the container is out of memory. Are you setting resource limits on your sidecar proxy container, by any chance?

[2020-08-10 19:11] ishustava commented on #218
I see what you mean. I think you can provide a [`master` token](https://www.consul.io/docs/agent/options#acl_tokens_master) either via `server.extraConfig` or `server.extraVolumes`. You would then also have to save it as a secret and provide it via the bootstrap token property so that the rest of the helm chart will use ACLs too.

[2020-08-10 22:36] seguidor777 commented on #218
Just tried with the master token option as well as the bootstrap token property as you mentioned but I got this error
`Error getting Kubernetes secret: secrets "consul-consul-client-acl-token" not found`
Am I missing anything else?
Please let me know if you want me to create a new issue to address this

[2020-08-11 17:48] ishustava commented on #218
Hey @seguidor777

Yes, I think this warrants a new issue! Thank you 🙏

[2020-08-11 18:23] seguidor777 opened #569 "How to bootstrap ACL using a well known master token?"
Hi all,

I am trying to install consul with the managed ACL option and I cannot specify a custom master token.
I have set this option https://www.consul.io/docs/agent/options#acl_tokens_master
However when I install the chart, the ACL init containers fail and show this error
` Error getting Kubernetes secret: secrets "consul-consul-client-acl-token" not found`

values.yaml
[code]

Extract from the

[2020-08-11 18:24] seguidor777 commented on #218
https://github.com/hashicorp/consul-helm/issues/569

[2020-08-12 20:28] lkysow commented on #569
Hi Jorge,
I'll preface this response with a disclaimer that the chart doesn't really support pre-specifying the master token right now. I think we need to do more work to make this smooth.

There's a couple of things to address here.

1. If you want to set your master token ahead of time, you also need to create a kubernetes secret and pass this to the `global.acls` configuration so that the rest

[2020-08-12 20:39] #545 closed

[2020-08-12 22:39] seguidor777 commented on #569
Hi Luke,

Thanks for pointing me to the right direction. The steps that you provided worked like a charm, I already have tried setting the bootstrapToken value and didn't work. Never tried with setting the agent token as well, but that was the missing part

[2020-08-12 23:33] lkysow commented on #569
Just to be clear, are you asking if the master token should be the same as the agent token? If so, the answer is "no". Ideally the agent token has the least amount of privileges it needs. See our ACL guide: https://learn.hashicorp.com/tutorials/consul/access-control-setup-production#create-the-agent-policy. This means ideally you'd bring up Consul, then create a policy and acl token for the server

[2020-08-13 03:51] seguidor777 commented on #569
Yes I am

I see. In fact, when the agent is assigned a different token, it is not created. Because consul assumes that both the token and its policy already exist.
So it would be enough if consul is installed, call the API to create the token policy and the agent token that I specified?

[2020-08-13 16:48] jsosulska opened #573 "Remove bootstrap_expect from values.yml"
The [bootstrap_expect](https://www.consul.io/docs/agent/options.html#_bootstrap_expect) configuration of Consul seems to be a moot point in a kubernetes environment. Can we remove it from [values.yml ](https://www.consul.io/docs/k8s/helm.html#v-server-bootstrapexpect)and handle bootstrapping as part of the helm logic?

Reasons why:
- Setting `bootstrap_expect` to a number different than replicas c

[2020-08-13 20:01] woz5999 commented on #339
My hunch was wrong and consul will crash if you attempt to set a unix socket for the `dogstatsd_addr`

I ended up exposing the dogstatsd port as a cluster service. Hopefully the client in recent consul versions i new enough to allow to allow dogstatsd UDP origin discovery to work well.

[2020-08-14 02:48] hhjie opened #575 "connect inject failed after using consul example"
![image](https://user-images.githubusercontent.com/22421087/90208322-2b4a6300-de1b-11ea-9afe-7de2ed43e440.png)
![image](https://user-images.githubusercontent.com/22421087/90208329-2f768080-de1b-11ea-8bfe-3b66678b5c00.png)

[code]

but
![image](https://user-images.githubusercontent.com/22421087/90208430-68165a00-de1b-11ea-9423-e89d585b93d0.png)

help!

[2020-08-14 02:55] hhjie commented on #575
下面是values.yml配置文件

Below is the values.yml configuration file

[code]

[2020-08-14 16:49] lkysow commented on #575
Hi, can you confirm that you're seeing the
[code]

Logs when you run `kubectl rollout restart deploy/consul-example-deployment`

I just tried this out and it's injecting for me.

[2020-08-14 17:15] lkysow commented on #569
Yes, you could make up an ACL token string and set that in the server config. Then after Consul comes up you could call its API using the master token and create a policy for the server agents. You could then create an ACL token with that policy and in *that* API call you can actually set the secret id (https://www.consul.io/api-docs/acl/tokens#secretid) for the ACL token which you'd set to the on

[2020-08-14 20:23] seguidor777 commented on #569
Thanks

I'm working on a multi-tenant infrastructure and each tenant has consul as a dependency, so I need to automatically generate and provide the ** master token **, initialize the ACL, and once done, run a custom job (I already have this) to register the service mesh using the ** master token **, without having to do any further steps

[2020-08-14 23:44] seguidor777 commented on #569
In the end I'll let consul generate the master token and once consul is installed I'll reuse the consul-acl-bootstrap-token secret in my custom k8s job. I think I'd no longer need the token for something else. So the bootstrap process could end here :)

[2020-08-15 03:20] hhjie commented on #575
![image](https://user-images.githubusercontent.com/22421087/90304340-4388b380-dee9-11ea-8686-0503540db1f0.png)

[2020-08-15 03:33] hhjie commented on #575
[code]

[2020-08-17 08:43] hhjie commented on #575
any update?

[2020-08-17 17:10] lkysow commented on #569
Okay I think that's a better plan. Should we close this one out then?

[2020-08-17 17:32] seguidor777 commented on #569
Yes, no problem. Thanks for taking the time

[2020-08-17 17:36] #569 closed

[2020-08-17 20:27] ashwin-venkatesh commented on #575
hey @hhjie. From the logs that you have described above
[code]
It appears as though connectInject is working.
Can you update your values file to set `server.bootstrapExpect: 1`

[2020-08-18 09:12] getjack commented on #441
Hi @ishustava
i just ran into the same problem. I want to reuse an existing cert + private key which is RSA 2048 but as i can see under /consul
/tlsutil/generate.go only ECDSA is supported.

A little overview over my setup:
We own an existing consul (server) cluster and i now want to join a few clients on K8S via the helm deployment. As my requirement is to use the clients only for internal commun

[2020-08-18 20:05] ishustava commented on #441
Hey @getjack,

Thanks for sharing your use case. The best way to fix this is to share this in the hashicorp/consul#7622 since it's the issue with Consul itself and isn't in-scope for consul-helm to solve.

One way you can work around this in your situation is to use auto-encrypt. This feature allows clients to ask servers to issue a certificate on start-up. Under the hood, Consul client certificat

[2020-08-18 20:52] hveiga opened #576 "Question regarding architecture"
Hi all,

I am not fully sure if this is the channel to ask this kind of questions, if not, please let me know where should I direct it.

We are trying to install consul-server with 3 replicas using this helm chart. Our intention is to deploy consul-server in its own Kubernetes namespace and then access it from other namespaces by using some kind of dns name. Is this approach possible? This is the

[2020-08-19 14:15] ashwin-venkatesh commented on #576
Hey @hveiga

Feel free to ask these questions at https://discuss.hashicorp.com

But for the situation that you are currently running into, have you been unable to access the consul servers from other namespaces? The consul-server deployment can be configured to have 3 replicas. It is fronted by a service called `consul-service` which should allow communicating with the pods over `kube-DNS`. I thin

[2020-08-19 14:18] hamishforbes opened #577 "Excessive disk iops when Connect lifecycle resources are too low"
The default resource limits for the lifecycle container (50MB RAM, 20m CPU) are so low the `consul service register` command is taking upwards of 30s in some cases.

I think this is largely down to the huge size of the Consul binary (100+MB) and the lifecycle process calling consul as a child process rather than using the API directly (e.g. https://github.com/hashicorp/consul-k8s/issues/275).
It s

[2020-08-19 14:32] hveiga commented on #576
Hi @ashwin-venkatesh thanks for the response. We have not started testing and it's good to know it should be possible. Next time I'll use  https://discuss.hashicorp.com for this kind of questions. I'll close this ticket for now. Thanks again.

[2020-08-19 14:32] #576 closed

[2020-08-19 14:34] ashwin-venkatesh commented on #576
@hveiga Glad I could help. Good luck!!

[2020-08-19 18:01] Throckmortra opened #579 "Cannot upgrade and turn on ACLs"
[code]

Getting the above error in acl-init pod after applying update to enable ACLs with
`global.acls.manageSystemACLs: true`

[2020-08-19 18:22] Throckmortra commented on #579
[code]

my yaml

[2020-08-19 20:14] ashwin-venkatesh commented on #579
Hey @Throckmortra

I used the aforementioned values file and my helm install succeeded.
Which version of the helm chart are you currently using? Did you see this failure during a helm install or a helm upgrade?

Thanks!

[2020-08-19 20:51] ashwin-venkatesh commented on #579
I think I misunderstood the question. My B. Upgrading an installation where the value of  `global.acls.manageSystemACLs` is changed from `false` -> `true` is not currently supported.

[2020-08-19 22:01] Throckmortra commented on #579
hello @ashwin-venkatesh that is unfortunate to hear. How would I go about upgrading this without data loss?

[2020-08-19 22:20] ashwin-venkatesh commented on #579
yeah. this is definitely an issue. it is EOD here right now, but i'll investigate this tomorrow and see if there is a tentative fix to unblock your situation. ill report back tomorrow with updates

[2020-08-20 14:48] Throckmortra commented on #579
@ashwin-venkatesh thank you for looking into this! Are there any other options/configurations we should know about that cannot be enabled after deployment?

[2020-08-20 14:51] ashwin-venkatesh commented on #579
Hey @Throckmortra !!

So the error occurs because the server pods do not get restarted with the updated config for ACLs being enabled. I'll work on addressing this so that going forward, changing the value of manageSystemACLs forces the restarting of servers with the updated state.

While that would require a new release, a solution that should unblock you in the interim is introducing an `extraCo

[2020-08-20 14:57] ashwin-venkatesh commented on #579
There are a few configurations that are bootstrap/install time only. We are working on updating our docs to clearly state them. ACLs shouldn't be one of them and I'll fix that 😅

[2020-08-20 18:10] Throckmortra commented on #579
@ashwin-venkatesh Thanks!!

[2020-08-24 02:50] andyyaldoo commented on #567
I see, thanks for the clarification. Agree that this should be added to the documentation

[2020-08-29 17:47] shubhammicrosoft1 commented on #527
Sure , @lkysow

[2020-08-29 17:47] #527 closed

[2020-08-31 11:28] zonArt commented on #76
Hi,

Don't know if I should open a new issue or can re-use this one but I have the exact same issue (well.... maybe it's not exactly the same). I'm trying to deploy consul clients within kubernetes and got the servers outside. When I do so I receive this error message: `Failed to join <server IPs>: Remote state is encrypted and encryption is not configured`. I agree I haven't setup gossip encrypti

[2020-08-31 16:22] lkysow commented on #527
Ingress docs are here now: https://www.consul.io/docs/k8s/connect/ingress-gateways

[2020-08-31 16:23] lkysow commented on #76
@zonArt can you please open a new issue and we'll respond there. Thanks!

[2020-08-31 18:32] zonArt opened #588 "Failed to join <server IPs>: Remote state is encrypted and encryption is not configured"
Hi,

I'm trying to deploy consul clients within kubernetes and got the servers outside. When I do so I receive this error `message: Failed to join <server IPs>: Remote state is encrypted and encryption is not configured`. I agree I haven't setup gossip encryption as I'm using mTLS so I supposed setting tls was enough but it doesn't seem to. Here is my values.yaml file:

[code]

Might not be fully

[2020-08-31 18:34] zonArt commented on #76
Hi @lkysow, thanks, I've just opened it [here](https://github.com/hashicorp/consul-helm/issues/588) (with same content)

[2020-08-31 23:25] lkysow commented on #588
Hi Glayre, is gossip encryption enabled on your consul servers? They'd have config like

[code]

If so, then you'll need to also provide that token to the consul clients on Kube. To do so, create a secret:

[code]

And then reference it in your helm config:
[code]

[2020-09-01 06:45] zonArt commented on #588
Hi,

As I said gossip encryption is not enabled neither on server nor in clients. Is it somehow mandatory? What is it exactly?

[2020-09-01 06:47] zonArt commented on #588
One more thing to mention, I've tried to disable the creation of certificate based on the CA in the initContainer as I'm mounting directly the client certificate. I guess my failure is not giving a CA to trust the server to the client pods. But if that's the case the error message is misleading and doesn't reflect the real issue I'm facing

[2020-09-01 08:08] zonArt commented on #588
Actually, I've just realized that the client certificate I'm mounting contains the whole chain so this should be the issue. Any help appreciated. Here are the logs I've got at the start of the pod (one strange thing is that incoming tls is set to false):

[code]

[2020-09-01 09:39] zonArt commented on #588
Getting closer to it. Gossip is kinda mandatory as I understood and I actually had a key on the servers so I referenced it in the helm chart and now I'm reaching another issue which I guess should be easy to fix. Here are the logs

[code]

[2020-09-01 11:58] zonArt commented on #588
Question is, is it possible to list explicit values which should be trusted instead of this generic server.datacenter.domain one? Because I'm not happy with setting verify: false and would like to avoid adding a SAN in my servers certificate (but if it's the only option I'll go for it)

[2020-09-02 22:37] lkysow commented on #530
Closing because we haven't heard back.

[2020-09-02 22:37] #530 closed

[2020-09-02 22:38] lkysow commented on #521
Closing because we haven't heard back.

[2020-09-02 22:38] #521 closed

[2020-09-02 22:41] lkysow commented on #541
Hi @wenerme,
If the k8s service is running on a single node (i.e. a pod) then you'll want to register with the consul client on that node using the `/agent/service/register` endpoint (https://www.consul.io/api-docs/agent/service#register-service) (consul client is running on host port 8500) so that if that node dies, then the service gets deregistered.

If that's not the case, then you can registe

[2020-09-02 22:44] lkysow commented on #588
I believe that's the only option.

[2020-09-04 05:17] wenerme commented on #541
@lkysow Thanks, need to read more doc.

[2020-09-06 02:24] Jorgevillada commented on #76
if you change default storage in eks(gp2)  or configure another storageclass(EFS, nfs, rook). you must guarantee that they are not the same folder for the replicas. the files
[code]
will be overwritten and you won't be able to find the another servers.

[2020-09-07 07:00] zonArt commented on #588
Ok thanks, would you be against a PR to give the possibility to bring our own client certificate inside the client pods in case servers are located outside kube and we don't have CA to bring?

[2020-09-07 07:55] cripperzprodigy opened #595 "where do i do enable_tag_override ?"
I am trying to enable_tag_override:true however i am not quite sure how do i pass it to the chart. I have looked in extraConfig in values.yml however it is not working.

same goes to doing helm install -f ./consul-helm/values.yaml consul ./consul-helm/ --set 'server.extraConfig="{"enable_tag_override": "true"}"'

[2020-09-07 09:58] #595 closed

[2020-09-08 09:16] nixilin opened #597 "port conflict when more than one consul deployed on a kubernetes cluster"
I have 2 namespaces and want to install 2 consuls for each namespace. But all agents' ready state on second consul is 0/1.
I described related pod and see the following message
0/5 nodes are available: 5 node(s) didn't have free ports for the requested pod ports.

So I guess error reason is about port conflict
Because agents' 8500 port will listen on all kubernetes worknode by using daemonset.
cha

[2020-09-08 19:46] lkysow commented on #588
I'm going to close this issue because the original issue has been fixed (the "Failed to join <server IPs>: Remote state is encrypted and encryption is not configured" error was due to gossip encryption being enabled on external servers but not clients).

We'll continue discussion about bringing your own client certs on that PR.

[2020-09-08 19:46] #588 closed

[2020-09-09 06:49] #541 closed

[2020-09-09 09:33] wengzy commented on #237
in my case consul is running in personal cluster on IBM Cloud, it was failed binding the pv as no default storageClass in my cluster.

I created 3 volumes for these claims as @lkysow mentioned above with empty storageClass.

kind: PersistentVolume
apiVersion: v1
metadata:
  name: data-consul-pv0
  labels:
    type: local
spec:
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  pers

[2020-09-10 17:47] ishustava commented on #597
Hey @nixilin,

This was already reported in #126.

Yes, unfortunately, we don't support installing the consul helm chart into two Kubernetes namespaces on the same cluster.

[2020-09-10 17:47] #597 closed

[2020-09-11 15:56] metanovii opened #602 "wrong type for value; expected string; got map[string]interface {}"
helm chart v 0.24.1
helm 3.3.1

values:
[code]

[code]

[2020-09-11 16:01] lkysow commented on #602
Hi, I think this is a duplicate of https://github.com/hashicorp/consul-helm/issues/486#issuecomment-642134203.

I'm guessing your `custom-values-consul.yaml` has all of the possible values and you've taken that from `master`? Instead your custom-values file should only set the keys that you're overriding, e.g. if you're only switching `connectInject.enabled=true` then it should only contain:
[code

[2020-09-11 16:53] metanovii commented on #602
Yep, custom-values-consul.yaml has all values.
 I try with default vault.yaml:
helm upgrade --install ./consul -f consul/vault.yaml  - error
but
helm upgrade --install ./consul  - ok

Some kind of magic :D

[2020-09-11 16:59] #602 closed

[2020-09-13 18:55] pixie79 commented on #328
+1

[2020-09-15 09:40] metanovii opened #604 "network may be misconfigured"
Hi! I use consul in kubernetes and consul on VM in different DC.
helm chart with some fix:
[code]

Services discovered without problems, members list show correct info too:
![image](https://user-images.githubusercontent.com/9963998/93194017-47aa2a00-f750-11ea-8d00-1f82655b4901.png)

In log:
[code]

[2020-09-15 22:38] alexdulin opened #605 "mesh-gateway podsecuritypolicy prevents using hostNetwork"
While the mesh-gateway can be configured to use [hostNetwork](https://github.com/hashicorp/consul-helm/blob/v0.24.1/values.yaml#L1069), and it gets correctly set in the [deployment](https://github.com/hashicorp/consul-helm/blob/v0.24.1/templates/mesh-gateway-deployment.yaml#L75), it is always set to `false` in the [podsecuritypolicy](https://github.com/hashicorp/consul-helm/blob/v0.24.1/templates/

[2020-09-15 22:43] david-yu commented on #605
@alexdulin Could you tell us a little bit more about why you are looking to host network? Are you using Cilium perhaps as your CNI?

[2020-09-15 22:49] david-yu commented on #604
@metanovii Thanks for your suggestion! Could you tell us what version of the Helm chart you are using? We have those ports in our latest version of the Helm chart.

[2020-09-15 23:02] alexdulin commented on #605
We recently added a Consul datacenter on EKS as a secondary to a primary datacenter running on regular EC2 instances, and ever since we have been seeing error logs like the following on the EKS agents:
[code]
Everything seems to be working correctly - ACL replication and cross-datacenter communication via the mesh gateways are both working - but these error messages are worrying. After a lot of di

[2020-09-15 23:29] metanovii commented on #604
@david-yu  Hi!  Latest version for now.
[code]

[2020-09-18 17:57] ashwinkupatkar commented on #441
Hi @ishustava,

I am running into a similar problem. (slightly different)

I created a set of ECDSA private key and its CSR . I signed the CSR with the intermediate from vault. I got the signed CA certificate from vault following this document: https://www.vaultproject.io/api-docs/secret/pki#sign-intermediate

I created a chain as follows:

[ generated intermediate CA cert3(ecdsa) -> intermediate

[2020-09-18 18:48] jsiebens opened #610 "readinessProbe and livenessProbe of the connect inject webhook are to strict"
For some environments, the `readinessProbe` and `livenessProbe` of the connect inject webhook seem too strict.
For examples on a Raspberry Pi, it takes a little bit longer than allowed by the `initialDelaySeconds`, `periodSeconds` and `failureThreshold`. This result in a CrashLoopBackOff because of the probe failures.

[2020-09-18 19:33] ashwinkupatkar commented on #441
Hi @ishustava,

When we use auto-encrypt, how will the envoy proxy consume the dynamic certs provided to consul client.

Currently if the TLS is enabled in the consul cluster. we need to pass below environment variables
CONSUL_CACERT, CONSUL_CLIENT_CERT and CONSUL_CLIENT_KEY

In this scenario where i donot know the consul client certs and if I just provide the CONSUL_CACERT it complains of **tls:b

[2020-09-21 17:14] ishustava commented on #441
Hey @ashwinkupatkar

It looks like in the situation you describing, you're using mTLS, i.e. have `verify_incoming` or `verify_incoming_https` set to true. If you're using auto-encrypt, you should turn off mTLS for **HTTPS** connections (set `verify_incoming_https` to false) for the **clients** and instead, rely on ACLs for authentication. In that case, you don't need to provide client cert/key. Pl

[2020-09-21 17:21] ashwinkupatkar commented on #441
Thankyou @ishustava . Let me take a look on it.

Sure for issue persisting around the same issue that i mentioned, will open up a separate ticket.

[2020-09-25 15:32] teknofile opened #620 "Fresh k3s cluster build, default helm chart fails to create consul cluster"
I recently rebuild my k3s cluster from scratch. When attempting to learn how to deploy a basic consul cluster per the documentation, the cluster is never built. Per the logs, a cluster leader is never elected.

[code]

[2020-09-25 15:36] lkysow commented on #620
Hi, it looks like one of your servers isn't getting scheduled (stuck in Pending).
[code]

Can you run `kubectl describe` on that pod and see why it's in Pending? If you don't have 3 nodes in your cluster you may need to reduce the number of servers via this config:
[code]

[2020-09-25 15:46] teknofile commented on #620
I didn't notice that one pod, earlier in a Pending state (time for another cup of coffee). It's currently in a `Running` state however with no change in behavior. Logs below.

Also, the cluster has a total of 5 raspberry pi's. One RPi is the K3S "server", the other four are worker nodes.

[code]

[2020-09-28 17:36] lkysow commented on #610
Agreed, I've seen this issue too when running on `kind`. Although I haven't seen a crash loop back-off once the certificate gets provisioned but I've seen it restart 1-2 times on initial install.

[2020-09-28 17:38] lkysow commented on #620
Hi,
Are you still seeing logs like:
[code]

This is an i/o timeout trying to talk to Kube DNS. Can you verify kube dns is working in your environment?

[2020-09-28 17:40] lkysow commented on #604
Hi, these errors will occur if UDP packets can't be routed. Consul will then fallback to tcp and everything will work fine but you'll still see these errors.

[2020-09-28 19:12] lkysow commented on #575
Hi, we're going to close this issue because we haven't heard back. If you would like us to re-open please comment and we can do so.

[2020-09-28 19:12] #575 closed

[2020-09-28 19:25] lkysow opened #623 "Support specifying the client certificates manually"
This ticket is to track interest in supporting the ability to set consul client certificates directly through Helm instead of the methods we currently support:
1. Setting server cert/key which then allows consul-k8s to generate the client certificates
1. Auto-encrypt which allows consul servers to push certificates to the clients. This requires a Kubernetes secret containing the public CA certific

[2020-09-28 19:35] metanovii commented on #604
@lkysow
thank you!

[2020-09-28 19:35] #604 closed

[2020-09-28 23:04] teknofile commented on #620
Thanks for the reply. I was seeing them. What I did, was take the entire k3s cluster, down. and reinstalled everything this weekend to standardize all the nodes and control plan (and also decided to taint the 'server' so containers didn't run on it) to Ubuntu 20.04 for arm64, instead of a hybrid of Ubuntu arm64 and 32bit Raspbian.

I've now deployed the helm chart, removed the helm chart (removed

[2020-09-29 02:52] lkysow commented on #620
Nice! Glad to hear it 😄

[2020-09-29 02:52] #620 closed

[2020-09-29 12:21] zonArt commented on #623
I'm not against dropping my PR but would like to have some clear guidance on how to use (or to bypass) autoEncrypt feature with extraVolumes and extraConfig to be able to bring our own certificate because until now, I'm not successful, the pod still wants to do autoEncrypt stuff (which I don't care) and none of the option I pass as extraConfig seem to be taken into account at this stage

[2020-09-29 14:13] zonArt commented on #623
For instance, how can I override some startup params set when enableAutoEncrypt is set to true? Whatever value I put as an extraConfig with auto_encrypt doesn't seem to affect the startup of my consul client

[2020-09-29 16:34] lkysow opened #625 "Add timestamps to acceptance test logs"
Often I find I need to cross-reference pod logs with the test logs. If the test logs had timestamps that would be a lot easier.

[2020-09-30 19:54] lkysow commented on #623
There is no way to do this right now so you'll need to maintain a fork with your changes until we've determined whether this is something we want to support long-term.

[2020-10-01 21:39] lkysow commented on #567
Closed by https://github.com/hashicorp/consul/pull/8789

[2020-10-01 21:39] #567 closed

[2020-10-01 21:39] lkysow commented on #540
Closed by https://github.com/hashicorp/consul/pull/8789

[2020-10-01 21:39] #540 closed

[2020-10-02 00:05] isaaccarrington commented on #147
@jheiss hello, did you get anywhere with this? Does anyone have any hints to make the sidecars run with a specific user ID?

[2020-10-02 00:08] jheiss commented on #147
Shortly after creating this my need for Consul evaporated and I moved on to other projects.

[2020-10-02 00:10] isaaccarrington commented on #147
That's a shame. Anyone know how to configure connect to run the injected sidecar proxies with a UID e.g 1001?

[2020-10-02 15:33] mariusehr1 opened #628 "syncCatalog.consulNodeName causes a CrashLoopBackOff on the sync catalog pod"
Hi,

I noticed that by enabling the `syncCatalog.consulNodeName` flag, on startup, the sync catalog pod would crash with the following log :

[code]
In order to make I work I had to manually remove the flag within the deployment.

Is there a way to correct it within the chart ? Should I make a PR?

Thanks.
Marius

[2020-10-02 15:54] lkysow commented on #628
Hi, this feature isn't released yet. I'm guessing you're using consul-helm `master` instead of one of our releases (https://artifacthub.io/packages/helm/hashicorp/consul).

[2020-10-02 15:59] mariusehr1 commented on #628
Hi,

yes I am using the master branch. I probably should have used a release instead.

Is it related to the version of the `consul-k8s` binary?

Eitherway I can fix it myself or use a stable release.

Thanks.