[2018-09-13 03:26] paul-hammant opened #1 ""Helm Chart" vs "Helm chart""
Pick one in the documentation online and READMEs

[2018-09-13 03:51] mrlesmithjr opened #2 "helm install error"
When I do `helm install .` I get the following error:
[code]

Any idea what I am missing?

[code]

Thanks!

[2018-09-13 21:00] jmreicha opened #4 "All tests fail on Linux"
I installed `helm`, `kubectl`, and `bats` on an Ubuntu system and ran the unit test suite `bats ./test/unit` and all tests failed.

<details>
<summary>Failed tests</summary>

[code]
</details>

I see yq being used in the unit test suite but not documented anywhere in the README.  After installing yq I reran the tests and they still fail.

[2018-09-13 21:41] mitchellh commented on #4
I'm guessing a dependency is missing somewhere. The easiest way to get the tests to pass is to build and run them in this Docker image: https://github.com/hashicorp/consul-helm/blob/master/test/docker/Test.dockerfile That ensures that all the dependencies are there and its what our CI runs the tests in.

I'll document this in the README.

Otherwise, I welcome you to debug the tests further, its al

[2018-09-13 21:42] mitchellh commented on #2
I believe the server is outdated. I'm not sure what the minimum Helm version is since it'd require a version of sprig that includes the `ceil` function. The earliest version of Helm I tried is 2.10.

If you determine what version of Helm works for you, I'll document it. For now, I'll note 2.10 as a safe minimum.

[2018-09-13 21:42] #2 closed

[2018-09-13 21:46] mitchellh commented on #1
I thought we used "chart" everywhere when paired with "Helm" but I just corrected a handful of areas. I of course leave the area where want title cases (navigation titles, section titles, etc.) This is fixed in Git but not deployed yet.

[2018-09-13 21:46] #1 closed

[2018-09-13 21:54] mrlesmithjr commented on #2
Sounds great. I'll do some digging. Thanks!

[2018-09-13 22:10] jmreicha commented on #4
Thanks for the info, I'll give the test Dockerfile a shot and see if I can debug dependencies.

I will report back and open a PR when I get it figured out.

[2018-09-14 02:01] mrlesmithjr commented on #2
Confirmed working using Helm `2.10.0`

[2018-09-14 16:00] jmreicha commented on #4
@mitchellh Yep totally a dependency issue.  There are apparently two different `yq`s.  One is Python based and installed with pip, the other Go based and is installed with apt-get, I was just using the wrong one it looks like.

[2018-09-14 16:00] #4 closed

[2018-09-14 19:32] paul-hammant commented on #1
Wait, you're moving to "Helm chart" for the project/product name?

[2018-09-19 14:33] mmisztal1980 opened #7 "[feature-request] provide customizable storageclass"
It would be pretty awesome if the chart would support providing a storage class name via the values.yaml file. Is there a chance of having that implemented?

[2018-09-20 15:28] mitchellh commented on #7
Yep definitely, feel free to open a PR but we'll also try to get to it soon!

[2018-09-20 15:57] mmisztal1980 commented on #7
What is the default value, you guys would prefer?

[2018-09-20 16:00] mitchellh commented on #7
I would just set it only if the value is set, so we retain the cluster default for now.

[2018-09-20 16:12] mmisztal1980 commented on #7
I’ll open up a PR in a few hrs

[2018-09-22 16:58] mitchellh commented on #7
Closed by #7. Thanks!

[2018-09-22 16:58] #7 closed

[2018-09-25 00:15] wrupertg opened #9 "Deoploy Consul helm chart on minikube"
Deploying helm chart onto a blank minikube system has DNS issues.
minikube version: v0.28.2
kubernetes 1.10
helm version 2.10.0 (client and server)
MaxOS 10.13.6

Log output of first consul-server after launching it:
$ kubectl logs kissable-duck-consul-server-0
bootstrap_expect > 0: expecting 3 servers
==> Starting Consul agent...
==> Consul agent running!
           Version: 'v1.2.3'
           N

[2018-09-26 06:14] mmisztal1980 opened #10 "Consul fails to start"
In my cluster I have [rook](https://rook.io) running. When provisioning the consul cluster, my helm values file looks like this:

[code]
In order to start the chart, I use the following cmdline:

[code]

A quick verification of pvc indicate that they have bound successfully, please note that I've observed that it takes up to 20s to bind the pvc(s) running under [rook](https://rook.io)
[code]

Howe

[2018-09-26 13:43] mitchellh commented on #9
The core of it seems to be that the StatefulSet DNS names aren't resolving:

Is kube-dns configured?

[2018-09-26 13:46] mitchellh commented on #10
Does it never stabilize? It looks like its starting to work, just hasn't joined all the servers yet.

Also, PVCs might be a real issue for sure. I didn't realize actually that StatefulSets with PVCs can be started before the PVC is available (spoiled in the environment we run in I guess). Do you know what that looks like? Is the directory just not available yet? That might be something we have to

[2018-09-26 14:00] mmisztal1980 commented on #10
@mitchellh  no, it never does, funnily it used to work with the previous release of rook (v0.7)

[2018-09-26 14:07] mitchellh commented on #10
But during that time, the containers are started?

Sorry, easiest way to figure this out would be if you did more digging or I can get a reproduction. For the latter, is there an easy way for me to get a similar environment up and running?

[2018-09-26 21:42] mmisztal1980 commented on #10
@mitchellh I've cloned the repo and made some alterations:
*values.yaml*
`server.storageclass: rook-ceph-block`

*server-statefulset.yaml*
`readinessProbe.initialDelaySeconds: 60`

## Results
- All consul-* pods were up and running v. fast, however they have not been ready for about 50s
- All consul-server-* pods were not up and running immediately, they were stuck in `ContainerCreating` state for

[2018-09-27 19:59] jleechp-occm opened #11 "Consul on AKS does not properly set POD_IP"
When trying to test Consul using the default Helm Chart (and when changing a few settings to match local environment), it is never managing to elect a leader.

Looking at the Pod Statuses the `POD_IP` variable is not set, I tracked the status in the Kubernetes UI and the IP field does not populate for several seconds after the container is created (at which point it is showing the Environment Vari

[2018-09-29 20:26] kohv opened #13 "Unable to run v0.2.0 in minikube. "pod has unbound PersistentVolumeClaims""
Running `helm install --name consul --namespace=pkr -f dev-consul.yaml ./consul-helm` with these custom values:
[code]
It completes successfully, but when running `kubectl get pods -n pkr`, I see that `consul-server-1` & `consul-server-2` are Pending.
[code]
Closer inspection on `pods consul-server-0`:
[code]
This "pod has unbound PersistentVolumeClaims" error is same for all consul servers. Yet,

[2018-09-30 20:43] mmisztal1980 opened #14 "Consul agent registers node with the name of the pod"
When starting agent instances, the agents use the hostnames of the pods **consul-{random}** to register as nodes. IMHO this isn't desired and creates confusion for the operator of the consul cluster, b/c it's impossible to tell which node represents which physical k8s node.

[2018-09-30 20:47] mmisztal1980 commented on #14
@mitchellh please have a look if my issue is valid and the proposed solution is satisfactory.
Best regards

[2018-10-02 12:32] ervikrant06 commented on #13
Yes, I also hit the same issue this is happening because of affinity rules only. for redundancy purpose they want to start the single consul server on each node.

[2018-10-03 11:41] sc7565 opened #16 "Cloud Auto-joining not working with gce"
Setting up the Auto-join values in values.yaml results in error

join:
    - "provider=gce project_name=test-0 tag_value=consul-server"

Error -

==> config: Unknown extra arguments: [project_name=test-0 tag_value=consul-server -domain=consul]

Is this valid error or something is wrong with my configuration

[2018-10-03 18:05] antonyRoberts opened #17 "Does not install on AWS"
Attempt to setup consul via helm using this repo and the directions provided via the blog.
The pods fail with the following.

The pods
`==> Starting Consul agent...
==> Consul agent running!
           Version: 'v1.2.3'
           Node ID: 'ff2962b2-4429-b113-1ae5-c40f78fb7fb6'
         Node name: 'giggly-mouse-consul-4p9zd'
        Datacenter: 'dc1' (Segment: '')
            Server: false (Bootst

[2018-10-03 20:02] mitchellh commented on #17
Yep, we addressed this in our announcement blog but it isn't documented elsewhere so understandable. We plan on migrating to the official chart in time, but during the first releases we wanted to stabilize here.

As for your actual issue: do you have at least 3 distinct hosts for the servers? The most common case I've seen this pop up is that there aren't enough hosts to place the servers (such as

[2018-10-03 20:03] mitchellh commented on #13
This seems like two things:

  * We need docs to state you'll need at least N distinct nodes available where N is the number of Consul servers.
  * OR: you need to get rid of the affinity rules. We need to add configuration to allow this.

[2018-10-03 21:12] antonyRoberts commented on #17
I have 3 machines in my clusters and the setup is working with the chart hosted on helm's site. I'm not using EKS for kubernetes on AWS

[2018-10-04 04:16] s3than commented on #13
We resolved this issue by making the affinity a variable

`    {{- if .Values.affinity }}
      affinity:
{{ tpl .Values.affinity . | indent 8 }}
{{- end }}`

And then in the values

`### Consul Settings
affinity: |
  podAntiAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
      - labelSelector:
          matchLabels:
            app: {{ template "consul.name" . }}
            releas

[2018-10-04 15:02] joharohl opened #19 "Add possiblity to add tolerations to client and server agents"
We are running the consul chart in a cluster that taints the controller nodes. We would like to run the consul client on the controller nodes as well. In order to do this we need to be able to specify tolerations to those taints.

https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/

[2018-10-04 19:57] mitchellh commented on #19
Yep, this makes sense. Tagged.

[2018-10-04 19:58] mitchellh commented on #17
It's possible that for some reason the Consul servers aren't schedulable on all 3 machines (the default replicas is 3 and that'd require 3 machines). Disabling the affinity rules seems to imply that, because the error messages above mean that certain set members didn't appear.

[2018-10-04 21:03] thisLambo opened #20 "Add support for RBAC for consul-k8s in chart"
Currently when running the Helm chart against a Kubernetes cluster that has RBAC fully enabled, no RBAC policies exist for consul-k8s which prevents the functionality from being able to communicate with the Kubernetes API.

The required policy to enable consul-k8s to function also does not exist anywhere in the documentation.

Note: this will also be needed when the connect auto-injection is compl

[2018-10-05 06:30] tomwganem opened #21 "consul-sync-catalog pod crashes when only syncing to consul catalog"
I'm trying to integrate consul in our kubernetes cluster and have it connect to an existing consul cluster. That part works fine. What's not working is enabling "syncCatalog". For now, I just want kubernetes services in the consul catalog. So I've disabled sync to kubernetes. But the consul-sync-catalog pod immediately crashes. The error message is not entirely helpful.

[code]

Here's my values.y

[2018-10-05 06:38] tomwganem commented on #21
I see that there is already an issue for this here https://github.com/hashicorp/consul-k8s/issues/7

Closing this issue.

[2018-10-05 06:38] #21 closed

[2018-10-06 08:15] ervikrant06 opened #23 "Consul client is not exposing the 8500 port as mentioned in guide"
It's mentioned in the [guide](https://www.consul.io/docs/platform/k8s/run.html#client-agents) that consul client will expose the port 8500 on host machine but after deploying the consul using helm chart client is not exposing any port on host machine.

[code]

I would suggest to run this in host mode so that client ports are available for other clients which are outside K8 to connect with consul r

[2018-10-06 08:28] ervikrant06 commented on #23
On further checking found that it's exposing the port 8500

[code]

While trying to join using the 8500 port of minikube machine still I am facing the same issue.

[code]

But I can see the list of consul servers from the K8 consul client.

[code]

[2018-10-06 12:52] mmisztal1980 commented on #23
NodePort services expose ports starting at 30k as far as I recall

[2018-10-07 05:08] ervikrant06 commented on #23
@mmisztal1980 Yes, in this case by default consul client is using hostport but using the minikube machine and hostport 8500 I can't join the external (running outside of K8) consul client with consul running on k8.

[2018-10-08 15:32] thisLambo opened #26 "When using 'extraVolumes' to mount secrets, Consul errors on start with 'data_dir is empty'"
When using the `extraVolumes` configuration option in the `values.yaml`, the Helm chart fails to start Consul correctly with the error `data_dir is empty`.

All secrets exist and when tested by telling the chart by setting them to `load: false` Consul starts correctly.

Upon further investigation the issue appears to be a missing `\` in the loop that adds the extra config directories for the state

[2018-10-09 19:06] tomwganem opened #28 "Unable to access consul servers from external datacenter"
If I want to connect a kubernetes consul cluster with another consul cluster in another datacenter over WAN, the communication only works one way, because this helm chart does not expose a route to the consul servers. So within the kubernetes cluster, I can resolve services that are running in the external datacenter. But if I'm in the external datacenter, I'm unable to resolve services that are r

[2018-10-11 05:42] jondeandres opened #31 "consul-sync-catalog doesn't start when toK8s is false"
We don't want, for now, to register Consul services as K8s services (we are just reaching those using `service_name.service.domain`), so we are using this config:

[code]

However, having `toK8S: false` makes `consul-sync-catalog` not to start:

[code]

The logs for thad pod are:

[code]

When `toK8S: true` K8s services are registered in Consul correctly, but as I explained, we don't want Consul t

[2018-10-11 09:45] joakimhellum opened #32 "feature request: helm chart repository"
With reference to the to the [README](https://github.com/hashicorp/consul-helm/blob/2db433ed5dd6ec8a839f5e459e4bad9559aafb83/README.md#usage), it clearly states:

Because a [Helm provider](https://www.terraform.io/docs/providers/helm/index.html) is now managed by HashiCorp, it would be very pleasent if a Helm chart repository also could be managed by HashiCorp. For example by using GitHub pages.

[2018-10-11 16:32] mmisztal1980 commented on #14
@mitchellh did you guys get a chance to review the PR?

[2018-10-11 17:10] tomwganem commented on #31
The issue to track is https://github.com/hashicorp/consul-k8s/issues/7

[2018-10-11 17:13] jondeandres commented on #31
oh, thanks @tomwganem, didn't see that, I close this

[2018-10-11 17:13] #31 closed

[2018-10-12 02:31] Vadim-Zenin opened #34 "enhancement: AWS internal ALB and NLB configuration support"
Hello,

Enhancement: AWS internal ALB and NLB configuration support would be nice for Consul on AWS EKS.
Reference: https://kubernetes.io/docs/concepts/services-networking/service/#internal-load-balancer

[2018-10-12 16:35] jmreicha commented on #10
@mmisztal1980 I made the adjustments that you mentioned, but am still seeing pod failing health checks and servers sitting in a pending state.

[code]

Consul logs seem to indicate that the stateful set isn't binding the PVC.  I am also using Rook/Ceph for storage.

[code]

I checked the claims (kubectl get pvc) but don't see any claims made my Consul showing up in there.

[2018-10-12 16:49] jmreicha commented on #10
Ugh it looks like I was on an outdated version of the repo.  After updating the repo and reinstalling it is working now.

[2018-10-13 19:36] scott2449 opened #36 "name for auto generated key doesn't always match"
Dynamic:
https://github.com/hashicorp/consul-helm/blob/master/templates/connect-inject-mutatingwebhook.yaml#L6
Static:
https://github.com/hashicorp/consul-helm/blob/master/templates/connect-inject-deployment.yaml#L53

I'd PR but I'm not sure how you'd want to handle that.. if it's variable or static in both locations just let me know and I can submit one.

[2018-10-13 19:40] scott2449 commented on #36
this and https://github.com/hashicorp/consul-helm/issues/13 are blockers for this chart launching on vanilla docker for windows/mac

[2018-10-14 18:55] scott2449 commented on #36
In case this was not clear enough it causes the hook container to fail because it cannot find the certificate.

[2018-10-15 05:49] mitchellh commented on #36
Ouch sorry! We'll get this fixed ASAP and cut a patch release this week. Sorry about that.

[2018-10-15 07:30] kuzuha opened #38 "connect-inject doesn't work if consul not placed in "default" namespace"
In connect-inject-mutatingwebhook.yaml, namespace is hardcoded "default".

https://github.com/hashicorp/consul-helm/blob/b0176f6b27bef2efb4ded4f0c9ed8d8e4d761d99/templates/connect-inject-mutatingwebhook.yaml#L17

[2018-10-16 21:39] #36 closed

[2018-10-16 21:41] anubhavmishra commented on #36
@scott2449 I just fixed the configuration name that the injector uses. Hopefully, that helps!

[2018-10-16 23:44] #26 closed

[2018-10-16 23:45] adilyse commented on #26
Good catch! The fix is now merged, so it will be available in the next release.

[2018-10-17 14:58] #11 closed

[2018-10-17 15:10] jleechp-occm opened #42 "Consul does not bootstrap on AKS"
AKS cluster spun up using Terraform in an existing Azure Subnet (hard-coded variables substituted in to clarify configuration)

[code]

Used the helm chart to install with commit 8b57bed

    helm install --name az1 --namespace consul .

---

After a few minutes logs from `consul-consul-server-0`

[code]
(Pulling up the logs in the kubernetes UI repeat the same `[ERR]*` reports for the last few pa

[2018-10-17 19:34] adilyse commented on #16
This change made for another issue was potentially causing problems here as well:
* [Missing command continuation characters](https://github.com/hashicorp/consul-helm/pull/40/files)

Additionally, try one of these formats for the flags instead:
`join: ["provider=gce", "project_name=test-0", "tag_value=consul-server"]`

or

[code]

I'll see if I can make the documentation clearer about the desired

[2018-10-17 19:34] #16 closed

[2018-10-17 23:59] popopanda opened #43 "Talking to agent with downward API fails when hosts have multiple IPs (ex. EKS w/ aws-cniI)"
Hello,

I have an EKS cluster with 3 workers, and deployed Consul and Rabbitmq via Helm. Both services are running, and I am able to access the Consul UI.

Each eks-worker in AWS has a private IP, as well as a few secondary IPs, which are used for Pods.

I am attempting to get syncCatalog working, but I am getting connection refused.

[code]

IP - 10.20.62.49 is a primary ip of one of my eks-worke

[2018-10-18 00:04] popopanda commented on #43
Also, this is my values.yml I used

[code]

[2018-10-18 15:10] jleechp-occm commented on #42
After a redeploy from the Azure Portal I was able to get it to work.

RBAC is apparently needed for it to take effect properly.  This means deploying from Terraform with the default Azure Provider (such as from TFE) will not work until terraform-providers/terraform-provider-azurerm#1820 is merged.

[2018-10-18 16:03] #20 closed

[2018-10-18 16:14] jipperinbham commented on #43
Gotcha, that definitely makes sense and it looks like the `consul` DaemonSet is currently missing the following in the spec:

[code]

so it's not actually binding to the host ports specified and explains why my setup as well as @popopanda are experiencing the issue.

[2018-10-18 22:37] #38 closed

[2018-10-18 22:40] mitchellh commented on #14
We're going to take a look soon. I just want to verify that this doesn't cause any issues with the server agents since they run alongside the client agents in K8S (due to daemonsets not respecting affinities). I don't think so since I think they set their node name to something else, but just want to be sure!

[2018-10-19 05:16] #14 closed

[2018-10-21 09:45] s3than commented on #13
@mitchellh Is there anything I can provide to get this item resolved?

Making affinity a variable allows testing on Minikube

Thanks

[2018-10-22 21:52] mmisztal1980 commented on #10
Added a PR where the probe settings are configurable via the chart values. That should help in our case.

[2018-10-24 15:58] krancour opened #47 "Surprising behavior on uninstall && re-install"
I was struggling with getting even the most basic examples from [da-connect-demo](https://github.com/hashicorp/da-connect-demo) to work. I posted an issue [here](https://github.com/hashicorp/da-connect-demo/issues/5), but eventually concluded that the issue was with the chart and not the examples...

I had been observing that service registration was failing and seemed to be the source of all my p

[2018-10-25 14:04] kolesoffac opened #48 "Persistent Volume Claims is Pending"
I install from helm.

`kubectl describe pvc`

Events:
  Type       Reason         Age              From                         Message
  ----       ------         ----             ----                         -------
  Normal     FailedBinding  7s (x2 over 7s)  persistentvolume-controller  no persistent volumes available for this claim and no storage class is set

In my cluster no persistent volu

[2018-10-25 14:48] krancour commented on #48
If this happens to be on minikube, then this could be a duplicate of #13, which also mentions a workaround.

[2018-10-25 14:58] kolesoffac commented on #48
No, this to be on typical kubernetes cluster. It was install from scratch.

[2018-10-25 15:05] krancour commented on #48
Sorry... I jumped the gun... the title of the PR looked so familiar to #13.

I'm looking more closely at your `kubectl describe pvc` and is says:

[code]

PersistentVolumeClaims must do one of three things:

1. Make a claim on an existing PV
2. Dynamically provision a new PV by making mention of the StorageClass that should be utilized in that process
3. Dynamically provision a new PV by relying o

[2018-10-25 15:13] kolesoffac commented on #48
[code]

I add this manually sc _local-storage_:
[code]

[2018-10-25 16:33] kolesoffac commented on #48
Already try with same result pending.

[2018-10-26 00:52] mrbobfrog opened #50 "Chart version does not match tag (minor issue)"
I checked out tag `v0.3.0` and found that [Chart.yaml](https://github.com/hashicorp/consul-helm/blob/master/Chart.yaml#L3) still shows `version: 0.1.0`.

I wonder: when will the next release occur?  I also found https://github.com/hashicorp/consul-helm/issues/26 and forked from 0.3.0 to work around the issue.

[2018-10-30 22:29] #50 closed

[2018-11-02 17:19] adilyse commented on #47
It looks like Kubernetes and Helm are specifically designed to not delete persistent volumes and their claims when a [StatefulSet is deleted](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#stable-storage). Given that this is not obvious and even the StatefulSet definition is abstracted away from a Helm chart user, I've added a note to the [docs](https://github.com/hashicorp

[2018-11-02 17:19] #47 closed

[2018-11-03 12:16] mmisztal1980 commented on #10
@mitchellh would the above PR be satisfactory? Tweaking the probe settings seems to have fixed the issue for myself and @jmreicha

[2018-11-07 23:17] adilyse commented on #10
As mentioned in a [comment](https://github.com/hashicorp/consul-helm/pull/46#issuecomment-436813197) on the PR, these configuration options won't be added to the `values.yaml` at this time. If you need further customization on the Helm chart, read more about options [here](https://www.consul.io/docs/platform/k8s/helm.html#customizing-the-helm-chart).

[2018-11-07 23:17] #10 closed

[2018-11-08 09:08] richthegeek opened #56 "Consul fails to start on Minikube"
May be a duplicate of other issues (#9, #10), but they are closed without solution.

Helm: v2.11.0
Minikube: v0.30.0
Consul-Helm: checked out at v0.3.0

Installation process:
[code]

After installing via Helm, the pods either never Ready or sit in pending state:
[code]

Logs from the consul pod are endless loop of:
[code]

Logs from the first consul-server pod are repeated:
[code]

The failure is

[2018-11-08 20:20] adilyse commented on #13
Thanks to @s3than, server affinity is now configurable in the values file! Additional documentation will be added once [this PR](https://github.com/hashicorp/consul/pull/4928) in the Consul repository is merged.

[2018-11-08 20:20] #13 closed

[2018-11-08 20:53] richthegeek commented on #56
Yep that fixes it - closing the issue before confirmation comes across a bit eager, but the issue is solved anyway.

[2018-11-09 02:04] topfunky opened #58 "disruptionBudget maxUnavailable value is ignored if 0"
**What I did:**

I set my pod disruption budget's `maxUnavailable` to `0` in my Helm values override file. I then installed the helm chart to a minikube cluster.

**What I saw:**

When running `helm install`, I saw an error that told me the `maxUnavailable` had been set to `-1`, not the `0` that I had used.

[code]

**What I expected:**

I expected that setting `maxUnavailable` to `0` would be int

[2018-11-09 17:44] jailson-silva opened #59 "Cloud Auto-joining not working with AWS provider"
Hi Guys!

I had tried join consul cluster using cloud auto-join in Kubernetes.

I'm using helm for consul with configuration below:

First attempt
[code]

Second attempt
[code]
For the both ways I got the same error:

[code]

Just for test purpose I have changed "join" attribute instead of tag_key and tag_value to consul-cluster IP address:

[code]
With this configuration passing IP address I got

[2018-11-10 00:29] adilyse commented on #58
I've addressed the invalid `-1` value in [this PR](https://github.com/hashicorp/consul-helm/pull/60). There is unfortunately still a larger issue of not being able to explicitly set this value to `0` that is a limitation of Helm templating (see PR for details).

[2018-11-12 18:57] adilyse commented on #58
I've addressed this with the following changes:

- I've changed the calculation of the default `maxUnavailable`to provide a valid value when replicas=1. This should fix the issue in the vast majoring of cases.

- I've added documentation about how someone can directly set this value to `0`, since it's more involved than it should be.

Hopefully that helps!

[2018-11-12 18:57] #58 closed

[2018-11-12 19:58] adilyse commented on #59
Thank you for following up @jailson-silva! There is definitely something still wrong here.

It looks like I fixed the documentation so that it would work with a Helm `range` command in the definition of this variable, but it was the `range` command that was wrong! I'll get a fix up soon and update the documentation as well.

Very sorry about the confusion!

[2018-11-12 21:05] #59 closed

[2018-11-12 21:08] adilyse commented on #59
Quotes were being lost when this value was being processed, so the failure in #16 looked like the values had to provided with a different syntax. Instead, I've now fixed the underlying issue of missing quotes and updated the documentation to match.

The join should be inputted as:
[code]

[2018-11-12 21:14] adilyse commented on #16
Following up on this issue: it turns out that there were missing quotes in the template file that were causing problems. The original syntax is correct, and should work now that [this PR](https://github.com/hashicorp/consul-helm/pull/61) is merged. Sorry for the confusion!

[2018-11-20 09:58] TheMacStack commented on #32
took a while to work it out as it doesn't seem to be documented anywhere but this seems to work for sourcing the charts directly from github, i have trouble with using the resource "helm_repository"  in non persistant ci/cd build container as it seems to need to persist some stuff client side (which is blown away after each build) and dont want to have to store charts in the tf source so was kind

[2018-11-20 11:21] TheMacStack opened #64 "consul-connect-injector-webhook-deployment crash-loop"
consul-connect-injector-webhook-deployment pod crash-loops with error in the logs
[code]

in connect-inject-deployment.yaml on line 47 there is ``` -consul-image="{{ default .Values.global.image .Values.connectInject.imageConsul }}" \```

removing this line fixes the error

I have submitted PR #63 for this

[2018-11-21 01:17] egoldblum opened #66 "Inconsistent usage of metadata.namespace in chart templates"
Ran into this today when using `helm template` to generate YAML to be subsequently applied with `kubectl`.

Today only `connect-inject-serviceaccount.yaml` and `sync-catalog-service-account.yaml` appear to be setting `metadata.namespace` via `{{ .Release.Namespace }}`

Ideally, `helm` would do this automatically when running `template --namespace=<x>` to mirror the behavior of `helm install --name

[2018-11-21 16:05] adamrmcclain opened #67 "Add Service Type option to Server and Client sections"
We're wanting to use Consul in GKE. Our current architecture has applications in multiple clusters, depending on their context. We'd like to be able to use the helm chart to install the server and clients, but the server would reside in its own cluster. There doesn't seem to be a way to change the ServiceType for the server and/or client currently. I believe that we'd need to use something other t

[2018-11-22 00:37] nfisher opened #68 "Docs need updating for CoreDNS"
Will try to make a PR but currently the docs relating to consul-helm here are related to kube-dns:

https://www.consul.io/docs/platform/k8s/dns.html

I believe as of k8s v1.11 CoreDNS is now the standard name server.

https://kubernetes.io/docs/tasks/administer-cluster/dns-custom-nameservers/#coredns

Unfortunately it's a completely different syntax for coredns vs kube-dns. :(

[2018-11-22 04:34] madsonic commented on #68
i think this part in the docs is related as well. Perhaps stating the kubernetes version that needs to upgrade to `CoreDNS` would be helpful.

[2018-11-22 13:56] nfisher commented on #68
Looks like GKE supports v1.11 but has kept kube-dns. Not sure what the other 1st tier cloud providers are doing?

[2018-11-23 04:33] madsonic commented on #67
take a look at this https://github.com/hashicorp/consul-helm/pull/27

[2018-11-23 12:32] kolesoffac opened #69 "Use metrics"
There are metrics:

- https://github.com/prometheus/statsd_exporter
- https://github.com/prometheus/consul_exporter

It makes sense delpoyed as sidecar in pods of consul-server.

How can i do it?

Thanks

[2018-11-25 07:31] ervikrant06 commented on #23
@mitchellh  Sorry for late response.

consul cluster is running on top of kubernetes minikube machine hosted on Mac. Started another docker-machine and confirmed that from docker machine I am able to reach the minikube setup. Started consul client agent docker container on docker-machine and I want this consul client agent docker to join the consul cluster running on K8.

[2018-11-26 09:43] #69 closed

[2018-11-26 11:37] adamrmcclain commented on #67
I'll take a look at this and see if it works for our use case. Any idea when it will be accepted and pulled into the master branch?

[2018-11-26 14:44] kolesoffac opened #70 "Register out kubernetes"
I have _syncCatalog_ is enabled. I registered outside service on node use rest api consul agent.  In kubernetes auto create service(_my-service_) from consul catalog.

How can i access _my-service_ from kubernetes use dns name?

_my-service.default_  return ip pod of consul-agent(daemontset), but my need ip node where run consul-agent.

Thanks

[2018-11-26 23:59] egoldblum commented on #66
Thoughts on this change?  If this is an acceptable change to workaround the `helm template` limitation, I'd be willing to contribute a PR.

[2018-11-28 16:50] Typositoire opened #71 "PodDisruptionBudget calculation is not working?"
I have a 3 replicas setup and for some reason the PDB was set to 0.

`ceil (sub (div (int .Values.server.replicas) 2) 1)` looks good to me but it's possible the calculation is off in GoTemplate ?

[2018-11-28 16:51] Typositoire commented on #71
I had to manually delete the PDB and recreate it as you can't update a PDB.

[2018-11-29 14:36] kolesoffac opened #72 "Clear service of node when restart pod"
I registered out service in consul use rest api consul client(daemonset).  But after restart pod all service is clean of this node, although this service is alive.

Is this right?

[2018-11-30 01:14] vanderhoofen opened #74 "Please provide an example of extraConfig so TLS can work"
https://github.com/hashicorp/consul-helm/blob/ec0de4185681d352f3f7814407002819b2642f34/values.yaml#L70-L73

How exactly should client.extraConfig and client.extraVolumes be set so that we can have TLS enabled from Consul client to a Consul cluster outside of kubernetes?

Could you provide examples?

Trial and error formatting this 'raw JSON payload' via "helm --set client.extraConfig" isn't workin

[2018-12-04 10:39] shibi1989 opened #76 "Getting error Failed to resolve consul-server-0.consul-server.default.svc: lookup consul-server-0.consul-server.default.svc on 10.96.0.10:53: no such host * Failed to join 10.244.1.78: Remote state is encrypted and encryption is not configured while setting up consul DNS on kubernetes cluster"

[2018-12-04 10:41] shibi1989 commented on #76
Getting error Failed to resolve consul-server-0.consul-server.default.svc: lookup consul-server-0.consul-server.default.svc on 10.96.0.10:53: no such host * Failed to join 10.244.1.78: Remote state is encrypted and encryption is not configured.

Already having core DNS in kubernetes cluster. Using kubernetes 1.12.2 version

[2018-12-04 18:54] patoarvizu opened #77 "Services not showing up in intentions tab in the UI"
If I access the UI, I can see my services (with the `-proxy` suffix) plus the `consul` service, and I can also see the services via the CLI (`kubectl exec ... consul catalog services`), but when I go to the Intentions tab, the dropdown menu only shows `* (All Services)` and `consul`, and if I try to manually enter a service name, it lets me create it but I get `Use a future Consul Service called '

[2018-12-04 19:06] johncowen commented on #77
Hi @patoarvizu

Thanks for submitting the issue. Just to try to drill down on this more, could you have a look at the output of the `/v1/connect/intentions?dc=<your-dc-name>` and `/v1/internal/ui/services?dc=<your-dc-name>` requests?

You can do this either via `curl`, or by opening the Web Inspector in your browser and clicking the [Network] tab, and then navigating to the page you mention above.

[2018-12-04 19:59] adilyse commented on #71
@Typositoire In this case, this is the expected behavior. It is recommended to run with 3-5 Consul servers, so this calculation gives the desired value of 0 allowed voluntary disruptions with 3 server replicas.

As for the calculation itself, the behavior is a bit unintuitive since it's using integer division, which evaluations 3/2 as 1. We've accounted for this, though, so the calculation is corr

[2018-12-04 20:04] Typositoire commented on #71
The problem happens during rolling upgrades.

Given 3 nodes with 1 consul-server each. I can never upgrade gracefully as this would go against the PDB (node drain). In a setup with KOPS this is what is happening and this is annoying.

With 3 nodes you can survive a 1 node failure, I'm not sure why you force it to be 0.

[2018-12-04 20:05] Typositoire commented on #71
[code]

[2018-12-04 20:16] adilyse commented on #64
@TheMacStack Would you be willing to share the helm chart you used that resulted in this error?

It looks like you're missing either the
[code]
variable or the
[code]
 variable in your values file, which is what is causing this issue. Setting either of these to a Consul image (`consul:1.3.0` is the default) should fix this without needing to modify the Helm chart logic.

The reason that it works t

[2018-12-04 21:37] TheMacStack commented on #64
If I recall I was sourcing directly from the 0.3.0 release on this repo using the default values.yaml,

The error indicates the flag "-consul-image" is not supported by the "consul-k8s inject-connect" command/subcommand which is used in the "command" block for the sidecar-injector container but digging through the source for this "consul-k8s" utility it seems it is a valid flag (although the error

[2018-12-04 21:55] adilyse commented on #71
Thank you for the additional information! I'll do some more digging and see what we can do about this.

[2018-12-04 22:31] patoarvizu commented on #77
The response for `/intentions` is `[]`, which is expected since I don't have any intentions, and the (shortened and edited) response for `/services` is:
[code]

[2018-12-05 00:51] adilyse commented on #77
Thanks for the additional detail! A couple more questions about your setup...

I can tell you're running Connect because of the `-proxy` instances, but do you have the catalog sync enabled as well? If not, the services won't be available in the Consul cluster.

Additionally, what are the Kubernetes service types of the services you've deployed? We don't currently sync `ClusterIP` services, so that

[2018-12-05 05:08] patoarvizu commented on #77
Yes, I'm using Connect, sorry if that wasn't clear. I do have catalog sync enabled, but it's defaulted to false and both `toConsul` and `toK8s` are set to false as mentioned above, so I guess it's effectively disabled?

In any case, I understand that `ClusterIP` services are not being synced, and while that's the way I normally wire my services together, I'm trying to see if I can use Consul's ser

[2018-12-05 05:13] s3than commented on #71
@adilyse I've been chasing this issue up today as well, It appears that the sprig library doesn't currently support floats so what happens is the following

3/2 = 1
1-1 = 0
ceil(0) = 0

My current fix is as below, I can put together a pull request and update tests for you hopefully this evening.
`
{{- define "consul.pdb.maxUnavailable" -}}
{{- if eq (int .Values.server.replicas) 1 -}}
{{ 0 }}
{{-

[2018-12-05 06:14] raykao opened #78 "Unable to install consul-helm with ConnectInject.enabled = true"
Helm/tiller version: 2.11.0 with init & RBAC ```--service-account tiller``` set
Kubectl client/server version: 1.11.5
Target Provider/platform: AKS

When deploying consul-helm with value of connectInject.enabled=true, the below error pops up.

If I manually apply the connect-inject service account, role binding, mutatingwebhook and deployment it fails to inject connect even if annotation is added

[2018-12-05 06:41] s3than commented on #71
@adilyse Hopefully this solves this issue I implemented something different for the calculations and provided tests.

Any problems let me know

[2018-12-05 08:42] TheMacStack commented on #64
I have recreated the issue and will share some config and logs to help you ID where it is coming from

I am deploying the helm chart using the Terraform Helm provider, the config snippet:

[code]
after running the deployment the pods show like:
[code]

pulling the logs of one of the crashed pods

[code]

[2018-12-05 08:52] johncowen commented on #77
Hi @patoarvizu ,

Thanks for the additional info, pretty sure this isn't a UI issue, the dropdown in the intentions tab you talk about about above will only show services that are a `Kind: connect-proxy`.

I'll leave it to @adilyse to help you out with this one.

Thanks again!

👋

[2018-12-05 17:35] dongtianyi opened #80 "connect: connection refused when enable syncCatalog"
2018-12-05T17:28:53.592Z [INFO ] to-consul/sink: ConsulSyncer quitting
ERROR: logging before flag.Parse: E1205 17:28:53.592459       7 controller.go:115] Error syncing cache
2018-12-05T17:28:53.592Z [INFO ] to-consul/source: starting runner for endpoints
ERROR: logging before flag.Parse: E1205 17:28:53.592565       7 controller.go:115] Error syncing cache
2018-12-05T17:28:53.593Z [WARN ] to-consul

[2018-12-05 17:35] dongtianyi commented on #80
values.yaml I used:

# Available parameters and their default values for the Consul chart.

# Server, when enabled, configures a server cluster to run. This should
# be disabled if you plan on connecting to a Consul cluster external to
# the Kube cluster.

global:
  # enabled is the master enabled switch. Setting this to true or false
  # will enable or disable all the components within this chart

[2018-12-05 17:46] dongtianyi commented on #80
consul-y-sync-catalog  try to connect hostIP:8500, but I found that consul client run command

`/bin/sh -ec CONSUL_FULLNAME="consul-y" exec /bin/consul agent \ -advertise="${POD_IP}" \ -bind=0.0.0.0 \ -client=0.0.0.0 \ -config-dir=/consul/config \ -datacenter=dc1 \ -data-dir=/consul/data \ -retry-join=${CONSUL_FULLNAME}-server-0.${CONSUL_FULLNAME}-server.${NAMESPACE}.svc \ -retry-join=${CONSUL_FUL

[2018-12-05 17:49] dongtianyi commented on #80
Also I run helm :
`helm install --name consul-y ./ --namespace=consul`

[code]

[code]

[2018-12-05 17:54] dongtianyi commented on #80
[code]

[2018-12-05 22:18] adilyse commented on #78
Hi @raykao ,

The discussion in [this issue](https://github.com/MicrosoftDocs/azure-docs/issues/10719) makes me wonder if there's something odd about the way RBAC is set up for your cluster. Could you post the output of the `kubectl get clusterrole` command? That might help us track down what's happening here.

[2018-12-05 22:42] adilyse commented on #64
Thank you for the additional information! I haven't tried deploying with the Terraform Helm provider yet, so this gives me another layer to look at to see where things might have gone wrong.

[2018-12-05 23:50] #71 closed

[2018-12-06 01:29] adilyse commented on #77
Again, thank you for the detailed information, it helps a lot!

If nothing else, there is definitely some opportunity for us to improve the documentation around this situation. The way things work at the moment, proxies are automatically registered directly with the Consul cluster, so they will show up even with catalog sync disabled. This seems unintuitive, so it should be called out in the docum

[2018-12-06 02:17] #66 closed

[2018-12-06 19:12] woz5999 commented on #74
Can you provide an example of the whole helm --set command? It should be sufficient to set that value as a json string wrapped in single quotes.

[2018-12-06 20:41] vanderhoofen commented on #74
Hi Jeff,

Sure.

There's a couple challenges with this consul-helm chart.

1. Missing an easy way to import / utilize existing TLS certs to join a k8s instance with existing consul cluster outside of k8s (must be created manually)

2. The chart requires significant manual clone + edit operations to get started with anything missing in the chart (passed in via extraConfig + extraVolumes)

Example h

[2018-12-06 21:41] woz5999 commented on #74
You might try --set-string or --set-file for client.extraConfig instead of --set.
https://github.com/technosophos/k8s-helm/blob/master/docs/using_helm.md

[2018-12-07 12:54] jboero commented on #32
I'd also love this to make our deployments a snap.  While a gzip CI job would be great and always allow the latest to be fetched from here directly, there are other options, such as using S3 for a private helm repo.

https://github.com/hypnoglow/helm-s3

As for security/gpg signatures / auth on the repo, that may require more work.

[2018-12-07 18:56] vanderhoofen commented on #74
--set-string fails with the same error:
`
Error: render error in "consul/templates/client-config-configmap.yaml": template: consul/templates/client-config-configmap.yaml:15:14: executing "consul/templates/client-config-configmap.yaml" at <.Values.client.extra...>: wrong type for value; expected string; got []interface {}
`

--set-file requires more custom file operations instead of just tuning --s

[2018-12-08 00:56] kgignatyev-inspur opened #83 "catalog sync use too much of CPU"
I have deployed the helmchart and disabled everything except sync from k8s to Consul (k8s is running in Docker CE app locally) and all is working BUT CPU consumption shoot to the moon the moment this is deployed.
![image](https://user-images.githubusercontent.com/27866311/49679524-dbf64180-fa40-11e8-8458-8c33c1acb654.png)

the moment the helm chart is undeployed  CPU utilization goes back to norma

[2018-12-08 01:01] adilyse commented on #83
Hi @kgignatyev-inspur,

Could you post the version of the helm chart and `consul-k8s` you're using, as well as the sync settings in the values file? That will help narrow down what might be going on.

[2018-12-08 01:08] kgignatyev-inspur commented on #83
here it is, note that the values file has customizations
[consul-helm.zip](https://github.com/hashicorp/consul-helm/files/2659223/consul-helm.zip)

[2018-12-09 01:53] #80 closed

[2018-12-10 13:48] yacut opened #85 "[question] Multi/External Datacenter concept"
I would like to describe my understanding and the current state of the project on this topic. It would be nice to discuss how best to use Hashicorp Consul with Kubernetes across multiple Datacenters.
Unfortunately at the moment there are very few guides on the topic "Multi Datacenter Consul Setup on Kubernetes", so I will try to describe the problems that I discovered and would like to discuss the

[2018-12-11 19:50] kenXengineering opened #86 "Unable to upgrade due to `spec.selector.matchLabels` changing"
I am attempting to upgrade our consul install from chart `0.1.0` to `0.4.0` and am receiving the following error messages:

[code]

Looks like the lable `chart` is being updating from `consul-0.1.0` to `consul-0.4.0`, which seems to be the norm.  However this is causing the `spec.selector.matchLabels.chart` section in the StatefulSet and DaemonSet to change, which is an immutable field.  I was abl

[2018-12-12 20:02] yacut commented on #85
I understood from [this video](https://www.youtube.com/watch?v=K93ZaUzwEWk) that virtual machines could connect to the k8s pods, but how is this possible with current setup if the pods are registered with an internal ip?

[2018-12-14 00:01] jipperinbham opened #87 "setting resources doesn't seem to work"
I don't really understand the following change https://github.com/hashicorp/consul-helm/pull/62. the `resources` block is an object and it's using the `tpl` function now which expects a string. What is the expected value to be used to be able to apply something like the following?

[code]

[2018-12-17 19:16] msarmstr opened #88 "add optional ingress resource"
It would be nice if an ingress resource could optionally be configured for the ui, ideally with ability to configure labels, annotations, and TLS.

For example: [how it's done in the prometheus-operator chart](https://github.com/helm/charts/blob/d18382c23dbe20d668a9af908604056866895e99/stable/prometheus-operator/templates/prometheus/ingress.yaml)

[2018-12-18 20:17] adilyse commented on #87
Hi @jipperinbham ,

The best way to define `resources` now is to add a `|` to the definition:
[code]

This turns the object into a multi-line string. I made the switch because server affinity is defined in this same way and it seemed easier if they worked the same way, but I can see it's still a little confusing! I'll add an example to the documentation to make it more explicit.

Hopefully that he

[2018-12-18 20:17] #87 closed

[2018-12-20 04:16] patoarvizu opened #89 "Ability to provide self-signed public CA cert for Vault?"
I opened pretty much this [same ticket on consul-k8s](https://github.com/hashicorp/consul-k8s/issues/44), but I thought it was worth a shot to open one here too, so please forgive the copy/paste.

I'm trying to use Vault as CA. I'm running Vault with a self-signed cert. I can add the public CA cert for it to the trusted store on my containers, including the Consul server stateful set pods (modifyi

[2018-12-25 06:14] deepanvermag3 commented on #76
Is this resolved for you?

[2018-12-25 06:16] shibi1989 commented on #76
No

On Tue, Dec 25, 2018, 11:45 AM Deepan Verma <notifications@github.com>
wrote:

[2018-12-27 10:13] moris1amar opened #90 "Run Consul Client on Kubernetes (EKS) only in client mode, Joining an Existing Consul Cluster on AWS"
Hi,
I want to deploy a consul agent on Kubernetes (EKS Cluster)  in node level, so I expect that all pods on node will run this agent and join an external consul server running on AWS, including DNS and service.
Thus, I have overridden the values.yaml file only for client enable like that:
[code]

and this is the result:
[code]
I note that the pods are not recognize by my external consul master.

[2019-01-03 01:11] giovannicandido commented on #76
Any update?

[2019-01-04 18:42] ivelichkovich opened #94 "Consul Client Only Mode Nodes Show Unhealthy"
I'm running the helm chart with client only mode on EKS and connecting to consul servers hosted on EC2. The client pods connect up to consul and appear healthy but the servers show that the nodes are failing health checks.

Serf Health Status: Agent not live or unreachable

The nodes occasionally flip to healthy temporarily and then flip back

[2019-01-07 11:36] darrylb-github opened #95 "Chart version in tag references"
If you look at Chart.yaml in the v0.3.0 tag, the version states `0.1.0` instead of `0.3.0`.

https://github.com/hashicorp/consul-helm/blob/v0.3.0/Chart.yaml#L3

Same issue applies to earlier versions. This causes problems when trying to lock the chart to an older version.

Why is the chart version reset to 0.1.0 when tagging release versions?

[2019-01-07 19:46] adilyse commented on #76
Hi @shibi1989

Could you provide some additional information about your setup and installation? What type of kubernetes cluster are you using (cloud hosted, local setup, etc)? What version of the helm chart did you use? What configuration options did you use?

This information will help me narrow down what might be going wrong.

Thanks,
Rebecca

[2019-01-07 20:03] adilyse commented on #95
Hi @darrylb-github

This was an oversight in our release process that we've recently fixed. Starting with v0.4.0, the version in the Chart.yaml is updated and matches the release version, as will future versions. We won't be updating the old versions though, so I would recommend using v0.4.0 if you need to lock the version moving forward.

Thanks!

[2019-01-07 20:03] #95 closed

[2019-01-08 13:52] tushar00jain opened #96 "Problem with IPs joining existing cluster"
It's mentioned in the following link that joining an existing cluster is possible https://www.consul.io/docs/platform/k8s/run.html.

I'm in a similar situation where I have an existing consul cluster running outside the kubernetes cluster and I want to have just the consul agent inside the kubernetes cluster. However, the problem is with the IP addresses. In order for the nodes outside the cluster

[2019-01-08 17:30] #94 closed

[2019-01-09 04:53] tushar00jain commented on #96
I have addressed a solution that seems to be working here

https://github.com/hashicorp/consul-helm/blob/master/templates/client-daemonset.yaml#L52

I suppose a line `hostNetwork: true` can be added here in case `global.enabled` is set to `false`

[2019-01-09 10:06] lqclester opened #97 "value.yml not support k8s namespace setting"
value.yml not support k8s namespace setting

[2019-01-16 23:44] tradel opened #99 "Support enterprise builds with licensing"

[2019-01-17 15:12] erkanerol commented on #76
I have the same issue on EKS

https://github.com/helm/charts/issues/10729

[2019-01-21 07:14] miaowing commented on #80
How to resolve it @dongtianyi, I have the same issue.

[2019-01-22 15:06] MYDIH opened #102 "Installation problems"
Hi,

It seems I can't manage to overcome this issue :

[code]

Tested from Linux and Mac, using all the releases of this repo, with a kubernetes cluster version of v1.11 and a helm version 2.11.0.

PS: I can't upgrade the kubernetes side easily

[2019-01-22 20:13] adilyse commented on #102
Hi @MYDIH,

I haven't run into this before, but [this issue](https://stackoverflow.com/questions/50678799/daemonset-in-version-v1-cannot-be-handled-as-a-daemonset-no-kind-daemonset) might give a clue. Could you try setting the `apiVersion` in the `client-daemonset.yaml` and `server-statefulset.yaml` files to `apps/v1beta2` and see if that helps?

[2019-01-22 20:31] #97 closed

[2019-01-26 22:44] giovannicandido commented on #76
In my case the error was because no statefull storage could be created because the default was not set. But this message is complete useless in this case.

https://kubernetes.io/docs/tasks/administer-cluster/change-default-storage-class/

[2019-01-30 14:23] pbetkier opened #106 "Upgrade after extra config changes"
Changes in `server.extraConfig` or `client.extraConfig` alone don't cause my Consul pods to upgrade. From Kubernetes perspective my definitions don't change, because config map changes are not tracked.

I used to use this approach in my charts before switching to `consul-helm`: [Automatically Roll Deployments When ConfigMaps or Secrets change](https://github.com/helm/helm/blob/master/docs/charts_t

[2019-01-31 17:00] tsmgeek opened #107 "Node registration failure due to reserved node names"
I am running the latest helm chart 0.5.0 but upgraded the images for consul to latest at the time of this ticket.
[code]

I noticed that some of my clients started to throw up this error and lead me to the ticket linked below.
https://github.com/hashicorp/consul/issues/4741

There is no guarantee that a statefulset deployment on EKS will remain on the same node, it is possible that it can change w

[2019-02-01 08:40] micksear commented on #106
I also have issues with using this chart.  Helm flatly refuses to upgrade when, e.g. client is enabled.

Example errors:

[code]

[2019-02-01 12:33] pondohva opened #108 "How to use client daemonset"
Hello. I'm a little bit confused about how client daemonset is supposed to be used.
I see only 1 option:

1. create pod and set NODE_IP from downward API
2. connect to NODE_IP:8500

But it won't work after pod live migration. Old node can be removed and we have to destroy this pod.

I believe simple deployment with N replicas of agent and service for client will work better, but I'm not sure about

[2019-02-01 21:09] yacut commented on #85
I'm closing this issue after two months without an answer. Very sad that hashicorp doesn't want to push the project forward.

[2019-02-05 21:15] adilyse commented on #83
Good catch! There was a hot loop for syncing Kubernetes services to Consul. This has now been [fixed](https://github.com/hashicorp/consul-k8s/pull/33) and should be included in the next release.

[2019-02-05 21:15] #83 closed

[2019-02-06 02:36] ptariche commented on #43
This same issue occurs with Digital Ocean's k8 offering. The only way to resolve is to change the host ip the sync catalog deployment to reflect the internal domain of the consul server rather than piggy backing off of the clusterIp which is injected via hostip

https://github.com/hashicorp/consul-helm/blob/master/templates/sync-catalog-deployment.yaml#L36
https://github.com/hashicorp/consul-helm/

[2019-02-06 16:20] kfirbreger opened #110 "Installing on multiple namespaces on EKS"
While trying to install the helm chart on EKS I kept getting failures in provisioning the PVC, with the error that the storage class was not given (it was, in the chart).

After digging around, I remembered that we have the same chart installed on another namespace on the same cluster.
Changing the metadata name in the volumeClaimTemplates that the chart generates manually solved this problem.

I

[2019-02-07 21:45] adilyse commented on #99
Enterprise licensing was added in #104, based off of the work in #100. If anything else is missing, please feel free to reopen with the details!

[2019-02-07 21:45] #99 closed

[2019-02-08 20:20] #86 closed

[2019-02-11 15:43] djanjic opened #116 "Priority class for Consul server"
Hi, I cannot find a way to set `priorityClassName` property. Can you include this or point in the documentation how to do this?

[2019-02-12 19:33] ilackarms opened #118 "consul server and client pods fail to become Ready"
i've attempted installing with chart version on `master` as well as `v0.6.0`

pods never enter a ready state, and i see the following errors in the server log:

[code]

AFAIAA these DNS names don't match the correct dns naming format in kubernetes.

DNS names for services should follow the format `my-svc.my-namespace.svc.cluster.local`, as explained in https://kubernetes.io/docs/concepts/services-

[2019-02-12 21:51] ilackarms commented on #118
i was able to fix this issue by setting the number of replicas down to 1

[2019-02-12 21:51] #118 closed

[2019-02-13 23:08] csayler commented on #80
how did you solve did you use podIP? I have the same issue with one consul-server and no volume

[2019-02-14 16:38] ebandis commented on #87
You need to change  " nindent 12" to 4 in server-statefulset.yaml, does not work with 12 at least for me either and in values.yaml use this:
  resources: |
    requests:
      cpu: "75m"
      memory: "128Mi"
    limits:
      cpu: "150"
      memory: "256Mi"

[2019-02-20 00:41] matkam commented on #86
Is there an upgrade path now that the chart label is `consul-helm`? As a workaround, I had to modify `templates/_helpers.tpl` file to replace `%s-helm` with `%s-0.1.0`

[2019-02-21 15:12] rmacduff opened #120 "Use recommended labels in chart"
Are there any plans to start using the recommended standard labels in the templates per the best practices doc: https://github.com/helm/helm/blob/master/docs/chart_best_practices/labels.md

[code]

This would make it easier to search for kubernetes resources and in logs.

[2019-02-22 22:17] DWSR commented on #68
@nfisher CoreDNS is now GA and `kube-dns` has been deprecated per https://github.com/kubernetes/enhancements/issues/566 so it makes sense to update the documentation to at least add instructions for CoreDNS

[2019-02-23 14:23] DWSR commented on #32
@TheMacStack An easy-ish way to do this would be a git submodule. That way you're not storing the actual repository in your TF repo and you can refer to the helm chart through the use of `${path.module}` as the repository.

[2019-02-27 23:11] adilyse commented on #88
Hi @msarmstr,

We're still sorting out how Ingresses interact with Consul in Kubernetes, so I don't have a full answer for you. However, I just merged #105 that should allow a fair amount of flexibility in providing additional ways to configure the UI service to be accessed.

[2019-02-28 18:48] adilyse commented on #86
@matkam To take advantage of this fix, you'll likely need to delete your previous Helm installation and install things again with the update. Once you've done that, though, it should be possible to do direct upgrades from Helm since we're no longer trying to change an immutable field.

[2019-02-28 18:59] adilyse commented on #120
Hi @rmacduff,

This hadn't come up before, so there is no current plan. It hasn't been a priority, since we're still working to fix some known issues and add vital functionality. I'd be happy to take a look at a PR, though, if you'd like to add them.

One thing to check first though-- we've already had an issue with a label that changed per version interfering with upgrading via Helm (see #86). If

[2019-03-01 23:30] adilyse commented on #107
Hi @tsmgeek,

In this case, the `disable-host-node-id` setting won't solve this issue in Kubernetes. It currently defaults to `true` which is causing this issue, but setting it to `false` will then explicitly tie the node id to the host machine. That means a pod rescheduled to a different node will also throw this error.

Given this, there's not currently a mechanism for the Consul/Kubernetes inte

[2019-03-01 23:30] #107 closed

[2019-03-06 16:35] tryan225 commented on #74
Hey @vanderhoofen - if you pass your extraConfig in and extraVolumes in as a separate yaml file, the following should work:

https://gist.githubusercontent.com/tryan225/f4b6f800c4cc1fb372602f0822a9ff9e/raw/19a8eedae9b96feeebd2bbaa49534bf67ad7885c/helm-consul-values.yaml

Note that some other config is needed to fully enable TLS but you can add all of that in your extraConfig. You would simply run

[2019-03-08 01:11] adilyse commented on #116
Hi @djanjic,

We merged the `priorityClassName` functionality for servers and clients with #92, but it looks like we missed adding the documentation at that point. I've opened a [PR](https://github.com/hashicorp/consul/pull/5444) to add this to the main Helm chart documentation. Thank you for letting us know!

I'm going to close this now, since the documentation PR will be merged shortly, but plea

[2019-03-08 01:11] #116 closed

[2019-03-08 12:28] phroggyy opened #126 "Failing to install consul client when installing into a second namespace"
When installing multiple copies of consul-helm into separate namespaces, the client cannot be installed as it's already installed by another release. Naturally, setting `client.enabled: false` works. Is this the recommended solution?

Note that these secondary namespaces are only for dev in our case – we want each developer to have their own independent setup of the app so they can mess around fre

[2019-03-08 15:12] tradel opened #127 "enterprise-license template fails with exec error"
Attempting to use an enterprise binary and specifying a license in `values.yaml` results in an error creating the license container:

[code]

It looks like that template needs `/bin/sh -ec` added to the command.

[2019-03-08 20:29] #127 closed

[2019-03-09 06:04] reidab opened #129 "Support running with HTTP listeners disabled"
I just set up a cluster using this helm chart and was able to inject most of the configuration I needed to get TLS configured fairly easily using `extraVolumes`. The one thing I wasn't able to do without patching the chart was to run agents with HTTP listeners disabled.

(Context:  Since [client agents are run as a DaemonSet](https://www.consul.io/docs/platform/k8s/run.html#client-agents) and can'

[2019-03-11 06:24] webliupeng opened #131 "how to add health check for synced service"
I'm new to consul.
I have installed consul in k8s(version:1.10) with helm chart(master branch) . enabled catalog sync .  There is no any healthy service. And all synced services in a same node, name is k8s-sync, the node no any health check. ip address is 127.0.0.1

My questions are:

- how to add health check for this node?
- why k8s-sync node ip address is 127.0.0.1.something wrong?

[2019-03-11 18:58] #74 closed

[2019-03-11 19:00] adilyse commented on #74
Hi @vanderhoofen,

I've just merged a fix for how we interpret `extraConfig` which should enable setting it from the command line. From that PR description:

This enables users to specify extraConfig values using Helm's --set CLI
flag while installing the Helm chart. The format for using this command is:
[code]

Please feel free to open a new issue if this doesn't solve the issue for you.

[2019-03-14 20:40] #110 closed

[2019-03-15 17:25] tradel opened #133 "Support Gossip encryption in Helm chart"
Add an option to `values.yaml` to allow enabling Gossip encryption between nodes.

[2019-03-18 17:09] tradel opened #136 "Support TLS encryption"
Goals:
* Enable HTTPS listener on servers with user-provided certs
* Enable HTTPS connections between client and server
* Support HTTPS in the UI service

[2019-03-18 18:18] #19 closed

[2019-03-19 19:31] #133 closed

[2019-03-20 16:05] AbdelhakVerwest commented on #77
Hello,
I'm currently using consul installed with helm chart. I'm facing the same "issue". Well, I wouldn't call it an issue since consul is working as intended and I'm able to write intentions using the name I gave to my services through the service-name annotation. But same as @patoarvizu , I can't list all services (only the -proxy services showing up) in the UI along with k8s' synced services.

[2019-03-21 06:05] adilyse commented on #68
Adding CoreDNS instructions to the documentation in this [Consul PR](https://github.com/hashicorp/consul/pull/5523). Hopefully that helps clarify the situation for folks running CoreDNS now instead of kube-dns.

I'm going to close this, but please feel free to comment or open another issue if there is anything missing.

[2019-03-21 06:05] #68 closed

[2019-03-21 11:40] adomenech73 commented on #108
I'm facing similar problem, but what I understood is that only is needed the node ip to find consul client.

from: https://www.consul.io/docs/platform/k8s/run.html

```The clients expose the Consul HTTP API via a static port (default 8500) bound to the host port. This enables all other pods on the node to connect to the node-local agent using the host IP that can be retrieved via the Kubernetes do

[2019-03-21 17:26] adilyse commented on #77
After looking at this farther, we've decided that it makes sense to go ahead and register the services behind the proxies as well as just the proxies when using Connect. PR #81 adds support for this and I've verified that it allows the Connect services to be available in the Intentions UI dropdown menus. This will be released as part of v0.7.0.

Thanks for helping us make the user experience bette

[2019-03-21 17:26] #77 closed

[2019-03-22 16:49] kgignatyev-inspur opened #140 "support for prefixes when registering in Consul"
It would be nice if it was possible to specify **ConsulPrefix** for Kubernetes -> Consul sync, the same way as it is possible to specify k8sPrefix for Consul->Kubernetes sync.
Purpose: easily register all services while disambiguating services with common names which belong to different clusters.

Rational: lets say we have 2 k8s clusters in a single data center, they might be running many 'system

[2019-03-23 18:32] R-Lamberson opened #141 "failed connect-injector deployment on installation of consul helm"
Assistance with how to troubleshooting the install of Connect Injector on Azure Kubernetes environment appreciated

deployment logs show the following

[code]

below is the values.yaml for the consul helm installation
[code]

[2019-03-23 20:36] R-Lamberson commented on #141
found the problem / not pulling the latest rev from git repo

[2019-03-23 20:36] #141 closed

[2019-03-24 09:40] adomenech73 commented on #108
In my case, I solved using status.hostIP to get the correct ip on the var as the daemonset publish 8500 on host level also.

[2019-03-25 12:43] pondohva commented on #108
It works when you don't use up/down scaling and/or preemptible nodes.

[2019-03-29 20:03] python138 commented on #126
Can this chart really support multiple namespaces if it deploys clients as a Daemonset?

[2019-04-01 10:15] moris1amar opened #145 "how to filter by prefix (Kubernetes -> Consul sync)"
I can "filter" Consul services that will appear to Kubernetes (Consul -> Kubernetes sync) with "k8sPrefix" in helm values.
But I need to implement the other side, means I want to mention only k8s services in Consul UI with a particular prefix. Can we do this?

 thanks
Maurice

[2019-04-01 15:23] jheiss opened #146 "Make RBAC objects optional?"
In #121 when adding PSP support there were some RBAC objects (ClusterRole, ClusterRoleBinding) added. If PSP support is disabled (through enablePodSecurityPolicies) the RBAC objects are still generated, even though the ClusterRoles end up functionally empty.

These inert RBAC objects are a problem in our environment where users do not have permissions to create RBAC rules. Given that the RBAC rule

[2019-04-02 07:20] adomenech73 commented on #108
What about something like this?:

[code]
This way you can use $PODIP and $HOSTIP in container level so you pass there the information about allocation, if the container changes the node the vars should be updated.

[2019-04-02 16:26] pondohva commented on #108
@adomenech73 not cool, because I need to re-read env vars. That's why I'm talking about changing daemonset to deployment

[2019-04-02 19:08] jheiss opened #147 "Run as user and group configurable"
Currently this chart generates configs that hard code fsGroup to [1000](https://github.com/hashicorp/consul-helm/blob/master/templates/server-statefulset.yaml#L55) but do not support setting runAsUser or (new in kubernetes 1.14) runAsGroup. This appears to derive from the configuration of the official consul docker image which assumes that it is being run as root and, after some setup, switches to

[2019-04-03 10:20] adomenech73 commented on #108
Sorry, perhaps I didn't understand properly and we are not talking about the same thing. I'm putting this on my service Deployment, the Daemonset is used by consul client, and for me it makes sense in order to guarantee that my pods will always find an agent to register on http://${HOSTIP}:8500 even if they are deployed on short live nodes. I cannot imagine another way to use it. If a pod is migra

[2019-04-05 14:46] paulobezerr commented on #74
Well, I solved this in a easier way.
You don't need to write down your config with `--set client.extraConfig`.
This chart deploys a configmap named `consul-client-config`.

Just change the key `extra-from-values.json` in `consul-client-config` config map with your file and voilá!

my-values.yml:

[code]

config map `consul-client-config` key: `extra-from-values.json`:

[code]

[2019-04-05 14:51] vanderhoofen commented on #74
This is great.  Thanks

[2019-04-08 21:23] csayler opened #148 "Consul-helm 0.7.0 - failing -sync-catalog CrashLoopBackOff"
there seems to be a issue with sync catalog in this version. Installed it straight from consul-helm-0.7.0, did a helm install and everything looked good in the beginning. All the ports are open. per policies for this env. Need some help with this.  Is it a bug? I noticed that the docker image it is pulling fails within consul-k8s.
[code]
[code]

[2019-04-09 22:15] csayler commented on #148
Can anyone help with this?

[2019-04-11 14:47] adilyse commented on #140
Hi @kgignatyev-inspur,

I agree, it makes sense to allow this functionality in both directions. This feature is currently under development and should be available soon.

[2019-04-11 14:49] adilyse commented on #145
Hi @moris1amar,

We'll be adding the ability to prefix k8s services synced into Consul soon! Please watch #140 for future updates.

Closing this, as the request is tracked elsewhere.

[2019-04-11 14:49] #145 closed

[2019-04-11 15:05] adilyse commented on #147
Hi @jheiss,

I would definitely be willing to take a look at a PR that supports this. It would be good to keep the current behavior as the default, then allow for the option to update as needed. As part of adding additional Helm chart configuration options, we like to make sure things are unit tested, so I recommend taking a look at the [Readme](https://github.com/hashicorp/consul-helm#writing-uni

[2019-04-11 15:16] adilyse commented on #148
Hi @csayler,

We've done some initial checking and it looks like the binary and docker image are okay (something we worry about after a release). This suggests that there might be an issue with a specific option that you're enabling that could be causing this. Would you be willing to share your helm chart values so we can try to repro the issue?

[2019-04-11 15:35] adilyse commented on #146
Hi @jheiss,

We previously allowed RBAC to be optional in the chart and it seems reasonable to add it back as an option. We've generally operated on the assumption that Consul would be considered more of an infrastructure-managed entity that operates across a cluster. It sounds like you have a different use case and it would be great to hear a bit more about it if you're willing to share.

One thi

[2019-04-11 16:36] csayler commented on #148
sure this is what I ran with.

helm install --set glocal.enabled=false,server.enabled=true,server.replicas=1,server.bootstrapExpect=1,client.enabled=true,dns.enabled=true,ui.enabled=true,syncCatalog.enabled=true,syncCatalog.nodePortSyncType=ExternalFirst https://ourartifactory/artifactory/orbit-k8s-helm-local/orbit-consulhelm-0.7.0.tgz -n consulhelm070 --namespace workloads

[2019-04-18 15:18] JoshuaEdwards1991 commented on #90
Did you figure this one out @moris1amar ?

[2019-04-25 22:23] matkam commented on #86
@adilyse is there a way to upgrade without deleting the existing consul cluster? I'm seeing a similar error when changing the server replicas, so it may be time for a redeployment:
[code]
I just don't want to lose data or disrupt services that rely on Consul.

[2019-05-01 14:46] bakhtyarkf opened #153 "connect latency"
if I enable consul connect, I have huge latency when I send a request to the services that are in my kubernetes cluster, but as soon as I disable the connect sidecar injection and redeploy again the latency goes away.

here is my values.yml
[code]

[2019-05-01 16:13] adilyse commented on #140
This functionality has been added and will be available in the next release, v0.8.0, which will be released soon. Details of the implementation can be seen here: [consul-k8s](https://github.com/hashicorp/consul-k8s/pull/89), [consul-helm](https://github.com/hashicorp/consul-helm/pull/152).

Thanks for helping make this a better product!

[2019-05-01 16:13] #140 closed

[2019-05-02 17:24] infa-bsurber opened #157 "server readiness probe doesn't support disabling http (port 8500)"
As per the TLS bootstrapping guide here: https://learn.hashicorp.com/consul/security-networking/certificates#step-1-setup-consul-servers-with-certificates

It advises disabling http once https is available via this configuration:
[code]

With current consul-helm, the server's readiness probe is hardcoded to use http on port 8500 so there's no way to:
a) probe that my consul's https configuration i

[2019-05-02 18:53] infa-bsurber opened #158 "support for sidecar containers & initContainers"
Right now there's no support for sidecar containers which forces certain processes to live outside of kubernetes, ie TLS cert initialization & refreshing.

The addition of a values extraContainers and extraInitContainers (matching the standard of stable helm charts) would ease this.

For the example of TLS certs, this would enable users to initialize and share certs via a shared emptyDir volume in

[2019-05-09 17:55] ewbankkit opened #164 "Ability to specify Consul client daemonset affinity"
Consul server affinity was added via https://github.com/hashicorp/consul-helm/pull/18, client and server node selectors via https://github.com/hashicorp/consul-helm/pull/135 and client and server tolerations via https://github.com/hashicorp/consul-helm/pull/117 but I would like to be able to specify affinity for the Consul client, e.g.

[code]

[2019-05-09 18:30] ewbankkit commented on #164
Related:
* https://github.com/hashicorp/consul-helm/issues/19
* https://github.com/hashicorp/consul-helm/pull/33

[2019-05-10 05:23] lawliet89 opened #167 "Changes in `templates/_helpers.tpl` from 0.7.0 to 0.8.0 is breaking"
My Helm release for Consul is called `consul`. The changes introduced [here](https://github.com/hashicorp/consul-helm/compare/hashicorp:0f7ccd2...hashicorp:ac6ece5#diff-93c03d74bec56c58046cc102d9474f25) causes a rename of resources which is breaking because it causes a new `StatefulSet` with new names to be created, causing new PVCs to be created and breaks the entire setup.

Workaround is to set

[2019-05-10 10:12] wyw64962771 opened #168 "consul client use emptydir, Health check will not be lost?"

[2019-05-10 11:58] djanjic commented on #167
I have the same problem. Statefulset name was `consul-server` and after this change is `consul-consul-server`.

[2019-05-10 19:05] vikramkhatri opened #169 "Unable to start consul"
Hi - My single node ICP cluster is this:

[code]

I am trying to install helm consul 0.8.1.

This is my helm command:

[code]

If I do not use `--set affinity`, I get this error immediately after helm install.

[code]
But I get the same pod status.

The pod status is:
[code]

The describe on 1st pod is:

[code]

The describe on second pod is:

[code]

As I am looking into daemonSet for consul, it

[2019-05-13 13:06] svlady commented on #74
There is a bit more needed than just providing the ```extraConfig``` section. The following steps working for me:

1. Generating certificates and placing them to k8s secrets. There are multiple ways for doing this and I have opted to use own consul helpers:
[code]
2. Adjusting health probes. It's possible to get ```curl``` commands to work either, but using consul own probes is a bit more straight

[2019-05-13 13:17] svlady commented on #126
Actually, you won’t be able to run multiple versions of this chart on the same k8s cluster. This is expected and by design. The reason is that client pods running as a DaemonSet are claiming certain ports on each k8s node. When you deploy a second DaemonSet it will check that those ports are taken and will not deploy new pods. You won't see any issues or warnings - the number of pods in a second D

[2019-05-13 17:30] adilyse commented on #157
Hi @infa-bsurber,

This is one of several issues with the current chart that make TLS setup difficult using the Helm chart. We are currently taking a comprehensive look at how to support TLS more effectively through consul-k8s and the Helm chart, where this will be addressed.

[2019-05-13 17:47] infa-bsurber commented on #157
Do you have a consul-k8s issue for me to follow @adilyse  ?

I've had some success enabling TLS via extraVolumes & extraConfig, so I'm curious what the additional work on supporting it looks like.

[2019-05-13 18:02] adilyse commented on #157
The comprehensive effort is being tracked internally, so there's not a specific github issue associated with it. You will start to see some PRs show up here and in the `consul-k8s` repo related to it soon.

[2019-05-13 18:38] infa-bsurber commented on #157
Great, thanks for the info

[2019-05-13 21:16] adilyse commented on #169
Hi @vikramkhatri,

Unfortunately the port override commands aren't the easiest to use at the moment. To fix the readiness probes, you'll need to manually update the [client](https://github.com/hashicorp/consul-helm/blob/master/templates/client-daemonset.yaml#L181) and [server](https://github.com/hashicorp/consul-helm/blob/master/templates/server-statefulset.yaml#L165) readinessProbes in their resp

[2019-05-14 00:22] lawliet89 commented on #167
There is also no clear/easy upgrade path for users from 0.7.x to 0.8.x.

[2019-05-15 13:35] ewbankkit opened #170 "DNS Service: Allow a specific service cluster IP to be specified"
For [integration](https://www.consul.io/docs/platform/k8s/dns.html#coredns-configuration) between Consul DNS and CoreDNS it will be helpful to allow a specific DNS service cluster IP to be specified as this IP address value must be hard-coded into the CoreDNS configuration.

[2019-05-17 18:44] fusionx86 commented on #167
I was able to work around the problem by setting fullnameOverride:

`fullnameOverride: "consul"`

Almost all everything went back to the single consul name, but two secrets still show up with the annoying double name:

consul-consul-bootstrap-acl-token
consul-consul-client-acl-token

[2019-05-18 01:47] lawliet89 commented on #167
Thanks for the workaround. At least the PVC and services won't break.

[2019-05-23 16:39] ttyS0 commented on #167
FWIW, I also had to remove the `-{{ .Release.Namespace }}` from the Volume names. I was coming from 0.6, so perhaps that was added in 0.7. In any event, my PVCs are named like `data-consul-server-0`, and adding the namespace into the PVC naming meant they couldn't be found. Since PVCs can't be renamed, it might be useful to make it clear that if the storage names don't line up, one is looking at e

[2019-05-23 16:59] ttyS0 opened #173 "If enablePodSecurityPolicies is set to false, ClusterRole fails validation"
The default value of `enablePodSecurityPolicies` is **false**. That value is placed above the `rules:` section in [server-clusterrole.yaml](https://github.com/hashicorp/consul-helm/blob/master/templates/server-clusterrole.yaml), which causes a broken `ClusterRole` resource to be described because the `rules:` section is mandatory.

The chart kicks out with:
[code]
unless `enablePodSecurityPolicies

[2019-05-25 13:33] mmisztal1980 opened #175 "Unable to execute helm upgrade: pec: Forbidden: updates to poddisruptionbudget spec are forbidden"
I'm unable to install the chart neither by specifying my own value file nor by specifying value overrides from commandline:

I've attempted:
`helm upgrade --namespace consul consul-connect .\consul-helm\ --set storageClass=hostpath,server.replicas=1,server.bootstrapExpect=1`

and got:
[code]

[2019-05-25 20:24] #175 closed

[2019-05-26 07:43] EDGsheryl commented on #173
I have encountered the same situation. It seems like that helm-v2.14.0 caused this problem.

[2019-05-29 23:05] dmai-apixio opened #178 "Can not install consul-helm by using helm v2.14.0"
Hi all,
I used helm v2.13.0 to install consul. Everything worked perfectly. After upgrading helm to newer version v2.14.0
[code]
I got this error.
[code]

[2019-05-30 04:20] brucedominguez commented on #178
Same issue here. Tried to run the tutorials on Consul and Ambassador ( https://instruqt.com/hashicorp/tracks/sock-shop-tutorial) but get the same issue. Same version of helm (v2.14.0).

[2019-05-30 17:22] infa-bsurber opened #180 "Steps for ACL initialization"
My current ACL initialization flow:
- spin up a Consul cluster with a master token
  - master token provided via server extraVolume w/ type: "secret" and load: true
- run a helm/k8s job to create new ACL policies & issue ACL tokens for each
  - required because the cluster is intentionally never being exposed to the internet
- scrape the job logs for those tokens
- save custom acl token for later

[2019-05-31 19:49] adilyse commented on #173
Hi, thanks for reporting this issue! Since this appears to be related to the Helm version issue also reported in #178, I'm going to close so there isn't a duplicate. Please feel free to track the status of the issue there.

[2019-05-31 19:49] #173 closed

[2019-06-03 17:17] adilyse commented on #180
Hi @infa-bsurber,

In the latest release (Consul v1.5, consul-k8s v0.8.1 and consul-helm v0.8.1), we've added the ability to automatically bootstrap ACLs in a Consul cluster that's running completely in Kubernetes. By turning on the [`bootstrapACLs`](https://www.consul.io/docs/platform/k8s/helm.html#v-global-bootstrap-acls) option in the Helm chart, ACLs will be automatically turned on and tokens

[2019-06-03 17:17] #180 closed

[2019-06-03 17:18] infa-bsurber commented on #180
Wonderful! Thank you.

[2019-06-03 17:47] infa-bsurber opened #181 "bootstrapping Consul clients with custom ACL policies"
As a followup to bootstrapACLs.

I'm using this Consul cluster to back my Vault, which requires adding a custom ACL policy to support Vault's needs.

It would be great to be able to supply extraACLPolicies which would then be added to Consul and an ACL token created for each then stored in K8s secrets.

[2019-06-03 18:38] adilyse commented on #181
That's a good suggestion. Tagging this as an enhancement that we can take a look at in the future.

[2019-06-03 19:54] infa-bsurber opened #182 "bootstrapACLs getting stuck on install"
Running a fresh installation using bootstrapACLs is running into a deadlock

The consul-server-acl-init job is responsible for bootstrapping ACLs on the server (generating the bootstrap token & generating the server token) and is a job with a post-install hook.
The consul client pod has an initContainer "client-acl-init" which is stuck waiting for that bootstrap token secret and so, pod installati

[2019-06-03 20:00] adilyse commented on #182
The new process definitely introduces a delay to having the cluster set up correctly, but it should eventually complete. If you wait a couple minutes, does the cluster become available?

Because the cluster must be up and have a leader elected before any ACL bootstrapping can happen, there's unfortunately no way to completely remove the delay.

[2019-06-03 20:02] infa-bsurber commented on #182
the servers come up fine, it's the client pod that blocks (testing w/ minikube):
[code]

[2019-06-03 20:04] adilyse commented on #182
I admit I haven't tried it out on minikube. Can you list the secrets that exist in your environment? And are you able to see the logs from the server init job? There might be more info available there.

[2019-06-03 20:04] infa-bsurber commented on #182
the server init job isn't kicking off as it's a "post-install" hook
i'm currently rerunning so I can get the secrets list in a sec

[2019-06-03 20:06] infa-bsurber commented on #182
[code]

[2019-06-03 20:08] infa-bsurber commented on #182
so yeah, no `vault-consul-consul-client-acl-token` secret showing up there because the bootstrap job isn't kicking off

[code]

[2019-06-03 20:10] adilyse commented on #182
Hmm, that's not right. Which version of Helm are you using? We just had some issues filed with Helm 2.14. It'd be good to rule that out.

[2019-06-03 20:11] infa-bsurber commented on #182
v2.13.1 server & client

[2019-06-03 20:13] infa-bsurber commented on #182
here's what helm template shows me for the server-acl-init job:
[code]

[2019-06-03 20:17] adilyse commented on #182
That looks correct. Are you running the Helm install with the `--wait` flag? (Wondering if [this issue](https://github.com/helm/helm/issues/5118) is causing any trouble.

[2019-06-03 20:19] infa-bsurber commented on #182
Yes I'm using the --wait flag but I haven't had a problem with other post-install jobs I have in this deployment (I've been using my own acl initialization post-install job for a while) so that would surprise me.
Let me go try w/o the --wait flag for completeness.

[2019-06-03 20:23] infa-bsurber commented on #182
oh nice, that seems to be it, I'll have to work around not having the `--wait` flag then
[code]
the error log on those jobs is
[code]
so i'll be looking at that now.

Thanks for the help.

[2019-06-03 20:23] #182 closed

[2019-06-03 20:24] adilyse commented on #182
Cool, glad we could figure out the post install job! It's expected that the job will run a couple of times unsuccessfully before it can complete. This is it waiting for the cluster to be ready for bootstrapping.

[2019-06-03 20:25] infa-bsurber commented on #182
Great, thanks for the help

[2019-06-04 19:13] infa-bsurber opened #183 "bootstrapACLs requires enabling consul clients"
bootstrapACLs currently requires that clients & servers both be active

We use this chart to deployment multiple consul clusters per k8s cluster, so we disable consul client creation.

We would appreciate removing the requirement that the clients must be active to use bootstrapACLs.

[2019-06-05 06:48] dverbeek84 commented on #173
both server-clusterrole.yaml and client-clusterrole.yaml have a if statement block warpping the rules. thay should wrap the whole ClusterRole block.

[2019-06-05 07:24] dverbeek84 commented on #178
both server-clusterrole.yaml and client-clusterrole.yaml have a if statement block warpping the rules. thay should wrap the whole ClusterRole block.

[2019-06-05 10:39] devlounge commented on #183
Same here

[2019-06-05 10:57] devlounge commented on #178
and the ClusterRoleBinding shouln't be created if the ClusterRole isn't

[2019-06-06 13:28] diegopaludo commented on #173
Hi,
I have encountered the same situation. :(
I solved it by upgrading to version v2.14.1 of helm

[2019-06-06 18:17] infa-bsurber opened #186 "bootstrapACLs job timing errors"
Sometimes when the server-acl-init job's pods come up, they reach a broken state.

One attempt at the job gives this:
`Error creating client agent token: Unexpected response code: 500 (The ACL system is currently in legacy mode.) `

Then all further attempts at the job give this:
`Error bootstrapping Consul agent: Unexpected response code: 403 (Permission denied: ACL bootstrap no longer allowed (r

[2019-06-07 12:49] lkysow commented on #178
`server-clusterrole.yaml` and `server-clusterrolebinding.yaml` both use the same `if` statement:
[code]

So there shouldn't be a way for only one of them to be created. Can you help me reproduce what you're seeing?

[2019-06-07 15:52] lkysow commented on #170
Feature would be to expose an optional `ClusterIP` field that would map to the `ClusterIP` of the `consul-dns` service.

[2019-06-07 15:53] lkysow commented on #169
@vikramkhatri did @adilyse's suggestions work?

[2019-06-07 17:29] lkysow commented on #167
Hey all, we're sorry this broke the upgrade process. It was getting to be too complicated to support the special case of detecting with `consul-` prefix and we were bound to miss this and break something later on.

We should definitely document the upgrade process though.

[2019-06-07 17:33] lkysow commented on #129
Related to #136

[2019-06-07 17:38] lkysow commented on #108
@pondohva can you describe in more detail what you mean by

As @adomenech73 details above, Pods (AFAIK) can't just move in-between nodes, they must be started fresh on each node in which case they will be registered on that new node and deregistered on the node they left.

[2019-06-07 17:41] lkysow commented on #106
Hi Piotr, good questions.

In addition, some config changes only request a reload and others require a full restart. We'd also want to be careful about restarting servers. I think a mechanism like you linked would be the best solution. I don't think renaming the release makes sense.

[2019-06-07 17:46] lkysow commented on #78
Hey Raymond, since this issue is 6 months old I'm going to close it. Please reply back if you can provide the information @adilyse asked for and we can re-open.

[2019-06-07 17:46] #78 closed

[2019-06-07 17:47] lkysow commented on #76
I'm going to close this issue since it's 6 months old. If anyone is still having this issue please comment here and I can re-open.

[2019-06-07 17:47] #76 closed

[2019-06-07 17:56] infa-bsurber opened #189 "Stuck on "Terminating" in EKS"
Often when we're draining nodes in EKS, our Consul server pods are getting stuck in "Terminating" with events that look like the following:

[code]

This puts the pod in a stuck state that requires force-deletion, which is not easily scalable with many deployments.

[2019-06-07 18:07] lkysow commented on #43
Just for me to refer to later, the issue is that we're using the downward API to inject the HOST_IP environment variable so we can talk to the agent running on our node. In some deployments, ex. EKS with the aws-cni plugin that uses multiple enis, the HOST_IP is only one IP of multiple and so we might not be able to talk to the agent on that specific HOST_IP.

I'm not sure why we're not using host

[2019-06-08 09:40] #178 closed

[2019-06-16 08:38] ryhled opened #195 "No pods ever gets ready"
Hi!
Trying out consul (on AKS) and it seems i cannot get this to work (install using 'helm install ./ --namespace consul --name consul').

The installer goes through but no pods ever becomes ready. Runs in a two node cluster and the result looks like below:

![image](https://user-images.githubusercontent.com/5057569/59561559-35f44700-9022-11e9-9058-b7256a816c9f.png)

Looking at the logs what frequ

[2019-06-16 11:22] #195 closed

[2019-06-16 11:23] ryhled commented on #195
will investigate this further before i reach out. But seems that the telm standard charts work fine 'out of box' to install, but this chart does not.

[2019-06-17 09:02] lkysow commented on #195
Hi Daniel, just so you know, this chart is the officially supported HashiCorp chart.

[2019-06-17 15:45] ryhled commented on #195
Yeah i understood that. However it does not work at all for me 'out-of-box'. [this chart](https://github.com/helm/charts/tree/master/stable/consul) however seems to work fine.

[2019-06-17 16:24] lkysow commented on #195
To help debug can you do a `describe` on the failing pods?

[2019-06-18 08:54] dignajar commented on #173
Perfect, thanks!

For users with Mac OS and you installed via Helm via Brew.
[code]

[2019-06-18 13:41] tradel commented on #195
Hi @ryhled. The problem is that our Helm chart defaults to installing 3 server pods with host anti-affinity, and you're running in a cluster with only 2 hosts. The leader is expecting 3 servers to come up and it only 2 pods can ever start.

Try making the following changes to your `values.yaml`:

[code]

The values for `server.replicas` and `server.bootstrapExpect` should never be more than the nu

[2019-06-18 17:41] ryhled commented on #195
Thanks will try that!

[2019-06-18 18:37] ryhled commented on #195
Setting down the nodes and waiting 4-5 minutes helped, works now. Thanks for the input.

[2019-06-20 19:52] infa-bsurber opened #196 "Add component label to services"
I need some way to select between the UI and Server services based on their labels.
Currently these services have the same set of labels.

An easy fix seems to be adding a "component" label like the one in the deployed pods:
https://github.com/hashicorp/consul-helm/blob/master/templates/server-statefulset.yaml#L36

[2019-06-21 23:05] infa-bsurber opened #197 "Advised way to do DR server dcs?"
I'm currently running a Vault backed by a Consul cluster deployed by this chart (notably, including bootstrapACLs enabled) and I'm looking to setup a DR Consul cluster in another region.

What's the advised way to use this chart to deploy to another region, set it as a new datacenter, and have it join the first cluster?

I think I can use consul-replicate to do a master-follower KV replication to

[2019-06-25 08:03] paulbouwer opened #198 "Idea: More robust server-acl-init-job"
When the `server-acl-init-job` runs, sometimes the `.spec.backoffLimit` default of 6 retries (capped at 6 minutes) is not sufficient and other times it is more than enough. There are also a number of jobs in an `Error` state along the way to success.

I used the following to pause the `server-acl-init-job` job via an `initContainer` until the required number of Consul servers were running. This se

[2019-06-25 14:59] lkysow commented on #196
That makes sense to me.

[2019-06-25 15:04] lkysow commented on #198
Don't we need a leader to be elected before the server-acl-init-job runs (cc @adilyse)? I'm wondering if we should use a similar technique but actually call the consul api to figure out if there's a leader since there's still the chance that the pods are up but there's no leader with this proposed solution.

[2019-06-25 18:17] peidong-hu commented on #131
got same question, all the synced services from k8s to consul have no health check

[2019-06-25 20:34] HansK-p commented on #198
Is it an option to make the server-acl-init-job more robust in itself? Typically make it wait for the Consul cluster to reach an acceptable state or a timeout to be reached - before actually bootstrapping those ACLs (or exiting with an error message if a timeout was reached)?

It would also be nice i the acl init job were able to handle most/all error conditions of type "a previous version of the

[2019-06-25 22:57] matthewcummings opened #199 "Running into many rbac issues when installing consul from this helm chart."
I'm trying to lock down my till service account to a specific namespace but I keep getting errors.  I ran into this issue https://github.com/hashicorp/consul-helm/issues/175 but fixed it by adding podisruptionpolicy privileges to my account.

Now I'm getting this error, which makes me think I'm better off just giving tiller admin level privileges which I'd prefer not to do. Any help is appreciated

[2019-06-26 12:44] lkysow commented on #198
My thinking was that the `consul-k8s server-acl-init` command shouldn't hang indefinitely waiting for a leader but should exit immediately if it can't complete. So instead of building the smarts into that command I'd prefer doing the waiting a different way.

[2019-06-26 12:46] lkysow commented on #199
Yeah if you're using helm then Tiller will need cluster admin permissions. If you don't want to use Helm then you could use `helm template` to print out the `yaml` and then use `kubectl apply` to apply the yaml yourself.

[2019-06-26 14:12] matthewcummings commented on #199
OK, thanks @lkysow

[2019-06-26 14:12] #199 closed

[2019-06-26 20:07] HansK-p commented on #198
Currently the deployment (often) leaves acl-init pods in an error state and the server-acl-init command sometimes leaves the ACL bootstrap process in a state where manual intervention is needed in order to solve the problem.

It would probably be good to address both these issues and I agree that the proposed solution will close to eliminate both issues. "Close to" as I assume that server-acl-init

[2019-06-27 11:16] lkysow commented on #198
Good points, I'll confer with @adilyse

[2019-06-27 16:56] infa-bsurber opened #201 "Memory issues in EKS"
For context, we're in EKS and running a Consul cluster deployed via consul-helm as the storage backend for a Hashicorp Vault.
While doing some load testing (with locust) on the Vault, I noticed that the memory usage on the Consul servers's memory usage was increasing (as expected) but then wasn't decreasing to anywhere near the original usage.

When first deployed, about 25Mi of memory was being u

[2019-06-30 07:31] HansK-p opened #202 "Clarify that the pod service account name must be equal the Consul service name when ACLs are enabled"
I just spent an embarrassingly amount of time on troubleshooting why sidecar injection didn't work as soon as ACLs were enabled in the Helm Chart. After a lot of debugging and looking into source code, I finally understood that the pod service account name (K8s: ServiceAccount) has to match the Consul service name exactly (Annotation: consul.hashicorp.com/connect-service) when ACLs are enabled.

T

[2019-07-06 00:27] dschaaff commented on #198
I cannot get bootstrapAcls to work, even with this change. It correctly generates the master token and enables acl's on the server but it never creates a client token and the helm install fails. The error is always `Error bootstrapping Consul agent: Unexpected response code: 403 (Permission denied: ACL bootstrap no longer allowed `.

[2019-07-06 01:04] dschaaff commented on #198
Update, I did get this work by adding a very long sleep before the acl bootstrap runs in the init container.

[code]

Its an ugly hack but it worked.

[2019-07-09 15:43] blakeblackshear commented on #198
This version of an initContainer is working well for me. It looks to make sure that the pods are ready, not just Running, and then it waits just a little longer to allow time for leader election.
[code]

[2019-07-09 18:34] dschaaff commented on #198
That makes more sense than a long sleep (added out of frustration lol).

[2019-07-11 09:19] ljupchokotev commented on #182
I just hit this issue while bootstrapping a new Consul cluster with ACL enabled. If you use `helm install --wait`, you will never get a working cluster with ACL bootstrapping enabled. This should be mentioned in the documentation.

As @infa-bsurber explained, a deadlock situation happens between the `server-acl-init` job and the client pods. The `server-acl-init` job is set to run on `post-install

[2019-07-11 11:01] ljupchokotev commented on #198
I have tried the init container from @blakeblackshear but it doesn't seem to work for me. I still get
```Error bootstrapping Consul agent: Unexpected response code: 403 (Permission denied: rpc error making call: ACL bootstrap no longer allowed (reset index: 17))``` on the `server-acl-init` job. Has anybody identified why this happens?

[2019-07-11 11:57] ljupchokotev commented on #198
I have tested with the init container from @blakeblackshear and it worked for me, I got the `server-acl-init` job to successfully bootstrap ACL on the cluster.

Note for people who have TLS encryption enabled based on the PR #137, the enterprise-license job will fail since it uses curl to update the license on the cluster, but it doesn't send the ACL token.

[2019-07-11 15:29] blakeblackshear commented on #198
@ljupchokotev Don't forget that deleting the helm release does not remove persistent volumes. You will need to delete them manually if you want to rerun the helm chart again in the same namespace. Or deleting the namespace will work as well. You will get this error if the new helm install tries to use the old volumes.

[2019-07-19 14:16] lkysow opened #205 "Consul is running as root"
Because we're overriding the docker entrypoint, and directly executing `/bin/consul` we're running as root. Instead we should execute the docker entrypoint.

[2019-07-30 14:49] nicholasjackson commented on #202
Hi, yes, the ServiceAccount name must be the same as the service name.

The name of the service is inferred from two possible sources:

This can be stated explicitly using the annotation `consul.hashicorp.com/connect-service`
[https://www.consul.io/docs/platform/k8s/connect.html#consul-hashicorp-com-connect-service](https://www.consul.io/docs/platform/k8s/connect.html#consul-hashicorp-com-connect-

[2019-07-30 17:22] HansK-p commented on #202
It took far too long before I understood that ACL tokens were created based on the K8s service account name. At first I thought it was sufficient that the service name wasn't "default".

Which means that the serviceAccountName used in the pod has to be exactly the same as the name of the first container in the pod or as is set by the annotation consul.hashicorp.com/connect-service (as you have alr

[2019-08-02 16:39] cristhianbicca commented on #180
Good morning guys, I'm deploying consul as a service discovery on my Kubernetes framework and trying to enable ACL he's asking for a SecretID or Master Token, but what I got from Kubernetes Secret didn't work out. Where can I get this token?

versions
Consul server - 1.5.0
consul-helm 0.9

[2019-08-02 16:53] cristhianbicca opened #209 "ACL not show Token"
Good morning guys, I'm deploying consul as a service discovery on my Kubernetes framework and trying to enable ACL he's asking for a SecretID or Master Token, but what I got from Kubernetes Secret didn't work out. Where can I get this token?

versions
Consul server - 1.5.0
consul-helm 0.9

[2019-08-05 17:27] dorsany opened #211 "sync-catalog not working when client disabled"
when I'm disabling the consul client (agent) using the following helm values:
[code]

the ```consul-sync-catalog``` is unable to register the consul:
[code]
this issue because the consul client (agent) has been disabled there for no ```HOST_IP``` with the port ```8500``` is exist
https://github.com/hashicorp/consul-helm/blob/2987628f17af11737984aec9afc3492b6be62287/templates/sync-catalog-deploymen

[2019-08-05 20:31] rosteroster commented on #183
PR updated to use 0.9.0's new bootstrap acl job flag "-create-client-token=false" to disable creating the client acl token when only the server is enabled

[2019-08-08 12:32] ljmsc opened #213 "connectInject enabled | caBundle can not be empty"
when I want to use connectInject I have to set the caBundle parameter even if the secretName is null but the documentation says otherwise.

[code]

The error response is the following:
[code]

[2019-08-12 19:03] evanluc commented on #213
Also hitting this issue

[2019-08-13 16:32] jtcressy opened #215 "(connectInject) acl-init job does not work unless chart is deployed in "default" namespace"
Ok, so this is really because the "kubernetes" service is only in the default namespace, by default.

Edit: Looks like connectInject needs to setup the kubernetes auth method and causes this error when getting the "kubernetes" service.

consul-chart version: v0.8.1
helm/tiller version: 2.14.3
I'm running this on a GKE cluster version 1.13.7.

Commands used to deploy the chart:
[code]

I grabbed th

[2019-08-13 17:13] infa-bsurber commented on #215
I've been using bootstrapACLs in a different namespace for a long time now. The server & client ACL tokens are written to the same namespace as K8s secrets.

However, the job to do the acl initialization can hit a race condition and fail infinitely (see https://github.com/hashicorp/consul-helm/issues/186 https://github.com/hashicorp/consul-helm/issues/198), or it may not have the right access requ

[2019-08-13 17:29] jtcressy commented on #215
The job never succeeds, but I just noticed that it *does* create the secrets. What I don't understand, is if it created the secrets, why does it say `services "kubernetes" not found`?

Additionally, the next pod that gets started by the job fails with "Permission denied: ACL bootstrap no longer allowed" since the cluster was successfully bootstrapped in the previous job attempt.

Here's the output

[2019-08-13 17:34] infa-bsurber commented on #215
Interesting, which chart + k8sImage versions are you using?

[2019-08-13 17:36] infa-bsurber commented on #215
Ah, found the acl-init job code for what you're hitting. This explains why I've never seen this error (I don't use ConnectInject):
https://github.com/hashicorp/consul-k8s/blob/master/subcommand/server-acl-init/command.go#L303-L310

[2019-08-13 17:37] jtcressy commented on #215
Chart is v0.8.1 and the k8sImage is the default defined in the chart.
These are the exact commands I use to deploy:
[code]

[2019-08-13 17:38] jtcressy commented on #215
Ah, if this is specific to connect inject I can edit the title of this issue to better indicate scope

[2019-08-14 04:20] gmachine1 opened #216 "Unable to view Consul UI after running in kubernetes cluster after restarting"
I had run it before. Initially, only clients were running the three servers were pending and that was resolved by setting default storage class in my Kubernetes. I was able to view the Consul UI. There are 7 nodes in my cluster.

But eventually I decided I'd like to enable the sync from Kubernetes to Consul and after restarting with that, I kept getting the likes of

[code]

I tried deleting persi

[2019-08-14 08:58] gmachine1 commented on #216
[code]
I'm forgetting about the UI for now, using the command line interface and non UI REST API.

[2019-08-14 09:00] gmachine1 commented on #216
Which is strange and threw me off given how the UI worked a few days ago.

[2019-08-14 16:26] lkysow commented on #202
Hi @HansK-p, thanks for the issue. Agreed that we should document this!

[2019-08-14 16:44] lkysow opened #218 "Getting ACL master token."
Good morning guys, I'm deploying consul as a service discovery on my Kubernetes framework and trying to enable ACL he's asking for a SecretID or Master Token, but what I got from Kubernetes Secret didn't work out. Where can I get this token?

versions
Consul server - 1.5.0
consul-helm 0.9

_Originally posted by @cristhianbicca in https://github.com/hashicorp/consul-helm/issues/180#issuecomment-517

[2019-08-14 16:45] lkysow commented on #180
Hi @cristhianbicca, I've moved your question to a new issue.

[2019-08-14 17:03] lkysow commented on #211
Hi Dor,
Can you describe why you need this change and your use-case?

We always recommend applications (including our own sync) talk to the local agent because otherwise performance issues arise.

[2019-08-14 17:21] lkysow commented on #215
FYI, I just merged #107 which fixes the issue with namespaces and the `kubernetes` service.

[2019-08-14 17:23] lkysow commented on #215
I think that fixes your issue but if not please comment and I can re-open.

[2019-08-14 17:23] #215 closed

[2019-08-14 17:29] lkysow commented on #216
Hi @gmachine1,
Do the CLI and REST API still work? By the UI not working do you mean you can't load it?

[2019-08-14 17:44] dorsany commented on #211
Hi @Lkysow ,
We want to use only access to the consul server without passing the agent.

1) to avoid security issues
2) to skip running process that we can avoid
3) avoid using node ip meta data for pods and access directly to the consul server

I can make a PR if needed

[2019-08-14 18:20] cristhianbicca commented on #180
Thanks @lkysow

[2019-08-14 19:42] jtcressy commented on #215
@lkysow Did you mean to link a PR? #107 looks like an issue from way back, and unrelated.

[2019-08-15 10:02] lkysow commented on #215
Oops, this is the one: https://github.com/hashicorp/consul-k8s/pull/107

[2019-08-15 11:13] gmachine1 commented on #216
CLI and REST API are fine. And copying over the .kube/config for the cluster to local machine, setting the context to that of the cluster, followed by a
`kubectl port-forward pod/consul-consul-server-2 8500:8500`
and loading on local browser at `127.0.0.1:8500` did the trick. In the docs, that the UI is not exposed by default for some security reason is mentioned, it just happened that the first t

[2019-08-15 11:13] #216 closed

[2019-08-15 16:15] jshdcmpbll commented on #218
Hey @lkysow I am also having this issue. I assume issue #202 wasn't your solution to this problem, correct?

[2019-08-15 17:56] jshdcmpbll commented on #218
Also having this issue.

Helm presents the following error after waiting about 8 minutes for consul to complete its ACL bootstrap: `Error: timed out waiting for the condition`.

Here are the secrets in Kubernetes:

[2019-08-16 16:44] yohandion opened #220 "Consul server K8s, error connect external consul client server"
Hello,

I have deployed on k8s a consul cluster server.
I am trying to connect my consul client (external k8s server) on this cluster, but I have a timeout.

[code]

On k8s my service expose all the necessary ports (I thinks :))

[code]

I thinks the issue come from my ingress, but I don't know how fixe it.
The agent tries to connect on consul server on port 8301, but the ingress don't expose it.

[2019-08-17 21:05] jtcressy commented on #197
Bump on this. (plus some more info from my own investigation)

I setup 3 kubernetes clusters in different regions via GKE and ensured the pods could talk to each other via vpc-native network. I deployed this helm chart and set the datacenter on each to "<clustername>-<region-name>". e.g. I had `test1-us-central1`, `test2-us-east1`, and `test3-us-east4`. I connected to one of the test2-us-east1 ser

[2019-08-18 07:56] dorsany opened #221 "support container image repository override"
in case of air gap cluster installation, We need to pass the container registry to the container image so the consul containers (server,client,sync catlaog and etc...) will be able to pull the image from the [local docker registry](https://docs.docker.com/registry/deploying/) in order to avoid ```ImagePullBackOff```

For example:
https://github.com/hashicorp/consul-helm/blob/11b1a12a16715c62e43e7a

[2019-08-20 10:15] luweiv9988 opened #222 "Consul-helm 0.8.1 sync catalog fail"
* Version:
[code]

* pod status:
[code]

* pod logs:
[code]

* values.yaml
[code]

[2019-08-20 10:34] luweiv9988 commented on #222
/question

[2019-08-30 16:53] ctchan commented on #222
I also have a similar issue, and looking for a solution.  Appears the sync catalog container uses the Node IP (per helm chart deployment config), but on the setup, there is no listener for the consul 8500 on that IP, only on the clusterIP.

[2019-09-06 09:39] #198 closed

[2019-09-16 06:07] Spaceman1861 opened #276 "Cant get connectInject.namespaceSelector to work"
#### Overview of the Issue

Hi I'm trying to setup consul to only get connectInject resources within a specific namespace.

According to the values.yaml in the helm chart I think I can set connectInject.namespaceSelector to do this but my command isn't working and I can't figure out whats going wrong.

Its probably me being a derp but it might be a legit bug.

#### Reproduction Steps

[code]
I get

[2019-09-16 21:31] infa-bsurber opened #227 "Repeatedly re-running job on upgrading to Chart v0.9.0 w/ bootstrapACLs enabled"
When upgrading from 0.8.1 to 0.9.0 chart versions with bootstrapACLs enabled, my helm diff upgrade looks like:
[code]
Then when I run the actual helm upgrade, it works fine but it then tries to re-run the job (which fails thankfully, otherwise it might overwrite our existing ACL tokens):
[code]
This may be working as intended (just requires manual deletion of the job to resolve) but could also be

[2019-09-17 16:44] lkysow commented on #221
@dorsany thanks for the ticket.

Can't you set the repository using the existing values?
[code]

[2019-09-17 16:54] dorsany commented on #221
I will. Thanks

[2019-09-17 16:54] #221 closed

[2019-09-17 17:02] lkysow commented on #218
To get the bootstrap token:
1. Get your helm release name:
[code]
1. Get the secret with name `<release-name>-consul-bootstrap-acl-token`:
[code]
1. Use `base64 -D` to decode the token:
[code]

As a one-liner:
[code]

[2019-09-17 17:03] lkysow commented on #218
@jshdcmpbll I think your issue is different from the original poster's issue.

I think #198 is the problem you were having which is fixed in v0.9.0

[2019-09-17 17:10] lkysow opened #228 "Set default Consul version to 1.6.0"
Right now it's 1.5.0

[2019-09-17 17:19] lkysow commented on #209
Hi @cristhianbicca I think this is a duplicate of #218, looks like we both created issues 😄.

I think I've answered your question there so I'm going to close this.

[2019-09-17 17:19] #209 closed

[2019-09-17 17:31] lkysow commented on #169
I'm going to close this because we haven't heard back but if this isn't working let us know and we'll reopen.

[2019-09-17 17:32] lkysow commented on #168
@wyw64962771 can you give us some more information for this issue? Thanks!

[2019-09-17 17:55] lkysow commented on #148
@csayler does this still occur with the latest version (v0.9.0)?

[2019-09-17 18:44] lkysow commented on #108
Since we haven't heard back we're going to close this but if you get back to us we'll re-open the issue. Thanks!

[2019-09-17 18:44] #108 closed

[2019-09-17 18:50] lkysow commented on #72
Hi Anatoly, can you give us more detail? You manually registered your service and then when your Pod restarted the service was deleted?

Did you try using the catalog sync feature?

[2019-09-17 18:55] lkysow commented on #70
Hi Anatoly,
If you're registering an external service, you should not use `/agent/service/register` endpoint of a node in Kubernetes. The agent endpoint assumes that the service is running on the same node of the agent. If the node goes down, it will assume your service is unhealthy which isn't true since you're not actually running on that node.

If you can, you should run the Consul agent on you

[2019-09-17 18:55] #70 closed

[2019-09-17 19:01] lkysow commented on #64
This issue is quite old so I'm going to close this. If it's still a problem then please comment and I'll re-open.

[2019-09-17 19:01] #64 closed

[2019-09-17 19:03] lkysow commented on #34
Closed by https://github.com/hashicorp/consul-helm/pull/105

[2019-09-17 19:03] #34 closed

[2019-09-17 20:32] HansK-p commented on #183
I removed the requirement from consul-helm/templates/server-acl-init-* in a local copy of the chart and it seems that the ACL bootstrap process worked as it should after this change. There is a secret "consul-k8s-consul-client-acl-token" in the namespace which probably shouldn't have been there, but that's not a big problem for us (and we can choose to simply remove it).

I'd appreciate a change i

[2019-09-17 20:43] rosteroster commented on #183
Yep, #190 is already open to resolve this, it's just not merged yet

[2019-09-17 21:25] infa-bsurber commented on #227
Added note for this, this rerunning of the job also occurs on future helm upgrades, not just when going from 0.8.1 to 0.9.0

[2019-09-18 13:58] ALuongIBM opened #229 "pod has unbound immediate PersistentVolumeClaims"
Hi there, I'm trying to deploy a 3 server, 3 client Consul to my IBM Cloud Kubernetes cluster using this Helm chart and although the pods end up in a `0/1` running state, I keep getting this error. I'm open to any suggestions, having searched previous issues this looks like an affinity error (so I've set `affinty: null` to no avail).
[code]

[2019-09-18 14:47] ALuongIBM commented on #229
Also worth noting,
when I `kubectl describe pv pvc-a82a6414-da1b-11e9-84f5-4e450`, I get this:
[code]

[2019-09-18 15:30] prendi opened #230 "Consul DNS not working with external DNS calls"
Hello!

I'm trying to make DNS calls to services outside my k8s cluster (e.g. RDS instance) but it seems that once I configure CoreDNS's configmap with:
[code]
the calls to every external service stop working. Nevertheless, internal cluster calls still work.

Thanks in advance!

[2019-09-18 21:56] lkysow commented on #230
Hi Gonçalo,
Can you give me an example DNS lookup (using `dig` or `nslookup` or `curl`) and the error you get back please?

[2019-09-18 22:16] ishustava commented on #222
Hi @luweiv9988,

As @ctchan pointed out, sync catalog container uses Node IP (aka Host IP) to talk to the consul agent running on the same node. To clarify consul agent is configured to bind to all interfaces in the [helm chart](https://github.com/hashicorp/consul-helm/blob/048722c33bb8ae3be3f196f98940a1b7561edc9e/templates/client-daemonset.yaml#L102), so there is no need to bind to the specific I

[2019-09-20 10:57] prendi commented on #230
Hi Luke, sorry for the delay!

Running a pod that executes: `dig +search <database url>` I get the following response:

`Fri Sep 20 10:50:07 UTC 2019

; <<>> DiG 9.9.5-3ubuntu0.2-Ubuntu <<>> +search <database url>
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: SERVFAIL, id: 30130
;; flags: qr rd; QUERY: 1, ANSWER: 0, AUTHORITY: 0, ADDITIONAL: 0
;; WARNING: recursion

[2019-09-20 17:59] lkysow opened #232 "Document how to use the chart without tiller"
Document how to use `helm template`

[2019-09-20 22:04] lkysow commented on #230
I think you need the `consul` blog to be outside the `.:53` block:
[code]

[2019-09-21 22:08] csayler commented on #148
@lkysow - I am not sure, I have handed this project over to another team to manage, but let me double check.

[2019-09-23 09:06] prendi commented on #230
I've tried this and the errors go away, however, that means that I would be proxying DNS requests ending in .consul right? Which is not the kind of requests I'm testing since I want to call services outside the cluster. Please let me know if I'm wrong

[2019-09-23 16:54] ALuongIBM commented on #229
Hi all this was a bug on my end with configuring my personal Kubernetes cluster. For anyone that might find this: https://cloud.ibm.com/docs/infrastructure/vlans?topic=vlans-vlan-spanning Might help if you are on IBM Kubernetes Service.

[2019-09-23 16:54] #229 closed

[2019-09-23 17:00] lkysow commented on #229
For future readers what did you have to do for vlan spanning to stop getting this error?

[2019-09-23 17:27] ALuongIBM commented on #229
There is a toggle in IBM Cloud to enable VLAN spanning under Classic Infrastructure > Network > VLAN, flip `VLAN Spanning` to `On`, hope that helps @lkysow and apologies as I know this is not specifically related to Consul at all :D

[2019-09-23 17:29] lkysow commented on #229
No worries thanks for letting the next person know!

[2019-09-24 18:47] lkysow commented on #230
Yes you're correct, however you shouldn't be using Consul DNS to resolve anything that isn't a Consul registered service. So in your case of using RDS, there's no need to use Consul to resolve that hostname since it's not a Consul service.

Maybe I'm missing something though. Can you help me understand why you want to use Consul DNS in this case? Thanks!

[2019-09-25 18:18] infa-bsurber opened #234 "Idempotent bootstrapACLs job"
Currently when the bootstrapACLs post-install job re-runs it fails.
This re-run can be triggered in various ways such as chart bugs like #227, job bugs like #186, or temporary issues with Consul.

In the cases of a re-run, if possible, the job should determine that the consul has already had its ACLs enabled and its bootstrap token stored in a K8s secret. If so, the job can skip the initial bootst

[2019-09-25 20:52] lkysow commented on #234
Thanks for the issue. I think this is a duplicate of https://github.com/hashicorp/consul-k8s/issues/138. The primary change will be done in the consul-k8s project so I think it makes more sense to track it there.

[2019-09-25 20:53] infa-bsurber commented on #234
oh, we even use the same terminology, oops, thanks

[2019-09-25 20:53] #234 closed

[2019-09-25 20:54] lkysow commented on #234
Great minds! 😉

[2019-09-26 09:07] kri5 opened #235 "Support for annotations on ServiceAccounts"
In order to be able to use feature such as [GKE Workload Identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity), it would be great to allow user to specify annotations for the various services accounts supported by this chart.

One use case would be, you want to deploy the clients on k8s, to out-of-cluster servers, using cloud auto-join discovery (gce here), and you ne

[2019-09-26 10:26] prendi commented on #230
hum I see, I was actually trying to use consul to resolve all DNS requests (inside and outside the cluster) hoping that the caching would help us with some DNS problems we are having. Is this not a valid use case?

[2019-09-26 13:09] siddharthsethi11 opened #237 "pod has unbound immediate persistentvolumeclaims"
Hi I am trying to run consul on Kubernetes using the repo. I get the error "pod has unbound immediate persistentvolumeclaims ".  The server pods don't start up.

Thanks and Regards
Siddharth

[2019-09-26 15:08] ALuongIBM commented on #237
Hey @siddharthsethi11 I started to get this issue as well, are you deploying on a multinode kubernetes environment and which is your cloud provider? If possible you might want to toggle with setting the `podAffinity` to `null`.

[2019-09-26 15:18] ALuongIBM commented on #237
@siddharthsethi11 Do your pods show these events?
https://github.com/hashicorp/consul-helm/issues/229

[2019-09-26 16:47] filintod commented on #232
I had this problem, and one issue to use it without Helm is that some parts, like server ACL init, do require the usage of helm hooks to execute after installation if you want to use the ACL parts.  What I have done is partition this to execute everything but the server-acl-init-job, that is only created when an extra variable is added, in my case I called it bootstarpACLsInit.

[2019-09-26 18:29] lkysow commented on #230
Actually I'm incorrect. Consul can be configured to resolve queries outside of its domain via the `-recursors` flag (see https://www.consul.io/docs/agent/options.html#recursors). Sorry for the confusion.

When you were testing did you set this flag?

Regarding caching, according to [the docs](https://www.consul.io/docs/agent/options.html#dns_use_cache):

We don't perform caching for external queri

[2019-10-01 12:01] HeshamAboElMagd commented on #237
I would suggest creating PV manually before your deploy the helm chart with the ClaimRef inside , referring to to the PVC created for consul . perhaps it is ugly but I guess that should fix it.

[2019-10-01 20:47] ALuongIBM commented on #237
@HeshamAboElMagd Do you mind elaborating on how to do that?

[2019-10-02 09:01] HeshamAboElMagd commented on #237
create PV like the one below and then when you deploy the chart , it will find the PV to attach(bound) the PVC to , thus you wouldn't get the unbound error

`apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-consul-pv0
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Recycle
  cla

[2019-10-02 09:33] tongpu commented on #32
With [chartmuseum](https://github.com/helm/chartmuseum) it should be pretty easy to host you own chart repository. I've created one locally for myself and it works without issues.

Additionally there's been a very good talk at Helm Summit Europe how one can abuse GitHub Pages to host your own chart repository.

[2019-10-02 12:56] HeshamAboElMagd commented on #169
@lkysow I need to have this issue reopen . I still getting readiness probe failed on the server and the client:
sever:
Controlled By:  StatefulSet/consul-consul-server
Containers:
  consul:
    Container ID:  docker://a30ee732808461baae47884154aa981e7d572570d67ab5583c502103a103fa6b
    Image:         consul:1.6.0
    Image ID:      docker-pullable://consul@sha256:63e1a07260418ba05be08b6dc53f4a3bb9

[2019-10-02 12:58] HeshamAboElMagd commented on #169
consul : image: "consul:1.6.0"
imageK8S: "hashicorp/consul-k8s:0.9.1"

[2019-10-02 13:00] HeshamAboElMagd commented on #169
I hadn't customize anything with the values.yaml file except , I only manually created PV and changed the value of storageClassName .
helm inspect output:

apiVersion: v1
description: Install and configure Consul on Kubernetes.
home: https://www.consul.io
name: consul
sources:
- https://github.com/hashicorp/consul
- https://github.com/hashicorp/consul-helm
- https://github.com/hashicorp/consul-k8s

[2019-10-02 14:10] blhagadorn commented on #237
Intersting @HeshamAboElMagd, have you played around with `volumeBindingMode: WaitForFirstConsumer` in the storage class? I found my cloud provider was using `Immediate` instead of `WaitForFirstConsumer`.

[2019-10-03 14:28] tongpu opened #238 "Reconsider global variables in values.yaml"
Because of the way global variables are implemented in this and the vault chart it is currently impossible to configure the consul chart as a dependency/subchart of the vault chart, because `global.image` with the value `vault:1.2.2` from the vault chart will also be rendered in the consul templates, because it too uses `global.image` for the configuration of the image version.

It is not recommen

[2019-10-03 17:06] prendi commented on #230
@lkysow Sorry for the (very) delayed response. I guess we will give it a try and see if it helps! I'm closing this for now as it doesn't seem to be an issue, just a misconfiguration.

[2019-10-03 17:06] #230 closed

[2019-10-04 15:13] msidd111 opened #240 "Consul pods will not turn on after restarting all of Kubernetse(EKS) nodes"
One of resilience use case for consul that I tested was to restart all of nodes of Kubernetes cluster. Aws EKS will restart all nodes fine but one of consul node will stuck in pending state and other two will stay in not ready state so all of consul nodes becomes unavilable.

Here is events logs of pod with pending state.
[code]

Here is full log of pod with pending state
[code]

Logs for other po

[2019-10-07 17:01] lkysow commented on #186
Closed by https://github.com/hashicorp/consul-k8s/pull/143, available in `consul-helm` `v0.10.0`

[2019-10-07 17:01] #186 closed

[2019-10-08 00:03] lkysow opened #241 "Add ability to reference previously created PersistentVolumeClaims for servers"
If PVCs have already been created, add ability to reference them for Consul servers

[2019-10-08 01:06] lkysow commented on #241
After looking into this further, all PVCs must follow a strict convention:
`<prefix>-<release name>-consul-server-<ordinal>`, e.g. `data-default-myrelease-consul-server-0`. If the PVCs are created beforehand with the right names, then the Statefulset will use them.

Our <prefix> is currently hardcoded to `data-<kube namespace>`.

[2019-10-08 01:06] #241 closed

[2019-10-08 18:15] stvdilln opened #242 "Error with Connect-Inject when ACLs enabled."
I am able to create a Consul Cluster and Agents on an AKS cluster.
[code]
I start my test server container as:
[code]
I then launch the test service, and the init container fails:
[code]
Inside the Init Container it looks like this line is failing:
[code]
/var/run/secrets/kubernetes.io/serviceaccount/token has a long encoded string in it.

Logs from the acl-init container are scarce, but ACLs are

[2019-10-08 20:40] msidd111 opened #243 "Pods goes in pending state due to podAntiAffinity rules"
I have three nodes cluster on aws eks when I restart nodes pods will stay in pending state due to podAntiAffinity rules.

[2019-10-09 15:39] lkysow commented on #242
Hi Steve,
Are you using the latest consul-helm chart (v0.10.0) with the latest version of consul-k8s (v0.9.2)? We fixed a lot of issues with ACL bootstrapping in the latest release.

FYI, there are still some bugs with it (around upgrading) that we're hoping to fix in the coming days.

[2019-10-09 15:57] lkysow commented on #237
@siddharthsethi11 what platform are you running Kubernetes on, e.g. EKS, GKE, your own, etc.
Can you run a `kubectl get pvc` and `kubectl get pv` and a `kubectl describe` on the pvcs and pvs?

In the end you're going to need to debug why the PVCs aren't creating volumes.

[2019-10-09 16:00] lkysow commented on #238
Hi Lukas,
Thanks for the issue. This is unfortunate that helm treats that variable differently. I'm guessing we didn't know that at the time.

I can look at what it would take to use a different name and keep backwards compatibility.

[2019-10-09 17:00] stvdilln commented on #242
I was on consul-helm chart  v0.10.0, consul-k8s v0.9.1 and consul 1.6.0.  I updated to consul-k8s to v0.9.2 and consul to 1.6.1.
Unfortunately this did not clear up the issue.
I then tested with a fresh values.yaml, just updating consul to 1.6.1, enabling bootstrap acls and enabling connect-inject and am still having the issue.

[2019-10-10 14:36] helioaymoto opened #245 "Health check fail"
Hi,
I have successfully deployed consul on kubernet following the instructions.
I have deployed an application which is registering in Consul and I can confirm checking consul UI, but Consul is actually failing to run the health check.
From the UI I can see the URL which consul is calling for health check, but it seems Consul cannot reach the POD/Service where the application is running...
[code]

[2019-10-10 18:26] helioaymoto commented on #245
I have done a workaround in my application which is a java springboot application... I have configured:

[code]
so the application is going to register in consul using IP address instead of hostname... in this way, the consul health check is working fine.
If someone knows what the issue using hostname on this setup then let me know, otherwise I can close this as this solution should be acceptable

[2019-10-11 18:51] lkysow commented on #43
@jipperinbham we are running with `hostPort: 8500` so hostNetwork should not be required
https://github.com/hashicorp/consul-helm/blob/24d3115a2f04e8b5058f43b1d67afe6eff20df19/templates/client-daemonset.yaml#L156

[2019-10-11 19:08] lkysow commented on #43
@ptariche I just tested this chart with Digital Ocean and the sync deployment could reach the local consul agent using its hostPort. Maybe something has changed on DO's side?

[2019-10-11 19:10] lkysow commented on #43
@popopanda from my testing, this should be working. Since this ticket is 1 year old, it's likely things have changed. It's totally our fault that this has sat here for so long but I'm going to close it now.

If folks are still having issues with the sync catalog pod not being able to talk to the local consul agent please open a new issue.

[2019-10-11 19:10] #43 closed

[2019-10-15 19:16] #164 closed

[2019-10-15 19:18] lkysow commented on #222
We're going to close this for now since we don't think it's a bug however if we're wrong please respond and we can re-open.

[2019-10-15 19:18] #222 closed

[2019-10-15 21:14] msidd111 commented on #243
Kubectl get pods will show the pending state.

kubectl describe pod <server pod> will show the following

Events:
  Type     Reason            Age                 From               Message
  ----     ------            ----                ----               -------
  Warning  FailedScheduling  37m (x2 over 37m)   default-scheduler  0/2 nodes are available: 1 node(s) didn't match pod affinity/anti-

[2019-10-15 21:22] lkysow commented on #243
Thanks. So to reproduce I create an EKS cluster, run `helm install`, then restart the nodes from the AWS Console?

Have you overridden any of the values.yaml settings with your ow?

[2019-10-15 21:25] tongpu commented on #243
I have the feeling that the node might have been tainted because of issues with disconnecting an EBS volume from the node.

[2019-10-15 21:56] lkysow commented on #243
Hey Lukas, I'm not super familiar with EKS. How might that occur?

[2019-10-15 22:17] tongpu commented on #243
It's not specific to EKS but a generic Kubernetes issue (see kubernetes/kubernetes#53059 for other examples). I remember that if the attachment/detachment takes too long the volume attachment controller taints the node so that no further pods can be scheduled on that node and that could be the case here.

[2019-10-15 22:58] lkysow commented on #148
Hi Craig,
I'm going to close for now but if it's still a bug please comment and I'll re-open.

[2019-10-15 22:58] #148 closed

[2019-10-15 23:17] lkysow commented on #72
I'm guessing this is because the consul agent pod was restarted. It stores its data in a volume that gets deleted when the agent pod restarts. Thus the service would need to be re-registered.

Instead of registering manually, we recommend you use the [service sync](https://www.consul.io/docs/platform/k8s/service-sync.html) feature.

If you must register manually, you could use a hostPath mount (on

[2019-10-15 23:17] #72 closed

[2019-10-15 23:22] lkysow commented on #245
Hi @helioaymoto,
Kubernetes DNS can't be used to resolve pod names. From any other Pod, you can't use the pod name (e.g. `curl resttocorba-85b988b999-fqc6d`), instead you need to use the Pod IP.

It only seems like it's working inside your `resttocorba-85b988b999-fqc6d` Pod because there's an `/etc/hosts` entry that maps the pod name (and hostname) to the Pod IP:
[code]

[2019-10-15 23:29] lkysow commented on #168
I think this is about if the service is registered with Consul through the agent API, when the agent gets restarted it will lose its data and any health check. This can either be solved by https://github.com/hashicorp/consul-helm/pull/233 or by using the service sync feature when health checks are supported (they are not currently).

[2019-10-15 23:31] lkysow opened #251 "Readiness probe failing due to no cluster leader"
@lkysow I need to have this issue reopen . I still getting readiness probe failed on the server and the client:
sever:
Controlled By:  StatefulSet/consul-consul-server
Containers:
  consul:
    Container ID:  docker://a30ee732808461baae47884154aa981e7d572570d67ab5583c502103a103fa6b
    Image:         consul:1.6.0
    Image ID:      docker-pullable://consul@sha256:63e1a07260418ba05be08b6dc53f4a3bb9

[2019-10-15 23:32] lkysow commented on #169
@HeshamAboElMagd I've moved your question to #251 since it's not the exact same as the original issue.

[2019-10-15 23:32] #169 closed

[2019-10-15 23:33] lkysow commented on #251
@HeshamAboElMagd the readiness probes are failing because Consul can't elect a leader.
What are the outputs of `kubectl get pods|grep consul` and what are the logs of each consul-server Pod?

[2019-10-15 23:34] lkysow commented on #218
I'm going to close this because I think the original question is answered.

[2019-10-15 23:34] #218 closed

[2019-10-15 23:45] lkysow commented on #220
@yohandion Unfortunately you can't expose your Consul servers to external Consul client agents via an HTTP ingress. Consul agents need to talk to *each* server over TCP on ports 8300 and 8301 (https://www.consul.io/docs/install/ports.html).

There isn't support for this in the helm chart right now unfortunately.

[2019-10-15 23:56] #227 closed

[2019-10-16 09:20] HeshamAboElMagd commented on #251
@lkysow Thanks . Please find the below :

`k get pod | grep consul
consul-consul-hsqw9         0/1     Running   0          43s
consul-consul-server-0      0/1     Running   0          43s
consul-consul-server-1      0/1     Running   0          42s
consul-consul-server-2      0/1     Pending   0          42s
consul-consul-xh5bs         0/1     Running   0          43s`

Logs below:
`k logs -f con

[2019-10-16 10:42] Yukeshraja opened #252 "Consul_Kubernetes_Installation Issue"
Hi Team,

I have a Kubernetes 3Node cluster with rook as a storage class (Default). I tried to install the consul in kubernetes facing below issues.

I added rook as storage class in the volume.yaml but still the issue persists.
![image](https://user-images.githubusercontent.com/15683376/66912160-ad1d0480-f02f-11e9-9f73-c9a9eec9d1b5.png)

Running a fresh installation using bootstrapACLs is running

[2019-10-16 11:42] botzill commented on #88
Hi.

Any updates  on this issues?

[2019-10-16 11:44] helioaymoto commented on #245
Hi @lkysow ,
Ok, so I think the solution is really to make the application to register into Consul using the IP address, so Consul won't have issue to run the health check.
I got this working making this change in my springboot application configuration.
Thanks for your support.
Best regards.

[2019-10-16 11:44] #245 closed

[2019-10-16 14:27] stvdilln commented on #90
I am using the consul-helm chart to apply ONLY the client to a k8s cluster.  The Servers are running on stand alone VMs, I’m just trying to add one consul client per k8s node.  I cannot get bi-directional traffic flowing: I can get the new consul clients to register and join the cluster, but the cluster cannot talk back to the new consul clients.

My Existing Consul Clusters are 3 VMs at 10.0.0.4,

[2019-10-16 16:08] lkysow commented on #245
Yes that will work. Just so you know, we recommend using the Service Sync instead of manually registering Pods yourself via the API. There are a couple of issues with manually registering services:
1. If your Consul Client agent restarts, it will lose its list of registrations unless you can use something like https://github.com/hashicorp/consul-helm/pull/233
1. When your Pod stops running, it nee

[2019-10-16 16:12] lkysow commented on #252
Hi @Yukeshraja,
The consul-server-acl-init Job needs the Consul servers to elect a leader before it can succeed. What does the output of `kubectl get pod | grep consul` say? I would look at the logs for the Consul servers and see if they're running and have elected a leader successfully. Also can you show us the logs for the `server-acl-init` Job?

Finally, the latest version of this chart (v0.11.

[2019-10-16 17:01] lkysow commented on #90
Hi Everyone,
Using external servers is not well supported in the helm chart right now. You have to make some manual patches to the chart and I haven't had a chance to test this out so there may be other issues:

1. You'll need to ensure that the Consul Clients in the daemonset are registering with the Node IP rather than the Pod IP and you'll need each Kube node to be routable from your Consul ser

[2019-10-16 17:08] lkysow commented on #227
The latest version of this chart (v0.11.0) and the latest version of consul-k8s have resolved these issues. There are a lot more smarts in the consul-k8s code for handling existing secrets.

[2019-10-16 17:22] stvdilln commented on #90
I have it working (for me at least).  --advertise set to HOST_IP and 8301 and 8302 set to hostport.  Nodes are joining and staying connected.  I can run the tests and do a PR if you would like.

[2019-10-16 17:46] lkysow commented on #90
Nice! Yeah that would be great.

[2019-10-16 17:55] lkysow commented on #96
I think this is the same as #90. [This comment](https://github.com/hashicorp/consul-helm/issues/90#issuecomment-542797609) is a good response to this too so I'm going to close since it's tracked in the other issue.

[2019-10-16 17:55] #96 closed

[2019-10-16 18:07] lkysow opened #253 "Support External Consul Servers"
Support exposing Consul clients running in Kube to Consul servers running outside of Kube

[2019-10-16 19:19] lkysow commented on #168
I'm going to close this because syncing health checks is tracked by https://github.com/hashicorp/consul-k8s/issues/29 and losing the data is tracked by #233

[2019-10-16 19:19] #168 closed

[2019-10-16 19:20] lkysow commented on #220
Exposing Consul agents to external servers will be tracked by https://github.com/hashicorp/consul-helm/issues/253 so I'll close this ticket for now.

[2019-10-16 19:20] #220 closed

[2019-10-16 19:23] lkysow commented on #90
I'm going to track this in https://github.com/hashicorp/consul-helm/issues/253 so please use that issue, thanks!

[2019-10-16 19:23] #90 closed

[2019-10-16 19:26] lkysow commented on #183
Closed by #250

[2019-10-16 19:26] #183 closed

[2019-10-16 23:58] lkysow commented on #85
Hi Roman,
Sorry we never got back to you on this and thanks for the very detailed question. I'm going to re-open this because we answer this.

[2019-10-17 14:07] stvdilln commented on #253
I'm working on the PR doing some final testing.  I would like to fix as many scenarios as possible.

Do you see any flaws to this:
If we are only installing client (and not server) then client 8301,8302 are going to listen on NodePorts and can communicate with external server.

If we are only installing the server then 8300,8310,8302 are going to listen on NodePorts and this exposes the server clu

[2019-10-17 17:01] lkysow commented on #253
We're interested only in the client to external server right now. We need to think more about the other cases.

Notes:
1. We don't want the clients listening on host ports (other than 8500 and 8502) by default, this should be optional
1. It should be a separate PR for exposing the servers. There's already some work done in https://github.com/hashicorp/consul-helm/pull/27.
1. If installing both cli

[2019-10-17 20:06] msidd111 commented on #243
The issue with affinity rules. It works after I removed affinity rules.

[2019-10-17 20:34] stvdilln commented on #253
I had started the work on doing an external server and it got messy quick so I abandoned that.  The possibilty of Client, or Server or Both running on same node quickly exploded the complexity.

I've submitted a PR that if you are not installing the server also, ports 8301 and 8302 are exposed via hostPorts so that the external consul cluster can connect to the k8s based clients.  Before this ther

[2019-10-17 20:39] msidd111 opened #257 "Backing and Restoring Consul Snapshot on S3 from Kubernetes"
Can someone provide a instructions creating backup on S3 when Consul is hosted on K8s.

[2019-10-17 20:51] lkysow commented on #243
@msidd111 thanks for the response. How did the Pods get scheduled there in the first place?
If you have 3 nodes and are using the default affinity rules:
[code]

Then there should be no problem scheduling the 3 pods to the 3 nodes.

[2019-10-17 21:11] lkysow opened #258 "helm test fails when ACLs enabled"
[code]

[code]

[2019-10-17 23:56] lkysow commented on #213
Hi @ljmsc and @evanluc what are your outputs of `helm version` and `kubectl version`? I can't repro this myself (on versions v2.14.2 and 1.13.1 respectively).

[2019-10-18 14:04] msidd111 commented on #243
That is confusing how that it was scheduled at first but when I reboot all of EKS cluster nodes the pods will go in pending state with below affinity/anti-affinity warning. As mentioned earlier, I removed affinity rules and rebooted several times it works except pods are not evenly distributed on all nodes.
Can you try this use cases on Aws Eks and see if you can reproduce.  Thanks, A.

 FailedSch

[2019-10-18 15:24] helioaymoto commented on #245
Hi @lkysow,
thanks for pointing issue (1).
So, regarding Service Sync.... are you commenting about: https://www.consul.io/docs/platform/k8s/service-sync.html ?
Just reading and figuring out how it works.
Thanks for all your support.

[2019-10-18 16:07] lkysow commented on #245
Yep, that's what I was talking about!

[2019-10-18 16:10] lkysow commented on #243
Can you list the taints for each of your nodes? I'm wondering about this line:

[code]

You can see the taints by running `kubectl describe node <node name> | grep Taint`.

I'll try to repro on EKS myself but that will take a bit longer.

[2019-10-18 18:33] lkysow commented on #242
Hi Steve,
I think I've figured out what's happening.

I'm guessing that your app is using the `default` ServiceAccount?
[code]

By default, when the helm chart sets up the [Auth Method](https://www.consul.io/docs/acl/auth-methods/kubernetes.html) it uses the following [binding rule selector](https://www.consul.io/docs/acl/acl-auth-methods.html#binding-rules):
https://github.com/hashicorp/consul-he

[2019-10-18 18:49] stvdilln commented on #242
I'll spin up a test k8s cluster and give it a try.  Now that I have external consul servers working, my need to for bootstrapACLs has gone away, but willing to investigate the issue.

[2019-10-18 21:29] stvdilln commented on #242
Thanks, I don't know how you guessed that, but the service will now register with consul without the 403 error.

I am still having an issue though.  The client cannot talk to the helloworld-sbd demo service.  The
client yaml file:
[code]
Getting a shell into the client:
[code]
Port 19000 is an Envoy administration page.
I have declared no intentions in consul, which might be the issue.  Any Ideas?

[2019-10-18 21:36] lkysow commented on #242
Can you take some screenshots of the consul UI? I need to see the upstream config of the client and the proxies health

[2019-10-21 09:50] faheem-nadeem opened #262 "Support monitoring through prometheus operator"
Hi,

It would be awesome if support for Prometheus operator can be integrated for collecting metrics.

Support can be added using a simple ServiceMonitor or PodMonitor crd.

**API Reference:**
https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#servicemonitor

**Example:**
https://github.com/coreos/prometheus-operator/blob/master/example/user-guides/getting-started/examp

[2019-10-21 12:39] mekza commented on #253
@stvdilln Could you add a reference to your PR in this issue or a reference to this issue in your PR. It's going to be easier to keep track. Many thanks :)

[2019-10-21 20:49] stvdilln commented on #242
It's time to open the beer!
[code]
So on Friday I did as you had asked, and my demonstration containers got past init, but were just getting connection reset when the client hit the proxy sidecar.  Looking at the GUI the services hadn't registered.  I debugged side-car init scripts and bunch of stuff today, but eventually in frustration I nuked the k8s cluster and rebuilt.
I don't know what change

[2019-10-21 23:22] stvdilln commented on #242
I wrote this thread and what I learned up as a demo repository.  Anybody that got here by google can see what all I did to make this work.  Suggestions welcome.  Currently just tested with Azure/AKS but will try to do AWS/EKS soon.
https://github.com/stvdilln/consul-inject-demo

[2019-10-22 14:01] HeshamAboElMagd commented on #251
< Events:
  Type     Reason            Age                     From               Message
  ----     ------            ----                    ----               -------
  Warning  FailedScheduling  76s (x5750 over 5d23h)  default-scheduler  0/3 nodes are available: 1 node(s) had taints that the pod didn't tolerate, 2 node(s) didn't match pod affinity/anti-affinity, 2 node(s) didn't satisfy existi

[2019-10-22 14:02] HeshamAboElMagd commented on #251
`Warning  FailedScheduling  6s (x5978 over 6d4h)  default-scheduler  0/3 nodes are available: 1 node(s) had taints that the pod didn't tolerate, 2 node(s) didn't match pod affinity/anti-affinity, 2 node(s) didn't satisfy existing pods anti-affinity rules.`

[2019-10-22 21:00] tsturzl opened #264 "Consul members unable to elect a leader"
Basically what I'm seeing is all of the consul pods in the statefulset are running, but their readiness probes never succeed because the consul peers never elect a leader. I had previously had a cluster up and running, but removed it since it wasn't needed immediately. This was about 3 days ago. I deleted the PVC's from the stateful set after purging through helm, and when I recreated I'm unable t

[2019-10-22 22:20] tsturzl commented on #264
I manually got all of the consul peers to join eachother by invoking `consul join <podIP>`, to get 2 of the nodes to join one. If I delete a pod and let it come back it gets stuck in again not being able to find it's peers. Because of this behavior this is not a suitable solution. It seems as though my peers have trouble finding each other. I'm not exactly sure how the peers find each other, I'm n

[2019-10-23 01:18] s3than opened #265 "PodDisruptionBudget calculation is not working"
As per #71 the latest version of helm https://github.com/helm/helm/releases/tag/v2.15.0 includes the following `Updated Sprig to 2.20.0`

This causes the previous fix to pod disruption budget to return -1 now on a new installation.

Updating the _helpers.tpl to the following resolves however if you run it in helm < 2.15.0 it's broken again..

I'll hopefully have a fix shortly that works in both an

[2019-10-23 02:26] s3than commented on #264
I'm seeing the same issue now k8s version 1.14.8

[2019-10-23 02:34] s3than commented on #264
@tsturzl Can you advise what Helm version you are using?

I've found that the following section isn't being added to the statefulset with helm v2.15.0

[code]

[2019-10-23 02:40] tsturzl commented on #264
@s3than great find. This would explain the issue for me likely as well as I've recently upgraded helm and thats the only thing that I can think of that would be different from a few days prior when I wasn't having this issue. Seems like it could be a simple thing to fix. I can make some changes locally and submit a PR when I can verify it working, unless you'd rather address the issue.

[2019-10-23 02:41] tsturzl commented on #264
This is likely the issue, I'm using helm 2.15.0. Would you recommend downgrading for the time being?

[2019-10-23 03:50] s3than commented on #264
The fix for 2.15.0 is to quote the number in the values file

[code]

I'm not sure what impact that has on people who are still on 2.14.x though

I've looked through the current unit test cases and see that it doesn't include anything about replica set counts.

I can look at adding a PR for adding the tests and updating the values

[2019-10-23 03:50] s3than commented on #265
Resolution is same as #264

[2019-10-23 03:50] s3than commented on #264
Resolution is same as #265

[2019-10-23 05:01] s3than commented on #251
@HeshamAboElMagd @lkysow This may be related to issues #264 #265 the easiest way to check is to output the server to yaml and confirm if the retry-join is in the command for the containers. I have a PR #266 to resolve if that is the case.

[2019-10-23 08:34] HeshamAboElMagd commented on #251
Hi @s3than . I did changed the values.yaml file .. makes the values of replicas of server and updatePartition to string , still unfortunately facing the readiness problem

`Events:
  Type     Reason     Age                   From                    Message
  ----     ------     ----                  ----                    -------
  Normal   Scheduled  5m49s                 default-scheduler

[2019-10-23 10:27] s3than commented on #251
What environment are you running your cluster in?

I noticed this

Are you running it in minikube?

[2019-10-23 10:39] HeshamAboElMagd commented on #251
That comment from me was related to this closed issue : [ #169 ](https://github.com/hashicorp/consul-helm/issues/169)
My cluster is one master , two worker nodes running on : Ubuntu 18.04.3 LTS, with kubernetes v1.15.3

[2019-10-23 12:50] HeshamAboElMagd commented on #251
@lkysow I was mistaken for having 3 replica of the consul server , although I have one two worker.. now I have two servers :

k get pod | grep consul
consul-consul-k55j9         1/1     Running   0          5m9s
consul-consul-sbct2         1/1     Running   0          5m9s
consul-consul-server-0      1/1     Running   0          5m9s
consul-consul-server-1      1/1     Running   0          5m9s

T

[2019-10-23 12:51] HeshamAboElMagd commented on #251
logs :
`bootstrap_expect = 2: A cluster with 2 servers will provide no failure tolerance. See https://www.consul.io/docs/internals/consensus.html#deployment-table
bootstrap_expect > 0: expecting 2 servers
==> Starting Consul agent...
           Version: 'v1.6.0'
           Node ID: '1e4dc9a2-e459-17d9-c321-02a065c170d2'
         Node name: 'consul-consul-server-1'
        Datacenter: 'dc1' (Segmen

[2019-10-23 15:22] tsturzl commented on #264
@s3than I appreciate your quick response. I'll try your solution this morning and see what I come back with. Does your PR #266 fix this issue?

[2019-10-23 15:35] tsturzl commented on #264
I actually took @filintod advice in your PR and upgraded helm to 2.5.1 which fixed my issue. This seems to be an issue with helm.

[2019-10-23 15:35] #264 closed

[2019-10-23 19:11] lkysow commented on #265
Yeah looks like helm has reverted this change in their latest release (v2.15.1): https://github.com/helm/helm/releases/tag/v2.15.1

I don't think there's a good workaround on our side other than asking users to update Helm.

[2019-10-23 19:12] lkysow commented on #264
Nice! Yeah I think that's the best solution.

[2019-10-23 19:17] lkysow commented on #242
Great work Steve. We need to add a section to our docs about working with Connect when ACLs are enabled. We have https://github.com/hashicorp/consul-helm/issues/202 to track some documentation changes so maybe we can do it as a part of that.

I'll close this for now since I think we're good?

[2019-10-23 19:17] #242 closed

[2019-10-23 19:46] s3than commented on #251
I'll configure a cluster with 1 master and 2 workers and get back to you.

[2019-10-24 00:36] s3than commented on #265
Updated pull request to just include tests, happy to close as resolved when using 2.15.1 of helm

[2019-10-24 00:36] #265 closed

[2019-10-24 14:30] sylvainOL opened #269 "Cannot use `envoy_tracing_json`within `proxyDefaults`"
#### Overview of the Issue

I'm not able to use `envoy_tracing_json` or `envoy_tracing_json` within `proxyDefaults`.

#### Reproduction Steps

1. use consul-helm with the following values:
[code]

1. Create a deployment
1. View error:

[code]

I've tried:

[code]

[code]

[code]

but none of them worked (some crash consul server pod, some crash the sidecar...)

### Consul info for both Client and

[2019-10-24 18:53] errygg opened #270 "Add `imagePullSecrets` to DaemonSets"
Can the helm chart be expanded to enable `imagePullSecrets` for any required image pulls from a private repository? In order to pull images from a private repo today we have to export the template and manually add `imagePullSecrets` prior to each container stanza which is not ideal.

[2019-10-25 00:28] lkysow opened #271 "Make `-acl-auth-method ` configurable"
See https://github.com/hashicorp/consul-k8s/issues/131, when using external Consul servers and configuring ACLs yourself, we need to make the `-acl-auth-method` flag configurable so users can set it to whichever auth method name they create:

https://github.com/hashicorp/consul-helm/blob/master/templates/connect-inject-deployment.yaml#L55-L57

[2019-10-25 00:34] lkysow commented on #251
@HeshamAboElMagd are you still having problems then? Looks like the server are up?

[2019-10-25 10:28] HeshamAboElMagd commented on #251
Yes , now the server are up and the UI service can be accessible , and I had integrated vault successfully  . I believe this issue can be closed
Thanks for the help @lkysow  @s3than

[2019-10-25 16:30] lkysow opened #272 "Mesh gateway should use 0.0.0.0 as bind address"
Should add
[code]

to mesh-gateway command.

[2019-10-25 16:31] lkysow commented on #272
@nicholasjackson is `default` the correct listener name?

[2019-10-25 16:32] nicholasjackson commented on #272
yes, that is the right listener

[2019-10-28 17:16] jeromebaude opened #273 "Consul Agent not setting -retry-join"
For some reasons, the client-daemonset.yaml didn't launch consul with the -retry-join

When looking more closely, the following range action was not working as expected:

Although server.replicas = 1, the following action didn't create the -retry-join

{{- range $index := until (.Values.server.replicas | int) }}
-retry-join=${CONSUL_FULLNAME}-server-{{ $index }}.${CONSUL_FULLNAME}-server.${NAMESPA

[2019-10-28 17:25] lkysow commented on #273
Hi @jeromebaude you need to upgrade to helm 2.15.1. There's a bug in helm 2.15.0.

Release notes: https://github.com/helm/helm/releases/tag/v2.15.1
Related: https://github.com/hashicorp/consul-helm/issues/264, https://github.com/hashicorp/consul-helm/issues/265.

[2019-10-28 17:25] #273 closed

[2019-10-28 17:26] #202 closed

[2019-10-28 17:32] #213 closed

[2019-10-28 17:33] lkysow commented on #251
Awesome! 🎉

[2019-10-28 17:33] #251 closed

[2019-10-28 17:33] lkysow commented on #237
I'm going to close this for now since we haven't heard back but feel free to comment and I can reopen.

[2019-10-28 17:33] #237 closed

[2019-10-28 20:31] infa-bsurber opened #274 "StatefulSet partition value update doesn't force server redeployment so it shouldn't block acl bootstrapper job"
I like the work that's been done on the bootstrap-acls job but I'm running into one quirk.
When the partition value of the statefulset is upgraded but nothing else in the pod spec, the servers do not redeploy.

This perceived difference in the partition value causes the acl-init job to get stuck indefinitely with the following repeating message:
[code]
In my opinion, the partition value shouldn't

[2019-10-29 16:44] lkysow commented on #276
Hi Sean,
You can't set `connectInject.namespaceSelector` to just a string. It's actually expecting an object that's set via a YAML string.
See these docs for some valid namespaceSelectors:
https://kubernetes.io/docs/reference/access-authn-authz/extensible-admission-controllers/#matching-requests-namespaceselector

For example if you wanted
[code]

Then you'd need to set in your own `values.yaml` f

[2019-10-29 20:17] lkysow commented on #240
I think this is a duplicate of https://github.com/hashicorp/consul-helm/issues/243

[2019-10-29 20:17] #240 closed

[2019-10-29 20:17] lkysow commented on #228
This is done now.

[2019-10-29 20:17] #228 closed

[2019-10-29 20:23] lkysow commented on #23
Currently you need your Pod IPs to be routable from wherever else you're running your Consul agents.

[2019-10-30 08:18] acarsercan opened #277 "Unable to perform helm upgrade"
Hi,

I'm trying to perform helm upgrade for an existing consul deployment but fails

[code]

[code]

Any ideas?

[2019-10-30 16:44] lkysow commented on #277
Hi @acarsercan,
It looks like you're using the Helm chart from https://github.com/helm/charts/tree/master/stable/consul, not this helm chart. They're actually managed separately. I can tell because we don't have a value called `uiService`.

You won't be able to upgrade to this chart from that one unfortunately. But you should be able to upgrade that one. If you're having issues with that chart, yo

[2019-10-31 08:16] acarsercan commented on #277
Hi

Thank you for the reply

I did the following:

[code]

[2019-10-31 08:35] #277 closed

[2019-10-31 14:13] TylerReid commented on #253
@stvdilln I have been using this change in a test environment and it is working for me. Thanks for the PR! I was going to need to fork and do this myself. My setup is EKS nodes connecting to servers managed by https://github.com/hashicorp/terraform-aws-consul using cloud auto join.

[2019-10-31 21:43] lkysow commented on #131
Hi @webliupeng I'll try to answer your questions one by one.

There should be services synced into Consul from Kubernetes:
![image](https://user-images.githubusercontent.com/1034429/67987682-441abc80-fbeb-11e9-9c27-7af233bd46c3.png)

They don't have any health checks so they shouldn't be unhealthy. Can you explain what you mean by this?

The sync works differently than the way services are usually

[2019-10-31 21:47] lkysow commented on #131
I'm going to close this as a duplicate of https://github.com/hashicorp/consul-k8s/issues/29 where we'll be tracking the ability to add health checks to synced services.

If you have any more questions let us know. Thanks!

[2019-10-31 21:47] #131 closed

[2019-10-31 22:06] lkysow commented on #85
You are correct that it's not possible to do multi-DC right now unless you are able to route to Pod IPs (for example using Alias IPs in GKE). We do intend to make this possible, either by Consul itself implementing https://github.com/hashicorp/consul/issues/6356 (multi-DC through mesh gateways) or by mapping ports and advertising the node IPs on the WAN.

In addition, we also need to allow connect

[2019-11-01 07:35] webliupeng commented on #131
Thanks for your answer. It's very clear. @lkysow

[2019-11-02 00:15] ilhaan commented on #253
I have tested this on a bare-metal cluster and it works very well. Thanks for the PR @stvdilln!

[2019-11-04 15:22] get2arun opened #279 "Install consul-helm using helm v3.0.0-rc.2 - error failed to download"
I am trying to install consul-helm using helm v3. There is no internet connectivity in my kubernetes cluster and I can only pull images from docker private registries.

helm install using below command:
helm install --generate-name stable/consul --version 3.9.2 -n dev-poc-namespace

Expected:
To pull image from private docker registry or local docker registry and create pod.

Acutal:
It's failing

[2019-11-05 08:49] zffocussss commented on #243
I met the same issues as well
when helm upgrading,the old pods are still running,not terminating.

0/3 nodes are available: 3 node(s) didn't match pod affinity/anti-affinity, 3 node(s) didn't satisfy existing pods anti-affinity rules

[2019-11-05 23:12] get2arun commented on #279
please close this issue.

[2019-11-05 23:12] #279 closed

[2019-11-07 00:31] adilyse commented on #170
Fixed by #171 that was merged as #219.

[2019-11-07 00:31] #170 closed

[2019-11-08 13:24] kawsark opened #283 "Support OpenShift"
I am trying to deploy `consul-helm` on OpenShift but the StatefulSet and DaemonSet are not deploying. Need instructions for creating appropriate Security context on OpenShift. More details below:
**OpenShift version**
[code]
**Statefulset**
[code]
Warning  FailedCreate  3s (x959 over 7h)  statefulset-controller  create Pod consul-oc-consul-server-0 in StatefulSet consul-oc-consul-server failed err

[2019-11-11 15:17] subashd opened #284 "Consul Servers are not coming up with error "pod has unbound immediate PersistentVolumeClaims""
I have followed https://www.consul.io/docs/platform/k8s/run.html#installing-consul to install consul in my kubernetes cluster ( I have synced to master rather than to v0.1.0, but results are same with v0.1.0 as well). I am facing issues where consul servers are not coming up with error “Warning  FailedScheduling  <unknown>  default-scheduler  pod has unbound immediate PersistentVolumeClaims ” and

[2019-11-12 09:51] yacut commented on #85
Thank you for your answer. Unfortunately, you answered too late and I decided to use Istio for my purposes. Perhaps in the future I will try the solution from Consul.

[2019-11-12 09:51] #85 closed

[2019-11-12 20:33] ishustava commented on #284
Hey @subashd, thanks for submitting this issue.

It looks like you don't have a default [storage class](https://kubernetes.io/docs/concepts/storage/storage-classes/) defined in your k8s cluster. For example, here is what I have in my minikube:
[code]

To give a bit more details, the Helm chart [sets](https://github.com/hashicorp/consul-helm/blob/bb4bfa391cd04a8ac16bc4b4f0c006ffbc4d6caa/values.yaml

[2019-11-13 04:44] kawsark commented on #283
I am documenting some workarounds/remediations below for these 2 errors. These assume that consul template yaml were generated previously using helm. Below are the example commands:
[code]

**Server Statefulset**:
A security context will need to be created for consul servers that specifies MustRunAs range of 1000.
The consul server service account will need to be added to this security context. He

[2019-11-13 09:35] subashd commented on #284
@ishustava I am running on Kubernetes on Prem setup. I have created storage class and mentioned the name in the helm chart... still I am getting error  ```pod has unbound immediate PersistentVolumeClaims```

[code]

[2019-11-13 19:50] ishustava commented on #284
You might want to `kubectl describe pvc  data-default-consul-consul-server-0` to see what the error was this time. Note that if the error was `Failed to create provisioner: Provisioning in volume plugin "kubernetes.io/host-path" is disabled`, then you'd want to enable host-path provisioner for the [kube-contoller-manager](https://kubernetes.io/docs/reference/command-line-tools-reference/kube-contr

[2019-11-14 01:05] ado120 opened #285 "how to set acl.default_policy?"
In the helm chart, I've set bootstrapACLs: true. However I would like to set the default_policy to deny which would go in-line with best security practices. Setting

[code]

in server.extraConfig doesn't work and I also get this warning when doing an helm install:

Warning: Defining server extraConfig potentially disrupts the automatic ACL
         bootstrapping required settings. This may cause f

[2019-11-14 03:12] stryt2 commented on #276
Hello @lkysow,

So perhaps [this helm chart example](https://www.consul.io/docs/platform/k8s/helm.html#helm-chart-examples) is misleading then?

I got very similar error when installing using `helm install`.

[2019-11-14 05:30] ishustava commented on #285
Hi @ado120,

We already set the default deny policy for you when you set `global.bootstrapACLs` to `true` [here](https://github.com/hashicorp/consul-helm/blob/bb4bfa391cd04a8ac16bc4b4f0c006ffbc4d6caa/templates/server-config-configmap.yaml#L16-L26).

[2019-11-14 06:48] ado120 commented on #285
Thanks Iryna!

Any ideas why when I set bootstrapACLs to true I can still see all the
nodes, k/v and services without inputting the token then?

On Wed, Nov 13, 2019 at 9:30 PM Iryna Shustava <notifications@github.com>
wrote:

[2019-11-14 10:38] Yukeshraja commented on #252
![image](https://user-images.githubusercontent.com/15683376/68849862-dc8b6380-06f8-11ea-8f9a-6be9e4c132fe.png)

[2019-11-14 10:58] Spaceman1861 commented on #276
@lkysow Thanks mate ill give that a whirl, and I agree with @stryt2 the doco is a bit misleading.

[2019-11-14 17:10] infa-bsurber commented on #274
any updates on this? It's causing some alerting to go off due to perceived failed rollouts.

[2019-11-14 18:24] ado120 commented on #285
So just to confirm, I've taken off the extraconfigs I put in and only have `global.bootstrapacls` set to true. I do see that the acl json you described is in the configmap `consul-consul-server-config`. However I can still see the nodes, services etc in the UI.. this shouldn't be the case right?

[2019-11-14 18:55] ishustava commented on #285
The acl-init job [sets](https://github.com/hashicorp/consul-helm/blob/bb4bfa391cd04a8ac16bc4b4f0c006ffbc4d6caa/templates/server-acl-init-job.yaml#L39-L66) up some tokens for you. It will set the server and client tokens, as well as tokens for sync catalog, connect-inject etc if you've enabled them in your Helm chart. You should be able to see the tokens by running `kubectl get secrets`.

The serve

[2019-11-14 23:26] lkysow commented on #276
For sure, I'll update it.

[2019-11-14 23:26] #276 closed

[2019-11-15 07:09] Yukeshraja commented on #252
Hi,

Facing below issue.

![image](https://user-images.githubusercontent.com/15683376/68923683-e10d5600-07a4-11ea-96f7-372b72eb406b.png)

[2019-11-16 01:03] ishustava commented on #285
@ado120 I have to correct myself there. The UI doesn't have access to the global management token locally.

The real reason you can see services and nodes is because we set the following policy for the anonymous token:
[code]
This policy is needed for DNS, more specifically, so that the Kubernetes DNS server can make DNS queries against Consul.

[2019-11-16 18:57] sbuzonas opened #286 "fullnameOverride prevents acl job from completing successfully"
Companion issue reported in hashicorp/consul-k8s#165

Given the following configuration values.yaml provided to helm:
[code]

The StatefulSet will be named `consul-server` and the bootstrap job will fail

[2019-11-18 18:13] ado120 commented on #285
Hello @ishustava,

Thank you so much for the clarification. This makes sense now.. so if I create a policy to lock the viewing of nodes, will that mess anything up for dns? Any documentation you can send to me for learning more about server/client tokens? Apologies for all the questions :)

[2019-11-19 09:21] #252 closed

[2019-11-19 17:15] adilyse commented on #252
Related: #10

[2019-11-20 23:06] eahrend opened #287 "Pods stuck in crash loop backoff after using gossip encryption"
Hey,

Trying to install consul on a GKE cluster with gossip encryption via helm in a non production environment.

This is the file I'm currently using during `helm install --name consul --namespace consul -f helm-consul-values.yaml .`

[code]

Here is the secret key I'm using, the key was generated via `consul keygen`
[code]

All the pods are restarting except for the connect-injector-webhook pods

[2019-11-21 22:29] infa-bsurber commented on #274
On a related note, i was truly incorrect as to the intended purpose of the partition value and with no change in the consul deployment (so no instance rolling needed), I really shouldn't be providing a partition value at all.

This ticket may still be relevant (it can lead to perceived failed deployments) but is lower urgency than I had thought (I can and *should* safely give a partition value of

[2019-11-21 22:41] msidd111 commented on #257
@nseigneur Thanks for providing the strategy. Can you or someone document  step by step implementation of backup and restore strategy.

[2019-11-22 22:21] lkysow commented on #287
Hi Erik,
You actually need to encode the secret again in base64 if you're creating the secret by hand. That's because all Kubernetes secrets get base64 decoded after being injected.

You can see this if you run
[code]

You can either use the `kubectl` command above or use the `base64` command:
[code]

[2019-11-22 22:34] lkysow commented on #285
Hi Alexander,
Yes if you change the anonymous token policy to not be able to view nodes then DNS queries will return no nodes.

That being said, are you using Consul DNS in your Kubernetes installation?

[2019-11-22 22:56] eahrend commented on #287
Thank you so much, appreciate it. Was able to get it working.

[2019-11-22 22:57] #287 closed

[2019-11-22 23:18] eahrend opened #288 "ACL bootstrapping returns a 500 error code"
Hey,

Trying to bootstrap the ACL as part of an ongoing POC to secure consul. Following this guide:
https://www.consul.io/docs/platform/k8s/connect.html#accepting-inbound-connections

Cluster information:
[code]

My custom values file:

[code]

After I deploy helm, I get the secret, go to the UI and add the bootstrap token. Works just fine, now when I start up the static server listed here:

Manif

[2019-11-23 01:53] eahrend commented on #288
Never mind, was able to fix this.

Doing `helm delete consul --purge` didn't delete the PVCs or PVs

[2019-11-23 01:53] #288 closed

[2019-11-23 02:21] eahrend commented on #288
Should also add that I had to disable DNS in order for this to work as well

[2019-11-26 17:37] lkysow opened #290 "Tests fail with helm 3"
Our bats tests use `helm template -x` to render only the template under test, however that flag is removed in helm 3 and it doesn't look like there are immediate plans to bring it back (https://github.com/helm/helm/issues/6290)

[2019-11-27 22:32] #274 closed

[2019-11-28 10:47] janbotech opened #294 "Automatic Secure Pod Communication"
Hello,

I wasn't able to find much documentation about the subject of how to automate and force tls traffic between pods when using connect sidecar.

I tried using default specified cert and key from values.yml but in logs it shows that it cannot be found on the server.

Is it possible to automatically create tls certificates and force secure pod communication when consul is installed using helm?

[2019-11-28 12:00] brandomeesdom opened #295 "Multi Datacenter consul connect: no connectivity"
# Scope

Using consul connect, establish connectivity between 2 services each running in a different datacenter on GKE. We will be using the documented static-client - static-server example described here: https://www.consul.io/docs/platform/k8s/connect.html

# Setup

- This helm chart patched with the changes from "#27 feat: enable consul-servers to be accessed externally"
- consul 1.6.0
- See ht

[2019-11-28 12:12] brandomeesdom commented on #295
Furthermore:

kubectl -n consul port-forward datacenter-b-consul-consul-mesh-gateway-5b87f5d9cf-stjzj    19000:19000

curl -s localhost:19000/clusters | head -n 26
static-server.default.datacenter-b.internal.2852fabb-8194-a249-9fb2-9dad230d1b43.consul::outlier::success_rate_average::-1
static-server.default.datacenter-b.internal.2852fabb-8194-a249-9fb2-9dad230d1b43.consul::outlier::success_rate_ej

[2019-11-28 16:37] lkysow commented on #294
Hi,
Are you talking about between pods that have had Envoy injected?
If so, you need to set your `upstreams` to point to services registered in Consul (see https://www.consul.io/docs/platform/k8s/connect.html#connecting-to-connect-enabled-services).
For example if you set
[code]

Then when you talk to `localhost:1234`, the sidecar will encrypt that traffic and send it to the `static-server` servic

[2019-11-28 16:41] lkysow commented on #295
@brandomeesdom do you want to DM me [on Twitter](https://twitter.com/lkysow) and we can set up a Zoom call to debug? I know you also posted this on our forum.

[2019-11-28 17:26] lkysow commented on #295
Hi @brandomeesdom after talking to the team, we realized that your secondary DC "datacenter-b" has not re-issued its certs from the primary DC datacenter-a. Probably you brought up datacenter-b before adding the `primary_datacenter` config?

We can tell this because the trust domains are different. The trust domain is the UUID you see as part of the hostname. In DC A, we can see static-client call

[2019-11-28 19:50] brandomeesdom commented on #295
Hi @lkysow, thank you! It's working after the rolling restart.

[2019-11-28 19:50] #295 closed

[2019-11-28 21:34] lkysow commented on #295
Awesome! I've opened up https://github.com/hashicorp/consul/issues/6847 to add warning logging so this is easier to debug. Thanks for sticking with it.

[2019-11-28 23:47] lkysow commented on #269
Hi Sylvain,
This does look like a bug. I think it might be in Consul though, not the helm chart. I'm checking with the core team and will get back to you.

[2019-11-29 17:15] lkysow commented on #269
Hi Sylvain,
Due to https://github.com/hashicorp/consul/issues/4971 we don't support nested maps, only map[string]string in config.

What you need to do is json encode the values of your map into strings. For example:
[code]
(I used https://www.freeformatter.com/json-escape.html#ad-output)

When testing, this actually failed because of a bug with our version of envoy:
[code]

To fix, you can use no

[2019-11-29 17:16] lkysow commented on #269
I'm going to work on documenting this in the Consul docs to avoid confusion in the future. Sorry about that!

I'll close this for now but if things aren't working let us know and we can re-open.

[2019-11-29 17:16] #269 closed

[2019-12-01 19:09] janbotech commented on #294
Hi @ikysow, first of all, thank you for response and sorry for the late reply. In the past few days, I've gained some knowledge by testing consul on this topic.

So as I understood if using consul helm chart you must create your own certificates in order to encrypt traffic between pods. (please correct me if im wrong).

So my questions at this point: if consul is installed using helm chart without

[2019-12-01 19:21] janbotech commented on #294
Hello, thank you very much for the fast response. In the meantime, I was able to gain more knowledge and hopefully, I will ask better questions.

Question 1: If no certs are specified will the traffic get encrypted anyway when using connect?
Question 2: What would be the proper way to create self-signed certificates using command like openssl?

[2019-12-02 15:21] bsakweson commented on #74
I know this thread is old and has been closed but this is the only thread in here that deals with TLS for this chart. It seems as if the consul syncCatalog is designed to work without tls. Once tls is enabled on consul server and client (Agent), syncCatalog seems to stop working. Has anyone been able to get it to work correctly?

[2019-12-02 18:07] get2arun opened #297 "How to make consul-helm to use the existing pv,pvc ?"
In the kubernetes cluster, I trying to install the consul using helm. while installing the consul database using helm, there is a problem getting the bind for the persistent volume claim.

I looking for an alternate approach to use the maually created PVC using Helm. I am hoping there should be a way to define the pv, pvc name in the definitions file (templates) but I do not know how.

Could you h

[2019-12-02 18:08] lkysow commented on #294
Hi, so there's two communication paths that you can use TLS on:
1. Consul Connect (i.e. service mesh) traffic. This is the traffic between Pods that have the Envoy sidecar injected. This is automatically encrypted using the helm chart and you don't need to create any extra certs/secrets for this.
1. Consul Internal control plane traffic. This is the traffic between the Consul components: the serve

[2019-12-02 18:15] lkysow commented on #297
Hi @get2arun,
The only way to use a pre-created PVC is to name them in the format Kubernetes expects:

[code]

For example, given a <kube namespace> of "vault" and a <release name> of "consul" and 5 servers, you need to create PVCs with names:
* data-vault-consul-consul-server-0
* data-vault-consul-consul-server-1
* data-vault-consul-consul-server-2
* data-vault-consul-consul-server-3
* data-vault

[2019-12-02 18:21] lkysow commented on #294
(also this comment: https://github.com/hashicorp/consul-helm/issues/74#issuecomment-491814387)

[2019-12-02 20:06] get2arun commented on #297
Thanks lkysow. I have below questions in order to proceed.

What I understand is, the PV can be created with any name and PVC name should have format like "data-vault-consul-consul-server-{0,1,2,3,4}" and there are 5 PVC to be created.

The questions, I have the below config to create the PV and it has the storage of 20G. For the claims 0-4, I used 3GB each using accessModes: ReadWriteOnce. The fi

[2019-12-02 20:35] lkysow commented on #297
1. The name doesn't need to be data-vault-consul-server-0. What is your consul-helm release name? What namespace are you installing into? The name needs to be `data-<namepace>-<release-name>-consul-server-0`.
1. You don't need to have 5. You need to have a number equal to how many Consul servers you're running.
1. If you're setting up your own storage you'll need to configure your own storage clas

[2019-12-02 20:55] get2arun commented on #297
The namespace is "vault". I cloned the consul github repo and modified the values.yaml to take the image from my registry. I am sure the storage class "manual" is causing/blocking the pvc to claim the volume. Is there any alternative solution to install the consul for the Hashicorp vault.

-rwxr-xr-x 1 root root  3871 Dec 31  1969 values.yaml
-rwxr-xr-x 1 root root 18542 Dec 31  1969 README.md
-rw

[2019-12-02 21:29] lkysow commented on #297
When you run `helm install` you can specify a release name, e.g. `helm install --name release-name`. Otherwise helm will create a name for you. You can find the release name by running `helm list`.

Have you tried creating the storage class?

[2019-12-02 21:50] get2arun commented on #297
I can specify the release name "consul" then in the kubectl get pv, I could see the pvc like below.
persistentvolumeclaim/datadir-consul-0                    Pending                                         thin-disk      86s

so I think, i have to create the pvc like "datadir-consul-0", is it correct? But I have a question, I can only create the helm release only if storage class for consul pv is

[2019-12-02 21:56] lkysow commented on #297
I don't think so. The format is `data-<namepace>-<release-name>-consul-server-0`. So wouldn't you need `data-vault-consul-consul-server-0`? Because you told me your namespace was `vault` and your release-name is `consul`.

The access mode needs to be `RWO`

[2019-12-02 22:02] get2arun commented on #297
_### The format is data-<namepace>-<release-name>-consul-server-0. So wouldn't you need data-vault-consul-consul-server-0?_
As per the above statement, I expect helm to create the pvc like data-<namepace>-<release-name>-consul-server-0, instead it is creating the pvc like below.
persistentvolumeclaim/datadir-consul-0                    Pending                                         thin-disk

[2019-12-02 23:19] lkysow commented on #297
Are you using this helm chart? Maybe you're using the other chart in the
helm stable repo?

On Mon, Dec 2, 2019, 2:02 PM arunp <notifications@github.com> wrote:

[2019-12-03 01:27] get2arun commented on #297
Initially I used the stable release in the consul chart but I had the similar issue, so this chart, downloaded the zip archive and extracted it. Is that going to be a problem. Maybe the name of the pvc needs to be created based on the format that helm creates the release. I can try this tomorrow and confirm. However, I am not sure what is the storage class that I have to use to make the claim by t

[2019-12-03 13:27] bgadmin commented on #294
Hi again, thank you very much for answer and some clarification.

I actually used the comment you linked above as a reference when I've been setting this up. :)

OK so, just to confirm, does [#74 (comment)](https://github.com/hashicorp/consul-helm/issues/74#issuecomment-491814387) relates to setting up encryption for:
    1. Consul Connect
    2. Consul Internal Control Plane Traffic

Do I need to

[2019-12-03 17:39] lkysow commented on #294
No. Mesh Gateway is for communication between Consul datacenters (e.g. multiple Kubernetes clusters).

[2019-12-04 11:57] itsecforu opened #299 "node(s) didn't find available persistent volumes to bind."
Hello!

I try to deply consul cluster on k8s.

Same pods with statr "Pending":

![2](https://user-images.githubusercontent.com/38696837/70140445-bcbae000-16a5-11ea-8989-86ae342cbc8f.png)

Persistent Volume Claims the same:

![1](https://user-images.githubusercontent.com/38696837/70140455-c2b0c100-16a5-11ea-8545-10e55bbda435.png)

``kubectl get pods
NAME                                     READY

[2019-12-04 17:00] bsakweson opened #300 "Chart Documentation"
Would be best to have a proper documentation on how this chart can be successful executed? I am talking about configuration documentation here not how to use helm. Consul as a service mesh itself is pretty engaging, not having a proper documentation makes it even more difficult. I would not mind to write one but I have not been able to successful run this on my cluster without errors. Let me expla

[2019-12-04 18:33] ishustava commented on #299
Hey @itsecforu,

I noticed that you're using the local `storageClass`. With the local storage class you have to provision volumes manually. See [these docs](https://www.consul.io/docs/platform/k8s/helm.html#v-server-storageclass) for reference.

Hope this helps!

[2019-12-04 19:00] itsecforu commented on #299
Hello, @ishustava !
Thx u for feedback
Is it default settings for Consul?

[2019-12-04 19:21] ishustava commented on #300
Hey @bsakweson,

Thanks for creating this issue and sorry you had a hard time installing the chart.

Your first issue is because Connect requires `client.grpc`  to be set to true. This is documented [here](https://www.consul.io/docs/platform/k8s/connect.html#installation-and-configuration), but it's definitely been a common source of misconfiguration issues. In the next release we're going to chan

[2019-12-05 14:03] bsakweson commented on #300
@ishustava, please take a look at this [#74](https://github.com/hashicorp/consul-helm/issues/74) that is where I got that from. Thanks a bunch for your quick response.

[2019-12-05 21:14] ishustava commented on #299
By default, the Helm chart sets `storageClass` to `null`, which means that it will use Kubernetes cluster's default storage class.

[2019-12-05 23:42] kevinjqiu opened #303 "Add an example of how to use this chart to enable opentracing with jaeger"
One of the advantages of using consul connect (envoy to be more specific) is to have native integration with opentracing for the services.  This allows us to have end-to-end traces on a high level, and later selectively implement higher fidelity instrumentations in the services.

I'm struggling to find a way to integrate this using the consul-helm chart.  More specifically, the automatic span crea

[2019-12-07 04:44] adilyse commented on #253
Fixed by #289 which is a slight modification of #256.

[2019-12-07 04:44] #253 closed

[2019-12-09 20:08] grozan opened #306 "TLS-related paths passed via ENV variables have no effect"
Hi,

I'm trying to enable TLS encryption everywhere, starting with the agents in server mode.
Using the 0.13.0 version of the chart.
In my values file, `server` section, I set (only the relevant part below)

[code]

To my surprise, this does NOT work. It crashes with

[code]

It surprises me because I thought the 3 env variables I set would be equivalent to the `ca_file`, `cert_file` and `key_file

[2019-12-10 01:18] lkysow commented on #306
Hi @grozan,
I think this is because those environment variables are only used by the CLI when you're running Consul commands to query a client or server. So for example if your server was already configured and you were to port-forward and run `consul members` locally, you could set the `CONSUL_CACERT` environment variable.

Looking through the code, I can't see them being used when starting the s

[2019-12-10 14:50] kawsark commented on #283
I think it would be good to add a flag in `values.yaml` to auto-generate security contexts by helm. This will provide a better UX for installing consul in OpenShift. With the above contexts, I tested the helm chart successfully on OpenShift 4.2 without any other adjustments. Below is a link to example security contexts:
- [consul-client-scc.yaml](https://github.com/kawsark/consul-helm-openshift/bl

[2019-12-10 23:27] kevinjqiu opened #309 "Changing `envoy_tracing_json` does not take effect until the PV is deleted and consul redeployed"
Here's the portion of my consul-helm chart config:

[code]

I'm using helmfile, so I can store the envoy configs as plain json file, and use `readFile` template func to read them in and escape raw config using `|quote`.

The issue here is that when I update `envoy_tracing_json` or `envoy_extra_static_cluster_json`, it updates these in the configmap, but they don't take effect until the PV that has

[2019-12-11 00:42] lkysow commented on #309
Hi Kevin,
If you run `consul reload` on a server does it not pick up the new configs?

If you plan on updating these frequently and that doesn't work for now I'd recommend not managing these through the helm chart and instead creating your own proxy defaults config file that you manage updates to yourself, e.g. by port-forwarding to the Consul server and running `consul config write`, maybe throug

[2019-12-11 02:42] joshk132 opened #310 "Unable to deploy to KOPS cluster"
I have a newly created KOPS cluster I am unable to deploy to, I have 3 master nodes and 4 worker nodes. I am using a very basic setup to test this, it's just a namespace named `development` then using the helm chart and default values.yaml file. Reason I have 4 nodes is to make sure I can spread the 3 server pods out - you'll see why I added more node below.

Error I am encountering is the pods ar

[2019-12-11 03:17] kevinjqiu commented on #309
No I didn't.  That's probably the missing piece.

Should there be a reloader sidecar to detect config changes and trigger consul reload, similar to how prometheus does?  Or maybe document this behaviour in the official docs.

I don't think I'll change them frequently once it's deployed but during the experiment stage, they do get changed quite often.  I'll do `consul reload` manually for now.

Tha

[2019-12-11 09:47] grozan commented on #306
Thanks for the feedback!
Yes, hopefully the doc can be more explicit about where those env variables are used/useful for

The problem I'm having then is that in my case I want to use "dynamic" values for those cert-related parameters. Sharing the same certificates on all pods seems wrong to me. What I really want is `cert_file` to be `/consul/userconfig/consul-certs/$(POD_NAME).pem`, which is not

[2019-12-11 19:59] lkysow commented on #306
We're actually working on full TLS support right now so maybe it would be best to wait for that?

[2019-12-11 20:24] lkysow commented on #310
Hi Josh,
Can you show me the full output of `kubectl get pod`? You're saying the Pods are running but not ready however your `kubectl describe` output would mean that the Pod didn't even get scheduled.

[2019-12-11 22:50] lkysow commented on #309
I think that's a good idea. This ticket is asking for the same thing: https://github.com/hashicorp/consul-helm/issues/106

Yes, I'll create a PR to update the values docs for now.

[2019-12-11 22:50] #309 closed

[2019-12-11 22:54] kevinjqiu commented on #309
Thanks @lkysow

[2019-12-11 23:06] lkysow commented on #309
Hey FYI `consul reload` won't work. I just found https://github.com/hashicorp/consul/issues/6703 which is the same issue in Consul. I'll update the docs to say that after the cluster is brought up, any changes to the configs must be done via the API.

[2019-12-11 23:10] lkysow commented on #309
I've added some docs about this to https://github.com/hashicorp/consul-helm/pull/302

[2019-12-12 00:54] joshk132 commented on #310
@lkysow
I removed the nodes overnight so please ignore the times but here is the output of my `kubectl get pods` in my `development` namespace

[code]

Entirety of a `kubectl describe pods <server 0>`

[code]

Full `kubectl describe node`

[code]

[2019-12-12 02:00] joshk132 commented on #310
Just as a test I tried setting servers and bootstrap expect to both 1 and seeing how that plays out. Slightly better however still not working

[code]

[2019-12-12 02:10] joshk132 commented on #310
Not sure if this is the right repo for related but seems to be permissons so maybe config issue from me not setting consul helm chart right?

I figured I hvae a 50/50 chance of my application connecting to the consul cluster, gave it a shot and getting a connection refused error now when doing to reccommended way of connecting...

[code]

Part in my helm chart

[code]

[2019-12-12 15:15] grozan commented on #306
ah, good to know!
not asking for a release date, of course, but we are talking like one week, one month, more?

[2019-12-12 17:47] lkysow commented on #306
I'd say 1 month maximum. Also just chatted with @ishustava who's working on it and she's planning on using an init container to generate the individual client certs (partly I imagine to avoid the issue you're running into!).

[2019-12-12 17:47] lkysow commented on #306
Also FYI, I've updated those Consul docs about env vars so they're not misleading anymore! (https://github.com/hashicorp/consul/pull/6912)

[2019-12-12 18:20] lkysow commented on #310
So in the first output I can see that `consul-server-2` is in `Pending`. This needs to be resolved before fixing anything else. If all the servers can't come up, they won't form quorum (since bootstrapExpect=3) so they won't elect a leader and then the consul clients will never be healthy because they require a leader to be elected.

We need to run `describe` on the `consul-server-2` pod and find

[2019-12-12 19:59] lkysow opened #312 "Document what actions need to be taken for each config value to take effect"
Many of the keys in our `values.yaml` don't take effect after `helm upgrade` without further steps. For example, changes to the config maps don't run `consul reload` automatically and even then, some config options aren't reloadable (https://www.consul.io/docs/agent/options.html#reloadable-configuration).

This makes it difficult for users to make changes to their consul installation and could pot

[2019-12-12 23:13] joshk132 commented on #310
@lkysow Thank you! So I am still not sure what happened however I have now created a cluster perfectly fine a few times now with each time removing the volume claims. Issue with my application not connecting still exists but I think that might be outside the scopt of a application specific repo even if Consul related issue.

[2019-12-12 23:53] lkysow commented on #310
Hmm, it's weird that you can't reach Consul running on port 8500 on the host IP. Where are you deploying kops?

[2019-12-12 23:57] joshk132 commented on #310
@lkysow I'm deploying it to US-east-1 on AWS. It's a very basic cluster, 3 masters, 4 workers, put inside an existing VPC

[2019-12-13 00:08] lkysow commented on #310
and you're trying to talk to Consul from a Pod running on the Kubernetes node? Can you SSH onto the node and see if you can talk to that IP on port 8500 from SSH?

[2019-12-13 00:37] joshk132 commented on #310
@lkysow If I SSH into the VM my application is running on and do a curl to port 8500 I get back `curl: (7) Failed to connect to localhost port 8500: Connection refused`

[2019-12-13 16:50] lkysow commented on #310
Can you show me your kops config so I can bring up a cluster like yours?

[2019-12-13 22:16] joshk132 commented on #310
@lkysow  Here is the command I use to create the kops cluster, only differences between this command and the one I actually used is the VPC ID is redacted and same for the domain name I'm using as the cluster name

[code]

[2019-12-14 20:13] thetruechar commented on #222
same issue, using Alibaba's Container Service for Kubernetes (ACK) with flannel

[2019-12-16 12:44] grozan commented on #306
Thanks a lot for the support!

[2019-12-16 12:44] #306 closed

[2019-12-17 23:30] #286 closed

[2019-12-17 23:50] lkysow commented on #286
This is fixed in v0.15.0. Thanks!

[2019-12-18 02:26] joshk132 commented on #310
@lkysow Did a bit more digging and the readiness probe is failing I think.

[code]

I've tried waiting up to 12 hours to see if it would ever fix itself and didn't.

Went looking and found issue 169 and 251 which seem somewhat related however didn't have a solution posted.

logs of server 0

[code]

logs of a agent pod

[code]

[2019-12-18 02:26] joshk132 commented on #310
Should add that the consul UI is showing up fine and showing all noes as healthly in the 'nodes' view

[2019-12-18 14:40] avishaiNB opened #316 "NodePort services with multiple ports does not expose all public ports"
Hi,

I installed multiple helm charts like etcd, rabbitmq and so on, and what i have noticed is that when a service is configured as NodePort service and has multiple "public" port expose, only the first in the list is reveled in the consul UI , although i can ran kubectl command and see and access all of the service public ports.

**Example:**
service/rabbitmq                                   No

[2019-12-18 16:13] avishaiNB commented on #316
This post state that is should:
[Service Ports](https://www.consul.io/docs/platform/k8s/service-sync.html#service-ports)

[2019-12-19 12:28] avishaiNB commented on #316
Solution was to add the annotation with the port i want to expose, this let me select which port i want to expose, but it does not allow me to expose all of them.
[code]

[2019-12-19 14:54] thetruechar opened #318 "consul connect sidecar can not work"
After deploying the example from https://www.consul.io/docs/platform/k8s/connect.html#accepting-inbound-connections, init container failed with the following logs:

Error registering service "static-server-sidecar-proxy": Put http://172.16.30.51:8500/v1/agent/service/register: dial tcp 172.16.30.51:8500: connect: connection refused

[2019-12-19 15:12] thetruechar commented on #318
also when i enable catalog in helm, the consul-sync-catalog pod failed with the following logs:
[GET /health/ready] Error getting leader status: Get http://172.18.2.135:8500/v1/status/leader: dial tcp 172.18.2.135:8500: connect: connection refused

Seem the pod can not connect to the node

[2019-12-19 17:08] lkysow commented on #318
Hi, it sounds like your Consul clients aren't running. The Consul clients listen on host port 8500. Can you show the output of `kubectl get pod`?

[2019-12-19 17:11] lkysow commented on #316
Hi, you can only expose one port right now. This is because each Consul service can only have one port. We could write something that allows you to map the extra ports to new service names, but that doesn't exist right now.

[2019-12-19 18:47] lkysow commented on #310
Hi Josh,
I can't reproduce this issue. Here's what I did:
* Spun up a `kops` cluster with `kops create cluster --zones us-west-2a --node-count=3 $NAME ––topology private --networking flannel`
* Installed Consul:
[code]
* Created a debug pod:
[code]
* Ran `curl` from the pod:
[code]

[2019-12-19 19:52] joshk132 commented on #310
@lkysow Interesting, so I did almost the exact same command as you to test jut changing the zones only. Cluster came up fine, consul all show 1/1 however when I deploy that debug pod and exec into it I see the following when testing to see if I could get consul to respond

[code]

[2019-12-19 19:56] lkysow commented on #310
Did you run
[code]

Or do you have a config.yaml file you're using to override some of the values?

[2019-12-19 20:06] joshk132 commented on #310
@lkysow I ran `helm install consul ./consul-helm/ -f ./consul-helm/values-dev.yaml` which the dev values file is just the default except expecting / using 1 server instead of 3

[2019-12-19 20:06] joshk132 commented on #310
[code]

[2019-12-19 20:12] joshk132 commented on #310
Commands used after your example...

[code]

[2019-12-19 20:51] lkysow commented on #310
Maybe you can reach out to me on twitter via DM and we can debug this on a video call (https://twitter.com/lkysow)

[2019-12-19 21:12] joshk132 commented on #310
@lkysow Say's you can't be messaged
Screenshot of what I see:
https://imgur.com/eAk7cz1

[2019-12-19 21:16] lkysow commented on #310
Sorry, fixed.

On Thu, Dec 19, 2019 at 1:12 PM Josh Kirby <notifications@github.com> wrote:

[2019-12-20 02:18] thetruechar commented on #318
❯ k get pods
NAME                                          READY   STATUS                  RESTARTS   AGE
consul-consul-qcrc8                           1/1     Running                 0          94s
consul-consul-server-0                        1/1     Running                 0          94s
consul-consul-server-1                        1/1     Running                 0          94s
consul-consul-s

[2019-12-20 02:22] thetruechar commented on #318
k get DaemonSet
NAME            DESIRED   CURRENT   READY   UP-TO-DATE   AVAILABLE   NODE SELECTOR   AGE
consul-consul   2         2         2       2            2           <none>          6m18s

[2019-12-20 09:29] thetruechar commented on #318
update:
My environment is Alibaba cloud ack, their engineer said that the ack does not support hostport, only support service nodeport, so how can I workaround this?